{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
	<div class="row">
		<main class="page">
		    <section class="page-content page-content--centered">
		        <h1 class="page-heading">{{lang 'forbidden.page_heading'}}</h1>
		        <p class="u-textAlignCenter">
		            {{lang 'forbidden.message'}}
		        </p>

		        {{> components/common/search-box}}
		    </section>
		</main>
	</div>
</div>
{{/partial}}
{{> layout/base}}
