{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
    <div class="row">
        <main class="page">
            <section class="page-content page-content--centered">
                <h1 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
                <div class="alert alert-warning">
                    <p class="u-textAlignCenter">
                        {{lang 'page_not_found.message'}}
                    </p>
                </div>
                {{> components/common/search-box}}
            </section>
        </main>
    </div>
</div>
{{/partial}} {{> layout/base}}
