{{#partial "page"}}
<div class="container">
	<div class="row">
		<main class="page">
		    <section class="page-content page-content--centered">
		        <h1 class="page-heading">{{lang 'server_error.page_heading'}}</h1>
		        <p class="u-textAlignCenter">
		            {{lang 'server_error.message'}}
		        </p>
		    </section>
		</main>
	</div>
</div>
{{/partial}}
{{> layout/base}}
