<div class="rss">
<p>{{lang 'page.rss.intro'}}</p>

{{#if urls.rss.blog}}
    <h2>{{lang 'page.rss.blog.heading'}}</h2>
    <p>
        {{lang 'page.rss.blog.intro' limit=settings.rss_item_limit store=settings.store_name}}
    </p>
    <ul>
        <li>
            <a href="{{urls.rss.blog}}">{{lang 'page.rss.blog.rss' limit=settings.rss_item_limit}}</a>
        </li>
        <li>
            <a href="{{urls.rss.blog_atom}}">{{lang 'page.rss.blog.rss_atom' limit=settings.rss_item_limit}}</a>
        </li>
    </ul>
{{/if}}
{{#if urls.rss.products.new}}
    <h2>{{lang 'page.rss.products.new.heading'}}</h2>
    <p>
        {{lang 'page.rss.products.new.intro' limit=settings.rss_item_limit store=settings.store_name}}
    </p>
    <ul>
        <li>
            <a href="{{urls.rss.products.new}}">{{lang 'page.rss.products.new.rss' limit=settings.rss_item_limit}}</a>
        </li>
        <li>
            <a href="{{urls.rss.products.new_atom}}">{{lang 'page.rss.products.new.rss_atom' limit=settings.rss_item_limit}}</a>
        </li>
    </ul>
{{/if}}
{{#if urls.rss.products.popular}}
    <h2>{{lang 'page.rss.products.popular.heading'}}</h2>
    <p>
        {{lang 'page.rss.products.popular.intro' limit=settings.rss_item_limit store=settings.store_name}}
    </p>
    <ul>
        <li>
            <a href="{{urls.rss.products.popular}}">{{lang 'page.rss.products.popular.rss' limit=settings.rss_item_limit}}</a>
        </li>
        <li>
            <a href="{{urls.rss.products.popular_atom}}">{{lang 'page.rss.products.popular.rss_atom' limit=settings.rss_item_limit}}</a>
        </li>
    </ul>
{{/if}}
{{#if urls.rss.products.featured}}
    <h2>{{lang 'page.rss.products.featured.heading'}}</h2>
    <p>
        {{lang 'page.rss.products.featured.intro' limit=settings.rss_item_limit store=settings.store_name}}
    </p>
    <ul>
        <li>
            <a href="{{urls.rss.products.featured}}">{{lang 'page.rss.products.featured.rss' limit=settings.rss_item_limit}}</a>
        </li>
        <li>
            <a href="{{urls.rss.products.featured_atom}}">{{lang 'page.rss.products.featured.rss_atom' limit=settings.rss_item_limit}}</a>
        </li>
    </ul>
{{/if}}
{{#if urls.rss.products.search}}
    <h2>{{lang 'page.rss.search.heading'}}</h2>
    <p>
        {{lang 'page.rss.search.intro1'}}
    </p>
    <p>
        {{lang 'page.rss.search.intro2' store=settings.store_name}}
    </p>
{{/if}}
</div>
