.owl-nav > button {
  font-size: 0;
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: "FontAwesome";
  font-size: 0px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  align-items: center;
  color: #000;
  background: #ffffff;
  &::before {
    height: 36px;
    font-size: 23px;
    line-height: 36px;
    position: relative;
  }
  &:hover {
    color: #fff;
    background: stencilColor("color-background-main");
  }
  &.owl-prev {
    left: -53px;
    &::before {
      content: "\f104";
      left: -1px;
    }
    @media (max-width: 991px) {
      left: 0px;
    }
  }
  &.owl-next {
    right: -53px;
    &::before {
      content: "\f105";
      left: 1px;
    }
    @media (max-width: 991px) {
      right: 0px;
    }
  }
}

.owl-nav > div.disabled {
  cursor: default !important;
  color: #000 !important;
  background: #ffffff !important;
}

.owl-carousel .owl-item img {
  max-width: 100%;
  width: auto;
  transform-style: unset;
}

.heroCarousel {
  min-height: 90px;
  min-width: 300px;
  z-index: 0;
  & .owl-nav {
    max-width: 1200px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  & .owl-nav > button {
    width: 60px;
    height: 60px;
    border: 0;
    color: #fff;
    background: transparent;
    &.owl-prev {
      left: -60px;
      &::before {
        content: "\f104";
        font-family: "FontAwesome";
        font-size: 65px;
      }
    }
    &.owl-next {
      right: -60px;
      &::before {
        content: "\f105";
        font-family: "FontAwesome";
        font-size: 65px;
      }
    }
  }
  & .heroCarousel-image {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  & .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    @media (max-width: 991px) {
      bottom: -36px;
      display: none;
    }
  }
  & .owl-dots > div {
    position: relative;
    display: inline-block;
    margin: 0 6px !important;
    width: 14px;
    height: 14px;
    /* Dots Puff Style  */
    & span {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 50%;
      background-color: #fff;
      background-color: rgba(0, 0, 0, 0.3);
      text-indent: -999em;
      /* make the text accessible to screen readers */
      cursor: pointer;
      position: absolute;
    }
    & span:focus {
      outline: none;
    }
    & span {
      border: 2px solid #fff;
      -webkit-transition: border-color 0.3s ease;
      transition: border-color 0.3s ease;
    }
    & span::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      background: #000;
      border-radius: 50%;
      box-shadow: 0 0 1px #000;
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
      -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease,
        visibility 0s 0.3s;
      transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
    }
    & span:hover,
    & span:focus,
    &.active span {
      border-color: #000;
    }
    &.active span::after {
      visibility: visible;
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  }
}

.owl-item .heroCarousel-slide::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  @media (max-width: 1199px) {
    display: none;
  }
}

.owl-item:not(.center) .heroCarousel-slide::before {
  opacity: 1;
  visibility: visible;
  @include transition(all 0.3s ease 0s);
}

.heroCarousel-content {
  text-align: center;
  position: absolute;
  top: 55.3%;
  @include transform(translateY(-50%));
  left: 0;
  right: 0;
  width: 100%;
  @media (max-width: 991px) {
    top: 50%;
  }
  .heroCarousel-title {
    font-family: $fontFamily-headings;
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0px;
    color: stencilColor("homepage_carousel_title_color");
    @media (max-width: 1199px) {
      font-size: 50px;
    }
    @media (max-width: 991px) {
      font-size: 40px;
    }
    @media (max-width: 991px) {
      font-size: 40px;
    }
    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
  .heroCarousel-description {
    font-family: Tinos, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 0;
    color: stencilColor("homepage_carousel_description_color");
    @media (max-width: 991px) {
      font-size: 12px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .heroCarousel-action {
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    margin-top: 43px;
    margin-bottom: 0;
    padding: 0 40px;
    min-height: 42px;
    line-height: 38px;
    color: stencilColor("homepage_carousel_action_color");
    border: 2px solid stencilColor("homepage_carousel_action_color");
    @media (max-width: 991px) {
      font-size: 12px;
      padding: 0 20px;
      min-height: 34px;
      line-height: 30px;
      margin-top: 20px;
    }
    @media (max-width: 767px) {
      display: none;
    }
    &:hover {
      background: #000 !important;
      color: #fff !important;
      border-color: #000 !important;
    }
  }
}
.heroCarousel-slide.slide-item-1 .heroCarousel-content {
  width: 700px;
  height: 380px;
  background: #f95a6e;
  background: stencilColor("background-slider2-carousel");
  display: block;
  margin: 0 auto;
  top: 53.5%;
  padding: 42px 0 0;
  @media (max-width: 1199px) {
    height: 250px;
    top: 50%;
    width: 500px;
    padding-top: 20px;
  }
  @media (max-width: 991px) {
    width: auto;
    height: auto;
    background: transparent;
    padding-top: 0;
  }
  .heroCarousel-description {
    margin-top: 20px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  .heroCarousel-description::after {
    content: "Maecenas dapibus feugiat massa ut sollicitudinest condimentum Fusce pulvinar orci at arcu scelerisque bibendum";
    font-size: 14px;
    font-weight: 500;
    font-family: $fontFamily-headings;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.2em;
    display: inline-block;
    width: 100%;
    padding: 0 130px;
    line-height: 1.5;
    margin-top: 18px;
    @media (max-width: 1199px) {
      display: none;
    }
    @media (max-width: 991px) {
      display: none;
    }
  }
  .heroCarousel-action {
    margin-top: 33px;
    @media (max-width: 991px) {
      margin-top: 20px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}
