<footer id="footer-wrapper">
    <section id="main-footer">
        <div class="container">
            <div class="row">
                <!-- Begin Footer Columns -->
                <div class="footer-columns">
                    <div class="col-md-2 col-sm-4 col-xs-6 column-item info-footer-column">
                        <h5 class="footer-column-title">Store Location</h5>
                            <p>
                                {{settings.address}}
                            </p>
                            <p class="desktop-call"><strong>Phone:</strong> <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a></p>
                            <p class="mob-call"><strong>Phone:</strong> <a href="tel:09 274 3099">09 274 3099</a></p>
                            <!-- <p><strong>Email:</strong> support@halothemes.com</p>                            -->
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 column-item">
                        <h5 class="footer-column-title">Further Info</h5>
                        <ul>
                            <li><a href="/blogs/" title="Blog">Blog</a></li>
                            <li><a href="/theme-styles/" title="Themes-Styles">Themes-Styles</a></li>
                            <li><a href="/about-us/" title="About Us">About Us</a></li>
                            <li><a href="/giftcertificates.php" title="Gift Certificates">Gift Certificates</a></li>
                            <li><a href="/rss-syndication/" title="RSS Syndication">RSS Syndication</a></li>
                            <li><a href="/shipping-returns/" title="Shipping & Returns">Shipping & Returns</a></li>
                            <li><a href="/sitemap/" title="Sitemap">Sitemap</a></li>
                            <li><a href="/contact-us/" title="Contact Us">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 column-item">
                        <h5 class="footer-column-title">Shop</h5>
                        <ul>
                            {{#each categories}}
                            <li>
                                <a href="{{url}}">{{name}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                   
                    <div class="col-md-2 col-sm-6 col-xs-6 column-item">
                        <h5 class="footer-column-title">Our Top Brands</h5>
                        <ul>
                            <li><a href="/brands/Angry-Birds.html">Angry Birds</a></li>
                            <li><a href="/brands/BeQuiet.html">BeQuiet</a></li>
                            <li><a href="/brands/Approx.html">Approx</a></li>
                            <li><a href="/brands/Alexander-Blackstone.html">Alexander Blackstone</a></li>
                            <li><a href="/brands/A%252dSolar.html">A-Solar</a></li>
                            <li><a href="/brands/Bioware-%252d-Adventure-Time.html">Bioware - Adventure Time</a></li>
                            <li><a href="/brands/Bioware-%252d-Einstein.html">Bioware - Einstein</a></li>
                            <li><a href="/brands/Aerocool.html">Aerocool</a></li>
                            <li class="all-brands-link"><a href="/brands/">View All Brands</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 column-item last">
                        {{#if settings.show_newsletter_box}} {{> components/common/subscription-form}} {{/if}}
                    </div>
                </div>
                <!-- End Footer Columns -->

                <!-- Begin very bottom footer -->
                <div class="very-bottom-footer">
                    <div class="container">
                        <div class="row">
                            <div class="copyright-column col-md-6">
                                {{#if theme_settings.show_copyright_footer}}
                                    <div class="footer-copyright">
                                        <p>&copy; {{moment format="YYYY"}} Unicare Nz Ltd. Website by <a href="https://bigcommerce.wearegoose.co.nz" target="_blank" rel="nofollow">Goose</a></p>
                                    </div>
                                {{/if}}
                            </div>
                            {{> components/common/payment-icons}}
                        </div>
                    </div>
                </div>
                <!-- End very bottom footer -->
            </div>
        </div>
    </section>
</footer>

<a href="javascript:void(0);" id="back-to-top"><i class="fa fa-angle-up"></i></a>
