{{#if banners.top}}
    <div class="banners" data-banner-location="top">
        <div class="banner banner--top">
            {{{limit banners.top 1}}}
        </div>
    </div>
{{/if}}
<header class="header" role="banner">
    <!-- BEGIN top header -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="header-top-left col-md-6 col-sm-6">
                    <div id="mobile-cart">
                        <a href="{{urls.cart}}">
                            <span class="wrap-mbl-cart">
                                <svg><use xlink:href="#icon-cart"></use></svg>
                                <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
                            </span>
                        </a>
                    </div>   
                    
                    <!-- BEGIN currency converter-->
                    {{> components/common/currency-selector}}
                    <!-- END currency converter-->
                

                    <!-- BEGIN account information-->
                    <ul class="account-info">
                    {{#if settings.account_creation_enabled}}
                    {{#if customer}}
                    <li class="logged-in hidden-sm hidden-xs last-child">{{lang 'Welcome back,'}} <strong>{{customer.name}}. </strong><a href="{{urls.auth.logout}}"><span>{{lang 'common.logout'}}</span></a></li>
                    {{else}}
                    <li class="hidden-sm hidden-xs"><a href="{{urls.auth.login}}"><span>{{lang 'common.login'}}</span></a></li>
                    <li class="hidden-sm hidden-xs"><a href="{{urls.auth.create_account}}"><span>{{lang 'common.sign_up'}}</span></a></li>
                    {{/if}}
                    {{/if}}
                    </ul>
                    <!-- BEGIN account information-->
                </div>
                <div class="col-md-6 col-sm-6 header-top-right ">
                    <!-- BEGIN cart feature-->
                    <div id="top-cart" class="top-cart hidden-xs hidden-sm">
                        <a data-cart-preview href="javascript:void(0);">
                            <span><svg><use xlink:href="#icon-cart"></use></svg><span class="navUser-item-cartLabel">Shopping Cart</span><span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}} <em class="quantity-item">item(s)</em></span></span>
                        </a>
                        <div id="cart-preview-dropdown">
                            <div class="cart-preview-inner">
                                {{> components/common/cart-preview}}
                            </div>
                        </div>
                    </div>
                    <!-- END cart feature--> 

                    <!-- BEGIN nav user-->
                    {{> components/common/navigation}}
                    <!-- END nav user-->
                    
                </div>

                <!-- BEGIN navigation mobile button-->
                <div id="st-trigger-effects" class="visible-sm visible-xs">
                    <a data-effect="st-effect-1" href="javascript:void(0);">&nbsp;<svg><use xlink:href="#icon-trigger-bars" /></svg><svg><use xlink:href="#icon-close"></use></svg></a>
                </div> 
                <!-- END navigation mobile button-->    
            </div>      
        </div>
    </div>
    <!-- END top header -->  

    <!-- BEGIN middle header -->
    <div class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 header-middle-left">
                    <div class="promotion-text">
                        <h6>Free International Delivery on all orders.</h6>
                        <p>Naminos delementum an comodous</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 header-middle-center">
                    <!-- BEGIN logo -->
                    {{#if template_file '===' 'pages/home'}}
                    <h1 class="header-logo animated fadeIn">
                {{> components/common/store-logo}}
                </h1> {{else}}
                    <div class="header-logo animated fadeIn">
                        {{> components/common/store-logo}}
                    </div>
                    {{/if}}
                    <!-- BEGIN logo -->
                </div>
                <div class="col-md-4 col-sm-12 header-middle-right">
                    <!-- BEGIN search bar -->
                    <div id="quickSearch">
                        {{> components/common/quick-search}}
                    </div>
                    <!-- END search bar -->
                </div>
            </div>
        </div>
    </div>

    <!-- END middle header -->  

    <!-- BEGIN bottom header - navigation -->
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <!-- BEGIN navigation-->     
                <div class="navPages-container" id="menu" data-menu>
                    {{> components/common/navigation-menu}}
                </div>  
                <!-- END navigation--> 
            </div>
        </div>
    </div>
    <!-- END bottom header --> 

     <!-- BEGIN CTA Banner-->
     {{> components/goose/g-cta-banner}}
     <!-- END CTA Banner-->

    <div class="sticky_logo">
        <a href="{{urls.home}}" title="{{settings.store_logo.title}}"><img src="/product_images/uploaded_images/logosmall.png" width="84" height="23" alt=""></a>
    </div>
</header>
