<nav class="navPages">
    <ul class="navPages-list">
        {{#each categories}}
            <li class="navPages-item">
                {{> components/common/navigation-list}}
            </li>
        {{/each}}
        {{#unless theme_settings.hide_content_navigation}}
            {{#each pages}}
                 <li class="navPages-item navPages-item-page">
                     <a class="navPages-action" href="{{url}}">{{name}}</a>
                 </li>
             {{/each}}
        {{/unless}}
    </ul>
</nav>
