<div class="col-md-6 footer-payment-icons wow fadeIn" data-wow-delay="100ms">
    {{#if theme_settings.show_accept_visa}}
        <span class="ips icon-card-visa"></span>
    {{/if}}
    {{#if theme_settings.show_accept_electron}}
        <span class="ips icon-card-electron"></span>
    {{/if}}
    {{#if theme_settings.show_accept_mastercard}}
        <span class="ips icon-card-mastercard"></span>
    {{/if}}
    {{#if theme_settings.show_accept_maestro}}
        <span class="ips icon-card-maestro"></span>
    {{/if}}
    {{#if theme_settings.show_accept_amex}}
        <span class="ips icon-card-amex"></span>
    {{/if}}
    {{#if theme_settings.show_accept_2co}}
        <span class="ips icon-card-2co"></span>
    {{/if}}
    {{#if theme_settings.show_accept_paypal}}
        <span class="ips icon-card-paypal"></span>
    {{/if}}
    
</div>
