<div id="footerSubcribeForm" class="wow fadeIn">
    <h5 class="footer-column-title">Sign up for our Newsletter</h5>
    <p class="footer-subcribe-text">Receive our latest updates about our products and promotions.</p>
    <p class="footer-subcribe-text">We promise to only send you good things!</p>
    <form class="form" action="{{urls.subscribe.action}}" method="post" id="footerSubcribeFormSubmit">
        <fieldset class="form-fieldset">
            <input type="hidden" name="action" value="subscribe">
            <input type="hidden" name="check" value="1">
            <div class="form-field">
                <div class="form-wrap">
                    <input class="form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
                    <input class="btn btn-subcribe" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
                </div>
            </div>
        </fieldset>
    </form>
</div>
