// =============================================================================
// BUTTONS (CSS)
// =============================================================================

/*Buttons*/

.btn {
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 0;
    font-family: stencilFontFamily('button--font'), Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    height: 36px;
    line-height: initial;
    padding: 0 25px;
    text-transform: uppercase;
    background: #fff;
}

.btn.btn-sm {
    font-size: 11px;
    line-height: 25px;
    height: 28px;
    padding: 0 15px;
    border-width: 1px !important;
}

.btn.btn-lg {
    line-height: 44px;
    height: 46px;
    padding: 0 27px;
}


/*btn-primary*/

.btn.btn-primary {
    color: stencilColor('button--primary-color');
    border: 1px solid stencilColor('color-background-main');
    background: stencilColor('color-background-main');
}

.btn.btn-primary:hover {
    border: 1px solid stencilColor('button--primary-colorHover');
    background: stencilColor('button--primary-backgroundColorHover');
    color: stencilColor('button--primary-colorHover');
}

.btn.btn-primary[disabled],
.btn.btn-primary[disabled]:hover,
.btn.btn-primary[disabled]:focus,
.btn.btn-primary[disabled]:active {
    color: stencilColor('button--primary-color');
    border: 1px solid stencilColor('button--primary-backgroundColor');
    background: stencilColor('button--primary-backgroundColor');
}

.btn-sm.btn-primary {
    line-height: 24px;
}

.btn > i.fa.fa-caret-right {
    font-size: 16px;
    position: relative;
    top: 1px;
    margin-left: 9px;
}

/*btn alternate*/
.btn.btn-alt {
    color: stencilColor('button--alt-color');
    border: 1px solid stencilColor('button--alt-borderColor');
    background: stencilColor('button--alt-bgColor');
}

.btn.btn-alt:hover {
    color: stencilColor('button--alt-colorHover');
    background: stencilColor('button--alt-bgColorHover');
    border-color: stencilColor('button--alt-borderColorHover');
}

.btn.btn-alt-white {
    color: #fff;
    border: 1px solid #fff;
    background: #000;
}

.btn.btn-alt-white:hover {
    color: #000;
    background: #fff;
}
.btn.btn-alt[disabled],
.btn.btn-alt[disabled]:hover,
.btn.btn-alt[disabled]:focus,
.btn.btn-alt[disabled]:active {
    color: stencilColor('button--alt-color');
    border: 1px solid stencilColor('button--alt-borderColor');
    background: stencilColor('button--alt-bgColor');
}


/*btn-default*/

.btn.btn-default {
    border-color: #cbcbcb;
}

.btn.btn-default:hover {
    background: #f5f5f5;
}


/*btn-checkout*/

.btn.btn-checkout {
    min-width: 202px;
    padding: 0 25px;
    color: stencilColor('button--checkout-color');
    background:stencilColor('button--checkout-bgColor');
    border: 1px solid stencilColor('button--checkout-borderColor');;
}
/*black-btn*/
.btn.black-btn{
    color: stencilColor('button--black-color');
    border-color: stencilColor('button--black-borderColor');
    background:stencilColor('button--black-bgColor');
}
.btn.black-btn:hover {
    color: stencilColor('button--black-colorHover');
    border-color: stencilColor('button--black-borderColorHover');
    background: stencilColor('button--black-bgColorHover');
}

.btn.btn-checkout:hover {
    color: stencilColor('button--checkout-colorHover');
    border-color: stencilColor('button--checkout-borderColorHover');
    background: stencilColor('button--checkout-bgColorHover');
}

/*btn disabled*/
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: .5;
    filter: alpha(opacity=50);
}

.button {
    line-height: 1rem;
    transition: all 0.15s ease;

    + .button {
        margin-left: 0;

        @include breakpoint("medium") {
            margin-left: spacing("half");
        }
    }
}

.button[disabled] {
    cursor: not-allowed;
}

.button--icon {

    svg {
        fill: stencilColor("button--icon-svg-color");
    }
}
.btn:active, .btn.active{
  @include box-shadow(none);
}

