// =============================================================================
// SEARCH
// =============================================================================

.search-suggestion {
    margin-bottom: spacing("single") + spacing("third");
    >:last-child {
        margin-bottom: 0;
    }
}

.suggestion-title {
    margin-top: 0;
    text-transform: inherit;
}

.advancedSearch-form {
    margin-bottom: spacing("double");
    .form-row {
        margin-bottom: -(spacing("single"));
    }
}

.advancedSearch-separator {
    display: none;
}

.advancedSearch-title {
    margin: 0 0 spacing("single");
    text-transform: inherit;
}

.search-price-range {
    label {
        display: inline;
        // scss-lint:disable SelectorDepth, NestingDepth
        input {
            display: block;
            padding-left: spacing("single");
            @include breakpoint("small") {
                display: inline;
                width: 6rem;
            }
        }
        // scss-lint:disable SelectorDepth, NestingDepth
        span {
            @include breakpoint("small") {
                display: inline;
                padding-left: spacing("single");
                padding-right: spacing("single");
            }
        }
    }
}

.category-suggestion-list {
    @include grid-row($behavior: "nest");
    list-style-type: none;
}

.category-suggestion {
    @include grid-column(4);
    font-size: fontSize("smaller");
}

.search-refine {
    margin-left: spacing("single");
}

.quickSearchMessage {
    font-size: fontSize("largest");
    margin: spacing("single") 0 0;
    text-align: center;
}
#quickSearch > form {
    margin: 0;
    & .form-field {
        position: relative;
        margin: 0;
        width: 100%;
        min-width: 230px;
        height: 38px;
        background-color: stencilColor('searchBox-textField-backgroundColor');
        @media (max-width: 991px){
            margin: 0 auto;
            max-width: 400px;
        }
        & input#search_query {
            border: 1px solid #d7d7d7;
            padding: 0 38px 0 15px;
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: stencilColor('searchBox-textField-color');
            font-family: $fontFamily-headings;
            font-size: 11px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: stencilColor('searchBox-textField-placeholder');
                letter-spacing: 0.02em;
                text-transform: uppercase;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: stencilColor('searchBox-textField-placeholder');
                letter-spacing: 0.02em;
                text-transform: uppercase;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: stencilColor('searchBox-textField-placeholder');
                letter-spacing: 0.02em;
                text-transform: uppercase;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: stencilColor('searchBox-textField-placeholder');
                letter-spacing: 0.02em;
                text-transform: uppercase;
            }
        }
        & button {
            position: absolute;
            top: 9px;
            right: 0;
            padding: 0;
            border: 0;
            border-left: 1px solid #d7d7d7;
            width: 37px;
            height: 20px;
            @include transition(none);
            & svg {
                width: 14px;
                height: 100%;
                fill: stencilColor('searchBox-icon-color');
            }
        }
    }
}

#quickSearch .quickSearchResultsWrap {
    position: absolute;
    margin-top: 5px;    
    width: 400px;
    right: 0;
    z-index: 99;
    top: auto;
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
    line-height: 1.4;
    @media (max-width: 991px){
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 480px){
        width: 100%;
    }
    &.hasResults {
        opacity: 1;
        visibility: visible;
    }
    &.hasNoResults {
        & .quickSearchResults {
            padding: 15px;
        }
        & .alert {
            margin: 0;
            & .quickSearchMessage {
                margin: 0;
                font-size: fontSize("base");
            }
        }
    }
}

#quickSearch .quickSearchResults {
    background: #fff;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    border: 1px solid #d0d0d0;
    background: #fff;
    padding: 0;
    overflow: hidden;
    max-height: 405px;
    & .productItems {
        margin: 0;
    }
    & .productItems > li {
        padding: 0;
        width: 100%;
        list-style: none;
        float: none;
        clear: both;
        padding: 15px;
        overflow: hidden;
        & + li {
            border-top: 1px solid #eaeaea;
        }
        &:hover {
            background: #f5f5f5;
        }
        & article {
            margin: 0;
            padding: 0;
            border: 0;
            & figure {
                float: left;
                width: 20%;
                text-align: center;
                margin: 0;
                background-color: #fff;
                & a img {
                    max-height: 70px;
                }
            }
            & figcaption {
                float: left;
                margin: 0;
                text-align: left;
                width: 80%;
                padding-left: 15px;
                & h4 {
                    margin: 0 0 8px;
                    font-size: 12px;
                    font-family: $fontFamily-main;
                    font-weight: 500;
                    letter-spacing: 0;
                    a{
                        color: #000;       
                    }
                }
                & .item-price {
                    margin-bottom: 5px;
                    color: #000;
                    font-weight: 700;
                    & .price--rrp {
                        color: #969696;
                        margin-right: 5px;
                        & ~ .price--withoutTax {
                            color: #e95144;
                        }
                    }
                }
            }
        }
    }
}
.page-type-search {
    & .product-pagination.top {
        justify-content: space-between;
        flex-wrap: wrap;
        & .actionBar[data-sort-by] {
            padding-top: 20px;
        }

    }
}
