// =============================================================================
// PAGINATION (CSS)
// =============================================================================
// Pagination list items
// -----------------------------------------------------------------------------
//
// 1. Centred list via inline-block. Font-size: 0; to remove white-space.
// 2. Specificity overrides for Foundation's inadequate selectors.
//
// -----------------------------------------------------------------------------
.product-pagination {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #eeeeee;

  &.bottom .pagination {
    width: calc(100% - 200px);
    text-align: left;
    @media (max-width: 480px) {
      width: 100%;
      padding-bottom: 20px;
    }
  }
  @media (max-width: 480px) {
    flex-wrap: wrap;
  }
}

.page-type-account_recentitems {
  & .product-pagination.bottom {
    justify-content: flex-end;
  }
}

// =============================================================================
// PAGINATION (CSS)
// =============================================================================
// Pagination list items
// -----------------------------------------------------------------------------
//
// 1. Centred list via inline-block. Font-size: 0; to remove white-space.
// 2. Specificity overrides for Foundation's inadequate selectors.
//

.page-type-category .category-toolbar .pagination {
  @media (max-width: 991px) {
    display: none;
  }
}
.pagination-list {
  @include clearfix;
  display: inline-block;
  font-size: 0; // 1
  margin-bottom: 0;
  text-align: center;
  .pagination-item {
    // 2
    display: inline-block;
    margin: 0 5px;
    a {
      padding: 11px 0;
      min-width: 26px;
      font-weight: 600;
      font-size: fontSize("base");
      font-family: $fontFamily-main;
      font-weight: bold;
      line-height: 12px;
      color: #505050;
      cursor: pointer;
      border: 1px solid #fff;
      border-radius: 50%;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .pagination-item--previous {
    margin-right: 14px;
  }
  .pagination-item--next {
    margin-left: 14px;
  }
  .pagination-item--previous a,
  .pagination-item--next a {
    min-width: 36px;
    padding: 8px 0;
    border: 1px solid #adadad;
    border-radius: 50%;
  }
  .pagination-item--previous a span,
  .pagination-item--next a span {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    text-indent: -99999px;
    overflow: hidden;
  }
  .pagination-item--current a {
    border: 1px solid #adadad;
    width: 36px;
  }
}
.pagination-item--previous a:before {
  content: "\f104";
  font-size: 18px;
  line-height: 18px;
  font-family: FontAwesome;
  color: stencilColor("color-black");
}
.pagination-item--next a:before {
  content: "\f105";
  font-size: 18px;
  line-height: 18px;
  font-family: FontAwesome;
  color: stencilColor("color-black");
}

.page-type-category .pagination-list,
.page-type-search .pagination-list,
.page-type-brands .pagination-list,
.page-type-brand .pagination-list,
.page-type-account_recentitems .pagination-list {
  position: relative;
  padding: 0;
  z-index: 99;
  @media (max-width: 600px) {
    width: 100%;
    padding: 10px;
  }
}

.compare-link {
  display: inline-block;
  padding: 0;
  min-width: 200px;
  @media (max-width: 600px) {
    display: block;
    margin: 0 auto;
  }
  & a {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    letter-spacing: 0;
    letter-spacing: 0.05em;
    height: 42px;
    & .countPill {
      display: none;
    }
    &:hover {
      text-decoration: none;
      .countPill {
        color: #fff;
        background: #213875;
        border-color: #213875;
      }
    }
  }

  &.link-show {
    & .countPill {
      display: inline-block;
      width: 24px;
      height: 24px;
      border: 1px solid #fff;
      background: #fff;
      color: #000;
    }
  }
}

.compare-link .countPill {
  display: inline-block;
  min-width: 24px;
  margin-left: 10px;
  padding: 0 4px;
  text-align: center;
  border-radius: 50%;
  background-color: stencilColor("item-count-circle-backgroundColor");
  color: stencilColor("item-count-circle-color");
  line-height: 24px;
  font-size: 11px;
  font-weight: 400;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
