{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
	<div class="row">
	   {{> components/blog/post post=blog.post show_tags=true}}
   </div>
</div>
{{/partial}}
{{> layout/base}}
