
{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
{{inject 'comparisons' comparisons}}
{{inject 'compareRemoveMessage' (lang 'compare.no_remove')}}
<div class="row">
    <h1 class="page-heading">{{lang 'compare.header' products=comparisons.length}}</h1>
    <div class="page">
        <main class="page-content">
            <table class="compareTable">
                <tr class="compareTable-row">
                    <th class="compareTable-heading"></th>
                    {{#each comparisons}}
                    <th class="compareTable-product">
                        <article class="card">
                            <figure class="card-figure">
                                <img class="card-image" src="{{getImage image 'product_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                                <a class="compareTable-removeProduct" data-comparison-remove href="{{#if remove_url}}{{remove_url}}{{else}}#{{/if}}">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                                    </svg>
                                </a>
                            </figure>
                            <div class="card-body">
                                {{#if brand.name}}
                                    <p class="card-text"><a href="{{brand.url}}">{{ brand.name }}</a></p>
                                {{/if}}
                                <h4 class="card-title">
                                    <a href="{{url}}">{{ name }}</a>
                                </h4>
                                {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                                    {{> components/products/price price=price}}
                                {{else}}
                                    {{> components/common/login-for-pricing}}
                                {{/or}}
                            </div>
                        </article>
                    </th>
                    {{/each}}
                </tr>
                <tr class="compareTable-row">
                    <th class="compareTable-heading"></th>
                    {{#each comparisons}}
                        <td class="compareTable-action">
                            {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                                {{#if show_cart_action}}
                                    {{#if has_options}}
                                        <a href="{{url}}" class="btn btn-primary" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                                    {{/if}}
                                    {{#if pre_order}}
                                        <a href="{{url}}" class="btn btn-primary" data-product-id="{{id}}">
                                            {{lang 'products.pre_order'}}
                                        </a>
                                    {{/if}}
                                    {{#if add_to_cart_url}}
                                        <a href="{{add_to_cart_url}}" class="btn btn-primary" data-product-id="{{id}}">
                                            {{lang 'products.add_to_cart'}}
                                        </a>
                                    {{/if}}
                                    {{#if out_of_stock_message}}
                                        <a href="{{url}}" class="btn btn-primary" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                                    {{/if}}
                                {{/if}}
                            {{/or}}
                        </td>
                    {{/each}}
                </tr>
                <tr class="compareTable-row">
                    <th class="compareTable-heading">
                        <span class="compareTable-headingText">Description</span>
                    </th>
                    {{#each comparisons}}
                    <td class="compareTable-item">{{ summary }}</td>
                    {{/each}}
                </tr>
                {{#if settings.show_product_rating}}
                    <tr class="compareTable-row">
                        <th class="compareTable-heading">
                            <span class="compareTable-headingText">Rating</span>
                        </th>
                        {{#each comparisons}}
                        <td class="compareTable-item">
                            {{#if rating}}
                                {{> components/products/ratings rating=rating}}
                            {{else}}
                                No Reviews
                        {{/if}}
                        </td>
                        {{/each}}
                    </tr>
                {{/if}}
                <tr class="compareTable-row">
                    <th class="compareTable-heading">
                        <span class="compareTable-headingText">Availability</span>
                    </th>
                    {{#each comparisons}}
                    <td class="compareTable-item">
                        {{#if availability}}
                            {{ availability }}
                        {{else}}
                            {{lang 'common.not_applicable'}}
                        {{/if}}
                    </td>
                    {{/each}}
                </tr>
                <tr class="compareTable-row">
                    <th class="compareTable-heading">
                        <span class="compareTable-headingText">{{lang 'common.other_details'}}</span>
                    </th>
                    {{#each comparisons}}
                        <td class="compareTable-item">
                            {{#if custom_fields}}
                                <ul>
                                    {{#each custom_fields}}
                                        <li>{{name}}: {{{value}}}</li>
                                    {{/each}}
                                </ul>
                            {{else}}
                                {{lang 'common.not_applicable'}}
                            {{/if}}
                        </td>
                    {{/each}}
                </tr>
            </table>
        </main>
    </div>
</div>
</div>
{{/partial}}
{{> layout/base}}
