{{#partial "page"}}

    <!-- BEGIN Google Map -->
    {{#if theme_settings.halothemes_contact_us_map}}
        {{> components/halothemes/contact-us-map}}
    {{/if}}
    <!-- END Google Map -->

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<div class="container">
    <div class="row">
        <main class="page">
            <h1 class="page-heading">{{page.title}}</h1>
            {{#if page.sub_pages}}
                <nav class="navBar">
                    <ul class="navBar-section">
                        {{#each page.sub_pages}}
                            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </nav>
            {{/if}}
            <div class="page-content page-content--centered">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-md-push-9 col-sm-push-9">
                        <!-- BEGIN Store Localtion -->
                        {{> components/halothemes/contact-store-location}}
                        <!-- END Store Localtion -->
                    </div>
                    <div class="col-md-9 col-sm-9 col-md-pull-3 col-sm-pull-3">
                        {{#if forms.contact.success}}
                            {{{lang 'forms.contact_us.successful' shopPath=urls.home}}}
                        {{else}}
                            {{{page.content}}}
                            {{> components/page/contact-us-form}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{{/partial}}
{{> layout/base}}
