{{#partial "page"}}
<div class="container">
	<div class="row">
		<main class="content">
		    <h1>Order Complete</h1>
		    <p>Your order is complete. How awesome is that!</p>
		</main>
	</div>
</div>
{{/partial}}
{{> layout/base}}
