{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
    <div class="row">
        <main class="page">
            <h1 class="page-heading">{{ page.title }}</h1>
            {{#if page.sub_pages}}
            <nav class="navBar navBar--sub">
                <ul class="navBar-section account-navigation">
                {{#each page.sub_pages}}
                    <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                {{/each}}
                </ul>
            </nav>
            {{/if}}
            <div class="page-content page-content--centered">
                {{#replace '%%Syndicate%%' page.content}}
                    {{> components/page/rss_feed}}
                {{else}}
                    <p>{{{page.content}}}</p>
                {{/replace}}
            </div>
            {{#if page.feed}}
                <ul>
                    {{#each page.feed}}
                        <li>
                            <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                            <p>{{content}}</p>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </main>
    </div>
</div>
{{/partial}}

{{> layout/base}}
