---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    top_sellers:
         limit: {{theme_settings.side_top_products_count}}
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---

{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}
    <div class="row">
        <div class="page page-product ">
            <!-- BEGIN product content-->
            <main itemscope itemtype="http://schema.org/Product" class="page-content col-sm-12">
                    <!-- BEGIN product detail view-->
                    {{> components/products/product-view schema=true}}
                    <!-- END product detail view-->

                    <!-- BEGIN product related products-->
                    {{#if product.related_products}}
                    <div id="relatedProducts">
                        <h3><span>{{lang 'products.related_products'}}</span></h3>
                        {{> components/products/related-carousel products=product.related_products columns=4}}
                    </div>
                    {{/if}}
                    <!-- END product related products-->

                    <!-- BEGIN product similar products-->
                    {{#if product.similar_by_views}}
                    <div id="similarByViews">
                        <h3><span>{{lang 'products.similar_by_views'}}</span></h3>
                        {{> components/products/similar-by-views-carousel products=product.similar_by_views columns=4}}
                    </div>
                    {{/if}}
                    <!-- END product similar products-->
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
