{{#partial "page"}}
<div class="container">
    <div class="row">
        <div class="site-map">
        <h1>{{lang 'sitemap.page_title'}}</h1>

        <ul >
        {{#each sitemap}}
            <li>
                <h3>{{label}}</h3>
                <ul>
                    {{#each body}}
                    <li>
                        <a href="{{url}}">{{label}}</a>
                        {{#if children}}
                            <ul>
                            {{#each children}}
                                {{> components/sitemap/links}}
                            {{/each}}
                            </ul>
                        {{/if}}
                    </li>
                    {{/each}}
                    {{#if show_all_link}}
                    <li>
                        <a href="{{subsection_url}}">{{lang 'sitemap.show_all_link'}}</a>
                    </li>
                    {{/if}}
                </ul>
            </li>
        {{/each}}
        </ul>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
