{{#partial "page"}}
<div id="breadcrumbs-wrapper">
   <ul class="breadcrumbs">
       <li class="breadcrumb ">
           <a href="/" class="breadcrumb-label">Home</a>
       </li>
       <li class="breadcrumb is-active">
           <span class="breadcrumb-label">Unsubscribe</span>
       </li>
   </ul>
</div>
<div class="container">
  <div class="row">
    <section class="page">
        <div class="page-content page-content--centered">
            <h1 class="page-heading">{{lang 'newsletter.unsubscribed_heading'}}</h1>
            {{> components/common/alert-success (lang 'newsletter.unsubscribed_message' store_name=settings.store_name)}}
        </div>
    </section>
  </div>
</div>
{{/partial}}
{{> layout/base}}
