// =============================================================================
// FORMS (CSS)
// =============================================================================
.form-input {
  padding-top: 5px;
  padding-bottom: 5px;
}
.form-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: stencilColor("input-placeholder-color");
}

.form-input::-moz-placeholder {
  /* Firefox 19+ */
  color: stencilColor("input-placeholder-color");
}

.form-input:-ms-input-placeholder {
  /* IE 10+ */
  color: stencilColor("input-placeholder-color");
}

.form-input:-moz-placeholder {
  /* Firefox 18- */
  color: stencilColor("input-placeholder-color");
}

// Select boxes
// -----------------------------------------------------------------------------

.form-select {
  appearance: none;
  background-image: url("../img/select-arr.png");
  background-color: #f5f5f5;
  padding: $select-padding;
  border-color: #d1d1d1;
  &:hover {
    border-color: $select-hover-borderColor;
  }
  &:focus {
    background-image: url("../img/select-arr-focus.png");
  }
}

// Form labels
// -----------------------------------------------------------------------------

.form-label {
  small {
    float: $opposite-direction;
    color: stencilColor("color-background-main");
    text-transform: none;
    font-family: $fontFamily-main;
    font-style: italic;
    font-size: 11px;
    font-weight: 500;
  }
}

// Form labels (inline small text)
// -----------------------------------------------------------------------------

.form-label--inlineSmall {
  small {
    float: none;
    color: stencilColor("color-background-main");
    text-transform: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
  }
}
.form-field {
  margin-bottom: 20px;
}
.form-field--error .form-input,
.form-field--error .form-select,
.form-field--error .form-checkbox + .form-label::before,
.form-field--error .form-radio + .form-label::before,
.form-field--error .form-prefixPostfix-label {
  border-color: #213875;
}
.form-field--error .form-field-error,
.form-field--error .form-inlineMessage {
  color: #213875;
}
.form-checkbox + .form-label::before,
.form-radio + .form-label::before {
  width: 16px;
  height: 16px;
}
.form-field--success .form-input,
.form-field--success .form-select,
.form-field--success .form-checkbox + .form-label::before,
.form-field--success .form-radio + .form-label::before,
.form-field--success .form-prefixPostfix-label {
  border-color: #213875;
}
.form-checkbox + .form-label::after,
.form-radio + .form-label::after {
  width: 14px;
  height: 14px;
}
.form-row {
  margin: 0 -10px;
}
.form-row .form-field {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 480px) {
  .form .form-column {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.form .form-row .form-field.form-field-group {
  padding: 20px;
}

.gift-certificate-form .btn.btn-primary,
.gift-certificate-form .btn.black-btn {
  min-height: 42px;
  line-height: 40px;
  letter-spacing: 0.1em;
}

.gift-certificate-form .btn.black-btn {
  min-width: 152px;
}
.gift-certificate-form .btn.btn-primary {
  min-width: 296px;
  margin-left: 24px;
}
.gift-certificate-form .form-actions {
  padding-top: 25px;
  border-top: 1px solid #eeeeee;
  margin-top: 30px;
}

.form-select {
  background-color: #ffffff;
}
*,
.btn.active,
.btn:active,
.button,
.button.active,
.button.is-active,
.button:focus,
.form-input:focus,
.form-select,
.heroCarousel .owl-dots > div span,
.heroCarousel .owl-dots > div span:focus,
.jstree-anchor:focus,
.modal,
.st-menu ul > li > a,
.vakata-context li > a:focus,
a:active,
a:hover,
button:active,
button:focus,
ul.navBar-section li.navBar-item a:focus,
ul.tabs li.tab a:focus {
  outline: 0;
}
