.navPages-container {
  @media (max-width: 991px) {
    display: none;
  }
  & > .container {
    position: inherit;
  }
  & .navPages-quickSearch {
    display: none;
  }
  & nav ul.navPages-list {
    margin: 0 auto;
  }
  & nav ul.navPages-list.navPages-list--user {
    display: none;
  }
  & nav ul.navPages-list a:hover {
    text-decoration: none;
  }
  & nav ul.navPages-list > li {
    display: inline-block;
    & > a {
      display: block;
      padding: 13px 20px;
      font-family: $fontFamily-headings;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      color: stencilColor("mainNav-topLevel-color");
      text-decoration: none !important;
      letter-spacing: 0.05em;
      line-height: 1.4;
      &.has-subMenu {
        position: relative;
      }
    }
    &:hover > a {
      background-color: stencilColor("mainNav-topLevel-backgroundColorHover");
      color: white;
    }
    & > .navPage-subMenu {
      position: absolute;
      z-index: 102;
      top: auto;
      display: none;
      min-width: 200px;
      max-width: 1147px;
      background-color: stencilColor("mainNav-dropdown-backgroundColor");
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
      border: 1px solid #b2b2b2;
      text-align: left;

      & ul {
        list-style: none;
        margin: 0;
        padding: 5px 0;
        & > li {
          position: relative;
        }

        & li > a {
          position: relative;
          display: block;
          padding: 10px 15px;
          color: stencilColor("mainNav-dropdown-text-color");
          background-color: stencilColor(
            "mainNav-dropdown-text-backgroundColor"
          );
          font-family: $fontFamily-main;
          font-size: $fontSize-base;
          line-height: 1.4;
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 20px;
            width: 0;
            height: 1px;
            background-color: stencilColor("mainNav-dropdown-text-color-hover");
            @include transition(all 0.3s ease 0s);
            visibility: hidden;
            @include opacity(0);
          }
        }
        & li:hover > a {
          padding-left: 44px;
          color: stencilColor("mainNav-dropdown-text-color-hover");
          background-color: stencilColor(
            "mainNav-dropdown-text-backgroundColor-hover"
          );
          &:before {
            width: 13px;
            visibility: visible;
            @include opacity(1);
          }
        }
      }
      & li > .navPage-childList {
        position: absolute;
        z-index: 1;
        top: -1px;
        left: 100%;
        display: none;
        width: 100%;
        min-width: 200px;
        margin-left: -10px;
        background: stencilColor("mainNav-dropdown-backgroundColor");
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #d0d0d0;
        &::before {
          position: absolute;
          width: 7px;
          height: 100%;
          margin-left: -7px;
          content: "";
          background-color: transparent;
        }
      }
      & li:hover > .navPage-childList {
        display: block;
        -webkit-animation: fadeIn 0.3s;
        -o-animation: fadeIn 0.3s;
        animation: fadeIn 0.3s;
      }
      & li > .navPage-subMenu {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        display: none;
        width: 100%;
        min-width: 200px;
        margin-left: 6px;
        background: stencilColor("mainNav-dropdown-backgroundColor");
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #87a1ab;
      }
      & li:hover > .navPage-subMenu {
        display: block;
        -webkit-animation: fadeIn 0.3s;
        -o-animation: fadeIn 0.3s;
        animation: fadeIn 0.3s;
      }
    }
    &:hover > .navPage-subMenu {
      display: block;
      -webkit-animation: fadeIn 0.3s;
      -o-animation: fadeIn 0.3s;
      animation: fadeIn 0.3s;
    }
    &:not(.hasMegamenu) {
      & .navPage-subMenu-list {
      }
    }
  }
}

.navPages-container li.hasMegamenu > .subMegaMenu {
  padding: 20px 20px 20px;

  @media (min-width: 1200px) {
    width: 100%;
    min-width: 880px !important;
  }
}

.navPages-container li.hasMegamenu.fullWidth > .subMegaMenu {
  padding: 20px 25px 20px 0;
}

.navPages-container li.hasMegamenu > .subMegaMenu .imageArea {
  float: left;
  min-height: 1px;
}

.navPages-container li.hasMegamenu > .subMegaMenu .cateArea {
  float: left;
  min-height: 1px;
}

.navPages-container
  li.hasMegamenu
  > .subMegaMenu
  .container.hasBottomCate
  .cateArea {
  padding-bottom: 56px;
}

.navPages-container li.hasMegamenu > .subMegaMenu.imageLeft .cateArea {
  padding-left: 20px;
}

.navPages-container li.hasMegamenu > .subMegaMenu.imageRight .cateArea {
  padding-right: 20px;
}

.navPages-container li.hasMegamenu.alignLeft > .subMegaMenu {
  left: 0;
}

.navPages-container li.hasMegamenu.alignRight > .subMegaMenu {
  right: 0;
  left: auto;
}

.navPages-container li.hasMegamenu.alignCenter > .subMegaMenu {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.navPages-container li.hasMegamenu.fullWidth {
  position: static !important;
}

.navPages-container li.hasMegamenu.fullWidth > .subMegaMenu {
  left: 0;
}

.navPages-container li.hasMegamenu.fullWidth > .subMegaMenu .container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  align-content: stretch;
  align-items: stretch;
}

.navPages-container li.hasMegamenu > .subMegaMenu {
  position: absolute;
  z-index: 102;
  top: auto;
  display: none;
  min-width: 200px;
  background-color: stencilColor("mainNav-dropdown-backgroundColor");
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navPages-container li.hasMegamenu:hover > .subMegaMenu {
  display: block;
  -webkit-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}

.navPages-container li.hasMegamenu > .subMegaMenu ul {
  padding: 0;
  list-style: none;
  border: 0 !important;
}

.navPages-container li.hasMegamenu > .subMegaMenu .cateArea > ul li {
  border: 0;
  padding: 5px 0;
  & > a {
    padding-top: 3px;
    padding-bottom: 2px;
  }
}
.navPages-container li.hasMegamenu > .subMegaMenu .cateArea > ul > li {
  padding-left: 25px;
}
.navPages-container li.hasMegamenu > .subMegaMenu .cateArea ul li a {
  position: relative;
  display: block;
  color: stencilColor("megamenu-sub-children-color");
  padding-left: 0;
  padding-right: 0;
}

.navPages-container li.hasMegamenu > .subMegaMenu .cateArea > ul > li > a {
  font-weight: 500;
  font-size: 14px;
  //   color: stencilColor("megamenu-sub-parent-color");
  margin-bottom: 5px;
  font-family: $fontFamily-headings;
  &:before {
    display: none;
  }
}
.navPages-container
  li.hasMegamenu
  > .subMegaMenu
  .cateArea
  > ul
  > li:hover
  > a {
  padding-left: 0 !important;
  color: stencilColor("megamenu-sub-parent-color") !important;
}

.navPages-container li.hasMegamenu > .subMegaMenu .cateArea > ul > li > ul {
  position: inherit;
  margin: 0;
  display: block;
  -webkit-animation: none;
  -o-animation: none;
  animation: none;
  padding: 0;
  box-shadow: none;
  padding-bottom: 24px;
  left: 0;
  background: transparent;
}
.navPages-container
  li.hasMegamenu
  > .subMegaMenu
  .cateArea
  > ul
  > li:hover
  > ul {
  -webkit-animation: none;
  -o-animation: none;
  animation: none;
}

.navPages-container li.hasMegamenu > .subMegaMenu .cateArea ul li:hover > a {
  padding-left: 24px;
  text-decoration: none;
  background: transparent;
  color: stencilColor("megamenu-sub-children-color");
}
.navPages-container
  li.hasMegamenu
  > .subMegaMenu
  .cateArea
  ul
  li
  > a:hover::before {
  background-color: stencilColor("megamenu-sub-children-color");
  left: 0;
}

.navPages-container li.hasMegamenu > .subMegaMenu .imageArea.colLeft {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: flex-start;
  flex-wrap: wrap;
}

.navPages-container li.hasMegamenu > .subMegaMenu .imageArea.colRight {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
}

.navPages-container
  li.hasMegamenu
  > .subMegaMenu
  .cateArea.columns-3
  > ul
  > li {
  float: left;
  width: 33.33%;
  border-right: 1px solid stencilColor("mainNav-dropdown-border-color");
  padding-top: 0;
}

.navPages-container
  li.hasMegamenu
  > .subMegaMenu
  .cateArea.columns-4
  > ul
  > li {
  float: left;
  padding-right: 25px;
  padding-top: 0;
  width: 25%;
  border-right: 1px solid stencilColor("mainNav-dropdown-border-color");
}
.imageArea .full-mega-img,
.imageArea .half-mega-img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 455px;
  font-size: 0;
  line-height: 0;
  img {
    display: block;
    width: 100%;
  }
}
.imageArea .half-mega-img a {
  display: inline-block;
  margin-top: 4%;
  width: 48%;
  @media (max-width: 991px) {
    margin-top: 20px;
    width: 100%;
    padding: 0 20px 20px;
  }
}

.imageArea .col-left a + a {
  margin-top: 20px;
}

.imageArea .col-right {
  width: 48%;
  margin-left: 4%;
  @media (max-width: 991px) {
    margin-left: 0;
  }
}

.subMegaMenu.imageLeft .imageArea .col-left {
  float: left;
}

.subMegaMenu .imageArea .shop-by-brands {
  width: 100%;
  padding-top: 30px;
  & label {
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
    display: block;
  }
  & ul {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    padding: 0 !important;
    margin-left: -10px !important;
    margin-right: -10px !important;
    & li {
      width: 33.33%;
      border: 0 !important;
      padding-left: 10px;
      padding-right: 10px;
      & a {
        height: 100%;
        display: -webkit-box !important;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box !important;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox !important;
        /* TWEENER - IE 10 */
        display: -webkit-flex !important;
        /* NEW - Chrome */
        display: flex !important;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px !important;
        border: 1px solid #d0d0d0;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
    }
  }
}

/*Megamenu four-images*/

.imageArea .four-images {
  text-align: center;
}

.imageArea .four-images a {
  display: inline-block;
  max-width: 49%;
  padding: 2.5px 1px;
}

#menu .cateArea > ul {
  height: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
}

.cateArea > ul > .bottomCate {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  clear: both;
}

.cateArea.has-bottom-cates {
  padding-bottom: 50px;
  @media (max-width: 991px) {
    padding-bottom: 25px;
  }
}

.subMegaMenu.imageLeft .cateArea > ul > .bottomCate {
  right: 0;
  left: auto;
  padding-right: 0;
  padding-left: 20px;
}

.cateArea > ul > .bottomCate > .own-text {
  width: 100%;
  padding: 5px;
  background-color: #fef8e7;
}

.cateArea > ul > .bottomCate p {
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 0;
  padding: 7px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e06868;
  border: 1px solid #fdefc9;
}

li.hasMegamenu.fullWidth .cateArea .navPage-childList {
  min-width: auto !important;
}
.navPages-container
  li.hasMegamenu.fullWidth
  > .navPage-subMenu.subMegaMenu.imageTop {
  padding: 20px 0;
  max-width: 1105px;
}
.navPages-container
  li.hasMegamenu.fullWidth
  > .navPage-subMenu.subMegaMenu.imageTop
  .cateArea.columns-4
  > ul
  > li {
  li:last-child {
    border-right: 0;
  }
}

/*style for standard menu */
.navPages-container
  li.hasMegamenu
  .navPage-subMenu.noImage
  .cateArea
  > ul
  > li:last-child {
  border-right: 0;
}
