// =============================================================================
// Banners Component
// =============================================================================


// Banners
// -----------------------------------------------------------------------------
//
// Purpose: Control the look and feel of the top and bottom site banners
//
// -----------------------------------------------------------------------------

/*Home Top Banners*/
.banner{
    margin-right: -10px;
    margin-left: -10px;
    @media (max-width: 767px) {
        margin-right: 0;
        margin-left: 0;
    }
}
.banner-item {
    padding: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    @media (max-width: 480px) {
        width: 100%;
    }
    & a {
        position: relative;
        display: block;
        margin-bottom: 20px;
        padding: 0 10px;
        text-align: center;
        @media (max-width: 480px) {
            padding: 0 15px;
        }
        &::before {
            content: "";
            background-color: rgba(255, 255, 255, 0.2);
            display: block;
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            @include transition(all 0.3s ease 0s);  
            z-index: 1;
        }
        &:hover::before {
            left: 0;
        }
        img{
            width: auto;
        }
    }
    .banner-content{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 15px;
        width: 100%;
        z-index: 1;
        font-size: 12px;
        line-height: 1.4;
        .rank-kind{
            margin: 0 0 10px;
            color: stencilColor('home-rank-banner-color');
            font-family: $fontFamily-headings;
            font-size: $fontSize-base;
            font-weight: 700;
            line-height: 1.4;
        }
        .banner-title{
            margin: 0 0 6px;
            color: stencilColor('home-title-banner-color');
            font-family: $fontFamily-headings;
            font-size: 40px;
            font-weight: 600;
            line-height: 1.4;
        }
        .banner-info{
            margin-bottom: 44px;
            color: stencilColor('home-info-banner-color');
            font-family: Tinos, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 400;
            font-style: italic;   
            line-height: 1.4;    
        }
    }
    .banner-content.middle{
        top: 50%;
        bottom: auto;
        @include transform(translateY(-50%));
        .banner-info{
            margin-bottom: 10px;
        }
    }
    .banner-content.odd-color{
       .banner-title{
            color: stencilColor('home-title-banner-odd-color');
        }
        .banner-info{
            color: stencilColor('home-info-banner-odd-color');
        } 


    }
}

.banner-item.last{
    @media (max-width: 767px) {
        width: 100%;
        a{
            width: 50%;
            float:left;
        }
    }
    @media (max-width: 480px) {
        a{
            width: 100%;
            float: none;
        }
    }
}


/*Home Bottom Banners*/
#homeBottomBanners {
    padding-top: 45px;
    padding-bottom: 11px;
    .banner{
        margin-top: 36px;
    }
    & .banner-item .bottom-text{
        position: absolute;
        bottom: -1px;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        color: #1e1e1e;
        &::before {
            display: block;
            background: #fff;
            background-color: rgba(255, 255, 255, 0.8);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        & h3 {
            font-size: 14px;
            padding-bottom: 0;
            width: 100%;
            color: #1e1e1e;
            text-transform: uppercase;
            position: relative;
            z-index: 111;
            margin: 0;
            font-family: $fontFamily-headings;
        }
    }
    .bottom-banner-title{
        padding: 0 80px;
        text-align: center;
        text-transform: uppercase;
        font-family: $fontFamily-headings;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5;
        margin-top: 28px;
        margin-bottom: 50px;
        @media (max-width: 1199px){
            padding: 0 40px;
        }
        @media (max-width: 991px){
            padding: 0 20px;
            font-size: 14px;
        }
    }
    @media (max-width: 767px){
        .banner-item:last-child{
            float: none;
            display: block;
            margin: 0 auto;
        }
    }
}
