// =============================================================================
// HEADER (CSS)
// -----------------------------------------------------------------------------
header.header {
  min-width: 300px;
  background-color: stencilColor("header-backgroundColor");
  @media (max-width: 991px) {
    padding-top: 47px;
    .container {
      width: auto;
    }
  }
  @media (max-width: 767px) {
    .container {
      padding: 0 15px;
    }
  }
}
/* BEGIN style for TOP header */
.header-top {
  display: block;
  position: relative;
  border-bottom: 1px solid stencilColor("headerTop-border");
  background-color: stencilColor("headerTop-backgroundColor");
  color: stencilColor("headerTop-textColor");
  font-family: $fontFamily-headings;
  font-size: fontSize("base");
  line-height: 0;
  text-transform: uppercase;
  z-index: 1111;
  @media (max-width: 991px) {
    position: fixed;
    border: none;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    min-height: 47px;
    background: #f3f3f3;
    z-index: 999;
  }

  & a {
    border-bottom: 1px dotted transparent;
    padding-bottom: 2px;
    color: stencilColor("headerTop-textColor");
    letter-spacing: 0.02em;
    line-height: 1;
    text-decoration: none;
    &:hover {
      border-color: stencilColor("headerTop-textColor");
      @media (max-width: 991px) {
        border-color: transparent;
        color: #fff;
      }
    }
  }
  .header-top-left {
    padding: 0;
    @media (max-width: 991px) {
      width: 50%;
      height: 46px;
      float: right;
    }
  }
  .header-top-right {
    padding: 0;
    @media (max-width: 991px) {
      width: 25%;
      float: right;
    }
  }
}
#currency-converter {
  display: inline-block;
  position: relative;
  border-right: 1px solid stencilColor("headerTop-border");
  border-left: 1px solid stencilColor("headerTop-border");
  padding: 14px 15px 12px 15px;
  float: left;
  @media (max-width: 991px) {
    border-left: 0;
    border-color: #fff;
    padding: 0;
    width: 50%;
    a {
      color: #000;
      &:hover {
        color: #fff;
      }
    }
  }
  & > a {
    border: 0;
    padding: 0;
    @media (max-width: 991px) {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      align-content: center;
      align-items: center;
      justify-content: center;
      border-left: 0;
      border-color: #fff;
      width: 100%;
      height: 46px;
    }
    & img {
      margin-right: 5px;
      vertical-align: -1px;
    }
    & .fa {
      margin-left: 4px;
      font-weight: 700;
      position: relative;
      @media (min-width: 992px) {
        bottom: 1px;
      }
    }
  }
  & > ul {
    left: -1px !important;
    margin-top: 15px;
    min-width: 200px;
    @media (max-width: 991px) {
      margin-top: 10px;
    }
    @media (max-width: 480px) {
      left: auto !important;
      right: 0 !important;
    }
    & > li {
      display: block;
      padding: 0;
      & > a {
        border: 0;
        padding: 12px 15px;
        &:hover {
          background-color: #f5f5f5;
          text-decoration: none;
          color: #000;
        }
        & img {
          margin-right: 5px;
          vertical-align: -1px;
        }
      }
      strong {
        font-weight: 500;
      }
    }
    & > li + li {
      border-top: 1px solid #f5f5f5;
    }
  }
}
.account-info {
  display: inline-block;
  margin: 0;
  padding: 15px 0 11px 10px;
  float: left;
  list-style-type: none;
  li {
    display: inline;
    padding: 0 10px;
    float: left;
    letter-spacing: 0.05em;
  }
}
#accountDropdown {
  position: relative;
  & > a {
    border-bottom: 0;
    padding-bottom: 0;
    span {
      border-bottom: 1px dotted transparent;
      display: inline-block;
      padding-bottom: 4px;
    }
    &:hover span {
      border-color: #878787;
    }
    & .fa {
      margin-left: 4px;
    }
  }
  & > ul {
    top: auto !important;
    margin-top: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 200px;
    text-align: left;
    & > li {
      display: block;
      padding: 0;
      & > a {
        display: block;
        padding: 12px 15px;
        border: none;
        &:hover {
          background-color: #f5f5f5;
          text-decoration: none;
          color: #000;
        }
        & img {
          margin-right: 5px;
          vertical-align: -1px;
        }
      }
    }
    & > li + li {
      border-top: 1px solid #f3f3f3;
    }
    @media (max-width: 991px) {
      left: auto !important;
      right: 0;
      transform: none;
    }
  }
}

nav.navUser {
  display: inline-block;
  position: relative;
  padding: 15px 10px 7px 0;
  float: right;
  @media (max-width: 991px) {
    border-right: 1px solid #fff;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
  }
  & ul {
    margin: 0;
    list-style: none;
    & li {
      display: inline-block;
      padding: 0 10px;
      &.last-child {
        padding-right: 0;
      }
    }
  }
}
.top-cart {
  display: inline-block;
  position: relative;
  padding: 15px 20px 12px 20px;
  float: right;
  border-right: 1px solid stencilColor("headerTop-border");
  border-left: 1px solid stencilColor("headerTop-border");
  @media (max-width: 991px) {
    display: -webkit-box;
    /* OLD - iOS 6-, S  ari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-content: stretch;
    align-items: stretch;
    height: auto;
    padding: 0;
    width: 100%;
  }
  & > a {
    display: block;
    position: relative;
    &:hover {
      border-color: transparent;
    }
    .navUser-item-cartLabel {
      padding: 0 10px 0 23px;
      float: left;
      color: stencilColor("cart-text-color");
      font-weight: 600;
    }
    & svg {
      position: absolute;
      top: -4px;
      left: 0;
      width: 14px;
      height: 18px;
      float: left;
      fill: transparent !important;
      stroke: stencilColor("cart-icon-color");
      stroke-width: 15px;
      @include transition(all 0.3s ease 0s);
    }
    & .countPill {
      display: inline-block;
      position: relative;
      float: left;
      font-size: $fontSize-base;
      text-align: center;
      .quantity-item {
        font-style: normal;
      }
      @media (max-width: 991px) {
        right: auto;
        left: 50%;
        top: 50%;
        margin-top: -6px;
        margin-left: 14px;
        @include transform(translate(-50%, -50%));
      }
    }
    @media (max-width: 991px) {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      width: 100%;
      height: auto;
      align-content: center;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
    }
  }
  &:hover a svg {
    fill: stencilColor("cart-icon-colorHover");
    stroke: stencilColor("cart-icon-colorHover");
  }
  &.is-open a svg {
    fill: stencilColor("cart-icon-colorHover");
    stroke: stencilColor("cart-icon-colorHover");
  }
}
#mobileAccountSidebar {
  padding: 0;
  width: 100%;
  height: 46px;
  > a {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    &:hover {
      color: #fff;
    }
    & .fa {
      font-size: 20px;
    }
    span {
      line-height: 0;
      font-size: 0;
    }
  }
}

/* BEGIN style for TOP header */

.header-middle {
  position: relative;
  display: block;
  padding: 35px 0 45px 0;
  @media (max-width: 991px) {
    padding: 0;
    width: 100%;
  }
  & .header-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    svg {
      max-width: 295px;
      max-height: 68px;
    }
    @media (max-width: 991px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    & a {
      font-family: stencilFontFamily("logo-font"), Arial, Helvetica, sans-serif;
      font-size: 32px;
      color: stencilColor("storeName-color");
      img:hover {
        -moz-opacity: 0.6;
        opacity: 0.6;
        filter: alpha(opacity=60);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
      }
    }
  }
  & .header-middle-left {
    padding: 0;
    .promotion-text {
      display: inline-block;
      position: relative;
      padding-top: 20px;
      float: left;
      text-align: center;
      @media (max-width: 991px) {
        width: 100%;
        border-bottom: 1px solid #e3e3e3;
        padding: 17px 15px;
        float: none;
      }
      h6 {
        margin: 0 0 5px 0;
        padding: 0;
        color: stencilColor("header-promotion-textColor");
        font-family: $fontFamily-headings;
        font-size: $fontSize-smallest;
        font-weight: 500;
        letter-spacing: 0.08em;
        line-height: 1.4;
        text-transform: uppercase;
      }
      p {
        margin: 0;
        padding: 0;
        color: stencilColor("header-subpromotion-textColor");
        font-family: $fontFamily-main;
        font-size: $fontSize-base;
      }
    }
  }
  & .header-middle-right {
    padding: 0;
  }
}
#quickSearch {
  position: relative;
  margin-top: 18px;
  float: right;
  @media (max-width: 991px) {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 20px;
    width: 100%;
    clear: left;
    float: none;
    text-align: center;
  }
}
.header-middle .header-middle-right,
.header-middle .header-middle-center {
  @media (max-width: 991px) {
    display: inline-block;
    padding: 0 15px;
    width: 100%;
    clear: left;
    float: none;
    text-align: center;
  }
}

.header-bottom {
  display: block;
  padding: 0;
  background-color: stencilColor("headerBottom-backgroundColor");
  font-family: $fontFamily-headings;
  font-size: 14px;
  text-align: center;
  & p {
    margin: 0;
    color: stencilColor("headerBottom-textColor");
  }
}
#menu {
  width: 100%;
  position: relative;
  font-size: 0;
  line-height: 0;
}

/*Mobile Navigation*/
#mobile-cart {
  display: none;
  position: relative;
  border-left: 1px solid rgba(248, 241, 235, 0.9);
  width: 50%;
  height: 100%;
  float: left;
  @media (max-width: 991px) {
    display: inline-block;
    height: 100%;
    float: right;
    font-size: $fontSize-large;
    .wrap-mbl-cart {
      position: relative;
    }
    .countPill {
      display: inline-block;
      position: absolute;
      right: -10px;
      top: 0px;
      border-radius: 3px;
      padding: 0 2px;
      min-width: 20px;
      background-color: #fff;
      color: #878787;
      font-size: 11px;
      line-height: 20px;
      text-align: center;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  a {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    top: 0;
    height: 100%;
    font-size: 22px;
    svg {
      position: relative;
      top: 0;
      right: 0;
      width: 16px;
      height: 20px;
      float: left;
      fill: transparent;
      stroke: #878787;
      stroke-width: 20px;
      @include transition(all 0.3s ease 0s);
      @media (max-width: 991px) {
        stroke: #000;
      }
    }
    &:hover svg {
      stroke: #fff;
    }
  }
}
.sticky_logo {
  display: none;
}
body.is-sticky {
  @media (min-width: 992px) {
    .header-bottom {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      z-index: 1000;
      @media (max-width: 1199px) {
        .container {
          width: 100%;
        }
        #menu.navPages-container {
          padding-left: 125px;
          padding-right: 125px;
        }
      }
    }
    .sticky_logo {
      display: block;
      position: fixed;
      top: 0;
      left: 15px;
      padding: 14px;
      width: auto;
      max-width: 300px;
      height: 45px;
      z-index: 9999;
      a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
      }
    }

    #quickSearch {
      position: fixed;
      top: 0;
      right: 70px;
      margin-top: 0;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      padding: 0;
      width: 41px;
      height: 45px;
      text-align: center;
      z-index: 9999;
      > form {
        display: none;
      }

      .search-toggle {
        display: block !important;
        position: relative;
        width: 100%;
        height: 100%;
        svg {
          margin: 0 auto;
          width: 14px;
          height: 100%;
          fill: stencilColor("color-black");
        }
        & svg:first-child {
          display: none;
        }
        &.is-open {
          & svg:last-child {
            display: none;
          }
          & svg:first-child {
            display: inline-block;
          }
          & ~ form {
            display: block;
          }
          & ~ .quickSearchResultsWrap.hasResults {
            display: block;
            position: fixed;
            right: 0;
            top: 109px;
            border-top: 1px solid #dfdfdf;
            width: 476px;
            .quickSearchMessage {
              font-size: 20px;
              margin: 0;
              text-align: center;
            }
          }
        }
      }
    }
    #quickSearch.is-open {
      .form {
        display: block;
        position: absolute;
        top: auto;
        right: 0;
        margin-top: 1px;
        width: 25%;
        min-width: 300px;
        @include box-shadow(0px 4px 8px rgba(204, 204, 204, 0.3) inset);
        z-index: 99;
        .form-field {
          margin: 0;
          border: 0;
          padding-bottom: 0;
          width: 100%;
          max-width: 100%;
          height: 30px;
          & button {
            top: 0;
            border-left: 0;
            width: 30px;
            height: 30px;
          }
        }
      }
      .search-toggle svg:first-child {
        display: block;
      }
      .search-toggle svg:last-child {
        display: none;
      }
      .quickSearchResultsWrap {
        display: block;
        top: 75px;
        left: auto;
      }
    }
    .top-cart {
      position: fixed;
      z-index: 9999;
      top: 0;
      right: 0;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      width: 70px;
      height: 45px;
      padding: 0;
      text-align: center;
      > a {
        color: #fff;
        svg {
          position: relative;
          top: 12px;
          left: auto;
          float: none;
          stroke: #fff;
          stroke-width: 22px;
        }
        .countPill {
          top: 9px;
          margin-left: 5px;
          padding-left: 0;
          float: none;
          font-size: 11px;
          font-weight: bold;
          text-align: center;
          .quantity-item {
            display: none;
          }
        }
        .navUser-item-cartLabel {
          display: none;
        }
      }
    }
  }
}
#st-trigger-effects a:hover,
#mobileAccountSidebar a:hover,
#currency-converter a:hover,
#mobile-cart a:hover {
  @media (max-width: 991px) {
    background: stencilColor("color-background-main");
  }
}
