.page-type-category .page,
.page-type-brand .page,
.page-type-search .page {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: nowrap;
  width: 100%;
  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
}

// =============================================================================
// SIDEBAR BLOCKS (CSS)
// =============================================================================
aside.page-sidebar {
  width: 200px;
  padding-right: 0;
  padding-left: 0;
  @media (max-width: 767px) {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .page-type-category {
    & aside.page-sidebar {
      & > nav {
        display: block !important;
      }
    }
  }
  .page-type-blog {
    & aside.page-sidebar {
      & > nav {
        display: block !important;
      }
    }
  }
}
@media (max-width: 767px) {
  .page-type-category,
  .page-type-product {
    & aside.page-sidebar {
      & > nav {
        display: none;
      }
    }
  }
  .page-type-blog {
    & aside.page-sidebar {
      & > nav {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  #sidebar-toggle {
    position: fixed;
    z-index: 1111;
    right: 0;
    bottom: 0;
    left: 0;
    display: block !important;
    height: 42px;
    & a {
      font-weight: 700;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-wrap: nowrap;
      text-align: center;
      text-transform: uppercase;
      background: rgba(255, 19, 140, 0.8);
      border: 0;
      height: 42px;
      letter-spacing: 0.05em;
      &:hover {
        background: #fff;
      }
      & i {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}

aside.page-sidebar.col-sm-3 ~ main.page-content.col-sm-9 {
  width: calc(100% - 200px);
  padding-right: 0;
  padding-left: 40px;
  @media (max-width: 767px) {
    width: 100%;
    padding-left: 0;
  }
}

.sidebarBlock {
  clear: both;
  & + .sidebarBlock {
    border-top: 1px solid #000;
    padding-top: 30px;
    margin-top: 42px;
  }
  & .side-module-heading {
    font-family: $fontFamily-headings;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #191919;
  }
  & .side-module-heading.first {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
  }
  ul.navList > li.navList-item {
    padding: 5px 0;
    & > a.navList-action {
      padding: 0;
      display: inline;
      &:hover {
        border-bottom: 1px solid $anchor-font-color-hover;
      }
    }
  }
}
#sideBannerImage.sidebarBlock {
  border-top: 0;
  padding-top: 0;
  margin-top: 10px;
}

ul.all-categories-list,
.site-map {
  margin: 0;
  list-style: none;
  & a {
    font-family: $fontFamily-headings;
    font-size: 12px;
    padding: 0;
    margin: 4px 0;
    color: stencilColor("color-background-main");
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
    word-break: break-word;
    white-space: normal;
  }
  & i.fa.fa-angle-down {
    position: absolute;
    right: -10px;
    padding: 8px;
    width: 30px;
    text-align: center;
    top: 6px;
    cursor: pointer;
    color: #969696;
    font-size: 14px;
    font-weight: 700;
    &.is-clicked::before {
      content: "\f106";
      position: relative;
      top: -1px;
    }
  }

  & > li {
    padding: 12px 0;
    position: relative;
    border-bottom: 1px solid #eee;
    & > a {
      font-weight: 400;
      color: #000;
      border: 0;
      font-size: 14px;
      padding-right: 20px;
      &:hover {
        text-decoration: none;
        color: $anchor-font-color-hover;
      }
    }
    & > ul {
      margin: 0;
      border-left: 0 !important;
      & > li {
        & > ul {
          border: 0 !important;
        }
        &:last-of-type {
          border-bottom-color: transparent;
        }

        & i.fa.fa-angle-down {
          top: 0;
        }
      }
    }
    & ul.dropdown-category-list {
      opacity: 0;
      visibility: hidden;
      height: 0;
      overflow: hidden;
      margin: 0;
      padding-left: 15px;
      border-left: 1px dotted #d0d0d0;
      &.cat-expanded {
        opacity: 1;
        visibility: visible;
        height: auto;
        padding-top: 10px;
        padding-bottom: 8px;
      }
    }
    & #navPages-level-3 > li {
      & > a {
        color: #505050;
        text-transform: none;
        font-family: $fontFamily-main;
        border-bottom: 1px dotted transparent;
        padding-bottom: 2px;
        letter-spacing: 0;
        @include transition(all 0.3s ease 0s);
        &:hover {
          color: $anchor-font-color-hover;
          border-bottom-color: #d6d6d6;
          @include transition(all 0.3s ease 0s);
        }
      }
      &::before {
        content: "\f105";
        font-family: FontAwesome;
        font-size: 12px;
        position: relative;
        display: none;
        padding-right: 10px;
        @include transition(all 0.3s ease 0s);
      }
      &:hover {
        &::before {
          display: inline-block;
          @include transition(all 0.3s ease 0s);
        }
      }
    }
  }
  li.current-cat > a {
    font-weight: 600;
    &:hover {
      color: $anchor-font-color-hover !important;
      border-bottom-color: $anchor-font-color-hover;
    }
  }
  & ul {
    list-style: none;
    & li {
      position: relative;
      padding: 3px 0;
      & a {
        display: inline-block;
        position: relative;
        color: $anchor-font-color-hover;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#sideShopByBrands ul {
  list-style: none;
  & li {
    padding: 5px 0;
    & a {
      padding: 0;
      display: inline;
      font-size: 12px;
      font-family: $fontFamily-main;
      color: #2d2d2d;
      border-bottom: 1px solid transparent;
      &:hover {
        color: #2d2d2d;
        border-color: #2d2d2d;
      }
      &.is-active {
        color: #585858;
      }
    }
    &:last-of-type {
      padding-top: 15px;
      text-transform: uppercase;
      @include transition(all 0.3s ease 0s);
      a {
        margin-top: 5px;
        padding-bottom: 2px;
        border-bottom: 1px dotted transparent;
        @include transition(all 0.3s ease 0s);
        font-size: 11px;
        font-weight: 700;
        border-bottom: 1px solid transparent;
        color: #555555;
        &:hover {
          border-color: #555555;
        }
      }
      &::before {
        content: "\f105";
        font-family: FontAwesome;
        font-size: 12px;
        position: relative;
        display: inline-block;
        padding-right: 2px;
        font-weight: bold;
      }
    }
  }
}

#sideRecentPosts ul {
  list-style: none;
  margin: 0;
  & li {
    margin-bottom: 17px;
    padding-bottom: 17px;
    border-bottom: 1px dotted #e5e5e5;
    & a {
      font-family: $fontFamily-main;
      font-size: 12px;
      display: inline;
      position: relative;
      color: #000;
      line-height: 18px;
      &:hover {
        text-decoration: none;
        color: #213875;
      }
      &.is-active {
        color: #213875;
      }
    }
  }
}

#sideTopSellers {
  & .prod-item {
    margin-bottom: 0;
  }
  .productCarousel .owl-stage .owl-item .prod-item {
    display: block;
    width: 100%;
  }

  & .prod-image {
    min-height: auto;
    max-width: 150px;
    margin: 0 auto;
  }
  .prod-item article.card {
    margin: 0;
    padding: 0;
    border: 0;
    .actions,
    .btnATC {
      display: none;
    }
  }
  .prod-item:hover article.card::before {
    display: none;
  }
  .prod-item .prod-image > a {
    display: block;
  }
  & .owl-nav > div {
    top: 25%;
    border: 1px solid #adadad;
    &.owl-prev {
      left: 0;
    }
    &.owl-next {
      right: 0;
    }
  }
  & .prod-desc {
    text-align: center;
    padding-bottom: 0;
  }
  .prod-item .prod-image .actions > .btnQV {
    padding: 10px;
  }
  .btnATC {
    margin-top: 10px;
    width: 100%;
    height: 42px;
    line-height: 40px;
    letter-spacing: 0.05em;
    font-size: 14px;
  }
  .prod-item .prod-image .actions > a.btnWL {
    left: 35px;
  }
}

#sideCustomCMS {
  & a {
    color: $anchor-font-color-hover;
    &:hover {
      color: $anchor-font-color;
      border-bottom: 1px solid $anchor-font-color;
    }
  }
  .side-cms-content {
    margin-top: 5px;
    line-height: 20px;
  }
}

#sideShopByPrice {
  & ul {
    list-style: none;
    margin: 0;
    & li {
      padding: 5px 0;
      & a {
        padding: 0;
        display: inline;
        font-size: 12px;
        font-family: $fontFamily-main;
        color: #2d2d2d;
        border-bottom: 1px solid transparent;
        &:hover {
          color: #2d2d2d;
          border-color: #2d2d2d;
        }
        &.is-active {
          color: #2d2d2d;
        }
      }
    }
  }
}
.site-map > ul {
  margin-left: 0;
}
.site-map > ul > li > ul > li > a {
  color: #000;
  border: 0;
  font-size: 14px;
  padding-right: 20px;
  font-weight: 400;
}

.site-map > ul > li:last-child > ul > li > a {
  color: #505050;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  font-family: $fontFamily-main;
}

.site-map > ul > li > ul > li > ul > li > ul > li > a {
  text-transform: none;
  color: #505050;
  font-weight: 400;
  font-family: $fontFamily-main;
}
.site-map h3 {
  font-family: $fontFamily-headings;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 20px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #191919;
  border-bottom: 1px dotted #e5e5e5;
  margin-top: 15px;
  margin-bottom: 10px;
}
