---
customer:
orders:
limit: 3
---
{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
	<div class="row">
		<div class="account">
		    <h2 class="account-heading title">{{lang 'account.orders.heading' }}</h2>
		    {{> components/account/navigation account_page='orders'}}
		    <div class="account-row orders-row">
		        <section class="orders">
		            {{> components/account/orders-list orders=customer.orders}}
		            {{> components/common/small-paginator pagination.orders}}
		        </section>
		    </div>
		</div>
	</div>
</div>
{{/partial}}
{{> layout/base}}
