// =============================================================================
// Stencil Checkout  - Customize the checkout experience
// =============================================================================
//
// This file is for checkout customizations for Default one-page checkout.
//
// -----------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css?family=Arimo:400,400i,500,500i,700,700i|Oswald:400,500,600,700|Open+Sans:400,400i,600,700,700i|Source+Sans+Pro:400,400i");

p {
  font-family: "Arimo", sans-serif;
  font-size: 12px;
  color: #2d2d2d;
}
#Header .header-logo {
  img {
    width: auto;
    max-width: 100%;
  }
}
.TopMenu > .inner,
.PageMenu > .inner,
.main > .inner,
.footer-main > .inner,
.newsletter-subscription > .inner {
  @media (max-width: 767px) {
    width: 95% !important;
  }
}
.header {
  background: #fff;
}
.header-logo {
  padding: 45px 0 40px;
}

h1.TitleHeading {
  margin: 30px 0 25px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  color: #000;
  font-weight: 500;
}
.Content .Block.ExpressCheckout {
  border-color: #eeeeee;
  padding-top: 60px;
}

.ExpressCheckoutBlock {
  margin-bottom: 15px;
  border: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee !important;
  padding: 0;
  color: #2d2d2d;
  font-family: "Arimo", sans-serif;
  font-size: 12px;
  line-height: 0;

  h2 {
    padding-bottom: 25px;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
  dt {
    font-family: "Arimo", sans-serif;
    font-size: 12px;
    font-weight: 700;
  }
  dd > label {
    font-weight: 400;
    letter-spacing: 0.02em;
  }
  a {
    color: #2d2d2d;
    font-size: 12px;
  }
  p {
    font-size: 12px;
    margin-bottom: 25px;
    letter-spacing: 0;
    @media (max-width: 480px) {
      margin-bottom: 16px;
    }
  }
  & > .ExpressCheckoutContent {
    padding: 30px 20px;
    line-height: 1;
    & h4 {
      padding: 6px 0 15px;
      color: #213875;
      font-size: 14px;
      font-family: "Arimo", sans-serif;
      font-weight: 700;
      letter-spacing: 0;
      text-transform: none;
    }
    @media (max-width: 767px) {
      padding: 20px 20px 0;
    }
    @media screen and (max-width: 1024px) {
      margin-bottom: 10px;
    }
  }
  .mbm,
  .mvm,
  .mam {
    margin-bottom: 18px !important;
  }
  input[type="button"],
  input[type="submit"] {
    margin-top: 10px;
    border: 1px solid #213875;
    border-radius: 0;
    padding: 10px 24px !important;
    min-width: 160px;
    height: 42px;
    background: #213875;
    color: #fff;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 500;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: #fff;
      border-color: #000;
      color: #000;
    }
  }
  input#bottom_payment_button {
    height: 52px;
    background: #213875;
    color: #fff;
    border: 1px solid #213875;
    &:hover {
      background: #fff;
      color: #000;
      border: 1px solid #000;
    }
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    border-color: #cbcbcb !important;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 36px !important;
    font-family: "Arimo", sans-serif;
    font-size: 12px !important;
    font-size: 12px !important;
    color: #414141;
    &:focus {
      border-color: #989898 !important;
    }
  }
  .selector {
    font-family: "Arimo", sans-serif;
    font-size: 12px !important;
    height: 36px;
    min-height: 36px !important;
    border-radius: 0;
    border-color: #cbcbcb;
    > span {
      font-size: 12px !important;
      line-height: 36px;
      font-family: "Arimo", sans-serif !important;
      color: #414141;
    }
  }
  select.FormField {
    border-radius: 0;
  }
}

.ExpressCheckoutBlock .ExpressCheckoutTitle {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #eeeeee;
  background-color: #f8f8f8;
  & > span.ExpressCheckoutCompletedContent {
    display: inline-block;
    height: 46px;
    float: left;
    font-size: 12px;
    font-family: "Arimo", sans-serif;
    color: #505050;
    font-weight: 500;
    line-height: 46px;
    font-style: italic;
    @media (max-width: 767px) {
      display: none;
    }
  }
  h5 {
    line-height: 1.4;
  }
}
.ExpressCheckoutContent .HorizontalFormContainer dd,
#AddressEditForm dd {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 240px;
  @media (max-width: 1024px) {
    width: 320px;
    float: left;
  }
  @media (max-width: 600px) {
    width: 100%;
    float: none;
  }
}

.ExpressCheckoutBlockCompleted a.ChangeLink {
  display: inline-block;
  position: absolute !important;
  top: 11px !important;
  right: 0 !important;
  padding: 5px 6px 4px;
  font-family: Arimo, sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1;
  text-transform: uppercase;
  z-index: 1111;
  margin-right: 10px;
  color: #1e1e1e;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
  background: #fff;
}

.ExpressCheckoutBlock .ExpressCheckoutTitle h3 {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  width: 430px;
  float: left;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 46px;
  text-transform: uppercase;
  @media (max-width: 991px) {
    width: 400px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  & .step {
    display: inline-block;
    position: relative;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 20px;
    border-right: 1px solid #eeeeee;
    border-radius: 0;
    padding: 0 18px;
    width: 50px;
    height: 46px;
    float: left;
    background: #fff;
    color: #1e1e1e;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 46px !important;
    letter-spacing: 0.05em;
    text-align: center;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      background: #fff;
    }
  }
}
.ExpressCheckoutBlock .mbm dd {
  display: inline-block;
  margin-right: 30px;
}
.ExpressCheckoutBlock dd > label {
  font-weight: 400;
}
.ExpressCheckoutBlockCollapsed .ExpressCheckoutTitle {
  border-bottom: 0;
}

.ExpressCheckoutContent .AccountLogin,
.ExpressCheckoutContent #CheckoutGuestForm {
  input[type="text"],
  input.Textbox {
    margin-bottom: 10px;
  }
}

.multiStep {
  li {
    & h4 {
      margin-bottom: 10px;
      font-family: "Arimo", sans-serif;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.1em;
    }
    &.ActivePage {
      & h4 {
        border-width: 2px;
        border-color: #fff;
      }
    }
  }
}

.ShippingAddressList {
  h4 {
    padding-top: 15px;
    text-transform: none;
  }
}

@media (max-width: 600px) {
  .ExpressCheckout {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .ExpressCheckoutContent .AccountLogin {
    padding-left: 0;
    input[type="text"],
    input.Textbox {
      margin-bottom: 10px;
    }
  }
  .ExpressCheckoutContent .CreateAccount,
  .ExpressCheckoutContent .AccountLogin {
    padding-right: 0;
  }
  .ExpressCheckoutContent .AccountLogin {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .ExpressCheckoutContent #uniform-sel_billing_address {
    width: 100%;
  }
}

dl.mbm {
  & dd {
    margin-bottom: 5px;
  }
}

#LoginForm {
  & dl {
    dt {
      width: 100%;
      text-align: left;
      font-size: 12px;
      font-weight: 700;
      font-family: "Arimo", sans-serif;
      @media (max-width: 1199px) {
        width: 30%;
      }
      @media (max-width: 991px) {
        padding-bottom: 0;
        width: 100%;
        text-align: left;
      }
    }
    dd {
      width: 70%;
      display: inline-block;
      &:last-of-type {
        @media (max-width: 600px) {
          text-align: center;
        }
        a {
          font-size: 12px;
          font-weight: 400;
          margin-top: 25px;
          display: inline-block;
          line-height: 1;
          padding-bottom: 2px;
          color: #505050;
          border-bottom: 1px dotted #505050;
        }
      }
      @media (max-width: 1199px) {
        width: 60%;
      }
      @media (max-width: 991px) {
        width: 100%;
        & input {
          margin-bottom: 10px;
        }
        & input.btn {
          margin-bottom: 0px !important;
        }
      }
    }
  }
}

ul.ShippingProviderList {
  & label {
    font-weight: 700;
    font-size: 12px;
  }
}
table.CartContents tbody tr,
table.CartContents thead tr th,
.CartContents tfoot .SubTotal {
  border-color: #eee;
}
table.CartContents thead tr th,
table.CartContents tbody tr td,
.CartContents tfoot .CheckoutRedeemCoupon,
.CartContents tfoot .SubTotal td {
  font-family: "Arimo", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  border-color: #eee;
  em {
    font-style: normal;
  }
}
#provider_list label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
}
.ExpressCheckoutBlockCollapsed .step {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  background-color: #fff;
}
.ExpressCheckoutBlockCollapsed .ExpressCheckoutTitle h3 {
  border-bottom: 0 !important;
  color: #000;
}

.ExpressCheckoutBlock.ExpressCheckoutBlockCollapsed
  .ExpressCheckoutTitle
  h3
  .step::after {
  display: none;
  height: 0px;
}
.ExpressCheckoutBlock .HorizontalFormContainer dt,
.HorizontalFormContainer dd {
  line-height: 36px;
}
.HorizontalFormContainer dt {
  width: 170px;
  float: left;
  text-align: right;
  @media (max-width: 1024px) {
    text-align: left;
  }
}
.HorizontalFormContainer dl dt:first-child,
.HorizontalFormContainer dl dt:nth-child(5),
.HorizontalFormContainer dl dt:nth-child(9),
.HorizontalFormContainer dl dt:nth-child(13),
.HorizontalFormContainer dl dt:nth-child(17),
.HorizontalFormContainer dl dt:nth-child(21),
.HorizontalFormContainer dl dt:nth-child(25) {
  text-align: left;
}

.AddBillingAddress dd,
.AddShippingAddress dd {
  width: 380px;
  clear: none;
  margin: 0;
  padding: 0 0 20px 15px !important;
  min-height: 36px;

  @media (max-width: 600px) {
    padding: 0 !important;
  }
}
.AddBillingAddress dt,
.AddShippingAddress dt {
  clear: none;
  @media (max-width: 1024px) {
    float: left;
    clear: left;
  }
}
.ExpressCheckoutBlock .AddBillingAddress dt,
.ExpressCheckoutBlock .AddShippingAddress dt {
  padding: 0 0 0 15px;
}
.HorizontalFormContainer dd {
  padding: 0 0 15px 0;
}
.ExpressCheckoutBlock
  .ExpressCheckoutContent
  .AccountLogin
  dt:nth-last-child(-n + 4) {
  display: none;
}

.checkout-banner {
  border-bottom: 0;
}
.checkout-banner a {
  border-bottom: 1px dotted transparent;
  padding-bottom: 3px;
  color: #213875;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  &:hover {
    border-color: #213875;
  }
}
ul.tabs {
  line-height: 1;
}
#shareText {
  display: inline-block;
  margin-bottom: 10px;
  line-height: 1.8;
  font-size: 14px;
  @media (max-width: 702px) {
    margin-top: 20px;
  }
}
#tabcontent #url {
  font-size: 12px;
  line-height: 1;
}
#tabcontent .btn,
.ProductActionAdd .btn {
  margin-top: 10px;
  border-radius: 0;
  border: 1px solid #213875;
  padding: 0 10px;
  width: 100%;
  background: #213875;
  color: #fff;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 40px;
  transition: none;
  text-transform: uppercase;
  &:hover {
    border-color: #000;
    background: #fff;
    color: #000;
  }
}
#tabcontent .btn {
  max-width: 200px;
}

.ProductActionAdd .btn {
  margin-left: auto;
  margin-right: auto;
}

.ExpressCheckoutBlock#LayoutColumn2 {
  border: 0;
  border-top: 1px solid #eeeeee !important;
  h1.TitleHeading {
    padding: 0;
    color: #000;
    font-family: "Arimo", sans-serif;
    text-transform: none;
    font-weight: 700;
    letter-spacing: 0;
  }
  p {
    margin-top: 0 !important;
    margin-bottom: 0;
    line-height: 2;
  }
}

@media screen and (max-width: 600px) {
  .TopMenu > .inner,
  .PageMenu > .inner,
  .main > .inner,
  .footer-main > .inner,
  .newsletter-subscription > .inner,
  .footer-links > .inner {
    width: 90%;
  }
}
input.Textbox,
textarea,
input[type="text"],
input[type="password"] {
  line-height: 1.25;
  &:focus {
    border-color: #989898;
  }
}
.HorizontalFormContainer p.Submit a {
  width: auto;
}
form .HorizontalFormContainer dd:nth-last-child(-n + 2) {
  padding-bottom: 5px !important;
}
.CartContents tfoot .CheckoutRedeemCoupon td .btn {
  margin-top: 0;
}
.chooseAnotherToShare {
  padding-top: 18px;
  display: inline-block;
  line-height: 1;
  display: block;
  a {
    padding-bottom: 3px;
    color: #57698f;
    &:hover {
      border-bottom: 1px dotted #57698f;
    }
  }
}
#SimilarMultiProductsByCustomerViews h4 {
  margin: 20px 0 10px;
  font-family: "Arimo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.4;
  color: #000;
}

.ProductList {
  .ProductDetails {
    padding-top: 0;
    min-height: auto !important;
  }
  .p-price {
    display: inline-block;
    margin: 10px 0;
    color: #000;
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.4;
    width: 100%;
    text-align: center;
    .RetailPriceValue {
      margin-right: 10px;
    }
  }
}
.ExpressCheckoutBlock .shippingButton {
  width: auto;
}
.ExpressCheckoutBlock .billingButton,
.billButton {
  width: auto;
  margin-left: 15px;
}
.ExpressCheckoutBlock input#bottom_payment_button {
  width: auto;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 42px;
  font-weight: 500;
  &:hover {
    border-color: #000;
    background: #fff;
    color: #000;
  }
}

div.checker span {
  position: relative;
  bottom: 2px;
}
div.radio {
  margin-bottom: 3px;
}
div.selector select {
  color: #414141;
}
.HorizontalFormContainer p.Submit {
  margin-top: 5px;
  margin-bottom: 0;
  padding-top: 0;
}
.CartContents tfoot tr:last-child strong {
  font-size: 14px;
}
.CartContents tfoot tr:last-child em {
  font-size: 18px;
}
.ExpressCheckoutBlock #LoginButton,
.shippingquote {
  margin-top: 15px;
}
table tbody tr td,
table.General tbody tr td,
table,
table.General,
table.CartContents {
  line-height: 20px;
}
table thead tr th,
table.General thead tr th,
table.CartContents thead tr th,
table tbody tr td,
table.General tbody tr td,
table.CartContents tbody tr td {
  padding: 10px;
  vertical-align: middle;
}
table tbody tr td,
table.General tbody tr td,
table.CartContents tbody tr td,
.CompareFieldName,
.CartContents tfoot .SubTotal td,
.CurrencyList dd,
select,
hr,
input.Textbox,
textarea,
input[type="text"],
input[type="password"],
.QuickSearch,
.SharePublicWishList,
.TabNav li a,
.QuickSearchResult .QuickSearchResultImage,
.CurrencyChooser,
div.uploader,
div.selector {
  border-color: #eee;
}
.CartContents tfoot .CheckoutRedeemCoupon td label {
  margin-top: 10px;
  margin-bottom: 10px;
}
table.CartContents tbody tr td small {
  font-weight: 400;
}
input.Textbox,
textarea,
input[type="text"],
input[type="password"] {
  border-radius: 0;
}
@media (max-width: 480px) {
  .ExpressCheckoutBlock input#bottom_payment_button {
    width: 100%;
  }
  .TopMenu,
  .PageMenu,
  .QuickViewBtn,
  .ProductList .ProductActionAdd,
  .sf-menu li > ul,
  .productlist-page .Left,
  .js-faceted-search-column,
  .ProductCompareButton,
  .CompareButton,
  .footer-columns .BrandList,
  .footer-columns .CategoryList {
    display: block;
    margin: 0 auto;
  }
}
#couponcode {
  height: 42px;
}
.footer-links p {
  font-family: "Arimo", sans-serif;
  font-size: 12px;
  color: #555;
  letter-spacing: 0.05em;
}

/*style for tabs */
ul.tabs li,
#tabcontent {
  border-radius: 0;
  border-color: #eee;
}
ul.tabs {
  top: 1px;
  li {
    display: inline-block;
    position: relative;
    margin-right: 0;
    border-radius: 0;
    border-right: 0;
    padding: 13px 30px;
    border-bottom: 1px solid #eee;
    background: #fff;
    &:last-child {
      border-right: 1px solid #eee;
    }
  }
}
ul.tabs li.active {
  border-bottom: 1px solid #eee;
}
ul.tabs li.active::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: #213875;
}
ul.tabs li.active::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}
.CartContents tfoot .SubTotal td:last-child div {
  padding: 16px 0;
}

.mtop {
  margin-top: 0;
  font-size: 12px;
  font-family: Arimo, Helvetica, sans-serif;
  color: #2d2d2d;
}
.ExpressCheckoutContent .CreateAccount .PL40 {
  padding: 0 0 0 15px;
}
.ExpressCheckoutContent .CreateAccount p,
.ExpressCheckoutContent .CreateAccount ul li,
.ExpressCheckoutContent .AccountLogin p {
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 9px;
}
.Block > .ExpressCheckoutContent > .CreateAccount .btn,
#LoginButton {
  margin-top: 15px;
  border: 1px solid #213875;
  border-radius: 0;
  padding: 10px 24px !important;
  min-width: 160px;
  height: 42px;
  background: #213875;
  color: #fff;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  vertical-align: middle;
}
.ExpressCheckoutContent .CreateAccount h3,
.ExpressCheckoutContent .AccountLogin > h3 {
  padding: 6px 0 15px;
  color: #213875;
  font-size: 14px;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
}
.ExpressCheckoutContent .AccountLogin input[type="text"],
.ExpressCheckoutContent .AccountLogin input.Textbox,
.ExpressCheckoutContent #CheckoutGuestForm input[type="text"],
.ExpressCheckoutContent #CheckoutGuestForm input.Textbox {
  height: 36px;
}
.ExpressCheckoutBlock
  .ExpressCheckoutContent
  .AccountLogin
  dt:nth-last-child(-n + 3) {
  display: block;
}
.ExpressCheckoutContent .AccountLogin dt:nth-last-child(-n + 3) {
  display: none;
}
.Block.Moveable.Panel {
  h2 {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 22px;
    text-transform: uppercase;
  }
  .BlockContent {
    display: inline-block;
    width: 100%;
    .ML20 {
      padding-left: 0;
    }
  }
  .UtilityLinks {
    margin: 0;
  }
}

.Moveable {
  .multiStep {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 25px;
    border: 0;
    width: 100%;
    display: inline-block;
    line-height: 20px;
    @media (max-width: 1200px) {
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;
    }
    &:after {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 0;
      height: 1px;
      left: 0;
      content: "";
      background: #eee;
      @media (max-width: 1200px) {
        position: static;
      }
    }
    & li {
      position: relative;
      z-index: 1;
      display: table;
      float: left;
      line-height: 43px;
      margin-left: -1px;
      margin-right: 0;
      border: 1px solid #eee;
      @media (max-width: 1200px) {
        width: 100%;
        border-right: 1px solid #eee;
        margin-bottom: -1px;
        margin-left: 0;
        box-sizing: border-box;
      }
      &:first-child {
        margin-left: 0;
      }
      & h4 {
        font-family: arial;
        font-size: 13px;
        letter-spacing: 0.05em;
        font-weight: 500;
        display: table-cell;
        padding: 0 19px;
        line-height: 41px;
        -webkit-transition: background 0.3s ease 0s;
        -moz-transition: background 0.3s ease 0s;
        -ms-transition: background 0.3s ease 0s;
        -o-transition: background 0.3s ease 0s;
        transition: background 0.3s ease 0s;
        vertical-align: middle;
        text-transform: uppercase;
        color: #1e1e1e;
        background: #ffffff;
        font-family: "Oswald", Arial, Helvetica, sans-serif;
        text-decoration: none !important;
        @media (max-width: 480px) {
          font-size: 12px;
          padding: 0 15px;
          letter-spacing: 0;
        }
        &:focus {
          outline: none;
        }
      }
      &.ActivePage {
        border-bottom: 1px solid #fff;
        background: #fff;
        position: relative;
        z-index: 2;
        @media (max-width: 1200px) {
          border: 1px solid #eee;
        }
      }
      &.ActivePage h4 {
        border-top: 0;
        border-bottom: 0;
        background: #fff;
        color: #1e1e1e;
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 999;
          height: 3px;
          left: 0;
          content: "";
          background: #213875;
        }
        @media (max-width: 1200px) {
          background: #fff;
          border-top: 0;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .ExpressCheckoutBlock {
    border: 0;
    p {
      margin-top: 10px;
    }
  }
  .BillingDetails {
    h4 {
      letter-spacing: 0.05em;
      font-weight: 500;
      text-transform: uppercase;
      font-family: Oswald, Arial, Helvetica, sans-serif;
      font-size: 13px;
      color: #2d2d2d;
      background: #fff;
      line-height: 20px;
      padding: 0 0 10px 0;
    }
  }
}

.SuccessMessage,
.ErrorMessage,
.InfoMessage {
  padding: 10px;
  padding-left: 55px;
  font-family: "Arimo", sans-serif;
  font-size: 12px;
}
.TabNav {
  padding-left: 0;
}
.TabNav li a {
  letter-spacing: 0.05em;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2d2d2d;
  background: #fff;
}

.TabNav li.Active a {
  border-top: 2px solid #213875;
  @media (max-width: 768px) {
    border-bottom: 1px solid #eee;
  }
}
.TabContainer {
  background: #fff;
}
div.selector {
  border-radius: 0;
  height: 36px;
  line-height: 36px;
  min-height: 36px !important;
  font-size: 12px;
  max-width: 750px;
}
div.selector select,
div.selector span {
  height: 36px;
  line-height: 34px;
  font-size: 12px;
}
div.selector span {
  @media (max-width: 600px) {
    white-space: normal;
  }
}
#multiAddressForm div.selector {
  @media (max-width: 600px) {
    width: 100%;
    padding-right: 0;
  }
}
#multiAddressForm .General th {
  background: #000;
  color: #fff;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
}
#multiAddressForm .General tr td {
  font-family: "Arimo", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
}

#TabContentAddressSingle .ShippingAddressList .btn,
#multiAddressForm .Submit .btn {
  margin-top: 10px;
  border-radius: 0;
  border: 1px solid #213875;
  padding: 0 25px;
  background: #213875;
  color: #fff;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 44px;
  transition: none;
  text-transform: uppercase;
  &:hover {
    background: #fff;
    border-color: #000;
    color: #000;
  }
}
.Moveable.Panel.ExpressCheckoutBlock {
  border: 0;
  border-top: 0 !important;
}
.Moveable .CartContents.Stylize tfoot .SubTotal td:last-child div {
  padding: 20px 0;
}
.Moveable .CartContents.Stylize tfoot .CheckoutRedeemCoupon td,
.Moveable .CartContents.Stylize tfoot .SubTotal td {
  padding-right: 10px;
}
.ExpressCheckoutContent #CheckoutGuestForm input.Textbox,
.ExpressCheckoutContent #CheckoutGuestForm input[type="text"],
.ExpressCheckoutContent .AccountLogin input.Textbox,
.ExpressCheckoutContent .AccountLogin input[type="text"] {
  border-color: #cbcbcb !important;
}
.Moveable .multiStep + p a {
  padding-bottom: 2px;
  border-bottom: 1px dotted #2d2d2d;
}
.Moveable .ShippingAddressList h4 {
  margin-bottom: 5px;
  line-height: 20px;
}
