@import "theme-reset";

/* Custom Styles */

//Variables
$base-text-color: stencilColor("color-textBase");

//Global

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $base-text-color;
}

::selection {
  background: #fcef9b;
  color: $base-text-color;
}

.btn {
  letter-spacing: 0.15em;
  font-weight: 700;
}
.desktop-call {
  @media (max-width: $screen-md-min) {
    display: none;
  }
}

.mob-call {
  display: none;
  @media (max-width: $screen-md-min) {
    display: block;
  }
}

#InstagramGallery {
  .module-heading {
    & > span {
      background: #e9f6f9;
    }
    &::before {
      border-bottom: 1px solid #213875;
    }
  }
}

//Home Brand Slider
#homeBrands {
  svg {
    fill: #b3b3b3;
    max-width: 190px;
    max-height: 75px;
  }
}

//Header
.banner--top {
  background: #dcf6da;
  color: $color-primary;
  text-align: center;
  padding: 10px 0;
  font-weight: 700;

  p {
    margin: 0;
  }
}

.header-top {
  font-size: fontSize("smallest");
}

.header-bottom {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background: white;
}

//Currency Drop Down
#currency-converter .dropdown-menu-item {
  font-size: fontSize("tiny");
}

//Top Cart
.top-cart > a svg,
#mobile-cart a svg {
  width: 15px;
  height: 21px;
  fill: #5d5d5d !important;
  stroke: none;
  stroke-width: none;
}

.top-cart:hover a svg {
  fill: #5d5d5d !important;
  stroke: none;
}

#mobile-cart a:hover svg {
  fill: white !important;
  stroke: none;
}

//Navigation
.navPages-container nav ul.navPages-list > li > a {
  color: $base-text-color;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.07rem;
}

.navPages-container nav ul.navPages-list > li > .navPage-subMenu,
.navPages-container
  li.hasMegamenu.fullWidth
  > .navPage-subMenu.subMegaMenu.imageTop {
  max-width: 100%;
}

.navPages-container nav ul.navPages-list > li > .navPage-subMenu ul li > a {
  font-size: 14px;
}
.navPages-list {
  display: flex;
  justify-content: space-between;
}

//Product Page
.page-product .page-content {
  padding-top: spacing(double);
  padding-bottom: spacing(double);
}

.tabs-contents {
  padding-top: spacing(double);
  padding-bottom: spacing(double);
}

.productView-thumbnails .productView-thumbnail a img {
  margin: 0 auto;
}

.productView-images .sale-badge {
  left: 15px;
}

#sidebar-toggle a {
  background: $base-text-color;

  &:hover {
    background: #192b5a;
    color: white;
  }
}

//Footer
