// =============================================================================
// Stencil Checkout - Customize the Optimized Single-Page Checkout experience
// =============================================================================
// =============================================================================
//
// IMPORTANT DISCLAIMER
// Please do not nest elements within class selectors, and do not use class selectors other than those given below.
// Future support is guaranteed only if class selectors' structure and naming are left unchanged.
//
// =============================================================================
//
// Header Section
// Background, Logo Position
// -----------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css?family=Arimo:400,400i,500,500i,700,700i|Oswald:400,500,600,700|Open+Sans:400,400i,600,700,700i|Source+Sans+Pro:400,400i");

.optimizedCheckout-header {
  background-color: stencilColor("optimizedCheckout-header-backgroundColor");
  // scss-lint:disable StringQuotes
  background-image: url(stencilImage(
    "optimizedCheckout-backgroundImage",
    "optimizedCheckout-backgroundImage-size"
  ));
  // scss-lint:enable StringQuotes
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //
  // TODO:
  // Configure media query to be 'desktop' breakpoint size
  // -----------------------------------------------------------------------------
  @media (min-width: 801px) {
    text-align: stencilString("optimizedCheckout-logo-position");
  }
}

.checkoutHeader-content {
  padding: 48px 2.7rem 40px;
}

//
// Primary and Secondary Headings
// Text Color & Typography
// .optimizedCheckout-headingPrimary styles top-level headings.
// .optimizedCheckout-headingSecondary styles certain lower-level elements, such as descriptions of cart items.
// -----------------------------------------------------------------------------
.optimizedCheckout-headingPrimary {
  color: stencilColor("optimizedCheckout-headingPrimary-color");
  font-family: stencilFontFamily("optimizedCheckout-headingPrimary-font"), Arial,
    Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}
p {
  font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font");
  strong {
    font-weight: stencilFontWeight("optimizedCheckout-headingSecondary-font");
  }
}
.optimizedCheckout-headingSecondary {
  color: stencilColor("optimizedCheckout-headingSecondary-color");
  font-family: stencilFontFamily("optimizedCheckout-headingPrimary-font"), Arial,
    Helvetica, sans-serif;
  font-weight: 500;
}

legend.form-legend.optimizedCheckout-headingSecondary {
  font-size: 14px;
  letter-spacing: 0.02em;
  font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font");
  color: #213875;
}
.form-checkbox + .form-label::before {
  background-color: #fff;
  border-radius: 0;
  width: 15px;
  height: 15px;
}
.form-checkbox:checked + .form-label::before,
.form-radio:checked + .form-label::before {
  color: #000;
  border-color: #d0d0d0;
  background-color: #fff;
}

//
// Body
// Background & Shipping Method Overlay
// -----------------------------------------------------------------------------
body {
  background-color: stencilColor("optimizedCheckout-body-backgroundColor");
  font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial,
    Helvetica, sans-serif;
}

.optimizedCheckout-overlay {
  background-color: stencilColor("optimizedCheckout-body-backgroundColor");
}

//
// Primary & Secondary Content
// Text Color & Typography
// .optimizedCheckout-contentPrimary styles body text in the Order Summary/Order Confirmation; drop-down-list items; and text that summarizes completed steps.
// .optimizedCheckout-contentSecondary styles check boxes' text labels, and lower-level text in the Order Summary.
// -----------------------------------------------------------------------------
.optimizedCheckout-contentPrimary {
  color: stencilColor("optimizedCheckout-contentPrimary-color");
  font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial,
    Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-contentPrimary-font");
  font-size: 12px;
}

.optimizedCheckout-contentSecondary {
  color: stencilColor("optimizedCheckout-contentSecondary-color");
  font-family: stencilFontFamily("optimizedCheckout-contentSecondary-font"),
    Arial, Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-contentSecondary-font");
}

//
// Primary Button
// Background & Border & Text Color & Typography
// Styles the CONTINUE button for each step, & the final confirmation button.
// -----------------------------------------------------------------------------
.optimizedCheckout-buttonPrimary {
  background-color: stencilColor(
    "optimizedCheckout-buttonPrimary-backgroundColor"
  );
  border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColor");
  border-radius: 0;
  color: stencilColor("optimizedCheckout-buttonPrimary-color");
  font-family: stencilFontFamily("optimizedCheckout-buttonPrimary-font"), Arial,
    Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-buttonPrimary-font");
  height: 36px;
  &:focus,
  &:hover {
    background-color: stencilColor(
      "optimizedCheckout-buttonPrimary-backgroundColorHover"
    );
    border-color: stencilColor(
      "optimizedCheckout-buttonPrimary-borderColorHover"
    );
    color: stencilColor("optimizedCheckout-buttonPrimary-colorHover");
  }
  &:active {
    background-color: stencilColor(
      "optimizedCheckout-buttonPrimary-backgroundColorActive"
    );
    border-color: stencilColor(
      "optimizedCheckout-buttonPrimary-borderColorActive"
    );
    color: stencilColor("optimizedCheckout-buttonPrimary-colorActive");
  }
}

//
// Secondary Button
// Background & Border & Text Color & Typography
// Styles the EDIT button for each step.
// -----------------------------------------------------------------------------
.optimizedCheckout-buttonSecondary {
  background-color: stencilColor(
    "optimizedCheckout-buttonSecondary-backgroundColor"
  );
  border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColor");
  color: stencilColor("optimizedCheckout-buttonSecondary-color");
  font-family: stencilFontFamily("optimizedCheckout-buttonSecondary-font"),
    Arial, Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-buttonSecondary-font");
}

//
// Links
// Text Color & Typography
// -----------------------------------------------------------------------------
a {
  color: stencilColor("optimizedCheckout-link-color");
  font-family: stencilFontFamily("optimizedCheckout-link-font"), Arial,
    Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-link-font");
}

//
// Order Summary (Mobile Drawer & Modal)
// Background Color
// -----------------------------------------------------------------------------
.optimizedCheckout-orderSummary {
  background-color: stencilColor(
    "optimizedCheckout-orderSummary-backgroundColor"
  );
}

//
// Checkout Steps
// Background & Text Color
// Styles the large step-number indicators on the page's left side.
// -----------------------------------------------------------------------------
.optimizedCheckout-step {
  background-color: stencilColor("optimizedCheckout-step-backgroundColor");
  &::before {
    color: stencilColor("optimizedCheckout-step-textColor");
  }
  svg {
    fill: stencilColor("optimizedCheckout-step-textColor");
  }
}

//
// Form Labels
// Text Color
// Styles text labels on form fields.
// -----------------------------------------------------------------------------
.optimizedCheckout-form-label {
  font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial,
    Helvetica, sans-serif;
  color: stencilColor("optimizedCheckout-form-textColor");
  font-size: 12px;
  font-weight: 700;
}

//
// Form Input
// Background & Border Color
// Styles form fields.
// -----------------------------------------------------------------------------
.optimizedCheckout-form-input {
  background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
  border-color: stencilColor("optimizedCheckout-formField-borderColor");
  border-radius: 0;
  padding: 0.5rem 0.75rem 0.5rem;
  font-size: 12px;
  height: 36px;
  font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial,
    Helvetica, sans-serif;
}

//
// Discount Banners
// Background & Text & Icon Color
// Styles discount banners.
// -----------------------------------------------------------------------------
.optimizedCheckout-discountBanner {
  background-color: stencilColor(
    "optimizedCheckout-discountBanner-backgroundColor"
  );
  color: stencilColor("optimizedCheckout-discountBanner-textColor");
  svg {
    fill: stencilColor("optimizedCheckout-discountBanner-iconColor");
  }
}

/*halothemes styles*/

.ng-checkout-container {
  font-family: stencilFontFamily("optimizedCheckout-step-font"), Arial,
    Helvetica, sans-serif;
}

.form-body {
  & p {
    font-size: 12px;
  }
}
.checkoutHeader-content,
.layout {
  max-width: 1220px;
}
.layout-main {
  padding-top: 22px;
}

@media (min-width: 1261px) {
  .layout-main {
    width: 60%;
    padding-right: 0;
  }
  .layout-cart {
    width: 40%;
  }
}

.stepHeader {
  padding: 1.5rem 0 0.75rem;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  justify-content: space-between;
}

.stepHeader-counter {
  font-size: 18px;
  font-weight: stencilFontWeight("optimizedCheckout-step-font");
  font-family: stencilFontFamily("optimizedCheckout-step-font"), Arial,
    Helvetica, sans-serif;
  width: 36px;
  height: 36px;
}

.stepHeader-counter--complete {
  transform: none;
}

.optimizedCheckout-orderSummary {
  border: 1px solid #d0d0d0;
  border-radius: 0;
  margin-top: 60px;
  & .cart-header {
    background-color: #f7f7f7;
    text-transform: uppercase;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 14px;
  }
  & .cart-section {
    border-top-color: #dddddd;
    padding: 27px 30px;
    & .cart-priceItem {
      font-size: 14px;
      margin-bottom: 1rem;
      font-weight: 600;
      color: #000;
      & .cart-priceItem-value {
        font-weight: 700;
      }
    }
  }
  & .product-title {
    font-weight: 700;
    margin-bottom: 15px;
  }
  .product-price {
    font-weight: 700;
    font-size: 13px;
  }
  .product-option {
    color: #8c8c8c;
  }
}
.checkout-view-content {
  font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial,
    Helvetica, sans-serif;
  .form-select,
  .form-input {
    border-radius: 0;
    height: 36px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}
.checkout-address {
  margin-left: -15px;
  margin-right: -15px;
}
.checkout-address .dynamic-form-addressState,
.checkout-address .dynamic-form-field {
  padding: 0 15px;
}
.dynamic-form-field.dynamic-form-field--postCode,
.dynamic-form-field.dynamic-form-field--phone {
  flex-basis: 50%;
}
.checkout-form {
  margin-top: 0;
}

.stepHeader-body {
  color: #5a5a5a;
  font-size: 12px;
  order: 3;
  margin-left: 56px;
}

.checkout-address--static .address-entry {
  font-size: 12px;
  line-height: 20px;
}

a.cart-header-link {
  font-size: 11px;
  color: #000000;
  font-weight: 700;
  line-height: 16px;
  border-bottom: 1px dotted #213875;
  letter-spacing: 0.05em;
  display: inline-block;
  &:hover {
    color: #000000;
  }
}

.product-price--beforeDiscount {
  color: #8c8c8c;
  font-style: italic;
  font-size: 13px;
}

.product-price.ng-binding.ng-scope {
  font-weight: 700;
}

a.redeemable-label {
  color: #2255a4;
  display: block;
  padding-top: 0px;
}

.cart-priceItem--total {
  & .cart-priceItem-label {
    font-size: 18px;
    color: #000;
  }
  & .cart-priceItem-value {
    font-size: 20px;
    color: #000;
  }
}

.optimizedCheckout-orderSummary .cart-section .cart-priceItem--total {
  margin-bottom: 2px;
}

.form-prefixPostfix .button {
  height: 36px;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #000;
  color: #fff;
  border-color: #000;
  font-family: stencilFontFamily("optimizedCheckout-headingPrimary-font"), Arial,
    Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-headingPrimary-font");
}

.button.button--primary {
  background-color: stencilColor(
    "optimizedCheckout-buttonPrimary-backgroundColor"
  );
  border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColor");
  border-radius: 0;
  color: stencilColor("optimizedCheckout-buttonPrimary-color");
  font-family: stencilFontFamily("optimizedCheckout-buttonPrimary-font"), Arial,
    Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-buttonPrimary-font");
  height: 36px;
  padding-top: 0;
  padding-bottom: 0;
  &:focus,
  &:hover {
    background-color: stencilColor(
      "optimizedCheckout-buttonPrimary-backgroundColorHover"
    );
    border-color: stencilColor(
      "optimizedCheckout-buttonPrimary-borderColorHover"
    );
    color: stencilColor("optimizedCheckout-buttonPrimary-colorHover");
  }
  &:active {
    background-color: stencilColor(
      "optimizedCheckout-buttonPrimary-backgroundColorActive"
    );
    border-color: stencilColor(
      "optimizedCheckout-buttonPrimary-borderColorActive"
    );
    color: stencilColor("optimizedCheckout-buttonPrimary-colorActive");
  }
}

.dropdown-toggle--select {
  min-height: 36px;
  border-radius: 0;
  padding: 0.8rem 1rem;
  font-size: 12px;
  font-family: stencilFontFamily("optimizedCheckout-contentSecondary-font");
}

.form-select {
  font-family: stencilFontFamily("optimizedCheckout-contentSecondary-font");
}

a#checkout-customer-login {
  color: #213875;
  border-bottom: 1px dotted #213875;
  &:hover {
    color: #213875;
    border-color: #213875;
  }
}

.form-inlineMessage {
  font-size: 12px;
}

.customerView-actions > button {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-color: #000;
  border-radius: 0px;
  padding: 7px 13px;
  color: #000;
  &:hover {
    border-color: #000;
    color: #000;
  }
}

.stepHeader-actions .button {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-color: #000;
  border-radius: 0px;
  padding: 7px 13px;
  color: #000;
}
.form-field {
  margin-bottom: 21px;
}
.form-label {
  margin-bottom: 11px;
  small {
    font-size: 12px;
    color: #969696;
  }
}

.form-checklist {
  border-radius: 0 !important;
}
#checkout-shipping-continue,
#checkout-billing-continue {
  width: 134px;
}
.shippingOption {
  font-size: 14px;
}

.form-checklist-checkbox ~ .form-label {
  min-height: 50px;
  padding: 0.6rem 2.25rem 0.5rem 4.5rem;
  margin: 0;
}

.optimizedCheckout-form-input#order-comments {
  height: 80px;
}

#checkout-payment-continue {
  background-color: #213875;
  border-color: #213875;
  height: 52px;
  letter-spacing: 0.1em;
  font-size: 16px;
  &:hover {
    background-color: #fff;
    border-color: #000;
  }
}

a[data-test="forgot-password-link"] {
  font-size: 12px;
  display: inline-block;
  margin-top: 15px;
}

#checkout-customer-continue {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  letter-spacing: 0.05em;
}

#checkout-customer-cancel {
  line-height: 35px;
  display: inline-block;
  vertical-align: middle;
  background-color: stencilColor(
    "optimizedCheckout-buttonSecondary-backgroundColor"
  );
  border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColor");
  border-radius: 0;
  color: stencilColor("optimizedCheckout-buttonSecondary-color");
  font-family: stencilFontFamily("optimizedCheckout-buttonSecondary-font"),
    Arial, Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-buttonSecondary-font");
  height: 36px;
  padding-top: 0;
  padding-bottom: 0;
  &:focus,
  &:hover {
    background-color: stencilColor(
      "optimizedCheckout-buttonSecondary-backgroundColorHover"
    );
    border-color: stencilColor(
      "optimizedCheckout-buttonSecondary-borderColorHover"
    );
    color: stencilColor("optimizedCheckout-buttonSecondary-colorHover");
  }
  &:active {
    background-color: stencilColor(
      "optimizedCheckout-buttonSecondary-backgroundColorActive"
    );
    border-color: stencilColor(
      "optimizedCheckout-buttonSecondary-borderColorActive"
    );
    color: stencilColor("optimizedCheckout-buttonSecondary-colorActive");
  }
}

.cart-item.product {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@media (min-width: 551px) {
  .customerEmail-action {
    margin-top: 29px;
  }
}
@media (min-width: 801px) {
  .checkout-steps {
    padding-right: 0;
  }
}
