{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
    <div class="row">
        <div class="account">
            <h2 class="page-heading">{{lang 'account.recent_items.heading' }}</h2>
            {{> components/account/navigation account_page='recent_items'}}

            {{#unless customer.recently_viewed_products.items}}
                {{> components/common/alert-info (lang 'account.recent_items.no_items')}}
            {{/unless}}

            <form action="{{urls.compare}}" method="post">
                {{> components/products/grid products=customer.recently_viewed_products.items show_compare=customer.recently_viewed_products.show_compare columns=5}}
                <div class="product-pagination bottom">

                    <div class="compare-link">
                        <a class="btn btn-alt" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}}<span class="countPill countPill--positive countPill--alt"></span></a>
                    </div>

                </div>

           </form>

        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
