{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
  <div class="row">
    <h1 class="page-heading">{{lang 'account.returns.heading' }}</h1>
    {{> components/account/navigation account_page='returns'}}

    <main class="account account--fixed">
     <div class="account-body">
         <section class="account-content">
             {{#if customer.returns}}
                 {{> components/account/returns-list returns=customer.returns}}
             {{else}}
                 {{> components/common/alert-info (lang 'account.returns.none')}}
             {{/if}}
         </section>
     </div>
    </main>
   </div>
</div>
{{/partial}}
{{> layout/base}}
