{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
	<div class="row">
	{{#if settings.show_wishlist}}
	    <div class="account account--fixedLarge">
	        <h2 class="page-heading">{{lang 'account.wishlists.heading' }}</h2>
	        {{> components/account/navigation account_page='wishlists'}}
	        {{> components/account/wishlist-list}}
	    </div>
	{{/if}}
	</div>
</div>
{{/partial}}
{{> layout/base}}
