{{#partial "page"}}
{{#if wishlist.is_editable}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{/if}}
<div class="container">
    <div class="row">
        <div class="account">

            {{#if wishlist.is_editable}}
                {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            {{/if}}
            <h2 class="page-heading">{{lang 'account.wishlists.view_heading' name=wishlist.name}}</h2>
            {{#if wishlist.is_editable}}
                {{> components/account/navigation account_page='wishlists'}}
            {{/if}}

            {{#if wishlist.is_editable}}
                {{#if wishlist.is_public '>' 0}}
                    <div class="panel share-wishlist">
                        <div class="panel-body">
                            <h5>{{lang 'account.wishlists.share_intro'}}</h5>
                            <input class="form-input" value="{{settings.base_url}}{{wishlist.share_url}}" readonly>
                        </div>
                    </div>
                {{/if}}
            {{/if}}

            {{#if wishlist.items}}
                {{> components/account/wishlist-item-list show_remove=wishlist.is_editable}}
            {{else}}
                {{> components/common/alert-info (lang 'account.wishlists.empty_wishlist')}}
            {{/if}}

        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
