<div id="category-special-slider" class="wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="category-special-content">
            <h3 class="special-title">Special Offers</h3>
            <p class="special-desc">Suspendisse de nunc egestas metus imperdiet menenatis an risus. Duis pellentesque libero mulputate mollis risus</p>
            <div class="owl-carousel" data-owl='{
                "items": 4,
                "nav": false,
                "margin": 20,
                "dots": true,
                "slideBy": 2,
                "autoPlay": true,
                "slideSpeed" : 200,
                "paginationSpeed": 800,
                "responsive": {
                  "0": {
                  "items": 1,
                  "slideBy": 1
                   },
                   "420": {
                      "items": 1,
                      "slideBy": 1
                   },
                   "560": {
                      "items": 1,
                      "slideBy": 1
                   },
                   "768": {
                      "items": 1,
                      "slideBy": 1
                   },
                   "992": {
                      "items": 1,
                      "slideBy": 1
                   },
                    "1024": {
                      "items": 2,
                      "slideBy": 2
                   },
                   "1200": {
                      "items": 2,
                      "slideBy": 2
                   }
                },
                "responsiveRefreshRate": 0
             }'>
                <a href="#placeholder_link" title="clearance"><img src="/product_images/uploaded_images/category-custom-slider-01.jpg" alt="clearance" /></a>
                <a href="#placeholder_link" title="sale off"><img src="/product_images/uploaded_images/category-custom-slider-02.jpg" alt="sale off" /></a>
                <a href="#placeholder_link" title="clearance"><img src="/product_images/uploaded_images/category-custom-slider-01.jpg" alt="clearance" /></a>
                <a href="#placeholder_link" title="sale off"><img src="/product_images/uploaded_images/category-custom-slider-02.jpg" alt="sale off" /></a>
            </div>
        </div>    
      </div>
    </div>
</div>
