<div class="storeLocation">
   <h3>Store location</h3>
   <div class="store-address">{{nl2br settings.address}}</div>
   <div class="store-email"><a href="mailto:support@halothemes.com">support@halothemes.com</a></div>
   <div class="store-phone">Phone: <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a></div>
   <label>Opening Hours:</label>
   <div class="item1">Monday to Saturday: 9am - 10pm</div>
   <div class="item2">Sundays: 10am - 6pm</div>
</div>
