<!-- @HaloMegaMenu Library -->
<script src="{{cdn '/assets/js/theme/halothemes/haloMegaMenu.js'}}" defer></script>

<script>
jQuery(document).ready(function($) {
    /* Megamenu Settings */
    /*LINGERIE */
    menuItem(1).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        cateAreaWidth: '75.1%',     // width of categories area
        imageAreaWidth: '24.9%',    // width of images area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<a href="#placeholder_link" title="cosmopolis"><img src="/product_images/uploaded_images/megamenu1.jpg" alt="megamenu1"/></a>'
    });

    /* SOIRÉE*/
      menuItem(2).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageTop',     // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',     // width of images area
        cateAreaWidth: '100%',    // width of categories area
        cateColumns: 4,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        imagesTop: ['<a href="#placeholder_link" title="medou+co"><img src="/product_images/uploaded_images/megamenu2-01.jpg" alt="megamenu2-01"/></a>',
            '<a href="#placeholder_link" title="klorse"><img src="/product_images/uploaded_images/megamenu2-02.jpg" alt="megamenu2-02"/></a>',
            '<a href="#placeholder_link" title="loremous"><img src="/product_images/uploaded_images/megamenu2-03.jpg" alt="megamenu2-03"/></a>',
            '<a href="#placeholder_link" title="fermends"><img src="/product_images/uploaded_images/megamenu2-04.jpg" alt="megamenu2-04"/></a>'
        ]
    });
    /* BRIDAL*/
     menuItem(3).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '41%',    // width of images area
        cateAreaWidth: '59%',     // width of categories area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<div class="full-mega-img">\
                   <a href="#placeholder_link" title=""><img src="../product_images/uploaded_images/megamenu3-01.jpg" alt="megamenu3-01"/></a>\
               </div>\
               <div class="half-mega-img">\
                   <a href="#placeholder_link" title="" class="col-left"><img src="/product_images/uploaded_images/megamenu3-02.jpg" alt="megamenu3-02"/></a>\
                   <a href="#placeholder_link" title="" class="col-right"><img src="/product_images/uploaded_images/megamenu3-03.jpg" alt="megamenu3-03"/></a>\
               </div>'
    });
    /* NIGHTWARE*/
    menuItem(4).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        cateAreaWidth: '80.5%',     // width of categories area
        imageAreaWidth: '19.5%',    // width of images area
        cateColumns: 4,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<a href="#placeholder_link" title="dorisus"><img src="/product_images/uploaded_images/megamenu4.jpg" alt="megamenu4"/></a>'
    });

});
</script>


