<div id="homeBottomBanners" class="module-wrapper wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- <div class="home-heading-wrap">
                <h2 class="module-heading"><span>Popular Categories</span></h2>
                <p class="sub-module-heading">Naminos elementum risus cras damos dinciduntues de loremous</p>
            </div> -->


            <!-- Begin Three Left Banners -->
            <div class="banner">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6 banner-item wow fadeIn" data-wow-delay="100ms">
                            <a title="Dapibus" href="#placeholder_link">
                                <img src="/product_images/uploaded_images/bottom-banner-image1.jpg" alt="Dapibus" />
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 banner-item wow fadeIn" data-wow-delay="100ms">
                            <a title="Phasellus" href="#placeholder_link">
                                <img src="/product_images/uploaded_images/bottom-banner-image2.jpg" alt="Phasellus" />
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 banner-item wow fadeIn" data-wow-delay="100ms">
                            <a title="Sodales" href="#placeholder_link">
                                <img src="/product_images/uploaded_images/bottom-banner-image3.jpg" alt="Sodales" />
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Three Banners -->
                <!-- Begin two Banners -->
                <!-- <div class="col-md-6 col-sm-6 col-xs-12 banner-item wow fadeIn" data-wow-delay="200ms">
                    <a title="Milancelos" href="#placeholder_link">
                        <img src="/product_images/uploaded_images/bottom-banner-image4.jpg" alt="Milancelos" />
                        <div class="banner-content middle">
                            <h5 class="banner-title">Milancelos</h5>
                            <p class="banner-info">Nullam porttitor massa at venenatis sollicitudin</p>
                        </div>
                        <div class="bottom-text">
                            <h3>Proin ullamcorper nullas</h3>
                        </div>
                    </a>
                    <h2 class="bottom-banner-title">Nullam dapibus liberos an Milancelos doros pretium ultricies</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 banner-item wow fadeIn" data-wow-delay="200ms">
                    <a title="Cosmopolis" href="#placeholder_link">
                        <img src="/product_images/uploaded_images/bottom-banner-image5.jpg" alt="Cosmopolis" />
                        <div class="banner-content middle">
                            <h5 class="banner-title">Cosmopolis</h5>
                            <p class="banner-info">Nullam porttitor massa at venenatis sollicitudin</p>
                        </div>
                        <div class="bottom-text">
                            <h3>Proin ullamcorper nullas</h3>
                        </div>
                    </a>
                    <h2 class="bottom-banner-title">Nullam dapibus liberos an Milancelos doros pretium ultricies</h2>
                </div> -->
                <!-- End two Banners -->
            </div>
        </div>
    </div>
</div>
