<div id="home-about-us">
	<div class="container">
		<div class="row">
			<div class="home-heading-wrap">
				<h2 class="module-heading"><span>About Solera</span></h2>
			</div>
			<div class="home-about-us-content">
			    <p class="content-text">Pellentesque scelerisque eget lectus vitae congue. Phasellus ut laoreet purus. Proin accumsan commodo venenatis. Nunc nec vestibulum nisl, sit amet tristique libero. Nulla cursus hendrerit facilisis. Duis mattis sit amet neque et condimentum aliquam erat volutpat. Nam scelerisque ipsum accumsan lorem placerat dignissim. Mauris consectetur ligula sed mauris condimentum convallis.</p>
			    <div class="black-icons">
			        {{> components/common/social-links}}
			    </div>
		    </div>
	    </div>
	</div>
</div>
