<div id="homeBrands" class="wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="owl-carousel" data-owl='{
            "items": 2,
            "nav": true,
            "margin": 30,
            "dots": false,
            "slideBy": 1,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "420": {
                  "items": 2,
                  "slideBy": 1
               },
               "560": {
                  "items": 3,
                  "slideBy": 1
               },
               "768": {
                  "items": 4,
                  "slideBy": 1
               },
               "992": {
                  "items": 4,
                  "slideBy": 1
               },
               "1200": {
                  "items": 5,
                  "slideBy": 1
               }
            },
            "responsiveRefreshRate": 0
         }'>
            <a href="#placeholder_link" title="Britax"><svg><use xlink:href="#icon-britax-vector-logo"/></svg></a>
            <a href="#placeholder_link" title="Chicco"><svg><use xlink:href="#icon-chicco-logo"/></svg></a>
            <a href="#placeholder_link" title="Huggies"><svg><use xlink:href="#icon-huggies-logo"/></svg></a>
            <a href="#placeholder_link" title="Lego"><svg><use xlink:href="#icon-lego-logo"/></svg></a>
            <a href="#placeholder_link" title="Philips Avent"><svg><use xlink:href="#icon-philips-avent-logo"/></svg></a>
            <a href="#placeholder_link" title="Britax"><svg><use xlink:href="#icon-britax-vector-logo"/></svg></a>
            <a href="#placeholder_link" title="Chicco"><svg><use xlink:href="#icon-chicco-logo"/></svg></a>
            <a href="#placeholder_link" title="Huggies"><svg><use xlink:href="#icon-huggies-logo"/></svg></a>
            <a href="#placeholder_link" title="Lego"><svg><use xlink:href="#icon-lego-logo"/></svg></a>
            <a href="#placeholder_link" title="Philips Avent"><svg><use xlink:href="#icon-philips-avent-logo"/></svg></a>
        </div>
      </div>
    </div>
</div>
