<div id="InstagramGallery" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="home-heading-wrap">
                <h2 class="module-heading"><span>Solera On Instagram</span></h2>
                <p class="sub-module-heading">Phasellus lorem malesuada ligula pulvinar commodo maecenas suscipit auctom.</p>
            </div>
            <div id="instafeed" class="owl-carousel"
            data-userid="5780376497"
            data-accesstoken="5780376497.1677ed0.11cfcd4d87ad493691576926a9a47dcc"></div>
            <a href="https://www.instagram.com/solera.halothemes/" target="_blank" class="btn btn-primary insta-btn"><span>Follow us on Instagram</span></a>
        </div>
    </div>
</div>
