<!-- Begin Top Banner -->
<div id="homeTopBanner">
    <div class="container">
        <div class="row">
            <div class="banner">
                <div class="col-md-4 col-sm-4 col-xs-6 banner-item wow fadeIn" data-wow-delay="200ms">
                    <a title="Panties" href="#placeholder_link">
                        <img src="/product_images/uploaded_images/top-banner-image2.jpg" alt="Panties" />
                        <!-- <div class="banner-content odd-color">
                            <h5 class="banner-title">Panties</h5>
                            <p class="banner-info">Damos dinciduntues de loremous</p>
                        </div> -->
                    </a>
                    <a title="Nightwear" href="#placeholder_link">
                        <img src="/product_images/uploaded_images/top-banner-image3.jpg" alt="Nightwear" />
                        <!-- <div class="banner-content">
                            <h5 class="banner-title">Nightwear</h5>
                            <p class="banner-info">Damos dinciduntues de loremous</p>
                        </div> -->
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 banner-item wow fadeIn" data-wow-delay="100ms">
                    <a title="Lingerie" href="#placeholder_link">
                        <img src="/product_images/uploaded_images/top-banner-image1.jpg" alt="Lingerie" />
                        <!-- <div class="banner-content middle">
                            <h6 class="rank-kind">Luxury</h6>
                            <h5 class="banner-title">Lingerie   </h5>
                            <p class="banner-info">Damos dinciduntues de loremous cosmopolis</p>
                        </div> -->
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 banner-item last wow fadeIn" data-wow-delay="300ms">
                    <a title="Kimono" href="#placeholder_link">
                        <img src="/product_images/uploaded_images/top-banner-image4.jpg" alt="Kimono" />
                        <!-- <div class="banner-content">
                            <h5 class="banner-title">Kimono</h5>
                            <p class="banner-info">Damos dinciduntues de loremous</p>
                        </div> -->
                    </a>
                    <a title="Classic" href="#placeholder_link">
                        <img src="/product_images/uploaded_images/top-banner-image5.jpg" alt="Classic" />
                        <!-- <div class="banner-content">
                            <h5 class="banner-title">Classic</h5>
                            <p class="banner-info">Damos dinciduntues de loremous </p>
                        </div> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Top Banner -->
