<div class="sidebarBlock" id="sideAllCategories">
    <h5 class="side-module-heading first"><span>Categories</span></h5>
    {{#if categories}}
    <ul class="all-categories-list">
        {{#each categories}}
        <li class="navPages-item">
            {{#if children}}
            <i class="fa fa-angle-down"></i>
            <a class="navPages-action has-subMenu" href="{{url}}">
                {{name}}
            </a>
            <ul class="dropdown-category-list" id="navPages-level-2">
                {{#each children}}
                    <li class="navPage-subMenu-item">
                        {{#if children}}
                            <i class="fa fa-angle-down"></i>
                            <a class="navPage-subMenu-action navPages-action has-subMenu" href="{{url}}">
                                {{name}}
                            </a>
                            <ul class="dropdown-category-list" id="navPages-level-3">
                                {{#each children}}
                                <li class="navPage-childList-item">
                                    <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        {{else}}
                            <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
            {{else}}
            <a class="navPages-action" href="{{url}}">{{name}}</a>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div>
