<div id="sideBannerImage" class="sidebarBlock">
    <a href="#placeholder_link" title="Left Side Banner"><img src="/product_images/uploaded_images/left-banner-image.jpg" alt="Left Side Banner"></a>
</div>
<div id="sideCustomCMS" class="sidebarBlock">
    <h5 class="side-module-heading"><span>Custom CMS Block</span></h5>
    <div class="side-cms-content">
        <p>Custom CMS block displayed at the left sidebar on the Catalog Page. Put your own content here: text, html, images, media... whatever you like.</p>
        <p>There are many similar sample content placeholders across the store. All editable from Theme Editor.</p>
    </div>
</div>

