// =============================================================================
// NAV (CSS)
// =============================================================================
// Citadel inline messages
// -----------------------------------------------------------------------------
//
// 1. Remove the margin-left we add to default lists.
//
// -----------------------------------------------------------------------------
.navList,
.navBar {
  margin-left: 0; // 1
}

.navList-action,
.navBar-action {
  text-decoration: none;
  font-size: fontSize("base");
}

.navList-action.is-active {
  font-weight: $navList-action-fontWeight--active;
}

// NavList action checkbox
// -----------------------------------------------------------------------------
//
// Purpose: Display a checkbox next to an actionable link, without actually using
// a checkbox element.
//
// 1. Position checkbox so it is vertically centered
//
// -----------------------------------------------------------------------------
.navList-action--checkbox {
  @include checkRadioBase();
  @include checkBox-base();
  &:before,
  &:after {
    top: 50%; // 1
  }
  &:before {
    margin-top: -$checkRadio-outerSize / 2;
  }
  &:after {
    margin-top: -$checkRadio-outerSize / 2 + remCalc(1);
  }
  &:focus {
    @include checkRadioBase--focus();
  }
  &.is-disabled {
    @include checkRadioBase--disabled();
  }
  &.is-checked,
  &.is-selected {
    @include checkRadioBase--checked();
  }
}

// NavList action close
// -----------------------------------------------------------------------------
//
.navList-action-close {
  background: $navList-action-close-background;
  border-radius: $navList-action-close-borderRadius;
  display: inline-block;
  float: right;
  line-height: 0;
  opacity: 0;
  padding: $navList-action-close-padding;
  transition: $navList-action-close-transition;
  visibility: hidden;
  .icon {
    @include square($navList-action-close-iconSize);
    fill: stencilColor("color-textLink");
  }
  .navList-action.is-selected:hover & {
    opacity: 1;
    visibility: visible;
  }
}

// Page Subnavigation
// -----------------------------------------------------------------------------
nav.navBar--sub {
  display: block;
}

nav.navBar--sub ul.navBar-section {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  border: 0;
  width: 100%;
  @media (max-width: 1024px) {
    border-bottom: 1px solid #eeeeee;
  }
  &::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    content: "";
    background: #eeeeee;
  }
  & li.navBar-item {
    position: relative;
    z-index: 1;
    display: table;
    float: left;
    height: 42px;
    margin-left: -1px;
    border: 0;
    &:first-child {
      margin-left: 0;
    }
    & a {
      font-family: $fontFamily-headings;
      font-size: 14px;
      font-weight: 600;
      display: block;
      display: table-cell;
      padding: 0 30px;
      -webkit-transition: background 0.3s ease 0s;
      -moz-transition: background 0.3s ease 0s;
      -ms-transition: background 0.3s ease 0s;
      -o-transition: background 0.3s ease 0s;
      transition: background 0.3s ease 0s;
      vertical-align: middle;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #1e1e1e;
      border: 1px solid #eeeeee;
      background: #fff;
      text-decoration: none !important;
      @media (max-width: 1200px) {
        padding: 0 20px;
      }
    }

    &.is-active a {
      border-top: 2px solid #213875;
      border-bottom-color: #fff;
      background: #fff;
    }
  }
}

nav.navBar--sub ~ main {
  & h3 {
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-bottom: 1.5rem;
    margin-top: 0;
    text-transform: uppercase;
  }
  & h2 {
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 0;
    text-transform: uppercase;
  }
  li {
    margin-bottom: 7px;
  }
}

@media (max-width: 991px) {
  nav.navBar--sub ul.navBar-section.account-navigation {
    display: flex;
    flex-wrap: wrap;
    & li.navBar-item {
      width: 100%;
      margin-left: 0;
      margin-bottom: -1px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  nav.navBar--sub.navBar--account ul.navBar-section {
    display: flex;
    flex-wrap: wrap;
    & li.navBar-item {
      width: 33.33%;
      margin-bottom: -1px;

      @media (max-width: 1024px) {
        width: 100%;
        margin-left: 0;
        &:nth-child(4),
        &:nth-child(5) {
          margin-bottom: -1px;
        }
      }
    }
  }
}
.form-prefixPostfix .form-input,
.form-prefixPostfix .button {
  display: inline-block;
  width: calc(100% - 150px);
  float: left;
}
.form-prefixPostfix-button--postfix {
  margin: 0 0 0 14px;
}
