<div class="facetedSearch-refineFilters sidebarBlock">
    <h5 class="side-module-heading">
        <span>{{lang 'search.faceted.selected.title'}}</span>
    </h5>

    {{#if this.items}}
        <ul class="inlineList inlineList--labels">
            {{#each this.items}}
                <li>
                    <a
                        href="{{ url }}"
                        class="facetLabel"
                        rel="nofollow"
                        data-faceted-search-facet>
                        {{#if facet '===' 'rating'}}
                            {{lang 'search.faceted.selected.rating-label' rating=title}}
                        {{else}}
                            {{ title }}
                        {{/if}}

                        <svg class="icon">
                            <use xlink:href="#icon-close" />
                        </svg>
                    </a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <div class="alert alert-warning text-center">{{lang 'search.faceted.selected.no-filters'}}</div>
    {{/if}}

    {{#if remove_all_url}}
        <a class="btn black-btn btn-block" href="{{ remove_all_url }}" data-faceted-search-facet>
            {{lang 'search.faceted.selected.clear-all'}}
        </a>
    {{/if}}
</div>
