// =============================================================================
// Shop By Category (CSS)
// =============================================================================
//
// 1.
// 2.
//
// -----------------------------------------------------------------------------
.shopByCategory {
  //reset
  a {
    text-decoration: none;
  }

  display: none;

  @include breakpoint("large") {
    display: block;
  }
}

.shopByCategory-headerContainer {
  text-align: center;
}

.shopByCategory-header {
  // @include u-altText();
  text-transform: none;
  font-weight: normal;
}

.shopByCategory-categoryList {
  @include u-listReset;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.shopByCategory-categoryList-column {
  width: grid-calc(5, $total-columns);
  margin-right: spacing(double) !important;

  &:last-child {
    margin-right: 0 !important;
  }
}

.shopByCategory-categoryList-column-children {
  @include u-listReset;
}
