<div class="cart-total-value">

    <button class="coupon-code-add"><span>{{lang 'cart.coupons.add_coupon'}}</span></button>

    <button class="coupon-code-cancel" style="display: none;"><span>{{lang 'cart.coupons.cancel'}}</span></button>
</div>

<div class="cart-form coupon-code" style="display: none;">
    <form class="form form--hiddenLabels coupon-form" method="post" action="{{urls.cart}}">
        <label class="form-label" for="couponcode">{{lang 'cart.coupons.coupon_code'}}</label>
        <input class="form-input" data-error="{{lang 'cart.coupons.empty_error'}}"  id="couponcode" type="text" name="couponcode" value="" placeholder="{{lang 'cart.coupons.coupon_code'}}">
        <input class="btn black-btn" type="submit" value="{{lang 'cart.coupons.button'}}">
        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
