<div class="ctaBanner-wrapper">
    <div class="container">
        <section class="ctaBanner">
            <div class="ctaBanner-cta"><svg class="icon"><use xlink:href="#icon-tick" /></svg> 6 Months Interest Free</div>
            <div class="ctaBanner-cta"><svg class="icon"><use xlink:href="#icon-credit-card" /></svg> Split Payments</div>
            <div class="ctaBanner-cta"><svg class="icon"><use xlink:href="#icon-click" /></svg> Click &amp; Collect</div>
            <div class="ctaBanner-cta"><svg class="icon"><use xlink:href="#icon-shipping" /></svg>  Free Shipping Over $100</div>
        </section>
    </div>
</div>
