<section class="shopByCategory module-wrapper">
    <div class="container">
        <div class="row">
            <div class="home-heading-wrap">
                <h2 class="module-heading"><span>Popular Categories</span></h2>
                <p class="sub-module-heading">Naminos elementum risus cras damos dinciduntues de loremous</p>
            </div>
            <div class="shopByCategory-categories">
                <ul class="shopByCategory-categoryList">
                    {{#each categories}}
                        
                            {{#if id '!=' '45'}}
                                {{#if id '!=' '56'}}
                                    {{#if id '!=' '29'}}
                                        {{#if id '!=' '98'}}
                                            <li class="shopByCategory-categoryList-column">
                                                <h5><strong><a href="{{url}}">{{name}}</a></strong></h5>
                                                <ul class="shopByCategory-categoryList-column-children">
                                                    {{#each children}}
                                                    <li> <a href="{{url}}">{{name}}</a></li>
                                                    {{/each}}
                                                </ul>
                                            </li>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                  
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>
