// =============================================================================
// VIDEO GALLERY
// =============================================================================

.videoGallery-main {
    width: 560px;
    display: block;
    margin: 35px auto 40px auto;
    height: 320px;
    padding: 0;
}

.videoGallery-list {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0;
    margin-top: 30px;
}

.videoGallery-item {
    @include grid-column(12);
    display: inline-block;
    float: none;
    vertical-align: top;

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.video {
    @include media;
    display: block;
    margin-bottom: $videoGallery-spacing;
    opacity: 0.4;
    text-decoration: none;
    transition: opacity 100ms ease-out;
    @include breakpoint("medium") {
        margin-bottom: $videoGallery-spacing;
    }

    &:hover,
    &.is-active {
        color: color("greys", "darker");
        opacity: 1;
    }
}

.video-figure {
    margin-right: $videoGallery-spacing;
}

.video-title {
    margin-bottom: 0;
    margin-top: 0;
    text-transform: none;
    line-height: 20px;
    letter-spacing: 0;
    font-size: fontSize("base");
    font-family: $fontFamily-sans;
    font-weight: 700;
}

.video-description {
    font-size: fontSize("base");
    margin-bottom: 0;
}

.videoGallery-main iframe, .videoGallery-main object, .videoGallery-main embed, .videoGallery-main video{
    width: 560px;
    height: 320px;
}
#videoGallery-content .black-btn{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 45px;
    line-height: 43px;
    letter-spacing: 0.05em;
}
