.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  @media (min-width: 1200px) {
    width: 1280px;
  }
  @media (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.container_page {
  margin: 0 auto;
  padding-bottom: 70px;
}

.page-type-default .container_page {
  padding-bottom: 0;
}
.home-heading-wrap {
  display: block;
}
.module-heading {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-family: $fontFamily-headings;
  & > span {
    background: #ffffff;
    padding: 0 25px;
    display: inline-block;
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    height: 1px;
    border-bottom: 1px solid#eee;
  }
}
.sub-module-heading {
  font-family: $fontFamily-main;
  line-height: 20px;
  text-align: center;
  margin: 0;
}
// Breadcrumbs
#breadcrumbs-wrapper {
  background: #f5f5f5;
  padding-top: 12px;
  padding-bottom: 10px;
}
.breadcrumbs {
  margin: 0;
  & .breadcrumb {
    display: inline-block;
    padding-right: 10px;
    font-size: fontSize("base");
    &::before {
      content: "\f105";
      position: relative;
      top: 0px;
      margin: 0 5px 0 0px;
      color: stencilColor("breadcrumb-label-color");
      font-family: Fontawesome;
    }
    &:first-child::before {
      display: none;
    }
    & a {
      border-bottom: 1px solid transparent;
    }
    & a:hover {
      border-color: stencilColor("breadcrumb-label-color-hover");
    }
    & .breadcrumb-label {
      color: stencilColor("breadcrumb-label-color");
      &:hover {
        color: stencilColor("breadcrumb-label-color-hover");
      }
      &.is-active {
        color: stencilColor("breadcrumb-label-color-active");
      }
    }
  }
}

.TitleHeading {
  padding: 0;
  font-family: $fontFamily-headings;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  color: #1e1e1e;
  text-transform: uppercase;
  margin: 0 0 26px;
  text-align: center;
}

.page-heading {
  margin: 27px 0 44px;
  font-family: $fontFamily-headings;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  color: #1e1e1e;
  text-transform: uppercase;
}

/*Account Created Heading Title Spacing - Fixed*/

[data-page-no-breadcrumb] .page-heading {
  margin-top: 27px;
}

.category-image {
  padding-bottom: 26px;
}

.category-description {
  padding-bottom: 34px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 30px;
  & .txtCont {
    display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0 12%;
    width: 100%;
    font-family: $fontFamily-main;
    font-size: 12px;
    letter-spacing: $letterSpacing-smaller;
    text-align: center;
    line-height: 20px;
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}
.category-toolbar {
  display: inline-block;
  width: 100%;
  clear: both;
  float: none;
}
//View Mode Buttons (GRID/LIST)
.view-mode-btn {
  display: inline-block;
  width: 47%;
  float: left;
  @media (max-width: 480px) {
    width: 100%;
  }
}
.view-as {
  margin: 10px 20px 0 0;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  float: left;
}
.view-mode-btn a,
.view-mode-btn a:hover,
.view-mode-btn a:active,
.view-mode-btn a:focus {
  display: inline;
  position: relative;
  margin-right: 0;
  margin-left: 0;
  padding-top: 10px;
  float: left;
  height: 36px;
  color: rgba(0, 0, 0, 0.41);
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #d1d1d1;
}

.view-mode-btn a > div {
  width: 36px;
}

.view-mode-btn a.current-view {
  cursor: default;
  color: rgba(0, 0, 0, 1);
}

.view-mode-btn a .icon-bar {
  position: relative;
  top: -1px;
  margin: 1px auto 0 auto;
  width: 14px;
  height: 4px;
  background: #232323;
  @include opacity(0.4);
  @include transition(all 0.15s ease);
}

.view-mode-btn a#grid-view {
  border-right: 0;
}

.view-mode-btn a#grid-view .icon-bar {
  width: 4px;
}

.view-mode-btn a#grid-view .icon-bar:before,
.view-mode-btn a#grid-view .icon-bar:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  background: #232323;
  @include transition(all 0.15s ease);
}

.view-mode-btn a#grid-view .icon-bar:before {
  left: -5px;
}

.view-mode-btn a#grid-view .icon-bar:after {
  right: -5px;
}

.view-mode-btn a.current-view .icon-bar {
  @include opacity(1);
}

.actionBar[data-sort-by] {
  margin: 0;
  width: 53%;
  float: right;
  text-align: right;
  & fieldset {
    float: none;
  }
  & .form-field {
    margin: 0;
  }
  & label {
    display: inline-block;
    position: relative;
    top: 0;
    margin-right: 11px;
    font-family: $fontFamily-main;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 600px) {
      width: 56px;
    }
  }
  & select {
    display: inline-block;
    max-width: 220px;
    background-color: #fff;
    @media (max-width: 767px) {
      max-width: 160px;
    }
    @media (max-width: 600px) {
      max-width: 200px;
    }
  }
  @media (max-width: 600px) {
    padding-top: 10px;
    width: 100%;
    clear: both;
    float: none;
    text-align: left;
  }
}

.showMoreProduct {
  margin-top: 25px;
  .btn.btn-alt {
    border: 1px solid #213875 !important;
    width: 260px;
    height: 42px;
    line-height: 38px;
    font-weight: 500;
    color: #213875;
    &:hover {
      background: #213875;
      border-color: #213875;
      color: #fff;
    }
  }
}
//Home Brand Slider
#homeBrands {
  padding: spacing(double);
  @media (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
#homeBrands .container {
  @media (max-width: 991px) {
    padding: 0 55px;
  }
  .owl-nav .owl-prev {
    left: -37px;
    right: auto;
  }
  .owl-nav .owl-next {
    right: -37px;
    left: auto;
  }
  @media (max-width: 1024px) {
    .owl-nav .owl-prev {
      left: -20px;
    }
    .owl-nav .owl-next {
      right: -20px;
    }
  }
  @media (max-width: 1024px) {
    .owl-nav .owl-prev {
      left: -37px;
    }
    .owl-nav .owl-next {
      right: -37px;
    }
  }

  @media (max-width: 767px) {
    .owl-nav .owl-prev {
      left: -28px;
    }

    .owl-nav .owl-next {
      right: -28px;
      left: auto;
    }
  }
}
#homeBrands .owl-carousel {
  margin: 0;
  padding: 0;
  list-style: none;
}

#homeBrands .owl-carousel .owl-item a {
  display: block;
  text-align: center;
}
#homeBrands .owl-carousel .owl-item img {
  display: inline-block;
}
#homeBrands .owl-carousel .owl-item:hover img {
  @include opacity(0.2);
}
#homeBrands .owl-carousel .owl-item,
#homeBrands .owl-nav > div {
  border: transparent;
}

#home-about-us {
  text-align: center;
  padding-bottom: 7px;
  .home-about-us-content {
    padding: 0 165px;
    line-height: 20px;
    @media (max-width: 1199px) {
      padding: 0 100px;
    }
    @media (max-width: 991px) {
      padding: 0 80px;
    }
    @media (max-width: 767px) {
      padding: 0 50px;
    }
    @media (max-width: 480px) {
      padding: 0 20px;
    }
    .content-text {
      margin-bottom: 30px;
      padding-top: 8px;
    }
  }
  .social-icons {
    padding-right: 0;
  }
}

//Home Instagram Gallery
#InstagramGallery {
  padding-top: 50px;
  padding-bottom: 45px;
  background: stencilColor("insta-feed-bgColor");
  text-align: center;
}

#InstagramGallery .owl-item > a {
  display: block;
}

#InstagramGallery a.insta-btn {
  margin-top: 45px;
  min-width: 220px;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 500;
  height: 42px;
  line-height: 40px;
}

#InstagramGallery .feed-item::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  @include transition(all 0.3s ease 0s);
  @include opacity(0.8);
}

#InstagramGallery .feed-item:hover::before {
  @include transition(all 0.3s ease 0s);
  background: rgba(255, 255, 255, 0.7);
}

#InstagramGallery .feed-item .feed-action {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  visibility: hidden;
  @include transition(all 0.3s ease 0s);
  @include transform(translateY(-50%));
  @include opacity(0);
}

#InstagramGallery .feed-item:hover .feed-action {
  visibility: visible;
  @include transition(all 0.3s ease 0s);
  @include opacity(1);
}

#InstagramGallery .feed-item .feed-action .btn {
  margin: 3px;
  width: 36px;
  padding-right: 0;
  padding-left: 0;
  font-size: 14px;
  text-align: center;
}
#instafeed {
  margin-top: 41px;
  & .owl-nav {
    & > div {
      &:hover {
        border-color: stencilColor("item-count-circle-backgroundColor");
        background: stencilColor("item-count-circle-backgroundColor");
        color: stencilColor("item-count-circle-color");
      }
    }
  }
}
.mfp-gallery figure > figcaption {
  margin: 0;
}

//Contact Store Location
.page-type-page_contact_form .storeLocation h3 {
  margin-top: 0;
  margin-bottom: 19px;
  padding-top: 0px;
  font-family: $fontFamily-headings;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.4;
}

.page-type-page_contact_form .storeLocation {
  padding-bottom: 30px;
  color: #000;
  line-height: 20px;
  @media (min-width: 1200px) {
    float: right;
    width: 200px;
  }
  & a {
    color: $anchor-font-color-hover;
    &:hover {
      color: $anchor-font-color;
    }
  }
}
.store-email a {
  color: #213875;
  font-weight: 500px;
  &:hover {
    color: #213875;
  }
}
.page-type-page_contact_form .storeLocation .store-address {
  padding-bottom: 20px;
}

.page-type-page_contact_form .storeLocation .store-phone {
  margin-bottom: 25px;
  padding-bottom: 27px;
  border-bottom: 1px solid #eeeeee;
}

.page-type-page_contact_form .storeLocation label {
  padding-bottom: 10px;
}

@media (min-width: 767px) {
  .page-type-page_contact_form .page-content > .row > .col-sm-8 {
    padding-right: 100px;
  }
}
.contact-page {
  max-width: 780px;
}
.contact-page .btn.black-btn {
  margin-top: 5px;
  margin-bottom: 13px;
  min-width: 183px;
  height: 42px;
  line-height: 40px;
  letter-spacing: 0.1em;
}

#google-map {
  font-size: 0;
}

/*Halo Newsletter Popup*/

#halo-newsletter-popup {
  position: relative;
  z-index: 9999;
}

#halo-newsletter-popup .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(45, 45, 50);
  @include opacity(0.8);
  overflow: hidden;
  z-index: 10000;
}

.newsletter-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px 16px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10000;
}

.newsletter-popup-inner {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  position: relative;
  top: 50%;
  margin: 0 auto;
  width: 100%;
  min-width: 288px;
  max-width: 850px;
  height: 360px;
  background: #fff;
  text-align: left;
  vertical-align: middle;
  z-index: 10000;
  @include transform(translateY(-50%));
  & [data-close-newsletter-popup] {
    position: absolute;
    right: -18px;
    top: -18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 0 0 1px;
    background: stencilColor("button--modal-close-bgColor");
    color: stencilColor("button--modal-close-color");
    font-size: 25px;
    text-align: center;
    z-index: 1;
    &:hover {
      background: stencilColor("button--modal-close-bgColorHover");
      color: stencilColor("button--modal-close-colorHover");
    }
  }
  @media (max-width: 991px) {
    width: 98%;
    max-width: 767px;
  }
  @media (max-width: 767px) {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
  }
  @media (max-width: 640px) {
    height: 100%;
  }
  @media (max-width: 480px) {
    max-height: 410px;
  }
}

.newsletter-popup-inner .newsletter-left {
  padding: 55px 0 0 65px;
  width: calc(100% - 320px);
  height: 100%;
  overflow: auto;
  & h5 {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    margin-right: 2%;
    padding: 5% 0 0 7%;
  }
  @media (max-width: 767px) {
    padding: 35px 35px 30px 35px;
    width: 100%;
    text-align: center;
  }
  @media (max-width: 400px) {
    padding: 25px;
  }
  .black-icons {
    margin-bottom: 17px;
  }
  & .social-icons {
    display: inline-block;
    padding-right: 0;
    text-align: left;
    @media (max-width: 767px) {
      text-align: center;
    }
    a {
      width: 36px;
      height: 36px;
    }
  }
}

.newsletter-left h2.newsletter-heading {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  color: #213875;
  font-family: $fontFamily-headings;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.newsletter-left p.newsletter-sub-heading {
  margin-bottom: 20px;
  color: #505050;
  font-family: $fontFamily-main;
  font-size: $fontSize-base;
  font-weight: 500;
  line-height: 26px;
}

#popupSubcribeForm {
  margin-bottom: 28px;
  & form {
    margin-bottom: 2px;
    & .form-field {
      margin-bottom: 0px;
    }
    & .form-wrap {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-wrap: wrap;
      & > div {
        width: 50%;
        padding: 0 5px 10px 5px;
        & input {
          width: 100%;
          margin: 0;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          width: 100%;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
      }
    }
    input[type="email"] {
      display: inline-block;
      border: 0;
      width: auto;
      min-width: 278px;
      height: 42px;
      background: #f5f5f5;
      color: #2d2d2d;
      vertical-align: middle;
      @media (max-width: 991px) {
        min-width: 230px;
      }
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
      }
      @media (max-width: 360px) {
        min-width: 100%;
      }
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #a3a3a3;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: #a3a3a3;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: #a3a3a3;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: #a3a3a3;
      }
    }
    input[type="submit"] {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      min-width: 100px;
      height: 42px;
      vertical-align: top;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.newsletter-left #mailistBox {
  margin-top: 0;
}

.newsletter-left .newsletter-message {
  margin-bottom: 0;
  padding: 15px 0 23px;
  clear: both;
  color: #3c3c3c;
  font-size: 12px;
  line-height: 20px;
}

.newsletter-popup-inner .newsletter-right {
  width: 320px;
  text-align: right;
  overflow: hidden;
  @media (max-width: 767px) {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    text-align: center;
    height: 100%;
    & > img {
      @include transform(scale(2));
      @include opacity(0.3);
    }
  }
  img {
    height: 100%;
    &:hover {
      @include opacity(0.6);
    }
  }
}
.HL_check {
  display: inline-block;
  color: #969696;
  font-size: $fontSize-tiny;
  letter-spacing: 0.04em;
}
#HL_checked {
  display: none;
}
#HL_checked + label:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 10px;
  width: 14px;
  height: 14px;
  background: #fff;
  font-family: Fontawesome;
  border: 1px solid #d0d0d0;
  cursor: pointer;
}
#HL_checked:checked + label:before {
  content: "\f00c";
}
body.has-newsletter {
  overflow: hidden;
}

@media (max-width: 991px) {
  .st-pusher > .body {
    margin-top: 0 !important;
  }
}

#CartEditProductFieldsForm {
  padding-bottom: 30px;
}

.no-js .owl-carousel {
  display: none;
}

/*Purchase Gift Certificate Form Fields Spacing - Fixed*/

.page-type-giftcertificates {
  & .form-row .form-fieldset.form-column {
    & .form-field:not(.form-field-group) {
      padding-left: 0;
      padding-right: 0;
      & textarea {
        width: 100% !important;
      }
    }
  }
}

.wow {
  visibility: hidden;
}
.panel-body {
  background: whitesmoke;
}

#category-special-slider {
  .category-special-content {
    display: block;
    border-top: 3px solid #eeeeee;
    padding-top: 50px;
    margin-top: 30px;
  }
  .special-title {
    margin: 0;
    font-family: $fontFamily-headings;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .special-desc {
    margin: 20px 0 40px;
    color: #505050;
    font-family: $fontFamily-main;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }
  .owl-carousel {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 991px) {
      max-width: 470px;
    }
  }
  .owl-dots {
    margin-top: 35px;
    text-align: center;
    .owl-dot {
      display: inline-block;
      margin-right: 10px;
      border: 2px solid #cccccc;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #cccccc;
    }
    .owl-dot.active {
      border-color: #444444;
      background: #fff;
    }
  }
}
.page-content.page-content--centered {
  line-height: 20px;
  a {
    color: #2d2d2d;
    &:hover {
      color: #213875;
    }
  }
  .rss {
    h2 {
      font-size: 18px;
      margin-top: 40px;
      padding-top: 25px;
      border-top: 1px solid #e8e8e8;
    }
    ul,
    ol {
      li {
        line-height: 25px;
      }
    }
  }
}

/*LookBook Styles*/

.lookbook .owl-carousel {
  padding: 0;
  list-style: none;
  margin-left: 0;
  margin-bottom: 10px;
  text-align: center;
}

.lookbook .slide-desc {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.lookbook h2.slide-heading {
  display: block;
  margin: 0;
  font-family: $fontFamily-headings;
  font-size: 64px;
  font-weight: 600;
  position: relative;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  @media (max-width: 991px) {
    font-size: 40px;
  }
  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.lookbook .social-icons {
  display: block;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.lookbook .black-icons h5 {
  display: none;
}

.lookbook .lookbook-bottom {
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #eeeeee;
}

.lookbook .lookbook-bottom a.btn-lookbook {
  min-width: 202px;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #fff;
  height: 42px;
  line-height: 40px;
  &:hover {
    color: #000;
  }
}

.lookbook {
  margin-bottom: 30px;
  & .owl-nav > div {
    width: 33px;
    height: 60px;
    border: 0;
    background: transparent;
    &.owl-prev {
      left: 50px;
      @media (max-width: 991px) {
        left: 20px;
      }
    }
    &.owl-next {
      right: 50px;
      @media (max-width: 991px) {
        right: 20px;
      }
    }
    &::before {
      font-size: 66px;
      color: #fff;
      @media (max-width: 991px) {
        font-size: 40px;
      }
    }
  }
}
