// =============================================================================
// CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------
// Cart variables
// -----------------------------------------------------------------------------
$cart-item-spacing: spacing("single");
$cart-thumbnail-maxWidth: remCalc(100px);
$cart-thumbnail-height: remCalc(100px);
$cart-item-label-offset: $cart-thumbnail-maxWidth + $cart-item-spacing;
// Cart layout
// -----------------------------------------------------------------------------
//
// 1. On mobile and tablet we need to re-structure the table to appear more like
//    a list, then visually show it as a table on larger screens only.
//
// 2. Hide the table headings on mobile and tablet, show them for larger screens.
//
// -----------------------------------------------------------------------------
.cart {
  display: block; // 1
  width: 100%;
  margin-bottom: spacing("single");
  @include breakpoint("medium") {
    display: table; // 1
    margin-bottom: 0;
  }
}

.cart-header {
  display: none; // 2
  @include breakpoint("medium") {
    display: table-header-group; // 2
    text-align: left;
  }
}

.cart-header-item {
  font-family: $fontFamily-headings;
  font-size: 11px;
  font-weight: 700;
  min-height: 44px;
  padding: 14px 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  background: #000;
}

.cart-list {
  display: block; // 1
  border-top: container("border");
  @include breakpoint("medium") {
    display: table-row-group; // 1
  }
}

.cart-item {
  display: block; // 1
  clear: both;
  padding: $cart-item-spacing 0;
  border-bottom: container("border");
  @include breakpoint("small") {
    padding-left: 0;
    @include clearfix;
  }
  @include breakpoint("medium") {
    display: table-row; // 1
    padding-left: 0;
    &:before,
    &:after {
      display: none;
    }
  }
}

.cart-item-block {
  display: block; // 1
  @include breakpoint("medium") {
    display: table-cell; // 1
    padding: 30px 20px;
    vertical-align: top;
  }
  .definitionList {
    margin-bottom: 12px;
  }
}

.cart-item-figure {
  float: left;
  width: grid-calc(4, $total-columns);
  height: $cart-thumbnail-height;
  margin-bottom: $cart-item-spacing;
  padding-right: 0;
  padding-left: 0;
  text-align: right;
  @include breakpoint("small") {
    // height: auto;
    width: grid-calc(4, $total-columns);
  }
  @include breakpoint("medium") {
    float: none;
    width: 13.5%;
    text-align: left;
  }
}

.cart-item-fixed-image {
  width: 100%;
}

.cart-item-image {
  width: auto;
}

.cart-item-title {
  display: table-cell;
  padding-left: $cart-item-spacing;
  @include breakpoint("small") {
    display: block;
    overflow: hidden;
    height: auto;
    margin-bottom: $cart-item-spacing;
  }
  @include breakpoint("medium") {
    display: table-cell;
  }
  a[data-item-edit] {
    padding-bottom: 2px;
    font-family: $fontFamily-main;
    font-size: 13px;
    color: #213875;
  }
}

.cart-item-info {
  clear: both;
  width: 100%;
  @include breakpoint("small") {
    float: left;
    clear: none;
    overflow: hidden;
    width: grid-calc(4, $total-columns);
    + .cart-item-info {
      margin-top: 0;
    }
  }
  @include breakpoint("medium") {
    float: none;
    width: grid-calc(2, $total-columns);
    &:last-child {
      text-align: right;
    }
  }
  + .cart-item-info {
    margin-top: spacing("half");
  }
  &:not(.cart-item-quantity) {
    font-family: $fontFamily-main;
    font-size: 14px;
    @include breakpoint("medium") {
      text-align: center;
    }
  }
}

@media (min-width: 992px) {
  .cart-item-info.cart-item-quantity {
    width: 20%;
  }
}

@media (max-width: 991px) {
  .cart-item-info.cart-item-quantity {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .cart-item-figure {
    height: auto;
  }
  .cart-item-info {
    display: block;
    width: 100% !important;
    padding-top: 5px !important;
    text-align: right;
    & .cart-item-label {
      font-family: $fontFamily-main;
      font-size: 14px;
      font-weight: 700;
      text-align: left;
      text-transform: capitalize;
      color: #000;
      float: left;
      width: 33.33%;
    }
    &.cart-item-quantity {
      & .cart-item-label {
        padding-top: 7px;
      }
    }
  }
}

// Cart content
// -----------------------------------------------------------------------------
.cart-header-price,
.cart-header-quantity,
.cart-header-total,
.cart-item-quantity {
  @include breakpoint("medium") {
    text-align: center;
  }
}
.cart-header-price,
.cart-header-quantity,
.cart-header-total {
  @include breakpoint("medium") {
    width: 17%;
  }
}

.cart-item-quantity {
  .form-increment {
    display: inline-block;
    margin: 0 spacing("eighth") 1px spacing("single");
    vertical-align: middle;
    @include breakpoint("medium") {
      margin-left: 0;
    }
    button[data-action="dec"] {
      margin-right: -4px;
    }
    button[data-action="inc"] {
      margin-left: -4px;
    }
    .button .fa {
      font-size: 12px;
    }
  }
}

.cart-item-label {
  display: block;
  float: left;
  width: grid-calc(4, $total-columns);
  width: 100%;
  margin-bottom: spacing("quarter");
  text-align: right;
  text-align: left;
  @include breakpoint("medium") {
    display: none;
  }
}

.cart-item-value {
  @include breakpoint("medium") {
    display: inline-block;
    padding-left: 0;
    padding-top: 9px;
  }
  &.price--discounted {
    margin-right: 5px;
  }
}

.cart-item-brand {
  margin-bottom: 8px;
  color: #7e7e7e;
  font-weight: 500;
  @include breakpoint("medium") {
    margin-top: 13px;
  }
}

.cart-item-name {
  font-family: $fontFamily-main;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 15px;
  letter-spacing: 0;
  & a {
    line-height: 1.5em;
    color: #191919;
  }
  + .definitionList {
    margin-top: spacing("quarter");
  }
}

.cart-item-options--giftWrapping {
  margin-top: spacing("half") + spacing("quarter");
  .cart-item-option-title {
    display: inline-block;
    padding-left: 26px;
    margin-right: 15px;
    float: left;
    background: url("../img/gift-certificate.png") no-repeat left top;
  }
  .cart-item-option-description {
    display: inline-block;
    color: $body-font-color;
    float: left;
    & a {
      font-family: $fontFamily-main;
      font-size: 12px;
      color: #505050;
      border-bottom: 1px dotted #505050;
    }
    & .cart-item-option-actions {
      margin-left: 10px;
    }
  }
}

.cart-remove-button {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  right: -10px;
  @media (max-width: 991px) {
    right: 0;
    margin-left: 10px;
  }
}

.cart-remove {
  width: auto;
  height: auto;
  padding: spacing("eighth");
  padding: 0;
  cursor: pointer;
  transition: background-color 0.15s ease;
  text-align: center;
  color: #f14d48;
  &.cart-remove--spacer {
    visibility: hidden;
  }
  & svg {
    position: relative;
    top: -1px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: #213875;
  }
  & span {
    font-family: $fontFamily-main;
    font-weight: 700;
    margin-left: 5px;
    letter-spacing: 0.02em;
    color: #f14d48;
  }
  &:hover {
    & span {
      border-bottom: 1px solid #f14d48;
    }
  }
}

// Cart totals
// -----------------------------------------------------------------------------
.cart-totals {
  @include u-listBullets("none");
  margin-bottom: $cart-item-spacing;
  text-align: right;
  width: 100%;
  line-height: 20px;
  @include breakpoint("small") {
    float: right;
    width: 100%;
  }
  @include breakpoint("medium") {
    margin-bottom: spacing("base");
    width: grid-calc(7, $total-columns);
  }
  @include breakpoint("large") {
    width: 38%;
  }
}

.cart-total {
  @include clearfix;
  border-bottom: 0;
  @include breakpoint("medium") {
    + .cart-total {
      border-top: container("border");
    }
  }
  @media (max-width: 767px) {
    border-bottom: 1px solid #e8e8e8;
  }
  .form-input {
    display: inline-block;
    vertical-align: top;
    width: grid-calc(9, $total-columns);
    clear: left;
  }
  .form-select {
    margin-bottom: spacing("half");
    padding: spacing("third") spacing("half");
  }
  .form-inlineMessage {
    text-align: left;
  }
  &:first-child .cart-total-value {
    font-weight: 700;
    font-size: 14px;
  }
}

.cart-total-label {
  width: grid-calc(4, $total-columns);
  @media (max-width: 767px) {
    text-align: left;
    width: 33.33%;
  }
  @media (max-width: 480px) {
    width: 50%;
  }
  @include breakpoint("medium") {
    display: block;
    padding-left: 0;
    text-align: left;
  }
  strong {
    font-size: 14px;
    font-weight: 600;
  }
}

.cart-total-value {
  text-align: right;
  @media (max-width: 767px) {
    width: grid-calc(8, $total-columns);
  }
  @media (max-width: 480px) {
    width: 50%;
  }
  @include breakpoint("medium") {
    width: grid-calc(8, $total-columns);
  }
}

.cart-total-label,
.cart-total-value {
  float: left;
  padding: spacing("third") 0 spacing("third") $cart-item-spacing;
  @include breakpoint("medium") {
    padding: 16px 0;
  }
  color: #000;
  @media (max-width: 767px) {
    padding: 10px 0;
  }
}

.cart-total-grandTotal {
  font-size: 14px;
  font-weight: 700;
  position: relative;
  letter-spacing: 0.025em;
  @include breakpoint("medium") {
    padding: spacing("base") 0;
    top: -(spacing("sixth"));
  }
}
.cart-total:last-child > .cart-total-label {
  font-size: remCalc(16px);
}

// Cart actions
// -----------------------------------------------------------------------------
.coupon-code-add,
.coupon-code-cancel,
.shipping-estimate-show,
.shipping-estimate-hide,
.gift-certificate-add,
.gift-certificate-cancel {
  color: #213875;
  padding: 0;
  transition: color 0.15s ease;
  border-bottom: 1px dotted transparent;
  &:hover {
    color: #213875;
    border-color: #213875;
  }
}

.coupon-code-cancel,
.shipping-estimate-hide {
  font-style: italic;
}
@media (max-width: 767px) {
  .shipping-estimator dl {
    margin: 0;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
  }
}

.coupon-form,
.cart-gift-certificate-form {
  @include clearfix;
  margin-bottom: 30px;
  font-size: 0;
  .form-input,
  .btn {
    float: left;
  }
  .form-input {
    width: calc(100% - 152px);
    padding: 0 10px;
    @media (max-width: 480px) {
      width: calc(100% - 110px);
    }
  }
  .btn {
    margin: 0 0 0 15px;
    padding-left: spacing("half");
    padding-right: spacing("half");
    width: 134px;
    float: right;
    line-height: 34px;
    @media (max-width: 480px) {
      width: 100px;
      margin-left: 10px;
    }
  }
}

.estimator-form {
  margin-bottom: 0;
  .form-input {
    margin-bottom: spacing("half");
    width: 100%;
  }
  .black-btn {
    display: block;
    width: 60%;
    float: right;
    line-height: 34px;
    @media (max-width: 480px) {
      width: 100%;
    }
  }
}

.estimator-form-label {
  margin-bottom: 0;
  clear: both;
  float: left;
  font-size: 12px;
  font-weight: fontWeight("normal");
  .form-label:not(.estimator-form-label-text) {
    line-height: remCalc(32px);
    margin-bottom: 0;
  }
}

.estimator-form-input {
  float: right;
  margin-bottom: 1em;
  width: 60%;
  .form-input,
  .form-select {
    margin-bottom: 0;
    background-color: #fff;
  }
}

.estimator-form-input--price {
  width: 30%;
}

.estimator-form-row {
  @include clearfix;
}

.estimator-form-toggleUPSRate {
  display: block;
  margin-bottom: 1em;
}
.shipping-quotes {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 0;
}
.shipping-quotes .btn.select-shipping-quote {
  margin-bottom: 15px;
  margin-top: 10px;
}

.cart-actions {
  @include clearfix;
  clear: both;
  .btn-lg {
    font-family: $fontFamily-headings;
    font-size: 16px;
    letter-spacing: 0.05em;
    @include breakpoint("small") {
      float: right;
      width: grid-calc(9, $total-columns);
    }
    @include breakpoint("medium") {
      margin-bottom: spacing("base");
      width: grid-calc(7, $total-columns);
    }
    @include breakpoint("large") {
      width: 38%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .checkoutMultiple {
    clear: right;
    display: block;
    float: none;
    padding-top: 15px;
    text-align: center;
    color: #2d2d2d;
    &:hover {
      color: #213875;
    }
    @include breakpoint("small") {
      float: right;
      width: grid-calc(9, $total-columns);
    }
    @include breakpoint("medium") {
      margin-bottom: spacing("base");
      width: grid-calc(7, $total-columns);
    }
    @include breakpoint("large") {
      width: 38%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.cart-additionalCheckoutButtons {
  text-align: center;
  @include breakpoint("small") {
    float: right;
    width: grid-calc(9, $total-columns);
  }
  @include breakpoint("medium") {
    margin-bottom: spacing("base");
    width: grid-calc(7, $total-columns);
  }
  @include breakpoint("large") {
    width: 38%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  // 1
  @include clearfix;
  // scss-lint:disable SelectorFormat
  .FloatRight {
    @include clearfix;
    // scss-lint:disable SelectorDepth, NestingDepth
    p {
      // scss-lint:disable ImportantRule
      float: none !important;
      margin: spacing("third") 0;
      text-align: center;
    }
    div {
      float: center;
    }
  }
}

// Cart Preview
// -----------------------------------------------------------------------------
//
// 1. Need to vertically align a block of text
//
// -----------------------------------------------------------------------------

#cart-preview-dropdown {
  position: absolute;
  z-index: 111;
  top: auto;
  right: 0;
  left: auto;
  display: none;
  width: 520px;
  min-height: 94px;
  margin-top: 26px;
  padding: 0;
  border: 1px solid rgb(208, 208, 208);
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0 1px 10px rgba(178, 178, 178, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(178, 178, 178, 0.1);
  box-shadow: 0 1px 10px rgba(178, 178, 178, 0.1);
  font-size: 12px;
  line-height: 1.4;
  @media (max-width: 991px) {
    top: 100%;
    margin-top: 0;
  }
  @media (max-width: 767px) {
    max-width: 100%;
  }
  @media (max-width: 480px) {
    border-radius: 0;
  }
  & .triangle-with-shadow::before {
    right: 53px;
    left: auto;
    margin: 0;
    @media (max-width: 1199px) {
      right: 33px;
    }
    @media (max-width: 991px) {
      right: 15px;
    }
  }
  & .cart-preview-inner {
    overflow: hidden;
    width: 100%;
  }
  & .cart-total-label {
    font-family: $fontFamily-main;
    width: 60%;
    text-align: right;
    color: #000;
    padding-top: 16px;
    text-transform: none;
    strong {
      font-size: 12px;
    }
    @media (max-width: 480px) {
      text-align: left;
    }
  }
  .cart-item-value {
    padding-top: 0;
  }
  & .cart-total-value {
    font-family: $fontFamily-main;
    font-size: 14px;
    font-weight: 700;
    width: 40%;
    text-align: right;
  }
  & .preview-cart-grand-total .cart-total-value {
    font-size: 16px;
  }
  .preview-cart-titles {
    min-height: 36px;
    padding: 10px 20px 10px;
    background: #f5f5f5;
    & > div {
      font-family: $fontFamily-headings;
      font-size: 11px;
      font-weight: 700;
      float: left;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #797979;
      &.item-info {
        width: 57%;
        text-align: left;
      }
      &.item-qty {
        width: 13%;
        text-align: center;
      }
      &.item-price {
        width: 15%;
        text-align: left;
      }
      &.item-total {
        width: 15%;
        text-align: right;
      }
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
}

#top-cart.is-open #cart-preview-dropdown {
  display: block;
  margin-top: 24px;
}

.previewCartList {
  overflow: hidden;
  width: 100%;
  max-height: 200px;
  margin: 0;
}

.previewCartItem {
  overflow: hidden;
  padding: 20px 20px;
  & > div {
    float: left;
    &.item-info {
      width: 57%;
    }
    &.item-qty {
      font-family: $fontFamily-main;
      font-size: 12px;
      font-weight: 500;
      width: 13%;
      text-align: center;
    }
    &.item-price {
      color: #000;
      font-family: $fontFamily-main;
      font-size: 12px;
      font-weight: 600;
      width: 15%;
      text-align: left;
    }
    &.item-total {
      font-family: $fontFamily-main;
      font-size: 12px;
      font-weight: 600;
      width: 15%;
      text-align: right;
      color: #000;
    }
  }
  @media (max-width: 480px) {
    & > div {
      display: block;
      padding-top: 4px;
      padding-bottom: 4px;
      text-align: left;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      &.item-info {
        width: 100%;
      }
      &.item-qty {
        font-weight: 700;
        width: 100%;
        text-align: left;
        &::before {
          content: "Quantity";
          font-weight: 400;
        }
      }
      &.item-price {
        width: 100%;
        text-align: left;
        &::before {
          content: "Price";
          font-weight: 400;
        }
      }
      &.item-total {
        width: 100%;
        text-align: left;
        &::before {
          content: "Total";
          font-weight: 400;
        }
        & strong {
          padding-left: 0;
        }
      }
    }
  }
  & .price--discounted {
    margin-right: 0 !important;
  }
}

.previewCartItem-image,
.previewCartItem-content {
  display: table-cell; // 1
  vertical-align: top;
}

.previewCartItem-image {
  float: left;
  padding-right: 20px;
  & img {
    max-width: 60px;
  }
}

.previewCartItem-name {
  float: left;
  width: 68%;
  text-align: left;
  & h6 {
    font-family: $fontFamily-main;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 5px;
    letter-spacing: 0;
    text-transform: none;
    color: stencilColor("card-title-color");
    padding-right: 10px;
    > a {
      padding-bottom: 0;
      border: 0;
      color: stencilColor("card-title-color");
      text-decoration: none;
    }
  }
}

.previewCartItem-brand {
  display: none;
}

.preview-cart-total {
  display: block;
  clear: both;
  padding-right: 20px;
  padding-left: 20px;
  border-top: 1px solid #eaeaea;
  line-height: 0;
}

.preview-cart-grand-total {
  display: block;
  clear: both;
  padding-right: 20px;
  padding-left: 20px;
  border-top: 1px solid #eaeaea;
}

.preview-cart-total > div,
.preview-cart-grand-total > div {
  padding-top: 15px;
  padding-bottom: 15px;
}

.previewCartAction {
  display: block;
  clear: both;
  padding: 10px 20px 20px;
  text-align: right;
  @media (max-width: 480px) {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding: 20px 10px;
    & .previewCartAction-checkout,
    .previewCartAction-viewCart {
      width: 50%;
      padding: 0 10px;
      & a {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        @media (max-width: 360px) {
          font-size: 11px;
        }
      }
    }
  }
}

.previewCartAction-checkout,
.previewCartAction-viewCart {
  display: inline-block;
}

.previewCartAction-viewCart a.btn {
  margin-right: 7px;
}
#cart-preview-dropdown .previewCartAction-checkoutMultiple a {
  color: #2d2d2d;
  border: 0;
  &:hover {
    color: #213875;
  }
}
.previewCartAction-checkoutMultiple {
  clear: both;
  padding-top: 15px;
  padding-left: spacing("half");
  a {
    text-transform: none;
    font-family: $fontFamily-main;
    color: #2d2d2d;
    &:hover {
      color: #213875;
    }
  }
}

.previewCart-emptyBody {
  padding: 20px;
  & > .alert {
    margin-bottom: 0;
    text-transform: none;
    font-family: $fontFamily-main;
  }
}
