// =============================================================================
// BLOG
// =============================================================================

// Blog post
// -----------------------------------------------------------------------------

.blog {
  margin-bottom: spacing("single");

  @include breakpoint("medium") {
    margin: auto;
    width: 100%;
  }

  + .blog {
    border-top: container("border");
    margin-top: 46px;
    padding-top: 25px;
  }

  .tags {
    margin-top: spacing("double");
    text-align: left;
  }

  .socialLinks {
    text-align: left;
  }

  // scss-lint:disable SelectorFormat
  .addthis_toolbox {
    margin-top: spacing("double");
  }
  // scss-lint:enable SelectorFormat
}

.blog-title {
  font-size: 24px;
  margin: 0 0 spacing("base") 0;
  font-family: $fontFamily-main;
  letter-spacing: 0;
  font-weight: 700;
  @media (max-width: 480px) {
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

.blog-date,
.blog-author {
  color: stencilColor("color-textSecondary");
  text-align: left;
}
.blog-date {
  margin-bottom: 29px;
}
.blog-author {
  margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
  margin-bottom: 22px;
  font-size: fontSize("base");
  text-align: left;
  line-height: 18px;
}

.blog-thumbnail {
  margin: 0 0 25px;
}

.blog-post-figure {
  display: block;
  margin: auto;
  text-align: left;
}
.page-content.col-sm-9 .blog-post-body {
  padding-top: 0;
}
.blog-post-body {
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  padding-top: 30px;
}

.btn.blog-readmore {
  margin-bottom: 24px;
  border: 0;
  border-bottom: 1px solid transparent;
  padding: 0;
  padding-bottom: 4px;
  font-size: 12px;
  color: #213875;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 12px;
  height: 16px;
  &:hover {
    background-color: transparent;
    color: #213875;
    border-bottom: 1px solid #213875;
  }
  &::before {
    content: "+";
    position: relative;
    margin-right: 8px;
    font-size: 20px;
  }
  & ~ ul.tags {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.blog + .pagination {
  text-align: center;
  margin-top: 40px;
}
