// =============================================================================
// FOOTER (CSS)
// =============================================================================
#footer-wrapper {
  background: stencilColor("footer-backgroundColor");
}
/*Main Footer*/
#main-footer {
  border-top: 1px solid rgb(231, 231, 231);
}
#main-footer .container {
  @media (max-width: 991px) {
    padding-bottom: 0;
  }
}
#main-footer .footer-column-title {
  margin: 0;
  margin-bottom: 25px;
  font-family: $fontFamily-headings;
  text-transform: uppercase;
  font-weight: 700;
}
#main-footer .info-footer-column {
  p {
    margin-bottom: 0;
    line-height: 1.6;
    &:nth-child(2) {
      margin-bottom: 20px;
    }
  }
}
.footer-columns {
  display: inline-block;
  padding: 43px 0 23px;
  width: 100%;
  @media (max-width: 767px) {
    width: 100%;
  }
  & .column-item {
    margin-bottom: 20px;
    padding: 0;
    padding-right: 20px;
    & ul {
      margin: 0;
      list-style: none;
      & li {
        position: relative;
        margin-bottom: 8px;
        & a {
          border-bottom: 1px dotted transparent;
          padding-bottom: 3px;
          font-family: $fontFamily-main;
          text-transform: capitalize;
          &:hover {
            border-color: stencilColor("footer-column-link-color-hover");
          }
        }
        &.all-brands-link {
          margin-top: 26px;
          &::before {
            content: "\f105";
            position: absolute;
            left: 0;
            top: 0;
            color: #ababab;
            font-family: "FontAwesome";
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
          }
          a {
            margin-left: 10px;
            font-weight: 700;
          }
        }
      }
    }
  }
  & .last {
    padding-right: 0;
  }
}
/*Mailist Box - Newsletter Sign Up*/
#footerSubcribeForm {
  display: block;
  position: relative;
  .footer-subcribe-text {
    margin-bottom: 5px;
    line-height: 1.6;
  }
  .form-wrap {
    display: flex;
    margin-top: 20px;
    border: 1px solid #d1d1d1;
    padding: 0;
    width: 100%;
    max-width: 380px;
    font-size: 0;
    line-height: 0;
  }
}

#footerSubcribeForm input[type="email"] {
  margin: 5px 0 5px 10px;
  border: 0;
  border-right: 1px solid #d1d1d1;
  padding: 0 5px;
  min-width: 200px;
  height: 31px;
  vertical-align: middle;
  color: stencilColor("footer-column-text-color");
  // @media (max-width: 600px) {
  //   margin: 0 10px;
  //   border-right: 0;
  //   border-bottom: 1px solid #d1d1d1;
  //   height: 41px;
  // }
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b5b5b5;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #b5b5b5;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #b5b5b5;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: #b5b5b5;
  }
}

#footerSubcribeForm input[type="submit"] {
  display: inline-block;
  margin: 0;
  height: 41px;
  background: stencilColor("footer-subscribe-button-bgColor");
  color: stencilColor("footer-subscribe-button-color");
  font-size: 12px;
  font-weight: 700;
  line-height: 41px;
  vertical-align: middle;

  @media (min-width: 992px) and (max-width: 1199px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}

#footerSubcribeForm input[type="submit"]:hover {
  color: stencilColor("footer-subscribe-button-colorHover");
  background: stencilColor("footer-subscribe-button-bgColorHover");
}

/*Bottom Footer*/
.very-bottom-footer {
  padding-bottom: 70px;
  .container {
    padding: 0 15px;
  }
}
.copyright-column {
  padding: 22px 0 0;
  color: stencilColor("footer-copyright-text-color");
  line-height: 24px;
}

.copyright-column .footer-copyright {
  display: inline-block;
  margin-bottom: 10px;
}

.copyright-column .footer-copyright p,
.copyright-column .template-by p {
  margin-bottom: 0;
  line-height: 20px;
  font-family: $fontFamily-main;
  font-size: 12px;
}

.copyright-column .footer-copyright p a,
.copyright-column .template-by p a {
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  color: stencilColor("footer-copyright-link-color");
}

.copyright-column .footer-copyright p a:hover,
.copyright-column .template-by p a:hover {
  border-color: stencilColor("footer-copyright-link-colorHover");
  color: stencilColor("footer-copyright-link-colorHover");
}

.footer-payment-icons {
  padding: 26px 0 0;
  text-align: right;
  @media (max-width: 991px) {
    text-align: left;
  }
  .ips {
    padding-left: 10px;
    font-size: 0px;
    &:hover {
      @include opacity(0.5);
    }
    @media (max-width: 991px) {
      padding-right: 10px;
      padding-left: 0;
    }
  }
  .ips:before {
    content: " ";
    display: inline-block;
    width: 34px;
    height: 22px;
    background: url(../img/list_sprite.png) top left no-repeat;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  /*    .no-svg .ips:before {
        background-image: url("../icons/payment-sprite.png");
    }*/
  .ips.icon-card-visa:before {
    background-position: 0px -380px;
  }
  .ips.icon-card-electron:before {
    background-position: -44px -380px;
  }
  .ips.icon-card-mastercard:before {
    background-position: -88px -380px;
  }
  .ips.icon-card-maestro:before {
    background-position: -132px -380px;
  }
  .ips.icon-card-amex:before {
    background-position: -176px -380px;
  }
  .ips.icon-card-2co:before {
    background-position: -220px -380px;
  }
  .ips.icon-card-paypal:before {
    background-position: -264px -380px;
  }
}

/*Accept Cookies*/

#accept-cookies {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border: 1px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 30px 30px 20px 16px;
  width: 100%;
  min-width: 300px;
  max-width: 390px;
  min-height: 200px;
  background: #141414;
  z-index: 9999;
  @media (max-width: 400px) {
    max-width: 354px;
  }
}

#accept-cookies .cookies-inner {
  padding-left: 54px;
  background: url("../img/cookie-info.png") top left no-repeat;
}

#accept-cookies p {
  position: relative;
  top: -5px;
  color: #fff;
  font-style: italic;
  letter-spacing: 0.02em;
}

#accept-cookies button {
  padding: 0 16px;
  font-size: 11px;
  letter-spacing: 0.05em;
}

/*Scroll To Top*/

#back-to-top {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  visibility: hidden;
  /* image replacement properties */
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  bottom: 30%;
  right: 15px;
  margin-top: -26px;
  width: 52px;
  height: 52px;
  background: #000;
  color: #fff;
  font-size: 45px;
  @include transition(opacity 0.3s 0s, visibility 0s 0.3s);
  z-index: 999;
  @media (max-width: 991px) {
    right: 10px;
    margin-top: -18px;
    width: 36px;
    height: 36px;
    align-items: center;
    font-size: 36px;
    & i.fa {
      position: relative;
      top: -2px;
    }
  }
}

#back-to-top.is-visible,
#back-to-top.fade-out,
.no-touch #back-to-top:hover {
  @include transition(opacity 0.3s 0s, visibility 0s 0s);
}

#back-to-top.is-visible {
  /* the button becomes visible */
  visibility: visible;
  @include opacity(0.5);
}

#back-to-top.fade-out:hover {
  background: #ff148c;
}
