// =============================================================================
// PRODUCT LIST (CSS)
// =============================================================================
// Product list
// -----------------------------------------------------------------------------
.productList {
  @include u-listBullets("none");
  .product {
    // scss-lint:disable NestingDepth
    + .product {
      margin-top: spacing("base") * 4;
    }
  }
}

// Product list item
// -----------------------------------------------------------------------------
.listItem {
  @include breakpoint("small") {
    @include grid-row($behavior: "nest");
    display: table;
  }
}

.listItem-figure,
.listItem-body {
  @include breakpoint("small") {
    display: table-cell;
    vertical-align: top;
  }
  @include breakpoint("large") {
    vertical-align: middle;
  }
}

// List figure
// -----------------------------------------------------------------------------
.listItem-figure {
  margin: 0 0 spacing("single");
  @include breakpoint("small") {
    margin-bottom: 0;
    @include breakpoint("small") {
      padding-left: spacing("half");
      padding-right: spacing("half");
      width: grid-calc(3, $total-columns);
    }
  }
}

.listItem-image {
  width: 100%;
}

.listItem-body {
  @include breakpoint("small") {
    padding-left: spacing("base") + spacing("sixth");
    padding-right: spacing("half");
    width: grid-calc(9, $total-columns);
  }
}

// List content
// -----------------------------------------------------------------------------
.listItem-content {
  @include breakpoint("large") {
    display: table;
  }
}

.listItem-details,
.listItem-actions {
  @include breakpoint("large") {
    display: table-cell;
    vertical-align: top;
  }
}

// List details
// -----------------------------------------------------------------------------
.listItem-details {
  @include breakpoint("large") {
    padding-right: spacing("double") * 2;
    > :last-child {
      margin-bottom: 0;
    }
  }
}

.listItem-rating {
  margin-bottom: spacing("quarter");
}

.listItem-brand {
  color: color("greys", "light");
  font-size: fontSize("base");
  margin: 0 0 spacing("eighth");
  @include breakpoint("medium") {
    font-size: fontSize("smaller");
    margin-bottom: 0;
  }
}

.listItem-title {
  font-size: fontSize("smaller");
  margin: 0 0 spacing("eighth");
  @include breakpoint("medium") {
    font-size: fontSize("small");
  }
  > a {
    text-decoration: none;
  }
}

.listItem-price {
  margin-bottom: spacing("base");
  @include breakpoint("medium") {
    font-size: fontSize("small");
  }
}

// List actions
// -----------------------------------------------------------------------------
//
// 1. Magic number width to align closer to the intended design.
//
// -----------------------------------------------------------------------------
.listItem-actions {
  @include breakpoint("large") {
    vertical-align: middle;
    width: 22%; // 1
    .button--compare {
      @include buttonSize("small");
    }
  }
  .button {
    margin-bottom: 0;
    @include breakpoint("large") {
      width: 100%;
      // scss-lint:disable NestingDepth
      + .button {
        margin: spacing("half") 0 0;
      }
    }
  }
}

// Product list when sidebar is present
// -----------------------------------------------------------------------------
.page-sidebar + .page-content {
  .productList {
    // scss-lint:disable SelectorDepth, NestingDepth
    .listItem-details {
      @include breakpoint("large") {
        padding-right: spacing("double");
      }
    }
    .listItem-actions {
      @include breakpoint("large") {
        width: 30%;
      }
    }
  }
}

.listing-container-inner .module-wrapper.productList .productBlockContainer {
  margin: 0;
  @media (max-width: 767px) {
    max-width: none;
  }
}
.product-list-btn {
  display: none;
}
#product-listing-container
  .module-wrapper.productList
  .productBlockContainer
  .prod-item {
  width: 100%;
  max-width: none;
  margin: 0;

  article.card {
    border: 0;
    border-bottom: 1px solid #eeeeee;
    @include box-shadow(none);
    margin: 0;
    padding: 50px 0;
    &::before {
      display: none;
    }
  }
  .btn-compare {
    display: block;
    margin-top: 20px;
    clear: both;
    float: none;
    padding-top: 10px;
    border-top: 0;
    visibility: visible;
    @include opacity(1);
    padding-top: 0;
    text-align: left;
    .form-checkbox + .form-label {
      margin: 0;
    }
  }
  .star-rating-list {
    display: block;
  }
  & .card-figure {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    & .prod-image {
      min-width: 210px;
      margin-bottom: 0;
      @media (max-width: 480px) {
        width: 40%;
        min-width: 40%;
        & .btnQV {
          position: static;
          display: block;
        }
      }
      & .btnATC,
      .btnWL {
        display: none;
      }
    }
    & .prod-desc {
      width: calc(100% - 210px);
      padding-left: 30px;
      padding-bottom: 0px;
      text-align: left;
      .prod-brand {
        margin-bottom: 8px;
        font-family: $fontFamily-headings;
        color: #7f7f7f;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.05em;
      }
      & h4.prod-name {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
        + .star-rating {
          display: none;
        }
      }
      .prod-price {
        font-size: 18px;
        margin-bottom: 15px;
      }
      & .prod-summary {
        display: block;
        margin-bottom: 10px;
        & p {
          color: #2d2d2d;
          font-size: 12px;
          word-wrap: break-word;
          line-height: 20px;
          margin: 0;
        }
      }
      .star-rating {
        margin-bottom: 15px;
      }
      & .btnATC {
        display: -moz-inline-flex;
        display: -webkit-inline-flex;
        display: inline-flex;
        margin-right: 30px;
        width: auto;
        min-width: 220px;
        float: left;
        height: 42px;
        line-height: 40px;
        font-size: 14px;
        letter-spacing: 0.05em;
        @media (max-width: 991px) {
          width: 100%;
          min-width: 100%;
          margin-bottom: 15px;
        }
        @media (max-width: 480px) {
          letter-spacing: 0;
          font-weight: 500;
          font-size: 11px;
          padding: 0;
          line-height: 35px;
        }
      }
      .product-list-btn {
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-bottom: 0;
        font-family: "Oswald", Arial, Helvetica, sans-serif;
        letter-spacing: 0;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        height: 42px;
        line-height: 42px;
        color: #000;
        .fa {
          font-size: 18px;
          margin-right: 10px;
          vertical-align: middle;
        }
        span {
          display: inline-block;
          vertical-align: middle;
          border-bottom: 1px dotted #213875;
          line-height: 1.5;
        }
      }
      @media (max-width: 480px) {
        width: 60%;
        padding-left: 20px;
      }
    }
  }
}
