// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================
// Product view layout
// -----------------------------------------------------------------------------
.productView {
  .modal & {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.productView--quickView {
  .socialLinks-item--print {
    display: none;
  }
}

.productView {
  & .productViewTop {
    padding-bottom: 30px;
    margin-bottom: 10px;
  }
  & .zoom-help {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    clear: both;
    justify-content: center;
    align-items: center;
    color: #a0a0a0;
    & i.fa {
      margin-left: 12px;
      font-size: 14px;
    }
  }
  &.productView--quickView {
    & .productViewTop {
      border-bottom: 0;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }
}

// Images
// -----------------------------------------------------------------------------
.productView-image {
  align-items: center;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  margin: 0 0 30px;
  & img {
    width: 100%;
    &:hover {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in;
    }
  }
  & .productView-image--default {
    width: auto;
  }
  & ~ .productView-thumbnails {
    width: calc(100% - 83px);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 767px) {
      margin-bottom: 25px;
    }
    & .owl-stage {
      display: block;
      margin: 0 auto;
    }
  }
}

.productView-thumbnails {
  & .productView-thumbnail {
    text-align: center;
    & a {
      display: block;
      & img {
        -moz-transform-style: unset;
        -webkit-transform-style: unset;
        transform-style: unset;
      }
    }
  }
  & .owl-nav {
    text-align: center;
  }
  & .owl-nav > div {
    border: 0;
    &.owl-prev {
      left: -50px;
    }
    &.owl-next {
      right: -50px;
    }
  }
  & .productView-thumbnail-link {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      height: 2px;
      background: #000;
      opacity: 0;
    }
  }
  & .productView-thumbnail-link:hover {
    opacity: 0.5;
  }
  & .productView-thumbnail-link.is-active {
    &::after {
      opacity: 1;
    }
  }
}
.owl-carousel.owl-drag .owl-item.active:last-child {
  margin-right: 0 !important;
}
// Details
// -----------------------------------------------------------------------------
.productView-details {
  margin-bottom: 50px;
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}
.productView--quickView {
  & .productView-details {
    margin-bottom: 0;
  }
}

// Details - Product details
// -----------------------------------------------------------------------------
.productView-product {
  > :last-child {
    margin-bottom: 0;
  }
}

h2.productView-brand {
  margin: 0 0 16px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  & a {
    color: #7e7e7e;
    tt &:hover {
      border-bottom: 1px solid #7e7e7e;
    }
  }
}

.productView-title {
  font-size: 24px;
  font-family: $fontFamily-main;
  font-weight: bold;
  margin: -7px 10px 10px 0;
  letter-spacing: -0.02em;
  line-height: 1.4em;
  @media (max-width: 767px) {
    margin-top: 0;
    padding-top: 5px;
  }
}

.productView-rating {
  margin-bottom: 20px;
  & i.fa {
    font-size: 13px;
    vertical-align: middle;
  }
}

.productView-reviewLink {
  display: inline-block;
  margin-left: spacing("half");
  vertical-align: middle;
  & + .productView-reviewLink {
    border-left: 1px solid #e6e6e6;
    padding-left: 10px;
    @media (max-width: 767px) {
      display: block;
      border-left: 0;
      padding-left: 0;
      margin-left: 0;
      margin-top: 10px;
    }
  }
  & > a {
    color: #000;
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}

.productView:not(.productView--quickView) {
  &.reviewLinkCount {
    cursor: pointer;
  }
}

// Details - Product price
// -----------------------------------------------------------------------------
.productView-price {
  font-family: $fontFamily-main;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  color: stencilColor("basic-price-color");
  .price-section--saving {
    font-family: $fontFamily-sans;
    font-size: fontSize("base");
    color: stencilColor("saving-price-color");
    font-weight: normal;
  }
  .price.price--rrp {
    color: stencilColor("retail-price-color");
    font-size: 18px;
    margin-right: 10px;
    & ~ .price--withoutTax {
      color: stencilColor("sale-price-color");
    }
  }
  abbr {
    border: 0;
    color: inherit;
    font-size: inherit;
  }
  .price-section--withoutTax ~ .price-section--saving {
    margin-top: 9px;
  }
  p[translate] {
    color: $anchor-font-color-hover;
  }
}

// Details - Product Information
// -----------------------------------------------------------------------------
.productView-info {
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.productView-info-name,
.productView-info-value {
  float: left;
}

.productView-info-name {
  clear: both;
  margin-bottom: spacing("eighth");
  margin-right: spacing("quarter");
  min-width: 100px;
}

.productView-info-value {
  margin-bottom: spacing("quarter");
  margin-bottom: spacing("base");
}
[data-custom-field-name="has-size-chart"] {
  display: none;
}

// Details - Product options
// -----------------------------------------------------------------------------
//
// 1. Align the product options list item radios vertically.
// 2. Resetting font due to inline-block whitespace issue.
//
// -----------------------------------------------------------------------------
.productView-options {
  clear: both;
  @include clearfix;
  margin-bottom: 15px;
  @include breakpoint("small") {
    text-align: left;
  }
  .form-input[type="number"] {
    @include breakpoint("small") {
      width: 100px;
    }
  }
  .form {
    display: inline;
  }
  .form-field {
    font-size: 0; // 2
    margin-bottom: 15px;
    // scss-lint:disable SelectorDepth, NestingDepth
    > .form-checkbox + .form-label,
    > .form-radio + .form-label {
      display: inline-block;
      margin-left: spacing("single");
      width: auto;
      @include breakpoint("small") {
        margin-left: 0;
        width: 100%;
      }
    }
    > .form-label:nth-of-type(2) {
      margin-left: 0;
    }
    input[type="file"] {
      font-size: fontSize("base");
    }
  }
  .qty-add-wrap {
    & input#form-action-addToCart {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-left: 0;
      margin-right: 28px;
      margin-bottom: 10px;
      padding: 10px;
      min-width: 270px;
      float: left;
      height: 50px;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.05em;
      display: inline-block;
      @media (max-width: 480px) {
        width: 100%;
        float: none;
      }
    }
  }
  .form-field--increments {
    margin-bottom: 25px;
    & button {
      width: 36px;
      height: 36px;
      &[data-action="dec"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        & i.fa {
          font-size: 14px;
          color: #6e6e6e;
        }
      }
      &[data-action="inc"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        & i.fa {
          font-size: 14px;
          color: #6e6e6e;
        }
      }
    }
    & .form-input {
      height: 36px;
      border-radius: 0;
      font-weight: 700;
    }
  }
  .form-action {
    @include breakpoint("small") {
      float: left;
      padding: 0 remCalc(10);
      width: 50%;
    }
    @include breakpoint("medium") {
      float: none;
      padding: 0;
      width: auto;
    }
    @include breakpoint("large") {
      display: inline-block;
      margin-top: 1rem;
    }
    // scss-lint:disable SelectorDepth, NestingDepth
    .button {
      width: 100%;
      @include breakpoint("large") {
        margin-right: spacing("half");
        width: auto;
      }
    }
  }
}

// Product list (with images)
// -----------------------------------------------------------------------------
.productOptions-list {
  border: $productOptions-list-border;
  list-style: none;
  margin: 0;
}

.productOptions-list-item {
  padding: $productOptions-list-item-padding;
  + .productOptions-list-item {
    border-top: $productOptions-list-item-borderTop;
  }
  .form-label {
    text-align: left;
    top: -2px; // 1
  }
}

.productOptions-list-item-figure,
.productOptions-list-item-content {
  display: table-cell;
  vertical-align: middle;
}

.productOptions-list-item-figure {
  width: $productOptions-list-item-figure-width;
}

.productOptions-list-item-content {
  padding-left: $productOptions-list-item-content-paddingLeft;
}

// Swatch Size Changes
// -----------------------------------------------------------------------------

// do some math
$value_of_swatch_size: stencilString("swatch_option_size");
$position_of_x: str-index($value_of_swatch_size, "x");
$first_value: str-slice($value_of_swatch_size, 0, $position_of_x - 1);
$second_value: str-slice($value_of_swatch_size, $position_of_x + 1);

[data-product-attribute] .form-option {
  position: relative;
}
[data-product-attribute] .form-option.form-option-swatch {
  overflow: visible;
}

.form-option-variant--color,
.form-option-variant--pattern {
  height: 36px;
  width: 36px;
}

.form-option {
  display: inline-block;
}
.form-option-expanded {
  background-color: stencilColor("body-bg");
  border: 1px solid stencilColor("input-border-color-active");
  left: 1px;
  opacity: 0;
  padding: 10px;
  position: absolute !important;
  top: calc(100% + 5px);
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  visibility: hidden;
  float: left;
  border-radius: 10px;
}

.form-option:hover {
  .form-option-expanded {
    opacity: 1;
    //transform: translate(-50%, 0);
    visibility: visible;
    z-index: 5000;
    & > span {
      text-align: center;
      & > span {
        font-size: 12px;
        float: left;
        width: 100%;
      }
      & > img {
        max-height: 90%;
        margin: 5px auto 0 auto;
        display: inline-block;
      }
    }
  }
}

.form-option-image {
  background: {
    position: 50%;
    repeat: no-repeat;
    size: cover;
  }
  display: block;
  height: 200px;
  width: 200px;
}

// AddToButtons
[data-cart-item-add] > input#form-action-addToCart {
  min-width: 270px;
  height: 48px;
  margin-right: 30px;
  margin-bottom: 15px;
  color: stencilColor("detail-add-to-cart-color");
  backgroud-color: stencilColor("detail-add-to-cart-bgColor");
  border-color: stencilColor("detail-add-to-cart-bgColor");
  &:hover {
    color: stencilColor("detail-add-to-cart-colorHover");
    backgroud-color: stencilColor("detail-add-to-cart-bgColorHover");
    border-color: stencilColor("detail-add-to-cart-bgColorHover");
  }
  @media (max-width: 480px) {
    min-width: 100%;
  }
}

[data-wishlist-add] > button {
  border: 0 !important;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: $fontFamily-headings;
  letter-spacing: 0.05em;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  height: 52px;
  @media (max-width: 480px) {
    display: block;
    margin: 0 auto;
  }
  & i.fa {
    font-size: 18px;
    margin-right: 10px;
    vertical-align: middle;
  }
  & span {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dotted stencilColor("color-background-main");
    line-height: 1.5;
  }
}

// Share products
// -----------------------------------------------------------------------------
.shareProduct {
  text-align: center;
}

.addthis_toolbox ul.socialLinks {
  list-style: none;
  margin-left: 0;
  & li {
    display: inline-block;
  }
}

//Product Tags
ul.product-tags {
  margin: 0;
  padding-top: 20px;
  & li {
    display: inline-block;
    font-size: $tag-fontSize;
    margin-right: 10px;
    margin-bottom: 10px;
    font-style: italic;
    color: $tag-color;
    display: inline-block;
    padding: $tag-padding;
    text-decoration: $tag-textDecoration;
    background: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px;
    &:hover {
      color: $tag-color-hover;
      border-bottom-color: #ccc;
    }
  }
}

//Other Products
#relatedProducts,
#similarByViews {
  border-top: 1px dotted #000;
  & .productCarousel {
    margin-bottom: 10px;
    &:hover .owl-nav {
      display: block;
    }
    & .owl-stage-outer {
      margin: 0 -45px 0 -45px;
      padding: 30px 45px;
      @media (max-width: 991px) {
        margin-top: 0;
      }
    }

    & .prod-item {
      display: inline-block;
      padding: 0;
      @media (max-width: 991px) {
        margin-top: 0;
      }
      article.card {
        z-index: 2;
        @include box-shadow(none);
        overflow: visible;
        &::before {
          margin-bottom: -1px;
        }
        .card-figure {
          height: auto;
          z-index: 22;
        }
        @media (max-width: 991px) {
          a.btnATC {
            font-size: 12px;
          }
        }
      }
    }
    .owl-item {
      @include opacity(0);
      visibility: hidden;
    }
    .owl-item.active {
      @include opacity(1);
      visibility: visible;
    }
  }
  .owl-nav {
    display: none;
    @media (max-width: 991px) {
      display: block;
    }

    & > div {
      position: absolute;
      top: 34%;
      width: 36px;
      height: 36px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border-radius: 50%;
      transition: all 0.3s ease 0s;
      font-family: "FontAwesome";
      font-size: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #000;
      background: #ffffff;
      border: 1px solid #b4b4b4;
    }
    .owl-prev {
      left: -18px;
      @media (max-width: 991px) {
        left: 0;
      }
    }
    .owl-next {
      right: -18px;
      @media (max-width: 991px) {
        right: 0;
      }
    }
  }
  & > h3 {
    position: relative;
    margin-top: 0;
    padding-top: 28px;
    padding-bottom: 17px;
    letter-spacing: 0.05em;
    font-family: $fontFamily-headings;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1e1e1e;
  }
}

#relatedProducts ~ #similarByViews h3 {
  padding-top: 25px;
}

.productReviews {
  & h5.productReview-title {
    font-family: $fontFamily-main;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    margin-bottom: 8px;
  }
  & .productReview-rating {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
  }
  & .productReview-author {
    margin-bottom: 15px;
  }
  & a.btn[data-reveal-id="modal-review-form"] {
    margin-bottom: 30px;
  }
}

section.toggle {
  border: 0;
  margin-bottom: 0px !important;
  .toggle-content {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

section.toggle .toggle-title {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-family: $fontFamily-headings;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 0;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  border-top: 1px solid #dcdcdc;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  align-items: center;
  & i.fa {
    font-size: 18px;
    top: 2px;
    position: relative;
  }
  &.is-active {
    & i.fa::before {
      content: "\f106";
    }
  }
}

section.toggle:first-of-type {
  & .toggle-title {
    border-top: 0;
  }
}

#modal-size-chart-form {
  & .modal-content {
    padding: 0;
  }
}

a[data-reveal-id="modal-size-chart-form"] {
  float: right;
  position: relative;
  font-size: 12px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  font-family: $fontFamily-main;
  font-weight: 700;
  color: #000;
  &::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 15px;
    background: url("../img/size-chart-icon.png") center no-repeat;
    margin-right: 10px;
  }
  span {
    border-bottom: 1px dotted #000;
  }
}

.product-bottom {
  @media (min-width: 992px) {
    & > .right {
      padding-left: 50px;
    }
  }
  @media (max-width: 991px) {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column-reverse;
    & > div {
      width: 100%;
      padding-left: 15px;
    }
    & > .right {
      margin-bottom: 40px;
    }
    & #relatedProducts h3 {
      border-top: 1px solid #dcdcdc;
      padding-top: 25px;
    }
  }
}

.productAttributes-message {
  margin-bottom: 20px;
}
//Product Tabs
.productView-description {
  margin-top: 50px;
}
.productView-description ul.tabs {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  border: 0;
  @media (max-width: 767px) {
    border-bottom: 1px solid #eee;
  }
  &::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    content: "";
    background: #eee;
  }
  & li.tab {
    position: relative;
    z-index: 1;
    display: inline;
    float: left;
    border: 0;
    &:first-child {
      a {
        border-left: 1px solid #eee;
      }
    }
    @media (max-width: 767px) {
      display: inline-block;
      margin-left: 0;
      width: 100%;
      float: none;
    }

    & a {
      display: block;
      padding: 0 30px;
      font-family: $fontFamily-headings;
      font-size: 14px;
      font-weight: 500;
      vertical-align: middle;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #1e1e1e;
      border: 1px solid #eee;
      background: #fff;
      text-decoration: none;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      border-left: 0;
      height: 43px;
      line-height: 41px;
      @media (max-width: 991px) {
        padding: 0 20px;
      }
      @media (max-width: 767px) {
        display: block;
        padding: 0;
        padding: 12px;
        width: 100%;
        height: 100%;
        line-height: 19px;
        text-align: center;
        border-bottom: 0;
        border-left: 1px solid #eee;
      }
    }
    &.is-active a {
      border-top: 3px solid stencilColor("color-background-main");
      border-bottom: 0;
      font-weight: 500;
    }
  }
}
// .tab-title{
//    position: relative;
//    display: inline-block;
//    margin: 27px 0 19px 0;
//    padding: 0;
//    font-size: 14px;
//    font-weight: 500;
//    text-transform: uppercase;
//    color: stencilColor('color-black');
// }
.tabs-contents .tab-content .productCustomTab p:first-child {
  margin-top: 0;
}
.tabs-contents {
  color: #2d2d2d;
  .tab-content {
    padding: 0;
    font-weight: 500;
    line-height: 20px;
  }

  .tab-content p:first-child {
    margin-top: 25px;
  }

  p {
    margin: 0;
    line-height: 20px;
  }
  p img {
    margin-top: 34px;
    margin-bottom: 10px;
  }
  strong {
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 15px;
    font-family: $fontFamily-headings;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  ul,
  ol {
    padding-left: 30px;
    margin-bottom: 0;
    li {
      line-height: 20px;
      margin-bottom: 10px;
      span {
        font-family: $fontFamily-main;
        font-size: $fontSize-base;
        color: #505050;
      }
    }
  }
  blockquote {
    margin: 20px 0 18px 20px;
    padding: 5px 0 7px 20px;
    font-family: $fontFamily-main;
    font-weight: 400;
    font-style: italic;
    font-size: $fontSize-base;
    line-height: 20px;
    border-left: 3px solid #dadada;
  }
}
#tab-warranty {
  padding: 30px 0;
}
.page-type-product .container_page {
  padding-bottom: 25px;
}
