por// =============================================================================
// PRODUCT GRID (CSS)
// =============================================================================
// Product grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .products class.
//
// -----------------------------------------------------------------------------
.productGrid {
  @include u-listBullets("none");
  @include grid-row($behavior: "nest");
  font-size: 0; // 1
  margin-bottom: spacing("single");
  .product {
    @include grid-column(6, $float: none);
    display: inline-block;
    font-size: fontSize("base"); // 1
    vertical-align: top;
    @include breakpoint("small") {
      width: grid-calc(4, $total-columns);
    }
    @include breakpoint("medium") {
      width: grid-calc(3, $total-columns);
    }
  }
}

// Product when sidebar is present
// -----------------------------------------------------------------------------
//
// 1. When the sidebar is visible, reduce products to 3 across.
//
// -----------------------------------------------------------------------------
.page-sidebar + .page-content {
  .productGrid {
    // scss-lint:disable SelectorDepth, NestingDepth
    .product {
      // 1
      @include breakpoint("small") {
        width: grid-calc(4, $total-columns);
      }
    }
  }
}

//
// Product Grid with masonry layout
//
// Purpose: Display products in a masonry grid, with a display inline-block for
// older browsers that don't support css multicolumn
//
// 1. Some older browser support. This class comes from Modernizr
// -----------------------------------------------------------------------------
.productMasonry {
  column-count: 2;
  column-fill: auto;
  column-gap: remCalc(20px);
  margin: 0 0 spacing("single");
  overflow: hidden;
  @include breakpoint("small") {
    column-count: 3;
  }
  @include breakpoint("medium") {
    column-count: 4;
  }
  .product {
    break-inside: avoid;
    display: block;
    margin-bottom: spacing("double");
    padding: 0;
    width: 100%;
  }
  .card {
    margin: 0;
  }
  .no-csscolumns & {
    // 1
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0;
    // scss-lint:disable SelectorDepth, NestingDepth
    .product {
      @include grid-column(3, $float: none);
      display: inline-block;
      font-size: fontSize("base"); // 1
      vertical-align: top;
    }
    .card {
      margin: 0;
    }
  }
}

// Product grid view variation
// -----------------------------------------------------------------------------
.productGrid--maxCol6 {
  .no-csscolumns & {
    // scss-lint:disable SelectorDepth, NestingDepth
    .product {
      @include breakpoint("medium") {
        width: grid-calc(2, $total-columns);
      }
    }
  }
  .csscolumns & {
    @include breakpoint("medium") {
      column-count: 6;
    }
  }
}

.productGrid--maxCol3 {
  .no-csscolumns & {
    // scss-lint:disable SelectorDepth, NestingDepth
    .product {
      @include breakpoint("medium") {
        width: grid-calc(4, $total-columns);
      }
    }
  }
  .csscolumns & {
    @include breakpoint("medium") {
      @include grid-column(12);
      // scss-lint:disable SelectorDepth, NestingDepth
      .product {
        @include grid-column(4);
      }
    }
  }
}

.module-wrapper {
  & .productBlockContainer {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: spacing(double) * 2;
    @media (max-width: 1199px) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (max-width: 991px) {
      margin-top: 30px;
      padding-left: 0;
      padding-right: 0;
    }
    @media (max-width: 767px) {
      max-width: 480px;
      margin: 30px auto 0 auto;
    }
    &.columns-5 .prod-item {
      width: 20%;
    }

    &.columns-4 .prod-item {
      width: 25%;
    }
    &.columns-3 .prod-item {
      width: 33.33%;
    }
    &.columns-2 .prod-item {
      width: 50%;
    }
    &.columns-1 .prod-item {
      width: 100%;
    }
    @media (max-width: 1199px) {
      &.columns-5 .prod-item {
        width: 25%;
      }
    }
    @media (max-width: 991px) {
      &.columns-5 .prod-item {
        width: 33.33%;
      }
    }
    @media (max-width: 767px) {
      &.columns-5 .prod-item {
        width: 50%;
      }
      &.columns-4 .prod-item {
        width: 50%;
      }
    }
  }
}
.productlist-page {
  padding-top: spacing(double);
}
#product-listing-container {
  margin-bottom: 50px;
}

#product-listing-container .module-wrapper {
  margin-bottom: 20px;
  @media (min-width: 992px) and (max-width: 1199px) {
    & .productBlockContainer.columns-4 .prod-item {
      width: 33.33%;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    & .productBlockContainer.columns-4 .prod-item {
      width: 50%;
    }
  }
  @media (min-width: 992px) {
    & .productBlockContainer.columns-4 .prod-item {
      margin-bottom: -20px;
    }
  }
  @media (max-width: 991px) {
    & .productBlockContainer.columns-4 .prod-item {
      margin-bottom: 40px;
    }
  }
}

.prod-item {
  margin: 0;
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  padding: 0 10px;
  margin-bottom: 20px;
  &:hover {
    z-index: 999;
  }
  & article.card {
    position: relative;
    display: block;
    margin: 0;
    &::before {
      background: #fff;
      margin: -30px -30px 0;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1px solid transparent;
      z-index: 11;
      -moz-box-shadow: 4px 4px 0 rgb(235, 235, 235);
      -webkit-box-shadow: 4px 4px 0 rgb(235, 235, 235);
      box-shadow: 4px 4px 0 rgb(235, 235, 235);
      display: none;
    }
    @media (min-width: 992px) {
      &:hover {
        &::before {
          display: block;
          background: #fff;
          border-color: #ebebeb;
        }
      }
    }
  }

  .btn-compare {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    color: #969696;
    cursor: pointer;
    @include opacity(0);
    visibility: hidden;
    cursor: pointer;
    padding-top: 15px;
    border-top: 1px solid #f1f1f1;
    @media (max-width: 991px) {
      @include opacity(1);
      visibility: visible;
    }
    .form-checkbox + .form-label {
      margin: 0 auto;
      width: 90px;
    }
  }

  & .prod-image {
    position: relative;
    margin-bottom: 16px;
    display: block;
    @media (max-width: 480px) {
      min-height: auto;
      & .actions {
        width: 100%;
      }
    }

    & .actions > a.btnWL {
      position: absolute;
      top: 10px;
      left: 10px;
      display: inline-block;
      font-size: 15px;
      text-align: center;
      background: #fff;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      padding: 5px;
      color: #8c8c8c;
      &:hover {
        color: #213875;
      }
    }

    & .actions > .btnQV {
      font-family: $fontFamily-headings;
      font-size: 12px;
      font-weight: 400;
      position: absolute;
      top: 50%;
      width: 106px;
      left: 0;
      right: 0;
      padding: 10px 10px 10px;
      height: 41px;
      margin: 0 auto;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000000;
      background-color: #fff;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content: center;
      align-items: center;
      border: 3px solid #dcdcdc;
      @include transform(translateY(-50%));
      &:hover {
        border-color: #000;
      }
    }
    & a.btnATC {
      font-size: 14px;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      align-items: center;
      text-align: center;
      justify-content: center;
      transition: color 0.3s ease 0s;
      -moz-transition: color 0.3s ease 0s;
      -webkit-transition: color 0.3s ease 0s;
      -ms-transition: color 0.3s ease 0s;
      -o-transition: color 0.3s ease 0s;
      background: #213875;
      border-color: tranparent;
      letter-spacing: 0.05em;
      width: 100%;
      max-width: 218px;
      margin: 0 auto;
      @media (min-width: 992px) {
        padding: 0 5px;
        line-height: 14px;
        position: absolute;
        bottom: 0;
        left: 0px;
        right: 0px;
        min-height: 42px;
        @include opacity(0);
        visibility: hidden;
      }
      &:hover {
        -webkit-box-shadow: inset 0px 10px 8px -15px rgba(0, 0, 0, 0.8);
        box-shadow: inset 0px 10px 8px -15px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: inset 0px 10px 8px -15px rgba(0, 0, 0, 0.8);
        box-shadow: inset 0px 10px 8px -15px rgba(0, 0, 0, 0.8);
        transition: color 0.3s ease 0s;
        -moz-transition: color 0.3s ease 0s;
        -webkit-transition: color 0.3s ease 0s;
        -ms-transition: color 0.3s ease 0s;
        -o-transition: color 0.3s ease 0s;
        background: rgba(255, 255, 255, 1);
        border-color: #000;
      }
      @media (max-width: 480px) {
        font-weight: 500;
        font-size: 11px;
        padding: 0;
      }
    }
    .btn-alt.btnATC {
      border: 2px solid #c0c0c0;
      background: #fff;
      color: #c0c0c0;
      &:hover {
        border-color: #000;
        background: #000;
        color: #fff;
      }
    }

    & .actions > a.btnWL,
    & .actions > .btnQV {
      @include opacity(0);
      visibility: hidden;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
  }
  &:hover .actions > a.btnWL,
  &:hover .actions > .btnQV {
    @include opacity(1);
    visibility: visible;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  &:hover .btn-compare {
    @include opacity(1);
    visibility: visible;
  }
  & .prod-desc {
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
    &[login-for-pricing] {
      padding-bottom: 0;
    }
    & .prod-brand {
      display: block;
      margin-bottom: 5px;
      color: #000;
      font-size: 12px;
      font-weight: 600;
      min-height: 16px;
    }
    & h4.prod-name {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: fontSize("base");
      font-family: $fontFamily-main;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.04em;
      a {
        color: stencilColor("card-title-color");
        &:hover {
          color: stencilColor("card-title-color-hover");
          text-decoration: none;
        }
      }
    }
    & .prod-summary {
      display: none;
    }
    & .prod-price {
      color: stencilColor("basic-price-color");
      font-family: $fontFamily-main;
      font-size: 14px;
      font-weight: 700;
      line-height: 25px;
      margin-bottom: 5px;
      & .price--rrp {
        margin-right: 10px;
        color: stencilColor("retail-price-color");
        font-weight: 500;
        font-size: 14px;
        & ~ .price--withoutTax {
          color: stencilColor("color-background-main");
          font-weight: 700;
        }
      }
      p[translate] {
        color: $anchor-font-color-hover;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
    @media (max-width: 991px) {
      padding-bottom: 0;
    }
  }
  &:hover a.btnATC {
    @include opacity(1);
    visibility: visible;
  }
  a.btnATC,
  .star-rating-list {
    display: none;
  }
}

.new-badge {
  width: 68px;
  height: 68px;
  line-height: 68px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 20px;
  right: -10px;
  padding: 0;
  text-align: center;
  font-family: $fontFamily-headings;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: stencilColor("new-badge-color");
  background: url("../img/new-label.png") no-repeat top left;
  span {
    border-bottom: 1px dotted stencilColor("new-badge-border-color");
  }
}

.sale-badge {
  width: 68px;
  height: 68px;
  line-height: 68px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  z-index: 11;
  top: 20px;
  right: -10px;
  padding: 0;
  text-align: center;
  font-family: $fontFamily-headings;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: stencilColor("sale-badge-color");
  background-color: #daf0f6;
}

.new-badge ~ .sale-badge {
  top: 80px;
}

.productView-images .new-badge {
  right: 15px;
}

.productView-images .sale-badge {
  right: 15px;
}

.module-wrapper:not(.productList) {
  & .prod-item {
    background: #fff;
    &:hover article.card {
      position: relative;
      & .card-figure {
        z-index: 22;
      }
    }
    & .card-figure {
      background: transparent;
      height: auto;
    }
  }
}

#homeFeaturedProducts.module-wrapper {
  padding: spacing(double) 0;
  & > .container {
    @media (max-width: 991px) {
      width: auto;
      max-width: 750px;
    }
  }
}

#homeFeaturedProducts.module-wrapper .productCarousel {
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  background: transparent;
  & .prod-item:not(:hover) {
    background: transparent;
  }
  @media (max-width: 991px) {
    margin-bottom: 0;
  }
}

.productCarousel {
  margin-bottom: 40px;
  background: #ffffff;
}

.productCarousel .owl-stage {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  & .owl-item {
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-content: stretch;
    align-items: stretch;
    & .prod-item {
      margin-bottom: 0;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      align-content: stretch;
      align-items: stretch;
      @media (max-width: 991px) {
        padding: 0;
      }
    }
  }
}
#sideTopSellers .new-badge,
#sideTopSellers .sale-badge {
  right: 0;
}
#relatedProducts .owl-carousel.owl-drag .owl-item.active:last-child,
#similarByViews .owl-carousel.owl-drag .owl-item.active:last-child {
  margin-right: 20px !important;
}
.prod-item a,
.prod-item img,
.prod-item a:hover,
.prod-item img:hover,
.prod-item article.card {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
