// =============================================================================
// COLORS - GLOBAL TOOLS
// =============================================================================


$colorMap-link: (
    link: (
        base:                       $color-textBase,
        hover:                      $color-textBase-hover,
        active:                     $color-textBase-active,
        text:                       $color-textLink
    )
);

$colorMap: map-merge($colorMap, $colorMap-link);
