<svg xmlns="http://www.w3.org/2000/svg"><defs> <path id="chicco-logo-a" d="M64 4.2C64-3 69.8-8.9 77.1-8.9c7.2 0 13.1 5.9 13.1 13.1 0 7.3-5.9 13.1-13.1 13.1-7.3.1-13.1-5.8-13.1-13.1"/> <radialGradient id="huggies-logo-a" cx="2074.7207" cy="809.2435" r="140.7478" gradientTransform="matrix(2.074 .1993 -.08792 .9123 -3483.052 -1373.1282)" gradientUnits="userSpaceOnUse"> <stop offset=".2619" stop-color="#FFF"/> <stop offset=".8768" stop-color="#FFF"/> </radialGradient><linearGradient id="payment-sprite-afa" gradientUnits="userSpaceOnUse" x1="824.742" y1="333.781" x2="825.742" y2="333.781" gradientTransform="matrix(132.8743 0 0 -323.0226 -109129.53 108054.602)"><stop offset="0" stop-color="#007B40"/><stop offset="1" stop-color="#55B330"/></linearGradient><linearGradient id="payment-sprite-afb" gradientUnits="userSpaceOnUse" x1="824.755" y1="333.782" x2="825.748" y2="333.782" gradientTransform="matrix(133.4307 0 0 -323.0203 -109887.688 108053.82)"><stop offset="0" stop-color="#1D2970"/><stop offset="1" stop-color="#006DBA"/></linearGradient><linearGradient id="payment-sprite-afc" gradientUnits="userSpaceOnUse" x1="824.742" y1="333.781" x2="825.741" y2="333.781" gradientTransform="matrix(132.9583 0 0 -323.0276 -109347.922 108056.266)"><stop offset="0" stop-color="#6E2B2F"/><stop offset="1" stop-color="#E30138"/></linearGradient> <path id="stumbleupon-path-1" d="M0,0.0749333333 L31.9250667,0.0749333333 L31.9250667,31.984 L0,31.984"/> </defs><symbol viewBox="0 0 24 24" id="icon-add"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></symbol><symbol viewBox="0 0 36 36" id="icon-arrow-down"> <path d="M16.5 6v18.26l-8.38-8.38-2.12 2.12 12 12 12-12-2.12-2.12-8.38 8.38v-18.26h-3z"/> </symbol><symbol viewBox="0 0 523.9 121.1" id="icon-babies-logo-default"> <g> <g> <path fill="#487BAC" d="M235.6,16.4l0.9-4.1c0,0-11.1-1.3-13.4,13.2l3.6,0C226.7,25.4,226.9,16.7,235.6,16.4z"/> </g> <g> <g> <g> <path fill="#DE738D" d="M198.1,45c4.2,0.1,7.7,3.8,7.6,8c-0.1,4.3-3.8,7.7-8,7.6c-4.2-0.1-7.7-3.7-7.6-8
					C190.3,48.4,193.9,44.9,198.1,45z"/> <path fill="#487BAC" d="M197.9,61.9c-5,0-9.1-4.1-9.1-9.1c0-4.9,4.1-9.1,9.1-9.1c4.9,0,9.1,4.2,9.1,9.1
					C207,57.8,202.9,61.9,197.9,61.9z M197.9,46.3c-3.5,0-6.5,3-6.5,6.5c0,3.5,3,6.5,6.5,6.5c3.5,0,6.5-3,6.5-6.5
					C204.4,49.3,201.4,46.3,197.9,46.3z"/> </g> </g> </g> <g> <g> <g> <path fill="#DE738D" d="M323.5,100.8c3,0,5.6,2.6,5.6,5.6c0,3.1-2.6,5.6-5.6,5.6c-3,0-5.6-2.5-5.6-5.6
					C318,103.3,320.5,100.8,323.5,100.8z"/> <path fill="#DE738D" d="M323.5,112.8c-3.6,0-6.5-2.9-6.5-6.5c0-3.5,3-6.5,6.5-6.5c3.5,0,6.5,3,6.5,6.5
					C330,109.9,327.1,112.8,323.5,112.8z M323.5,101.7c-2.5,0-4.6,2.1-4.6,4.6c0,2.5,2.1,4.6,4.6,4.6c2.5,0,4.6-2.1,4.6-4.6
					C328.2,103.8,326.1,101.7,323.5,101.7z"/> </g> </g> </g> <g> <g> <g> <path fill="#DE738D" d="M435.8,100.8c3,0,5.6,2.6,5.6,5.6c0,3.1-2.6,5.6-5.6,5.6c-3,0-5.6-2.5-5.6-5.6
					C430.2,103.3,432.8,100.8,435.8,100.8z"/> <path fill="#DE738D" d="M435.8,112.8c-3.6,0-6.5-2.9-6.5-6.5c0-3.5,3-6.5,6.5-6.5c3.5,0,6.5,3,6.5,6.5
					C442.2,109.9,439.3,112.8,435.8,112.8z M435.8,101.7c-2.5,0-4.6,2.1-4.6,4.6c0,2.5,2.1,4.6,4.6,4.6c2.5,0,4.6-2.1,4.6-4.6
					C440.4,103.8,438.3,101.7,435.8,101.7z"/> </g> </g> </g> <g> <path fill="#DE738D" d="M183.7,53c0,0-13.7-6.1-13.7-26.2c0,0,1.5-26.8,29-26.8v25.4h27.7c0,0,3.4,17-14,27.7
			c0,0-1.2-13.7-14.5-13.7C198.2,39.5,185.3,38.9,183.7,53z"/> </g> <g> <g> <path fill="#487BAC" d="M0,54.1c0-6.4,2.7-10.4,9-10.4c4.8,0,8.7,3.3,8.7,10.4v12.9c3.4-1.4,6.6-2,10.5-2
				c15.3,0,27.9,12.6,27.9,28s-12.6,27.9-27.9,27.9c-4.9,0-9.3-1.2-13-2.9c-1.6,1.6-3.7,2.6-6.3,2.6c-5.3-0.1-8.9-4.1-8.9-10.3V54.1
				z M28.3,82.7c-6,0-10.4,4.5-10.4,10.4c0,6,4.5,10.4,10.4,10.4c5.8,0,10.3-4.5,10.3-10.4C38.6,87.2,34,82.7,28.3,82.7z"/> <path fill="#487BAC" d="M90.2,65c4.7,0,9,1.1,12.9,3c1.6-1.9,3.8-2.7,6.4-2.7h0.9c6,0.5,7.9,5.5,7.9,10.4v34.7
				c0,5.1-2.5,10.3-8.2,10.3h-0.7c-2.5,0-4.8-0.9-6.4-2.6c-3.8,2-8.4,2.9-12.9,2.9c-15.3,0-27.9-12.6-27.9-28S74.9,65,90.2,65z
				 M90.2,103.6c6,0,10.4-4.6,10.4-10.5c0-6-4.5-10.5-10.4-10.5c-5.8,0-10.3,4.6-10.3,10.5C79.9,99,84.4,103.6,90.2,103.6z"/> <path fill="#487BAC" d="M126.6,54.1c0-6.4,2.7-10.4,9-10.4c4.8,0,8.7,3.3,8.7,10.4v12.9c3.4-1.4,6.6-2,10.5-2
				c15.3,0,27.9,12.6,27.9,28s-12.6,27.9-27.9,27.9c-4.9,0-9.3-1.2-13-2.9c-1.6,1.6-3.7,2.6-6.3,2.6c-5.3-0.1-8.9-4.1-8.9-10.3V54.1
				z M154.9,82.7c-6,0-10.4,4.5-10.4,10.4c0,6,4.5,10.4,10.4,10.4c5.8,0,10.3-4.5,10.3-10.4C165.2,87.2,160.7,82.7,154.9,82.7z"/> <path fill="#487BAC" d="M189.3,76.3c0-7.2,3.9-10.4,8.9-10.4c4.9,0,8.8,3.3,8.8,10.4v34c0,7.2-3.9,10.3-8.8,10.3
				c-5,0-8.9-3.2-8.9-10.3V76.3z"/> <path fill="#487BAC" d="M257.8,102c4.3,0,6.7,2.5,6.7,6.5c0,2.6-1.1,4.9-2.9,6.6c-5.4,5.1-12.1,6-18.9,6c-15.5,0-28-12.6-28-28.3
				c0-15.4,12.5-27.8,28-27.8c14.5,0,26,10.8,27.4,24.8v0.9c0,4.8-4,8.5-8.8,8.5h-27.8c0,2.2,4.1,6.3,10,6.3
				C252.3,105.4,251.9,102,257.8,102z M252.1,87.2c0-2.3-3.7-5.5-9.6-5.5c-5.9,0-9.3,4.3-9.3,5.5H252.1z"/> <path fill="#487BAC" d="M283.4,100.2c4.3,0,6.2,5.1,9.5,5.1c1.3,0,1.8-0.7,1.8-1.4c0-3.3-3.8-3.5-5.7-4.5l-0.5-0.3
				c-4.2-2.3-11.8-6.3-11.8-17c0-10.3,6.7-17.2,17.1-17.2c8.2,0,16.4,6.1,16.4,12.5c0,4.9-2.1,8.3-7,8.3c-3,0-4.8-1.2-6.5-3.6
				c-0.2-0.4-1.2-1.8-2.3-1.8c-2,0-2.1,1-2.1,2.3c0,1.1,4.5,3.5,5.2,3.8l0.4,0.2c5.1,2.9,12.1,7.1,12.1,17.6
				c0,9.4-7.4,16.9-16.5,16.9c-9,0-17.4-3.8-17.4-12.8C276.1,103.5,278.2,100.2,283.4,100.2z"/> </g> </g> <g> <g> <path fill="#DE738D" d="M377.5,87c0.5,0.9,1.1,2.2,1.1,4.1c0,3.7-2.7,6-6.3,6c-0.3,0-0.8,0-1.1-0.1c-2.3-0.3-3.6-1.5-5-2.8
				c-1.6-1.5-3.4-3-6.9-3c-4.5,0-8.1,3.6-8.1,8.1c0,4.6,3.6,8.3,8.1,8.3c3.1,0,5.3-1.6,7.4-4.6c0.9-1.3,2.5-3.1,5.7-3.1
				c0.4,0,1,0,1.6,0.1c3.8,0.7,5.5,3.3,5.5,6.6c0,0.9-0.2,1.9-0.5,2.7c-3.8,7.3-11.1,12.3-19.8,12.3c-12.4,0-22.3-9.9-22.3-22.3
				c0-12.3,9.9-22.2,22.3-22.2C366.7,77.3,373.8,81.7,377.5,87z"/> <path fill="#DE738D" d="M402.7,77.3c12.2,0,22.2,9.9,22.2,22.2c0,12.4-9.9,22.3-22.2,22.3c-12.3,0-22.3-9.9-22.3-22.3
				C380.4,87.2,390.3,77.3,402.7,77.3z M402.7,107.7c4.5,0,8.1-3.6,8.1-8.2c0-4.5-3.6-8.1-8.1-8.1c-4.6,0-8.1,3.6-8.1,8.1
				C394.5,104,398.1,107.7,402.7,107.7z"/> <path fill="#DE738D" d="M448.8,85.1c0-5.4,3.2-7.9,7.2-7.9c1.8,0,3.2,0.5,4.5,1.7c2.4-1.3,5.2-1.7,7.8-1.7
				c12.3,0,19.4,7,19.4,19.2v16.7c0,5.7-3.1,8.2-6.9,8.2c-4.1,0-7.2-2.5-7.2-8.2V96.7c0-3-2.4-5.4-5.3-5.4c-2.8,0-5.2,2.2-5.3,4.9
				v16.9c0,5.4-3.2,8.3-6.9,8.3c-4.1,0-7-2.2-7.2-8.2V85.1z"/> <path fill="#DE738D" d="M497.2,91.9c-3.8,0-6.8-2.8-6.8-6.9c0-3.9,3-7,6.8-7h16c4.5,0,8.3,3.6,8.3,8c0,1.4-0.8,3.3-4.6,8.8
				l-8.7,12.3h6.3c4,0,7,3,7,7c0,3.8-3,7-7,7h-16c-4.4,0-8.1-3.6-8.1-8c0-1.5,0.5-3.3,1.3-4.5L505.8,92L497.2,91.9z"/> </g> </g> <g> <g> <path fill="#487BAC" d="M239.6,26l-0.3,1.5h-2.7l-1.1,6c-0.3,1.4-0.2,2.5,1.5,2.5c0.3,0,0.7,0,1-0.1l-0.2,1.4
				c-0.6,0.1-1.1,0.3-1.7,0.3c-2.7,0-3-2.1-2.8-3.2l1.2-6.8h-1.4l0.3-1.5h1.4l0.4-2.1l2.1-0.2l-0.4,2.3H239.6z"/> <path fill="#487BAC" d="M242.8,20.9h2l-0.9,5.1l-0.5,2.1h0.1c1.2-1.4,2.8-2.4,4.5-2.4c2,0,2.9,1.6,2.6,3.2l-1.5,8.3h-2l1.4-8
				c0.2-1.1-0.3-1.7-1.3-1.7c-1.6,0-3,1.2-4,2.4l-1.3,7.3h-2L242.8,20.9z"/> <path fill="#487BAC" d="M254.6,32c-0.4,2.4,0.6,4,3.1,4c1.1,0,2.2-0.3,3.3-0.7l-0.3,1.6c-1.2,0.4-2.4,0.6-3.9,0.6
				c-4.6,0-4.7-4-4.3-5.9c0.5-2.9,2.7-5.9,5.9-5.9c3.5,0,3.8,3.3,3.2,6.2H254.6z M259.6,30.6c0.3-1.5,0.2-3.3-1.7-3.3
				c-1.7,0-2.7,1.8-3.1,3.3H259.6z"/> <path fill="#487BAC" d="M269.4,35c0.9,0.5,2.1,1,3.3,1c1,0,2.2-0.5,2.4-1.7c0.4-2.4-5.2-1.7-4.5-5.4c0.4-2.1,2.1-3.1,4.4-3.1
				c0.9,0,1.6,0.1,2.7,0.3l-0.3,1.7c-0.8-0.3-1.7-0.5-2.7-0.5c-0.9,0-2.1,0.4-2.3,1.4c-0.4,2.1,5.3,1.7,4.6,5.4
				c-0.4,2.4-2.7,3.4-4.8,3.4c-1.1,0-2.3-0.3-3.2-0.6L269.4,35z"/> <path fill="#487BAC" d="M282.9,28.1h0.1c1-1.5,2.5-2.4,4.2-2.4c3.2,0,3.9,2.8,3.4,5.6c-0.5,2.9-2.5,6.2-5.8,6.2
				c-1.4,0-2.4-0.4-3.1-1.5h-0.1l-0.1,1.5l-0.7,3.8h-2l2.7-15.4h2L282.9,28.1z M281.9,34.6c0.8,0.9,1.5,1.4,2.8,1.4
				c2.3,0,3.4-2.5,3.7-4.4c0.3-1.7,0.3-4-1.9-4c-1.3,0-2.7,0.9-3.7,1.9L281.9,34.6z"/> <path fill="#487BAC" d="M294.2,32c-0.4,2.4,0.6,4,3.1,4c1.1,0,2.2-0.3,3.3-0.7l-0.3,1.6c-1.2,0.4-2.5,0.6-3.9,0.6
				c-4.6,0-4.7-4-4.3-5.9c0.5-2.9,2.7-5.9,5.9-5.9c3.5,0,3.8,3.3,3.2,6.2H294.2z M299.3,30.6c0.3-1.5,0.2-3.3-1.7-3.3
				c-1.7,0-2.7,1.8-3.1,3.3H299.3z"/> <path fill="#487BAC" d="M312.5,27.8c-0.9-0.3-1.9-0.6-2.9-0.6c-2.4,0-3.8,2.2-4.2,4.4c-0.4,2.3,0.3,4.3,2.8,4.3
				c1,0,2.1-0.2,3.1-0.7l-0.3,1.6c-1.1,0.3-2.3,0.6-3.4,0.6c-4.6,0-4.7-4-4.3-5.9c0.4-2.5,2.2-5.9,6.4-5.9c1.1,0,2.1,0.1,3.1,0.4
				L312.5,27.8z"/> <path fill="#487BAC" d="M315.3,26h2l-2,11.3h-2L315.3,26z M316,21.9h2l-0.4,2h-2L316,21.9z"/> <path fill="#487BAC" d="M327.8,37.2c-0.5,0.2-1.1,0.3-1.6,0.3c-1,0-1.6-0.7-1.6-1.7c-1,0.9-2.4,1.7-3.8,1.7
				c-1.8,0-3.1-1.2-2.7-3.1c0.4-2,2.4-3.8,6.4-3.8h0.8l0.1-0.8c0.3-1.6,0.2-2.5-1.6-2.5c-1.1,0-2.5,0.5-3.6,1l0.3-1.7
				c1.3-0.5,2.7-0.9,4.1-0.9c2.4,0,3.4,1.1,3,3.3l-0.9,5c-0.1,0.8-0.4,2,0.7,2h0.4L327.8,37.2z M325.1,31.8h-1
				c-1.2,0-3.6,0.5-3.9,2.3c-0.2,1,0.5,1.7,1.5,1.7c1,0,2-0.5,2.8-1.1L325.1,31.8z"/> <path fill="#487BAC" d="M332.6,20.9h2l-2.9,16.4h-2L332.6,20.9z"/> <path fill="#487BAC" d="M337,26h2l-2,11.3h-2L337,26z M337.8,21.9h2l-0.4,2h-2L337.8,21.9z"/> <path fill="#487BAC" d="M340.4,35c0.9,0.5,2.1,1,3.3,1c1,0,2.2-0.5,2.4-1.7c0.4-2.4-5.2-1.7-4.5-5.4c0.4-2.1,2.1-3.1,4.4-3.1
				c0.9,0,1.6,0.1,2.7,0.3l-0.3,1.7c-0.8-0.3-1.7-0.5-2.7-0.5c-0.9,0-2.1,0.4-2.3,1.4c-0.4,2.1,5.3,1.7,4.6,5.4
				c-0.4,2.4-2.7,3.4-4.8,3.4c-1.1,0-2.3-0.3-3.2-0.6L340.4,35z"/> <path fill="#487BAC" d="M357.3,26l-0.3,1.5h-2.7l-1.1,6c-0.3,1.4-0.2,2.5,1.5,2.5c0.3,0,0.7,0,1-0.1l-0.2,1.4
				c-0.6,0.1-1.1,0.3-1.7,0.3c-2.7,0-3-2.1-2.8-3.2l1.2-6.8h-1.4l0.3-1.5h1.4l0.4-2.1l2.1-0.2l-0.4,2.3H357.3z"/> <path fill="#487BAC" d="M365.6,26h2l-2,11.3h-2L365.6,26z M366.3,21.9h2l-0.4,2h-2L366.3,21.9z"/> <path fill="#487BAC" d="M372.5,28.1h0.1c1.2-1.4,2.8-2.4,4.5-2.4c2,0,2.9,1.6,2.6,3.2l-1.5,8.3h-2l1.4-8c0.2-1.1-0.3-1.7-1.3-1.7
				c-1.6,0-3,1.2-4,2.4l-1.3,7.3h-2l2-11.3h2L372.5,28.1z"/> <path fill="#487BAC" d="M390,20.9h2l-0.9,5.1l-0.5,2.1h0.1c1-1.5,2.5-2.4,4.2-2.4c3.2,0,3.9,2.8,3.4,5.6
				c-0.5,2.9-2.5,6.2-5.8,6.2c-1.4,0-2.4-0.4-3.1-1.5h-0.1l-0.5,1.4h-1.7L390,20.9z M389.6,34.6c0.8,0.9,1.5,1.4,2.8,1.4
				c2.3,0,3.4-2.5,3.7-4.4c0.3-1.7,0.3-4-1.9-4c-1.3,0-2.7,0.9-3.7,1.9L389.6,34.6z"/> <path fill="#487BAC" d="M409,37.2c-0.5,0.2-1.1,0.3-1.6,0.3c-1,0-1.6-0.7-1.6-1.7c-1,0.9-2.4,1.7-3.8,1.7c-1.8,0-3.1-1.2-2.7-3.1
				c0.4-2,2.4-3.8,6.4-3.8h0.8l0.1-0.8c0.3-1.6,0.2-2.5-1.6-2.5c-1.1,0-2.5,0.5-3.6,1l0.3-1.7c1.3-0.5,2.7-0.9,4.1-0.9
				c2.4,0,3.4,1.1,3,3.3l-0.9,5c-0.1,0.8-0.4,2,0.7,2h0.4L409,37.2z M406.3,31.8h-1c-1.2,0-3.6,0.5-3.9,2.3c-0.2,1,0.5,1.7,1.5,1.7
				c1,0,2-0.5,2.8-1.1L406.3,31.8z"/> <path fill="#487BAC" d="M413.6,20.9h2l-0.9,5.1l-0.5,2.1h0.1c1-1.5,2.5-2.4,4.2-2.4c3.2,0,3.9,2.8,3.4,5.6
				c-0.5,2.9-2.5,6.2-5.8,6.2c-1.4,0-2.4-0.4-3.1-1.5h-0.1l-0.5,1.4h-1.7L413.6,20.9z M413.2,34.6c0.8,0.9,1.5,1.4,2.8,1.4
				c2.3,0,3.4-2.5,3.7-4.4c0.3-1.7,0.3-4-1.9-4c-1.3,0-2.7,0.9-3.7,1.9L413.2,34.6z"/> <path fill="#487BAC" d="M426.3,37.3L423.8,26h2.2l1.9,8.7l5.6-8.7h1.8l-9.8,15.4h-2L426.3,37.3z"/> <path fill="#487BAC" d="M444.3,28.1h0.1c1-1.5,2.5-2.4,4.2-2.4c3.2,0,3.9,2.8,3.4,5.6c-0.5,2.9-2.5,6.2-5.8,6.2
				c-1.4,0-2.4-0.4-3.1-1.5h-0.1l-0.1,1.5l-0.7,3.8h-2l2.7-15.4h2L444.3,28.1z M443.3,34.6c0.8,0.9,1.5,1.4,2.8,1.4
				c2.3,0,3.4-2.5,3.7-4.4c0.3-1.7,0.3-4-1.9-4c-1.3,0-2.7,0.9-3.7,1.9L443.3,34.6z"/> <path fill="#487BAC" d="M456.9,28.1h0.1c0.9-1.4,2.4-2.4,4-2.4h0.6l-0.3,2c-0.3-0.1-0.6-0.2-0.9-0.2c-1.5,0-2.8,1.1-3.7,2.3
				l-1.3,7.4h-2l2-11.3h2L456.9,28.1z"/> <path fill="#487BAC" d="M461,31.6c0.4-2.5,2.2-5.9,6.4-5.9c4.2,0,4.8,3.4,4.3,5.9c-0.3,1.8-1.8,5.9-6.4,5.9
				C460.7,37.5,460.7,33.5,461,31.6z M469.6,31.6c0.4-2.1,0-4.4-2.4-4.4c-2.5,0-3.6,2.3-4,4.4c-0.4,2.1,0,4.4,2.4,4.4
				C468.1,36,469.2,33.7,469.6,31.6z"/> <path fill="#487BAC" d="M480.9,35.2h-0.1c-1,1.5-2.5,2.4-4.2,2.4c-3.2,0-3.9-2.8-3.4-5.6c0.5-2.9,2.5-6.2,5.8-6.2
				c1.4,0,2.4,0.4,3.1,1.5h0.1l0.1-1.5l0.9-4.9h2l-2.9,16.4h-2L480.9,35.2z M481.9,28.7c-0.8-0.9-1.5-1.4-2.8-1.4
				c-2.3,0-3.4,2.5-3.7,4.4c-0.3,1.7-0.3,4,1.9,4c1.3,0,2.7-0.9,3.7-1.9L481.9,28.7z"/> <path fill="#487BAC" d="M492.9,37.3L492.9,37.3l0.5-2.1h-0.1c-1.2,1.4-2.8,2.4-4.5,2.4c-2,0-2.9-1.6-2.6-3.2l1.5-8.3h2l-1.4,8
				c-0.2,1.1,0.3,1.7,1.3,1.7c1.6,0,3-1.2,4-2.4l1.3-7.3h2l-2,11.3H492.9z"/> <path fill="#487BAC" d="M507.6,27.8c-0.9-0.3-1.9-0.6-2.9-0.6c-2.4,0-3.8,2.2-4.2,4.4c-0.4,2.3,0.3,4.3,2.8,4.3
				c1,0,2.1-0.2,3.1-0.7l-0.3,1.6c-1.1,0.3-2.3,0.6-3.4,0.6c-4.6,0-4.7-4-4.3-5.9c0.4-2.5,2.2-5.9,6.4-5.9c1.1,0,2.1,0.1,3.1,0.4
				L507.6,27.8z"/> <path fill="#487BAC" d="M515.2,26l-0.3,1.5h-2.7l-1.1,6C511,35,511,36,512.7,36c0.3,0,0.7,0,1-0.1l-0.2,1.4
				c-0.6,0.1-1.1,0.3-1.7,0.3c-2.7,0-3-2.1-2.8-3.2l1.2-6.8h-1.4l0.3-1.5h1.4l0.4-2.1l2.1-0.2l-0.4,2.3H515.2z"/> <path fill="#487BAC" d="M515.6,35c0.9,0.5,2.1,1,3.3,1c1,0,2.2-0.5,2.4-1.7c0.4-2.4-5.2-1.7-4.5-5.4c0.4-2.1,2.1-3.1,4.4-3.1
				c0.9,0,1.6,0.1,2.7,0.3l-0.3,1.7c-0.8-0.3-1.7-0.5-2.7-0.5c-0.9,0-2.1,0.4-2.2,1.4c-0.4,2.1,5.3,1.7,4.6,5.4
				c-0.4,2.4-2.7,3.4-4.8,3.4c-1.1,0-2.3-0.3-3.2-0.6L515.6,35z"/> </g> </g> <g> <g> <path fill="#DE738D" d="M488.3,43.2h3.4l-0.1,0.8h-2.1l-0.2,1.2h1.7l-0.1,0.7h-1.7l-0.2,1.4h2.2l-0.1,0.8h-3.6L488.3,43.2z"/> <path fill="#DE738D" d="M491.8,47.2c0.4,0.2,0.8,0.3,1.3,0.3c0.4,0,0.8-0.1,0.9-0.5c0.1-0.8-2.1-0.9-1.8-2.5c0.2-1,1.1-1.4,2-1.4
				c0.5,0,1,0.1,1.5,0.2l-0.2,0.9c-0.4-0.1-0.8-0.3-1.2-0.3c-0.3,0-0.7,0.1-0.7,0.4c-0.1,0.8,2.2,0.8,1.9,2.5
				c-0.1,0.5-0.5,1.5-2.3,1.5c-0.6,0-1.2-0.1-1.5-0.1L491.8,47.2z"/> <path fill="#DE738D" d="M497.9,44.1h-1.8l0.1-0.8h4.9l-0.1,0.8h-1.8l-0.7,4.2h-1.3L497.9,44.1z"/> <path fill="#DE738D" d="M505.1,44h-0.7l0.1-0.7l2-0.2l-0.9,5.1h-1.3L505.1,44z"/> <path fill="#DE738D" d="M510.8,45.9c-0.3,0.4-0.8,0.5-1.2,0.5c-0.9,0-1.5-0.7-1.3-1.6c0.1-0.6,0.8-1.8,2.3-1.8c1.4,0,2,1,1.7,2.5
				c-0.2,1.4-1.2,2.7-2.9,2.7c-0.5,0-1-0.1-1.4-0.2l0.2-0.9c0.4,0.2,0.8,0.3,1.2,0.3C510.3,47.6,510.8,46.4,510.8,45.9L510.8,45.9z
				 M509.6,44.7c-0.1,0.4,0,1,0.5,1c0.5,0,0.8-0.5,0.9-0.9c0.1-0.4,0-0.9-0.5-0.9C509.9,43.8,509.6,44.3,509.6,44.7z"/> <path fill="#DE738D" d="M515.4,45.9c-0.3,0.4-0.8,0.5-1.2,0.5c-0.9,0-1.5-0.7-1.3-1.6c0.1-0.6,0.8-1.8,2.3-1.8c1.4,0,2,1,1.7,2.5
				c-0.2,1.4-1.2,2.7-2.9,2.7c-0.5,0-1-0.1-1.4-0.2l0.2-0.9c0.4,0.2,0.8,0.3,1.2,0.3C515,47.6,515.4,46.4,515.4,45.9L515.4,45.9z
				 M514.2,44.7c-0.1,0.4,0,1,0.5,1c0.5,0,0.8-0.5,0.9-0.9c0.1-0.4,0-0.9-0.5-0.9C514.6,43.8,514.3,44.3,514.2,44.7z"/> <path fill="#DE738D" d="M518.4,45.6c-0.4-0.2-0.6-0.7-0.5-1.2c0.1-0.5,0.6-1.3,2-1.3c1,0,1.6,0.4,1.5,1.2c-0.1,0.5-0.5,0.9-1,1.2
				c0.5,0.3,0.9,0.7,0.8,1.4c-0.1,0.5-0.7,1.5-2.3,1.5c-1,0-1.9-0.4-1.7-1.3C517.3,46.4,517.9,45.8,518.4,45.6z M518.4,46.8
				c-0.1,0.5,0.3,0.8,0.8,0.8c0.3,0,0.8-0.2,0.8-0.6c0.1-0.4-0.6-0.8-1.1-1.1C518.7,46.2,518.5,46.4,518.4,46.8z M520.3,44.5
				c0.1-0.4-0.1-0.6-0.5-0.6c-0.3,0-0.6,0.1-0.7,0.5c-0.1,0.4,0.5,0.6,0.8,0.8C520.1,44.9,520.2,44.7,520.3,44.5z"/> </g> </g> </g> <rect x="311.9" y="60.6" fill="none" width="36" height="21.3"/> <text transform="matrix(1 0 0 1 311.9482 69.1605)" fill="#487BAC" font-family="&apos;Arial-BoldMT&apos;" font-size="12px">TM</text> </symbol><symbol viewBox="0 0 310.1 121.1" id="icon-babies-logo"> <g> <g> <path fill="#233974" d="M235.6,16.4l0.9-4.1c0,0-11.1-1.3-13.4,13.2l3.6,0C226.7,25.4,226.9,16.7,235.6,16.4z"/> </g> <g> <g> <g> <path fill="#DE738D" d="M198.1,45c4.2,0.1,7.7,3.8,7.6,8c-0.1,4.3-3.8,7.7-8,7.6c-4.2-0.1-7.7-3.7-7.6-8
					C190.3,48.4,193.9,44.9,198.1,45z"/> <path fill="#233974" d="M197.9,61.9c-5,0-9.1-4.1-9.1-9.1c0-4.9,4.1-9.1,9.1-9.1c4.9,0,9.1,4.2,9.1,9.1
					C207,57.8,202.9,61.9,197.9,61.9z M197.9,46.3c-3.5,0-6.5,3-6.5,6.5c0,3.5,3,6.5,6.5,6.5c3.5,0,6.5-3,6.5-6.5
					C204.4,49.3,201.4,46.3,197.9,46.3z"/> </g> </g> </g> <g> <path fill="#DE738D" d="M183.7,53c0,0-13.7-6.1-13.7-26.2c0,0,1.5-26.8,29-26.8v25.4h27.7c0,0,3.4,17-14,27.7
			c0,0-1.2-13.7-14.5-13.7C198.2,39.5,185.3,38.9,183.7,53z"/> </g> <g> <g> <path fill="#233974" d="M0,54.1c0-6.4,2.7-10.4,9-10.4c4.8,0,8.7,3.3,8.7,10.4v12.9c3.4-1.4,6.6-2,10.5-2
				c15.3,0,27.9,12.6,27.9,28s-12.6,27.9-27.9,27.9c-4.9,0-9.3-1.2-13-2.9c-1.6,1.6-3.7,2.6-6.3,2.6c-5.3-0.1-8.9-4.1-8.9-10.3V54.1
				z M28.3,82.7c-6,0-10.4,4.5-10.4,10.4c0,6,4.5,10.4,10.4,10.4c5.8,0,10.3-4.5,10.3-10.4C38.6,87.2,34,82.7,28.3,82.7z"/> <path fill="#233974" d="M90.2,65c4.7,0,9,1.1,12.9,3c1.6-1.9,3.8-2.7,6.4-2.7h0.9c6,0.5,7.9,5.5,7.9,10.4v34.7
				c0,5.1-2.5,10.3-8.2,10.3h-0.7c-2.5,0-4.8-0.9-6.4-2.6c-3.8,2-8.4,2.9-12.9,2.9c-15.3,0-27.9-12.6-27.9-28S74.9,65,90.2,65z
				 M90.2,103.6c6,0,10.4-4.6,10.4-10.5c0-6-4.5-10.5-10.4-10.5c-5.8,0-10.3,4.6-10.3,10.5C79.9,99,84.4,103.6,90.2,103.6z"/> <path fill="#233974" d="M126.6,54.1c0-6.4,2.7-10.4,9-10.4c4.8,0,8.7,3.3,8.7,10.4v12.9c3.4-1.4,6.6-2,10.5-2
				c15.3,0,27.9,12.6,27.9,28s-12.6,27.9-27.9,27.9c-4.9,0-9.3-1.2-13-2.9c-1.6,1.6-3.7,2.6-6.3,2.6c-5.3-0.1-8.9-4.1-8.9-10.3V54.1
				z M154.9,82.7c-6,0-10.4,4.5-10.4,10.4c0,6,4.5,10.4,10.4,10.4c5.8,0,10.3-4.5,10.3-10.4C165.2,87.2,160.7,82.7,154.9,82.7z"/> <path fill="#233974" d="M189.3,76.3c0-7.2,3.9-10.4,8.9-10.4c4.9,0,8.8,3.3,8.8,10.4v34c0,7.2-3.9,10.3-8.8,10.3
				c-5,0-8.9-3.2-8.9-10.3V76.3z"/> <path fill="#233974" d="M257.8,102c4.3,0,6.7,2.5,6.7,6.5c0,2.6-1.1,4.9-2.9,6.6c-5.4,5.1-12.1,6-18.9,6c-15.5,0-28-12.6-28-28.3
				c0-15.4,12.5-27.8,28-27.8c14.5,0,26,10.8,27.4,24.8v0.9c0,4.8-4,8.5-8.8,8.5h-27.8c0,2.2,4.1,6.3,10,6.3
				C252.3,105.4,251.9,102,257.8,102z M252.1,87.2c0-2.3-3.7-5.5-9.6-5.5c-5.9,0-9.3,4.3-9.3,5.5H252.1z"/> <path fill="#233974" d="M283.4,100.2c4.3,0,6.2,5.1,9.5,5.1c1.3,0,1.8-0.7,1.8-1.4c0-3.3-3.8-3.5-5.7-4.5l-0.5-0.3
				c-4.2-2.3-11.8-6.3-11.8-17c0-10.3,6.7-17.2,17.1-17.2c8.2,0,16.4,6.1,16.4,12.5c0,4.9-2.1,8.3-7,8.3c-3,0-4.8-1.2-6.5-3.6
				c-0.2-0.4-1.2-1.8-2.3-1.8c-2,0-2.1,1-2.1,2.3c0,1.1,4.5,3.5,5.2,3.8l0.4,0.2c5.1,2.9,12.1,7.1,12.1,17.6
				c0,9.4-7.4,16.9-16.5,16.9c-9,0-17.4-3.8-17.4-12.8C276.1,103.5,278.2,100.2,283.4,100.2z"/> </g> </g> </g> </symbol><symbol viewBox="176 -138.8 623.8 261.1" id="icon-britax-vector-logo"> <g> <path d="M177.4,102.2c-2.6,1.9-1.2,5.8,1.7,5.8h12.7c1.9,0,2.8-0.4,4.4-1.2C416.6-7.7,594.5,224.2,798.5,63.2
		c2.1-1.7,1.1-5.6-2-5.6h-13.6c-2.3,0-3.8,0.7-5.2,1.5C604.4,170.9,421.3-59,177.4,102.2z"/> <g> <circle cx="422.4" cy="-116.9" r="15.8"/> <g> <path d="M662.4-41.3c0-35.8-29.1-64.9-64.9-64.9s-64.9,29.1-64.9,64.9s29.1,64.9,64.9,64.9c8.3,0,15.4-1.7,16.8-2.2l18.8-5.1
				c1.9-0.4,3.2,1.2,3.2,2.4c0,1.7,1.5,3,3.1,3h19.9c1.7,0,3.1-1.4,3.1-3.2C662.4,18.5,662.4-39.9,662.4-41.3z M633.9-11l-26.4,7.1
				c-3.2,0.8-5.9,1.3-10,1.3c-21.4,0-38.7-17.3-38.7-38.7c0-21.3,17.3-38.7,38.7-38.7s38.7,17.4,38.7,38.7V-14
				C636.3-12.4,635.4-11.4,633.9-11z"/> <path d="M523.3-2.6c-20-2-35.6-17.7-35.6-38.9v-32.8c0-1.8,1.4-3.1,3.1-3.1h26c1.9,0,3.1-1.4,3.1-3.2v-19.8
				c0-1.9-1.5-3.2-3.1-3.2h-26c-1.8,0-3.1-1.2-3.1-3.1v-22.7c0-1.7-1.3-3.2-3.1-3.2h-20.2c-1.8,0-3.1,1.5-3.1,3.2v87.8
				c0,35.1,26.7,63,61.6,65.1c2,0.1,3.3-1,3.3-3.1V0.5C526.2-1.5,524.9-2.5,523.3-2.6z"/> <path d="M435.5,18.5c0,1.6-1.5,3.2-3.1,3.2h-19.9c-1.7,0-3.1-1.5-3.1-3.2v-95.4c0-1.8,1.6-3.2,3.1-3.2h19.9
				c1.6,0,3.1,1.5,3.1,3.2V18.5z"/> <path d="M240.7-106.2c-4,0-8.1,0.4-11.1,1l-23.7,4.2c-2.4,0.4-3.7-1.5-3.7-3.1v-31.6c0-1.8-1.4-3.1-3.2-3.1h-19.9
				c-1.7,0-3.1,1.5-3.1,3.1v94.5c0,35.8,29.1,64.9,64.7,64.9c35.9,0,65-29,65-64.9S276.6-106.2,240.7-106.2z M240.7-2.6
				c-21.3,0-38.6-17.4-38.6-38.7v-29.9c0-1.3,0.9-2.8,2.6-3.1l29.4-5.2c2-0.4,4.3-0.5,6.6-0.5c21.8,0,38.8,17.4,38.8,38.7
				C279.6-20,262-2.6,240.7-2.6z"/> <path d="M322.1-41.3c0-34.7,27.4-62.9,61.6-64.8c1.5-0.1,3.3,1.1,3.3,3.1v19.9c0,2.6-2,3.1-2.9,3.2c-20,1.5-35.8,18.2-35.8,38.6
				v59.8c0,1.5-1.2,3.2-3.1,3.2h-19.9c-1.7,0-3.2-1.5-3.2-3.2V-41.3L322.1-41.3z"/> <path d="M755-42c-0.9-1.2-0.9-2.6,0-3.7l40-54.2c1.1-1.6,0.2-3.7-1.9-3.7h-26.8c-1.2,0-1.8,0.3-2.6,1.2L739-68.9
				c-1,1.4-3,1.4-4,0l-24.7-33.5c-0.6-0.8-1.4-1.2-2.5-1.2H681c-2.2,0-2.9,2.3-1.9,3.7l40,54.2c0.8,1.1,0.9,2.4,0,3.7l-44.2,59.9
				c-1.1,1.5-0.1,3.7,1.9,3.7h26.9c1.1,0,1.9-0.4,2.5-1.2l28.9-39.1c1.1-1.4,3-1.4,4,0L768,20.4c0.6,0.8,1.3,1.2,2.6,1.2l26.8,0.1
				c2,0,3.1-2.1,1.9-3.8L755-42z"/> </g> </g> </g> </symbol><symbol viewBox="0 0 612 612" id="icon-cart"> <g> <g id="cart-Basket"> <g> <path d="M561,187h-86.615c-0.629-1.734-1.274-3.451-2.227-4.998l-85-136C382.636,38.794,374.629,34,365.5,34
				C351.424,34,340,45.407,340,59.5c0,4.964,1.411,9.571,3.859,13.498L415.106,187H196.894l71.247-114.002
				C270.589,69.088,272,64.464,272,59.5c0-14.093-11.424-25.5-25.5-25.5c-9.129,0-17.136,4.794-21.641,12.002l-85,136
				c-0.969,1.547-1.615,3.264-2.244,4.998H51c-28.169,0-51,22.831-51,51v34c0,24.157,16.847,44.268,39.389,49.555l64.668,219.878
				C110.279,562.564,129.846,578,153,578h306c23.154,0,42.721-15.436,48.943-36.567l64.668-219.878
				C595.153,316.285,612,296.157,612,272v-34C612,209.831,589.169,187,561,187z M459,527l-306.017,0.034L92.99,323h426.02L459,527z
				 M561,272H51v-34h510V272z"/> </g> </g> </g>                </symbol><symbol viewBox="0 0 12 8" id="icon-chevron-down"><path d="M6 6.174l5.313-4.96.23-.214.457.427-.23.214-5.51 5.146L6.03 7 6 6.972 5.97 7l-.23-.214L.23 1.64 0 1.428.458 1l.23.214L6 6.174z" stroke-linecap="square" fill-rule="evenodd"/></symbol><symbol viewBox="0 0 24 24" id="icon-chevron-left"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></symbol><symbol viewBox="0 0 24 24" id="icon-chevron-right"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></symbol><symbol viewBox="-27 -19 245 135" id="icon-chicco-logo"> <path fill="#FFF" d="M210.5 90.4c-1.5 1.8-3.5 3.7-6 5.3-6.6 4.3-16.1 7.8-27.3 10.6-22.4 5.4-52.7 8.6-81.7 8.6s-59.3-3.1-81.7-8.6C2.5 103.5-6.9 100-13.6 95.7c-2.5-1.6-4.4-3.4-5.9-5.3-2.7-3.3-4.4-7.6-4.4-12.2V18.8c0-4.2 1.4-8.1 3.6-11.2 1.6-2.2 3.9-4.3 6.7-6.2C-6.9-3 2.5-6.5 13.8-9.2c22.4-5.4 52.7-8.6 81.7-8.6s59.3 3.1 81.7 8.6c11.3 2.7 20.7 6.2 27.3 10.6 2.8 1.9 5.1 4 6.7 6.2 2.3 3.2 3.7 7 3.7 11.2v59.5c0 4.5-1.7 8.8-4.4 12.1"/> <path d="M210 90c-1.5 1.8-3.4 3.6-5.8 5.2-6.5 4.3-15.9 7.8-27.1 10.5-22.4 5.4-52.6 8.5-81.6 8.5-28.9 0-59.2-3.1-81.6-8.5C2.7 103-6.7 99.5-13.2 95.2c-2.4-1.6-4.3-3.3-5.8-5.1-2.7-3.2-4.3-7.3-4.3-11.8V18.8c0-4 1.3-7.8 3.5-10.9l-.5-.4.5.4c1.6-2.1 3.8-4.2 6.6-6.1C-6.7-2.4 2.7-5.9 13.9-8.6c22.4-5.4 52.7-8.5 81.6-8.5 28.9 0 59.2 3.1 81.6 8.5 11.2 2.7 20.6 6.2 27.1 10.5 2.8 1.8 5 3.9 6.6 6l.5-.4-.5.4c2.2 3.1 3.5 6.8 3.5 10.8v59.5c0 4.5-1.6 8.6-4.3 11.8l.9.8c2.8-3.4 4.5-7.8 4.5-12.5V18.8c0-4.3-1.4-8.3-3.8-11.6-1.7-2.2-4-4.4-6.9-6.3C198-3.5 188.5-7 177.2-9.8c-22.5-5.5-52.8-8.6-81.9-8.6-29 0-59.4 3.1-81.9 8.6C2.3-7.1-7.2-3.6-13.9.8c-2.9 1.9-5.2 4.1-6.8 6.3-2.4 3.2-3.8 7.3-3.8 11.6v59.4c0 4.8 1.7 9.2 4.6 12.6 1.6 1.9 3.6 3.7 6.1 5.4 6.7 4.4 16.2 7.9 27.5 10.7 22.5 5.5 52.8 8.6 81.9 8.6 29 0 59.4-3.1 81.9-8.6 11.3-2.7 20.8-6.3 27.5-10.7 2.5-1.7 4.5-3.5 6.1-5.4"/> <path d="M209 18.7v59.5c0 3.2-1.1 6.1-3 8.4-1.1 1.4-2.7 2.8-4.7 4.1-5.8 3.8-14.5 7.1-25.4 9.8-21.9 5.3-51.7 8.4-80.3 8.4-28.6 0-58.5-3.1-80.3-8.4-11-2.7-19.7-6-25.4-9.8-2-1.3-3.5-2.7-4.6-4.1-1.9-2.3-3.1-5.2-3.1-8.4V18.7c0-2.9.9-5.5 2.5-7.7 1.2-1.6 2.9-3.3 5.2-4.8C-4.3 2.4 4.4-.9 15.3-3.6 37.2-8.9 67-12 95.6-12c28.6 0 58.5 3.1 80.3 8.4 11 2.7 19.7 6 25.4 9.8 2.3 1.5 4 3.2 5.2 4.8 1.6 2.2 2.5 4.8 2.5 7.7"/> <path fill="#FFF" d="M196 27.8c.5 0 .9 0 1.2.2.4.2.7.5.7 1.1 0 .4-.1.7-.4.8-.1.1-.4.2-.6.2.3.1.6.2.7.4.2.2.2.4.2.7v.9h-.7v-.4c0-.5-.1-.8-.4-1-.2-.1-.4-.1-.8-.1h-.6v1.7h-.8V28m2.3.5c-.2-.1-.5-.2-.9-.2h-.6v1.5h.7c.3 0 .6 0 .7-.1.3-.1.4-.3.4-.7 0-.2-.1-.4-.3-.5zm2.1 4.2c-.8.8-1.7 1.1-2.8 1.1-1.1 0-2-.4-2.7-1.1-.8-.8-1.1-1.7-1.1-2.8 0-1.1.4-2 1.1-2.7.8-.8 1.7-1.1 2.7-1.1 1.1 0 2 .4 2.8 1.1.8.8 1.1 1.7 1.1 2.7 0 1.2-.4 2.1-1.1 2.8zm-5.1-5.1c-.6.7-1 1.4-1 2.4 0 .9.3 1.7 1 2.4s1.4 1 2.4 1c.9 0 1.7-.3 2.4-1 .6-.7 1-1.4 1-2.4 0-.9-.3-1.7-1-2.4s-1.4-1-2.4-1-1.8.4-2.4 1zM194.3 55.1c0 9-.8 16.5-1.6 18.8-.2.6-.5 1.2-.8 1.8-3.3 2.4-8.8 3.3-14.4 3.3-5.6-.1-11.1-.9-14.4-3.3-.3-.6-.6-1.2-.8-1.8-.8-2.3-1.5-9.8-1.6-18.8 0-9 .8-16.5 1.6-18.8.2-.6.5-1.2.8-1.8 3.3-2.4 8.8-3.3 14.4-3.3 5.6.1 11.1.9 14.4 3.3.3.6.6 1.2.8 1.8.8 2.3 1.6 9.8 1.6 18.8M175.1 39v32.3c0 1.2 1.1 2.2 2.4 2.2 1.3 0 2.4-1 2.4-2.2V39c0-1.2-1.1-2.2-2.4-2.2-1.3-.1-2.4.9-2.4 2.2zM47 11.5v23.4c3.1-1.8 6.9-2.4 8.6-2.4 2.5 0 4.6.7 6.4 2.2 1.8 1.5 2.8 3.2 3.2 5.1.4 1.9.6 5.4.6 10.5V83c-4.7.7-8.6.7-13.5 0V49.6v-5.3c0-1.8-1.6-2.7-2.6-2.7s-2.7.7-2.7 2.5c0 1.1.1 2.2.1 5v25c-5.6.7-9.5.7-14.3 0V11.5c4.9-.7 9.6-.7 14.2 0M29.1 59.8C28.9 66.6 28.7 72 28 74c-.2.6-.5 1.2-.8 1.8-3.3 2.4-8.8 3.2-14.4 3.3-5.5-.1-11-.9-14.3-3.4-.3-.6-.6-1.2-.8-1.8-.8-2.3-1.5-9.8-1.6-18.8 0-9 .8-16.5 1.6-18.8.2-.6.5-1.2.8-1.8 3.3-2.4 8.8-3.2 14.4-3.3 5.6.1 11.1.9 14.4 3.3.3.6.6 1.2.8 1.8.7 2 .9 7.2 1.1 14.2H15.3V39c0-1.2-1.1-2.2-2.4-2.2-1.3 0-2.4 1-2.4 2.2v32.3c0 1.2 1.1 2.2 2.4 2.2 1.3 0 2.4-1 2.4-2.2V59.8M121.1 64.2c-.2 6.9-.4 12.3-1.1 14.2-.2.6-.5 1.2-.8 1.8-3.3 2.4-8.8 3.3-14.4 3.3-5.6-.1-11.1-.9-14.4-3.3-.3-.6-.6-1.2-.8-1.8-.8-2.3-1.5-9.8-1.6-18.8 0-9 .8-16.5 1.6-18.8.2-.6.5-1.2.8-1.8 3.3-2.4 8.8-3.3 14.4-3.3 5.6.1 11.1.9 14.4 3.3.3.6.6 1.2.8 1.8.7 2 .9 7.2 1.1 14.2h-13.8V43.4c0-1.2-1.1-2.2-2.4-2.2-1.3 0-2.4 1-2.4 2.2v32.3c0 1.2 1.1 2.2 2.4 2.2 1.3 0 2.4-1 2.4-2.2V64.2M157.3 55.1c-.2 6.9-.4 12.3-1.1 14.2-.2.6-.5 1.2-.8 1.8-3.3 2.4-8.8 3.3-14.4 3.3-5.6-.1-11.1-.9-14.4-3.3-.3-.6-.6-1.2-.8-1.8-.8-2.3-1.5-9.8-1.6-18.8 0-9 .8-16.5 1.6-18.8.2-.6.5-1.2.8-1.8 3.3-2.4 8.8-3.3 14.4-3.3 5.6.1 11.1.9 14.4 3.3.3.6.6 1.2.8 1.8.7 2 .9 7.2 1.1 14.2h-13.8V34.4c0-1.2-1.1-2.2-2.4-2.2-1.3 0-2.4 1-2.4 2.2v32.3c0 1.2 1.1 2.2 2.4 2.2 1.3 0 2.4-1 2.4-2.2V55.1M84.4 27.4v46.5c-4.7.8-9.1.7-14.4 0V27.4c4.6-1 9.2-1 14.4 0"/>  <use xlink:href="#chicco-logo-a" overflow="visible" fill="#FFF"/> </symbol><symbol viewBox="0 0 52 52" id="icon-click"><g><g><g><g><path d="M13.5333815,25.325386c-0.3583984-3.6289063,0.7319336-6.871582,3.0703115-9.1318359      c2.3623047-2.2836914,5.6875-3.2724609,9.3686523-2.7817383l-0.2636719,1.9824219      c-3.0649414-0.4072266-5.8012695,0.3876953-7.7148438,2.2373047c-1.8901367,1.8266602-2.7670889,4.4892578-2.4702139,7.4975586      L13.5333815,25.325386z"/></g></g><g><g><path d="M7.5387526,24.8102493c-0.199707-4.9760742,1.5571289-9.5195313,4.9458008-12.7929688      c3.4077148-3.2905273,8.0454092-4.898438,13.0546865-4.5209966l-0.1494141,1.9941411      c-4.4414063-0.331543-8.5244141,1.0756836-11.515624,3.965332c-2.9731445,2.8720703-4.5136719,6.8759766-4.3374023,11.2744141      L7.5387526,24.8102493z"/></g></g><g><g><path d="M2.0084791,23.8810501c-0.1811523-6.2094727,2.0717773-11.9008789,6.34375-16.0268555      c4.2900391-4.144043,10.0878897-6.2084961,16.3393555-5.8071289L24.5636539,4.043159      c-5.6762695-0.3632813-10.940917,1.5009766-14.8222647,5.2495122      c-3.8618164,3.7299805-5.8984375,8.8901367-5.7338867,14.5297852L2.0084791,23.8810501z"/></g></g></g><g><g><g><path d="M39.405941,50.0021439c-0.918457,0-1.8740234-0.0898438-2.8583984-0.2724609      c-4.1362305-0.765625-8.3105488-3.0839844-11.7534199-6.5268555c-7.2050781-7.2045898-8.937499-17.1953125-3.8623047-22.2705078      c2.5092773-2.5097656,6.2446289-3.4570313,10.5175781-2.6645508c4.1362324,0.765625,8.3100605,3.0839844,11.7529316,6.5268555      l0,0l0,0c3.4428711,3.4428711,5.7612305,7.6166992,6.5268555,11.7529297      c0.7915039,4.2729492-0.1547852,8.0083008-2.6645508,10.5175781      C45.1334801,48.9967728,42.4757652,50.0021439,39.405941,50.0021439z M28.6012516,19.9962845      c-2.5395508,0-4.7089844,0.8037109-6.2553711,2.3500977c-4.2954102,4.2954102-2.5625,13.0170898,3.8623047,19.4423828      c3.159668,3.159668,6.9609394,5.2817383,10.7036152,5.9746094c3.6064453,0.6674805,6.7089844-0.0825195,8.7387695-2.1123047      s2.7797852-5.1337891,2.1123047-8.7392578c-0.6928711-3.7421875-2.8149414-7.543457-5.9746094-10.703125l0,0      c-3.159668-3.159668-6.9609375-5.2817383-10.7031269-5.9746094      C30.2262516,20.0748978,29.3956852,19.9962845,28.6012516,19.9962845z"/></g></g><g><g><path d="M20.2369938,34.8082962l-0.5820313-1.9135742c0.1015625-0.03125,10.2011719-3.230957,13.2387714-13.2387695      l1.9140625,0.5810547C31.4533024,31.2882767,20.6935368,34.6696243,20.2369938,34.8082962z"/></g></g><g><g><rect height="9.7669125" transform="matrix(0.7071068 -0.7071068 0.7071068 0.7071068 -10.3937902 25.0921211)" width="1.9997864" x="24.0920811" y="20.2090187"/></g></g></g></g></symbol><symbol viewBox="0 0 24 24" id="icon-close"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></symbol><symbol viewBox="0 0 512 512" id="icon-credit-card"> <g> <g> <path d="M458.667,85.333H53.333C23.936,85.333,0,109.269,0,138.667v234.667c0,29.397,23.936,53.333,53.333,53.333h405.333
			c29.397,0,53.333-23.936,53.333-53.333V138.667C512,109.269,488.064,85.333,458.667,85.333z M490.667,373.333
			c0,17.643-14.357,32-32,32H53.333c-17.643,0-32-14.357-32-32V138.667c0-17.643,14.357-32,32-32h405.333c17.643,0,32,14.357,32,32
			V373.333z"/> </g> </g> <g> <g> <path d="M501.333,149.333H10.667C4.779,149.333,0,154.112,0,160v64c0,5.888,4.779,10.667,10.667,10.667h490.667
			c5.888,0,10.667-4.779,10.667-10.667v-64C512,154.112,507.221,149.333,501.333,149.333z M490.667,213.333H21.333v-42.667h469.333
			V213.333z"/> </g> </g> <g> <g> <path d="M202.667,298.667h-128c-5.888,0-10.667,4.779-10.667,10.667S68.779,320,74.667,320h128
			c5.888,0,10.667-4.779,10.667-10.667S208.555,298.667,202.667,298.667z"/> </g> </g> <g> <g> <path d="M202.667,341.333h-128C68.779,341.333,64,346.112,64,352c0,5.888,4.779,10.667,10.667,10.667h128
			c5.888,0,10.667-4.779,10.667-10.667C213.333,346.112,208.555,341.333,202.667,341.333z"/> </g> </g> <g> <g> <path d="M416,277.333h-21.333c-17.643,0-32,14.357-32,32v21.333c0,17.643,14.357,32,32,32H416c17.643,0,32-14.357,32-32v-21.333
			C448,291.691,433.643,277.333,416,277.333z M426.667,330.667c0,5.888-4.779,10.667-10.667,10.667h-21.333
			c-5.888,0-10.667-4.779-10.667-10.667v-21.333c0-5.888,4.779-10.667,10.667-10.667H416c5.888,0,10.667,4.779,10.667,10.667
			V330.667z"/> </g> </g>                </symbol><symbol viewBox="0 0 28 28" id="icon-envelope"> <path d="M0 23.5v-12.406q0.688 0.766 1.578 1.359 5.656 3.844 7.766 5.391 0.891 0.656 1.445 1.023t1.477 0.75 1.719 0.383h0.031q0.797 0 1.719-0.383t1.477-0.75 1.445-1.023q2.656-1.922 7.781-5.391 0.891-0.609 1.563-1.359v12.406q0 1.031-0.734 1.766t-1.766 0.734h-23q-1.031 0-1.766-0.734t-0.734-1.766zM0 6.844q0-1.219 0.648-2.031t1.852-0.812h23q1.016 0 1.758 0.734t0.742 1.766q0 1.234-0.766 2.359t-1.906 1.922q-5.875 4.078-7.313 5.078-0.156 0.109-0.664 0.477t-0.844 0.594-0.812 0.508-0.898 0.422-0.781 0.141h-0.031q-0.359 0-0.781-0.141t-0.898-0.422-0.812-0.508-0.844-0.594-0.664-0.477q-1.422-1-4.094-2.852t-3.203-2.227q-0.969-0.656-1.828-1.805t-0.859-2.133z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-facebook"> <path d="M2.428 0.41c-0.936 0-1.695 0.753-1.695 1.682v27.112c0 0.929 0.759 1.682 1.695 1.682h14.709v-11.802h-4.002v-4.599h4.002v-3.392c0-3.936 2.423-6.080 5.961-6.080 1.695 0 3.152 0.125 3.576 0.181v4.114l-2.454 0.001c-1.924 0-2.297 0.907-2.297 2.239v2.937h4.59l-0.598 4.599h-3.992v11.802h7.826c0.936 0 1.695-0.753 1.695-1.682v-27.112c0-0.929-0.759-1.682-1.695-1.682h-27.321z"/> </symbol><symbol viewBox="0 0 20 28" id="icon-google"> <path d="M1.734 21.156q0-1.266 0.695-2.344t1.852-1.797q2.047-1.281 6.312-1.563-0.5-0.641-0.742-1.148t-0.242-1.148q0-0.625 0.328-1.328-0.719 0.063-1.062 0.063-2.312 0-3.898-1.508t-1.586-3.82q0-1.281 0.562-2.484t1.547-2.047q1.188-1.031 2.844-1.531t3.406-0.5h6.516l-2.141 1.375h-2.063q1.172 0.984 1.766 2.078t0.594 2.5q0 1.125-0.383 2.023t-0.93 1.453-1.086 1.016-0.922 0.961-0.383 1.031q0 0.562 0.5 1.102t1.203 1.062 1.414 1.148 1.211 1.625 0.5 2.219q0 1.422-0.766 2.703-1.109 1.906-3.273 2.805t-4.664 0.898q-2.063 0-3.852-0.648t-2.695-2.148q-0.562-0.922-0.562-2.047zM4.641 20.438q0 0.875 0.367 1.594t0.953 1.18 1.359 0.781 1.563 0.453 1.586 0.133q0.906 0 1.742-0.203t1.547-0.609 1.141-1.141 0.43-1.703q0-0.391-0.109-0.766t-0.227-0.656-0.422-0.648-0.461-0.547-0.602-0.539-0.57-0.453-0.648-0.469-0.57-0.406q-0.25-0.031-0.766-0.031-0.828 0-1.633 0.109t-1.672 0.391-1.516 0.719-1.070 1.164-0.422 1.648zM6.297 4.906q0 0.719 0.156 1.523t0.492 1.609 0.812 1.445 1.172 1.047 1.508 0.406q0.578 0 1.211-0.258t1.023-0.68q0.828-0.875 0.828-2.484 0-0.922-0.266-1.961t-0.75-2.016-1.313-1.617-1.828-0.641q-0.656 0-1.289 0.305t-1.039 0.82q-0.719 0.922-0.719 2.5z"/> </symbol><symbol viewBox="392.9 -242.3 610.2 372.4" id="icon-huggies-logo"> <path d="M411.7-135.8C357.8-33.6 418.2 89.9 616.8 124c198.7 34.2 397.5-78.5 385.9-246.2-2.7-39.9-17-67.4-38-85.8-66.3-58.9-198.5-25.9-227.7-17-38.3 11.7-83.6 35.8-83.6 35.8s-177.3-68.3-241.7 53.4"/> <path fill="#FFF" d="M779.5-74.2s-.2-3.2-5.7-6.5c-5.6-3.2-10.2-6.4-25.6-6.2-15.4 0-23.1 3.8-27.2 6.2-4 2.4-14.8 12.9-17.3 24 0 0 7.8 3 7.9 7.9.3 8.7-1.1 16.7-1.9 21.9-.6 4-1.6 8.4-1.6 8.4 6.4 8.1 14.3 14.3 24.5 17.7 7.8 2.7 19.1 2.6 31.2.2 12.1-2.4 15.1-6.5 17.3-10.8 1.1-1.9 1.4-5.4 1.4-8.9-.2-3.4-.3-19.7-.3-19.7s0-2.2-1-4.1c-1.4-2.6-3.4-5.9-11-6.8-4.1-.3-15.9-.2-17.5-.2-1.8 0-4.8 1-6.4 3.2-1.8 2.2-1.9 4.9-1.9 7.6.2 2.6.2 7.3 3.5 10 2.2 1.6 3.8 1.6 4.1 1.8.3 0 1.4.8 1.4 2.2s.2 3.2-2.7 3.2c-3 0-8.9-.8-11.3-3.2-2.6-2.4-5.4-4.6-6.2-12.9-.8-8.3 3.8-18.9 8.9-21.3 5.1-2.6 11-2.4 12.5-1.6 1.8.8 3.8 1.8 7.3 3.8 4.1 2.2 7.9.3 10.2-1.9 2-2.7 8.5-11.4 7.4-14M815.6-12.5l-.3-63.8s0-4.1-2.2-6.5-3.5-2.7-6.8-3c-3.2-.2-9.5 0-11.1 0-1.4.2-5.4.8-7.3 3.8-1.6 2.4-1.9 4.3-1.9 12.9 0 8.6.8 55.5.8 55.5s0 4.3.6 6.4c.6 1.8 3.4 4.1 4.3 4.9 1.1.8 3.4 1.4 7.9 1.6 4.6 0 8.6 0 11-1.6 2.3-1.9 5-4.5 5-10.2M873.8-69.9s1-7.3-.3-11.7c-1-3.4-4.8-4.9-17-4.8-12.4.2-22.7 0-25.4.3-2.7.2-6.5 1.6-8.4 4.1-1.8 2.6-1.6 7.2-1.4 15.4.2 8.1.6 37.2.6 41.5s-.2 10.8 0 11.7c0 1-.6 4.1 2.4 7.8 3 3.5 5.1 3.8 5.6 3.8.3.2 3.2.3 6.4.3h29.9s5.6.2 7.8-3c1.6-2.4 1.8-6.2 1.8-7.2 0-1.1.2-5.9-1-7.9-1.3-1.9-2.7-3.2-7.8-3.4-1-.2-17.3-.2-17.3-.2l-.2-10.8H860s2.7 0 4.6-1.8c1.9-1.8 2.6-4 2.6-5.6S867-50 867-50s0-5.1-6.4-5.6c-2.6-.2-11.3-.2-11.3-.2v-9.7H867c0 .7 6.3.9 6.8-4.4M907.3-65.1s1.8-4.3 8.6-3.2c6.4 1.1 10.2 3.5 11.3 4.6 1.1 1.1 3.4 3.2 5.4 2.4 1.9-.8 3.2-1.9 3.4-4.3.3-2.6 0-10.3 0-10.3s.2-3.8-2.4-5.9c-1.9-1.8-8.9-5.7-21.9-5.4S888-85.3 881-71.3c0 0-2.4 4.8-2.4 10.3 0 5.6-.2 8.6 1.8 11.9 2.4 4.1 5.7 7 6.4 7.3s5.1 3.4 7 4.3c1.8.9 12.1 5.9 14.8 7.6 2.6 1.6 5.4 4 3.8 7.2-1 2.2-3.8 3.4-9.2 1.4-5.1-1.9-8.6-4.8-9.5-5.4-1-.6-3.5-2.2-7.2-1.6-3.7.6-7.2 9.4-7.8 10.8-1.4 3-1.4 5.1-.6 7.2.6 1.8 5.6 5.1 7.9 6.4 2.2 1 10 5.9 25.3 4.8s23.2-11.7 25.3-16.5c1.9-4.8 3.4-10.8 2.6-16.9-.8-6.2-5.6-13.5-12.1-16.9-6.4-3.5-14.1-6.4-16.5-7.8-1.9-1.9-3.9-4.3-3.3-7.9M524.7.2c-2.4 0-4.3-.8-6.2-2.2-4.8-3.4-4.8-7.8-4.8-7.8l-.2-6.4v-1.1s0-16.1-.2-25.9c-5.4 0-19.5 0-20.3.2 0 1.8.2 33.2.2 33.2 0 5.6-4.6 10.2-10.2 10.3h-14.9c-2.4 0-4.3-.8-6.2-2.2-4.8-3.4-4.8-7.8-4.8-7.8l-.2-6.4-.8-77.1c.3-12.5-1.8-20 13.5-20.5 7.2-.2 14-.6 16.9.3 1 .2 2.6 1 3.4 1.8l.6.6.6.6c1.6 2.6 1.6 3.8 1.6 6.5 0 0 0 21.5.2 30.7h19.9v-20.3c.3-12.5-1.8-20 13.5-20.5h13.5c.8 0 3.2-.3 5.9 2.6 1.9 1.8 3.2 4.3 3.2 7.2v14.5l.2 66.4v12.7c0 5.6-4.6 10.2-10.2 10.3l-14.2.3zM624.7-79.4c.2 1 1.1 8.6 1 14.3-.2 5.6 0 36.4 0 36.4 0 7.8-3 14.5-8.4 20-6.8 6.8-16.5 10.3-27.5 10.3-4.9 0-16.2-1.1-25.1-7.8-4.1-3-6.4-6.8-7.8-9.2-1.1-2.6-2.6-10.2-2.6-12.4 0-1.9-.6-29.6-.3-34.2.2-4.6-1.1-14.9 1.9-19.1 3.2-4.1 7-4 14-4.3 6.8-.2 9.5 1.9 9.5 1.9h.2c.2.2.3.2.3.2s.2 0 .2.2c1.9 1.8 3.2 4.3 3.2 7.3 0 .3.2 45 .2 45.1 0 0 .3 7 6.8 7 6.4 0 6.5-5.9 6.5-7.2l-.3-31.3c.2-4.6-1.1-14.8 1.9-19.1 3.2-4.1 7-4.1 14-4.3s9.7 1.9 9.7 1.9c-.4.6 2.3 2.4 2.6 4.3"/> <path fill="#FFF" d="M707.4-42.6s-1.9 16.1-3.2 22.4c-1.4 6.4-4.9 9.2-9.5 10.8-4.6 1.6-14 4-27.8 1.4-14.1-2.4-19.9-6.4-27.6-14.1-7.8-7.8-11.6-17.7-11-31.6.6-13.8 6.4-24.5 12.5-30 6.2-5.7 18.1-12.7 35.1-11.9 17.3.8 20.8 4.6 25.4 7.2 3.8 2.2 8.1 6.4 8.1 10.3 0 3.8-7.9 11.7-8.4 12.5-.3.8-3.5 3.4-6.4 3-2.9-.5-4.1-1.6-4.9-2.6s-4.1-4.1-8.9-5.4c-4.8-1.4-11.3.2-14.5 3.5-3.4 3.2-7.9 11-7.6 19.9.2 8.7 5.1 11.7 5.1 11.7 1.9 1.9 7.3 3.8 10 4.1 2.6.3 2.7-1.6 3-3.4.2-1.8-.6-1.8-.6-1.8s-1.8-.2-4.1-1.8c-3.2-2.2-2.6-7.6-2.2-9.7.3-2.2 1.1-7.3 3.5-9.4 2.4-1.9 4.8-1.6 9.5-.8 10.2 1.8 17.7 3.8 17.7 3.8s8.2 1.8 6.8 11.9"/> <g fill="#FFF"> <path d="M882.7-97.4v-9.4c0-.6.3-1 1-1h3.8c2.4 0 3.8 1 3.8 3 0 1.1-.6 1.9-1.9 2.4 1.6.3 2.4 1.4 2.4 2.7 0 2.2-1.4 3.2-4.1 3.2h-3.8c-.9.1-1.2-.4-1.2-.9zm4.4-5.4c1.4 0 1.9-.6 1.9-1.8 0-1.1-.6-1.8-2.2-1.8h-2.7v3.4h3v.2zm.2 4.8c1.8 0 2.4-.6 2.4-1.8 0-1.1-.8-1.8-2.4-1.8h-2.7v3.5h2.7v.1zM901.8-97.2c0 .2-.2.8-1 .8-.3 0-.8-.2-1.1-.8l-3.2-3.8h-1.1v3.5c0 .3-.2.8-.8.8h-.2c-.3 0-.8-.3-.8-1v-9.4c0-.6.3-1 1-1h3.2c2.7 0 4.1 1.1 4.1 3.4 0 1.9-1.1 3.2-3.4 3.4l3.3 4.1zm-4.2-5.3c1.6 0 2.4-.8 2.4-1.9 0-1.4-.8-1.9-2.6-1.9H895v4h2.6v-.2zM905.6-99.8l-1 2.6c-.2.6-.6.8-1 .8-.6 0-1-.3-1-.6l4-10.3c.2-.3.3-.6 1.1-.6s1.1.2 1.1.6l4 10.3c0 .2-.3.6-1 .6-.3 0-.8-.2-1-.8l-1-2.6h-4.2zm4.1-1.4l-1.8-4.8-1.8 4.8h3.6zM914.8-97.2v-9.5c0-.6.3-1 .8-1h.2c.6 0 .8.2 1 .6l5.6 7.9v-7.8c0-.6.2-.8.8-.8h.2c.3 0 .8.2.8.8v9.5c0 .6-.3 1-.8 1h-.2c-.6 0-.6-.2-1-.6l-5.9-8.4v7.9c0 .6-.2.8-.8.8h-.2c-.4.4-.5.2-.5-.4zM926.4-97.4v-9.4c0-.6.3-1 1-1h2.7c3.8 0 6.2 1.9 6.2 5.6 0 3.5-2.4 5.6-6.2 5.6h-2.6c-.5.2-1.1-.5-1.1-.8zm3.8-.6c2.7 0 4.3-1.6 4.3-4.1s-1.6-4-4.3-4h-1.8v8.1h1.8z"/> </g> <path fill="#FFF" d="M949.3-74c-4.1 0-7-3-7-7.2 0-4.3 3.2-7.2 7-7.2s7 2.7 7 7.2-3.4 7.2-7 7.2zm0-13.1c-3.2 0-5.6 2.4-5.6 5.9 0 3.2 2.2 5.9 5.6 5.9 3 0 5.4-2.4 5.4-5.9 0-3.3-2.4-5.9-5.4-5.9zm-1.6 9.9h-1.4v-7.9h3c1.9 0 2.7.6 2.7 2.2 0 1.4-.8 1.9-1.9 2.2l2.2 3.4h-1.4l-1.9-3.4h-1.1l-.2 3.5zm1.6-4.3c1 0 1.8 0 1.8-1.1 0-1-1-1-1.8-1h-1.6v2.4h1.6v-.3z"/>  <path fill="#bdbcbc" d="M728.8-211.7s92.7-27.8 138 7.8-46.9 74.7-208.3 15.9c0-.3 56.6-19.2 70.3-23.7z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-instagram"> <path d="M25.522709,13.5369502 C25.7256898,14.3248434 25.8455558,15.1480745 25.8455558,15.9992932 C25.8455558,21.4379334 21.4376507,25.8455558 15.9998586,25.8455558 C10.5623493,25.8455558 6.15416148,21.4379334 6.15416148,15.9992932 C6.15416148,15.1480745 6.27459295,14.3248434 6.4775737,13.5369502 L3.6915357,13.5369502 L3.6915357,27.0764447 C3.6915357,27.7552145 4.24280653,28.3062027 4.92355534,28.3062027 L27.0764447,28.3062027 C27.7571935,28.3062027 28.3084643,27.7552145 28.3084643,27.0764447 L28.3084643,13.5369502 L25.522709,13.5369502 Z M27.0764447,3.6915357 L23.384909,3.6915357 C22.7050083,3.6915357 22.1543028,4.24280653 22.1543028,4.92214183 L22.1543028,8.61509104 C22.1543028,9.29442633 22.7050083,9.84569717 23.384909,9.84569717 L27.0764447,9.84569717 C27.7571935,9.84569717 28.3084643,9.29442633 28.3084643,8.61509104 L28.3084643,4.92214183 C28.3084643,4.24280653 27.7571935,3.6915357 27.0764447,3.6915357 Z M9.84597988,15.9992932 C9.84597988,19.3976659 12.6009206,22.1537374 15.9998586,22.1537374 C19.3987967,22.1537374 22.1543028,19.3976659 22.1543028,15.9992932 C22.1543028,12.6003551 19.3987967,9.84569717 15.9998586,9.84569717 C12.6009206,9.84569717 9.84597988,12.6003551 9.84597988,15.9992932 Z M3.6915357,31.9997173 C1.65296441,31.9997173 0,30.3461875 0,28.3062027 L0,3.6915357 C0,1.6526817 1.65296441,0 3.6915357,0 L28.3084643,0 C30.3473183,0 32,1.6526817 32,3.6915357 L32,28.3062027 C32,30.3461875 30.3473183,31.9997173 28.3084643,31.9997173 L3.6915357,31.9997173 Z" id="instagram-Imported-Layers" sketch:type="MSShapeGroup"/> </symbol><symbol viewBox="0 0 24 24" id="icon-keyboard-arrow-down"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/></symbol><symbol viewBox="0 0 24 24" id="icon-keyboard-arrow-up"><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/></symbol><symbol viewBox="100 -202 254 254" id="icon-lego-logo"> <g id="lego-logo-g12" transform="scale(7.827176,7.827176)"> <path id="lego-logo-path2" fill="#FFFFFF" d="M13-25.6v32h32v-32H13z"/> <path id="lego-logo-path4" fill="#FFFFFF" d="M13-25.6v32h32v-32H13z M42.9-12.3c-0.1,1-0.4,2.2-0.7,3.1c-1.1,3.3-2.4,5.4-5.5,5.4
		c-0.9,0-2.5-0.2-3-1.8L33.6-6l-0.2,0.3c-0.9,1.2-2.3,1.9-3.9,1.9c-1.2,0-2.1-0.4-2.7-1.1l-0.2-0.2l-0.2,0.2
		c-0.6,0.7-1.8,1.1-3.1,1.1c-0.9,0-1.8-0.3-2.5-1l-0.2-0.2l-0.2,0.2c-0.7,0.7-1.7,1-2.9,0.9c-1.6,0-2.5-0.9-2.5-2.3
		c-0.1-2.2,2.1-6.8,2.9-8.2c0.5-0.9,1.4-1.4,2.4-1.4c0.7,0,1.2,0.1,1.5,0.5c0.3,0.3,0.3,0.5,0.3,1.1l0,0.7l0.4-0.6
		c0.9-1.5,2.5-1.7,4-1.7c1.1,0,2,0.4,2.4,1l0.1,0.2l0.2-0.2c0.9-0.7,2-1.1,3.1-1c1.3,0,2.3,0.3,2.9,1c0.1,0.1,0.2,0.3,0.3,0.5
		l0.2,0.3l0.2-0.3c0.9-1,2.1-1.6,3.5-1.5c1.1,0,2,0.3,2.6,0.9C42.8-14.1,42.9-13,42.9-12.3L42.9-12.3z"/> <path id="lego-logo-path6" d="M13-25.6v32h32v-32H13z M43.8-11.1c-0.1,1.2-0.9,3.3-1.4,4.2c-1.1,2.3-2.6,4.1-5.5,4.1
		c-1.5,0-2.8-0.5-3.6-1.4c-1.1,0.9-2.5,1.5-3.9,1.5c-1.1,0-2.1-0.3-2.9-0.9c-0.9,0.6-2.1,0.9-3.2,0.9c-1,0-1.9-0.3-2.7-0.8
		c-0.9,0.6-2,0.8-3.1,0.8c-2.1-0.1-3.5-1.4-3.5-3.3c-0.1-2.5,2.1-7.2,3.1-8.8c0.7-1.2,1.9-1.9,3.3-1.9c1.5,0,2.1,0.4,2.4,1
		c1.2-1,2.7-1.1,3.9-1.1c1.2,0,2,0.3,2.6,0.8c1-0.6,2.1-0.8,3.2-0.8c1.6,0,2.7,0.4,3.6,1.2c1-0.8,2.2-1.2,3.5-1.2
		c1.8,0,2.9,0.6,3.6,1.6C44.1-13.8,44-12.5,43.8-11.1z"/> <path id="lego-logo-path8" d="M12.8-25.8V6.6h32.5v-32.5H12.8z M44.8-25.4V6.2H13.2v-31.6H44.8z"/> <path id="lego-logo-path10" d="M43.6-16.1v-0.2h0.2c0.1,0,0.2,0,0.2,0.1c0,0.1,0,0.1-0.2,0.1H43.6z M44.2-15.6l-0.1-0.2
		C44-15.9,44-15.9,43.9-16c0.1,0,0.2-0.1,0.2-0.2c0-0.1-0.1-0.2-0.3-0.2h-0.4v0.8h0.2v-0.3h0c0.1,0,0.1,0,0.1,0c0,0,0.1,0.1,0.1,0.2
		l0.1,0.1L44.2-15.6L44.2-15.6z M43.8-16.6c0.3,0,0.6,0.3,0.6,0.6c0,0.3-0.3,0.6-0.6,0.6l0,0c-0.3,0-0.6-0.3-0.6-0.6
		C43.2-16.4,43.4-16.6,43.8-16.6L43.8-16.6z M43.8-16.8c-0.4,0-0.8,0.3-0.8,0.8c0,0.4,0.3,0.8,0.8,0.8c0,0,0,0,0,0
		c0.4,0,0.8-0.3,0.8-0.8C44.5-16.4,44.2-16.8,43.8-16.8z M39.5-16c-1.4-0.1-2.7,0.5-3.6,1.6c-0.1-0.2-0.2-0.4-0.4-0.6
		c-0.6-0.7-1.7-1.1-3.1-1.1c-1.4,0-2.5,0.4-3.3,1.1c-0.4-0.7-1.4-1.1-2.6-1.1c-1.5,0-3.2,0.2-4.2,1.8c0-0.6-0.1-0.9-0.4-1.2
		c-0.4-0.4-1-0.5-1.6-0.5c-1.1,0-2.1,0.5-2.6,1.5c-0.9,1.4-3,6.1-3,8.3c0,1.5,1,2.5,2.7,2.5c1.4,0,2.4-0.3,3.1-1
		c0.7,0.7,1.7,1.1,2.7,1.1c1.2,0,2.5-0.4,3.2-1.2c0.6,0.8,1.6,1.2,2.9,1.2c1.6,0,3.1-0.7,4-2c0.5,1.4,1.8,2,3.3,2
		c3.1,0,4.5-2.2,5.7-5.6c0.3-0.8,0.6-2.1,0.7-3.1C43.2-14.1,42.4-16,39.5-16L39.5-16z M18.7-7.4c1.6-0.3,2,0.3,2,0.8
		c-0.2,1.6-1.6,2-2.9,2c-0.9,0-1.8-0.5-1.8-1.5c0-1.9,1.9-6.3,2.8-7.8c0.4-0.7,0.9-1,1.8-1c0.8,0,1,0.4,1,0.9
		C21.4-12.8,19.3-8.9,18.7-7.4L18.7-7.4z M23.9-8.9c-0.2,0.5-0.3,1-0.5,1.5c0.5-0.2,1.1-0.2,1.6-0.2c0.8,0,1.3,0.3,1.3,1
		c0,1.6-1.7,2-2.9,2c-1.3,0-2.5-0.8-2.5-2.2c0-1.7,0.9-4.3,1.8-6c1.1-2.1,2.1-2.4,4-2.4c0.8,0,1.8,0.3,1.8,1.1
		c0,1.1-0.9,1.5-1.8,1.5c-0.4,0-1,0-1.3,0c0,0-0.3,0.5-0.6,1.3c1.7-0.2,2.4,0.1,2.1,1.1C26.4-8.7,25.3-8.6,23.9-8.9L23.9-8.9z
		 M32.1-12.9c-0.5,0-0.7,0.3-1,0.6c-0.5,0.7-1.5,3.4-1.7,4.5c-0.1,0.8,0.2,0.9,0.6,0.9c0.6,0,1.2-0.6,1.4-1.6c0,0-1.1,0-0.8-1
		c0.3-0.9,0.9-1.1,1.8-1.2c1.8-0.1,1.6,1.3,1.5,2c-0.5,2.3-2.1,4.2-4.5,4.2c-1.6,0-2.6-0.9-2.6-2.5c0-1.2,0.6-3,1-4.1
		c1-2.3,2-3.9,4.6-3.9c1.6,0,2.8,0.6,2.6,2c-0.1,1.1-0.7,1.7-1.7,1.8c-0.3,0-1.4,0-1-1.1C32.6-12.6,32.7-12.9,32.1-12.9L32.1-12.9z
		 M42-11c-0.3,1.4-0.9,3-1.6,4.2c-1.1,2-2.4,2.3-3.6,2.2c-1.2,0-2.5-0.4-2.5-2.2c0-1.3,0.6-3.1,1-4.3c0.8-2.2,1.7-3.9,4.3-3.9
		C42.8-15,42.2-12.2,42-11L42-11z M39.8-12.3c0,0.8-1.2,4.1-1.7,4.9c-0.2,0.3-0.4,0.6-0.8,0.6c-0.3,0-0.5-0.2-0.5-0.5
		c0-0.7,1.4-4.5,1.8-5.1c0.2-0.3,0.4-0.4,0.7-0.4C39.7-12.9,39.8-12.6,39.8-12.3z"/> </g> </symbol><symbol viewBox="0 0 32 32" id="icon-linkedin"> <path d="M27.2684444,27.2675556 L22.5226667,27.2675556 L22.5226667,19.8408889 C22.5226667,18.0702222 22.4924444,15.792 20.0568889,15.792 C17.5866667,15.792 17.2097778,17.7217778 17.2097778,19.7146667 L17.2097778,27.2675556 L12.4693333,27.2675556 L12.4693333,11.9964444 L17.0186667,11.9964444 L17.0186667,14.0844444 L17.0844444,14.0844444 C17.7173333,12.8835556 19.2657778,11.6177778 21.5742222,11.6177778 C26.3804444,11.6177778 27.2684444,14.7795556 27.2684444,18.8924444 L27.2684444,27.2675556 L27.2684444,27.2675556 Z M7.11822222,9.91022222 C5.59377778,9.91022222 4.36444444,8.67733333 4.36444444,7.15733333 C4.36444444,5.63822222 5.59377778,4.40533333 7.11822222,4.40533333 C8.63644444,4.40533333 9.86844444,5.63822222 9.86844444,7.15733333 C9.86844444,8.67733333 8.63644444,9.91022222 7.11822222,9.91022222 L7.11822222,9.91022222 Z M4.74133333,11.9964444 L9.49244444,11.9964444 L9.49244444,27.2675556 L4.74133333,27.2675556 L4.74133333,11.9964444 Z M29.632,0 L2.36,0 C1.05777778,0 0,1.03288889 0,2.30755556 L0,29.6906667 C0,30.9653333 1.05777778,32 2.36,32 L29.632,32 C30.9368889,32 31.9991111,30.9653333 31.9991111,29.6906667 L31.9991111,2.30755556 C31.9991111,1.03288889 30.9368889,0 29.632,0 L29.632,0 Z" id="linkedin-Fill-4"/> </symbol><symbol viewBox="0 0 70 32" id="icon-logo-american-express"> <path d="M69.102 17.219l0.399 9.094c-0.688 0.313-3.285 1.688-4.26 1.688h-4.788v-0.656c-0.546 0.438-1.549 0.656-2.467 0.656h-15.053v-2.466c0-0.344-0.057-0.344-0.345-0.344h-0.257v2.81h-4.961v-2.924c-0.832 0.402-1.749 0.402-2.581 0.402h-0.544v2.523h-6.050l-1.434-1.656-1.577 1.656h-9.72v-10.781h9.892l1.405 1.663 1.548-1.663h6.652c0.775 0 2.037 0.115 2.581 0.66v-0.66h5.936c0.602 0 1.749 0.115 2.523 0.66v-0.66h8.946v0.66c0.516-0.43 1.433-0.66 2.265-0.66h4.988v0.66c0.546-0.372 1.32-0.66 2.323-0.66h4.578zM34.905 23.871c1.577 0 3.183-0.43 3.183-2.581 0-2.093-1.635-2.523-3.069-2.523h-5.878l-2.38 2.523-2.236-2.523h-7.427v7.67h7.312l2.351-2.509 2.266 2.509h3.556v-2.566h2.322zM46.001 23.556c-0.172-0.23-0.487-0.516-0.946-0.66 0.516-0.172 1.318-0.832 1.318-2.036 0-0.889-0.315-1.377-0.917-1.721-0.602-0.315-1.319-0.372-2.266-0.372h-4.215v7.67h1.864v-2.796h1.978c0.66 0 1.032 0.058 1.319 0.344 0.316 0.373 0.316 1.032 0.316 1.548v0.903h1.836v-1.477c0-0.688-0.058-1.032-0.288-1.405zM53.571 20.373v-1.605h-6.136v7.67h6.136v-1.563h-4.33v-1.549h4.244v-1.548h-4.244v-1.405h4.33zM58.245 26.438c1.864 0 2.926-0.759 2.926-2.393 0-0.774-0.23-1.262-0.545-1.664-0.459-0.372-1.119-0.602-2.151-0.602h-1.004c-0.258 0-0.487-0.057-0.717-0.115-0.201-0.086-0.373-0.258-0.373-0.545 0-0.258 0.058-0.43 0.287-0.602 0.143-0.115 0.373-0.115 0.717-0.115h3.383v-1.634h-3.671c-1.978 0-2.638 1.204-2.638 2.294 0 2.438 2.151 2.322 3.842 2.38 0.344 0 0.544 0.058 0.66 0.173 0.115 0.086 0.23 0.315 0.23 0.544 0 0.201-0.115 0.373-0.23 0.488-0.173 0.115-0.373 0.172-0.717 0.172h-3.555v1.62h3.555zM65.442 26.439c1.864 0 2.924-0.76 2.924-2.394 0-0.774-0.229-1.262-0.544-1.664-0.459-0.372-1.119-0.602-2.151-0.602h-1.003c-0.258 0-0.488-0.057-0.718-0.115-0.201-0.086-0.373-0.258-0.373-0.545 0-0.258 0.115-0.43 0.287-0.602 0.144-0.115 0.373-0.115 0.717-0.115h3.383v-1.634h-3.671c-1.921 0-2.638 1.204-2.638 2.294 0 2.438 2.151 2.322 3.842 2.38 0.344 0 0.544 0.058 0.66 0.174 0.115 0.086 0.229 0.315 0.229 0.544 0 0.201-0.114 0.373-0.229 0.488s-0.373 0.172-0.717 0.172h-3.556v1.62h3.556zM43.966 20.518c0.23 0.115 0.373 0.344 0.373 0.659 0 0.344-0.143 0.602-0.373 0.774-0.287 0.115-0.545 0.115-0.889 0.115l-2.237 0.058v-1.749h2.237c0.344 0 0.659 0 0.889 0.143zM36.108 8.646c-0.287 0.172-0.544 0.172-0.918 0.172h-2.265v-1.692h2.265c0.316 0 0.688 0 0.918 0.114 0.23 0.144 0.344 0.374 0.344 0.718 0 0.315-0.114 0.602-0.344 0.689zM50.789 6.839l1.262 3.039h-2.523zM30.775 25.792l-2.838-3.183 2.838-3.011v6.193zM35.019 20.373c0.66 0 1.090 0.258 1.090 0.918s-0.43 1.032-1.090 1.032h-2.437v-1.95h2.437zM5.773 9.878l1.291-3.039 1.262 3.039h-2.552zM18.905 20.372l4.616 0 2.036 2.237-2.093 2.265h-4.559v-1.549h4.071v-1.548h-4.071v-1.405zM19.077 13.376l-0.545 1.377h-3.24l-0.546-1.319v1.319h-6.222l-0.66-1.749h-1.577l-0.717 1.749h-5.572l2.389-5.649 2.237-5.104h4.789l0.659 1.262v-1.262h5.591l1.262 2.724 1.233-2.724h17.835c0.832 0 1.548 0.143 2.093 0.602v-0.602h4.903v0.602c0.803-0.459 1.864-0.602 3.068-0.602h7.082l0.66 1.262v-1.262h5.218l0.775 1.262v-1.262h5.103v10.753h-5.161l-1.003-1.635v1.635h-6.423l-0.717-1.749h-1.577l-0.717 1.749h-3.355c-1.318 0-2.294-0.316-2.954-0.659v0.659h-7.971v-2.466c0-0.344-0.057-0.402-0.286-0.402h-0.258v2.867h-15.398v-1.377zM43.363 6.409c-0.832 0.831-0.975 1.864-1.004 3.011 0 1.377 0.344 2.266 0.947 2.925 0.659 0.66 1.806 0.86 2.695 0.86h2.151l0.716-1.692h3.843l0.717 1.692h3.727v-5.763l3.47 5.763h2.638v-7.684h-1.892v5.333l-3.24-5.333h-2.839v7.254l-3.096-7.254h-2.724l-2.638 6.050h-0.832c-0.487 0-1.003-0.115-1.262-0.373-0.344-0.402-0.488-1.004-0.488-1.836 0-0.803 0.144-1.405 0.488-1.748 0.373-0.316 0.774-0.431 1.434-0.431h1.749v-1.663h-1.749c-1.262 0-2.265 0.286-2.81 0.889zM39.579 5.52v7.684h1.863v-7.684h-1.863zM31.12 5.52l-0 7.685h1.806v-2.781h1.979c0.66 0 1.090 0.057 1.376 0.315 0.316 0.401 0.258 1.061 0.258 1.491v0.975h1.892v-1.519c0-0.66-0.057-1.004-0.344-1.377-0.172-0.229-0.487-0.488-0.889-0.659 0.516-0.23 1.319-0.832 1.319-2.036 0-0.889-0.373-1.377-0.976-1.75-0.602-0.344-1.262-0.344-2.208-0.344h-4.215zM23.636 5.521v7.685h6.165v-1.577h-4.301v-1.549h4.244v-1.577h-4.244v-1.377h4.301v-1.606h-6.165zM16.124 13.205h1.577l2.695-6.021v6.021h1.864v-7.684h-3.011l-2.265 5.219-2.409-5.219h-2.953v7.254l-3.154-7.254h-2.724l-3.297 7.684h1.978l0.688-1.692h3.871l0.688 1.692h3.756v-6.021z"/> </symbol><symbol viewBox="0 0 95 32" id="icon-logo-discover"> <path d="M50.431 8.059c4.546 0 8.092 3.49 8.092 7.936 0 4.471-3.571 7.961-8.093 7.961-4.638 0-8.115-3.444-8.115-8.051 0-4.334 3.635-7.845 8.115-7.845zM4.362 8.345c4.811 0 8.168 3.133 8.168 7.64 0 2.247-1.028 4.422-2.761 5.864-1.461 1.214-3.126 1.761-5.429 1.761h-4.339v-15.265h4.362zM7.832 19.81c1.027-0.912 1.639-2.379 1.639-3.847 0-1.464-0.612-2.882-1.639-3.798-0.984-0.892-2.146-1.235-4.065-1.235h-0.797v10.096h0.797c1.919 0 3.127-0.367 4.065-1.216zM13.9 23.611v-15.265h2.965v15.265h-2.965zM24.123 14.201c3.378 1.238 4.379 2.338 4.379 4.764 0 2.952-2.166 5.015-5.247 5.015-2.261 0-3.904-0.896-5.271-2.907l1.914-1.856c0.685 1.328 1.825 2.036 3.24 2.036 1.325 0 2.308-0.915 2.308-2.152 0-0.641-0.298-1.189-0.891-1.578-0.297-0.187-0.889-0.46-2.054-0.87-2.784-1.010-3.742-2.085-3.742-4.192 0-2.493 2.055-4.371 4.745-4.371 1.667 0 3.196 0.571 4.473 1.696l-1.549 2.033c-0.778-0.867-1.508-1.233-2.398-1.233-1.28 0-2.213 0.732-2.213 1.694 0 0.821 0.525 1.258 2.307 1.921zM29.438 15.986c0-4.436 3.605-7.985 8.101-7.985 1.278 0 2.352 0.273 3.653 0.935v3.504c-1.233-1.213-2.308-1.717-3.72-1.717-2.787 0-4.976 2.313-4.976 5.241 0 3.092 2.123 5.267 5.112 5.267 1.347 0 2.397-0.48 3.585-1.671v3.504c-1.347 0.638-2.443 0.892-3.72 0.892-4.519 0-8.034-3.478-8.034-7.97zM65.239 18.601l4.11-10.254h3.216l-6.573 15.655h-1.596l-6.46-15.655h3.24zM73.914 23.612v-15.265h8.418v2.585h-5.453v3.388h5.244v2.585h-5.244v4.123h5.453v2.584h-8.418zM94.081 12.852c0 2.336-1.23 3.87-3.469 4.329l4.794 6.43h-3.651l-4.105-6.135h-0.388v6.135h-2.969v-15.265h4.404c3.425 0 5.384 1.645 5.384 4.506zM88.125 15.372c1.9 0 2.903-0.827 2.903-2.359 0-1.486-1.004-2.266-2.856-2.266h-0.911v4.626h0.863z"/> </symbol><symbol viewBox="0 0 54 32" id="icon-logo-mastercard"> <path d="M48.366 15.193c0.6 0 0.9 0.437 0.9 1.282 0 1.281-0.546 2.209-1.337 2.209-0.6 0-0.9-0.436-0.9-1.31 0-1.281 0.573-2.182 1.337-2.182zM38.276 18.275c0-0.655 0.491-1.009 1.472-1.009 0.109 0 0.191 0.027 0.382 0.027-0.027 0.982-0.545 1.636-1.227 1.636-0.382 0-0.628-0.245-0.628-0.655zM26.278 15.848c0 0.082-0 0.192-0 0.327h-1.909c0.164-0.763 0.545-1.173 1.091-1.173 0.518 0 0.818 0.3 0.818 0.845zM38.060 0.002c8.838 0 16.003 7.165 16.003 16.002s-7.165 15.999-16.003 15.999c-3.834 0-7.324-1.344-10.080-3.594 2.102-2.031 3.707-4.567 4.568-7.44h-1.33c-0.833 2.553-2.297 4.807-4.199 6.627-1.892-1.816-3.342-4.078-4.172-6.62h-1.33c0.858 2.856 2.435 5.401 4.521 7.432-2.749 2.219-6.223 3.594-10.036 3.594-8.837 0-16.002-7.163-16.002-15.999s7.164-16.001 16.002-16.001c3.814 0 7.287 1.377 10.036 3.603-2.087 2.023-3.664 4.568-4.521 7.424h1.33c0.83-2.542 2.28-4.804 4.172-6.607 1.903 1.808 3.367 4.060 4.199 6.614h1.33c-0.861-2.872-2.466-5.413-4.568-7.443 2.757-2.249 6.246-3.592 10.080-3.592zM7.217 20.213h1.691l1.336-8.044h-2.672l-1.637 4.99-0.082-4.99h-2.454l-1.336 8.044h1.582l1.037-6.135 0.136 6.135h1.173l2.209-6.189zM14.47 19.477l0.054-0.408 0.382-2.318c0.109-0.736 0.136-0.982 0.136-1.309 0-1.254-0.791-1.909-2.263-1.909-0.627 0-1.2 0.082-2.045 0.327l-0.246 1.473 0.163-0.028 0.246-0.081c0.382-0.109 0.928-0.164 1.418-0.164 0.79 0 1.091 0.164 1.091 0.6 0 0.109 0 0.191-0.055 0.409-0.273-0.027-0.518-0.054-0.709-0.054-1.909 0-2.999 0.927-2.999 2.536 0 1.064 0.627 1.773 1.554 1.773 0.791 0 1.364-0.246 1.8-0.791l-0.027 0.682h1.418l0.027-0.164 0.027-0.246zM17.988 16.314c-0.736-0.327-0.819-0.409-0.819-0.709 0-0.355 0.3-0.519 0.845-0.519 0.328 0 0.791 0.028 1.227 0.082l0.246-1.5c-0.436-0.082-1.118-0.137-1.5-0.137-1.909 0-2.59 1.009-2.563 2.208 0 0.818 0.382 1.391 1.282 1.828 0.709 0.327 0.818 0.436 0.818 0.709 0 0.409-0.3 0.6-0.982 0.6-0.518 0-0.982-0.082-1.527-0.245l-0.246 1.5 0.082 0.027 0.3 0.054c0.109 0.027 0.246 0.055 0.464 0.055 0.382 0.054 0.709 0.054 0.928 0.054 1.8 0 2.645-0.682 2.645-2.181 0-0.9-0.354-1.418-1.2-1.828zM21.75 18.741c-0.409 0-0.573-0.136-0.573-0.464 0-0.082 0-0.164 0.027-0.273l0.463-2.726h0.873l0.218-1.609h-0.873l0.191-0.982h-1.691l-0.737 4.472-0.082 0.518-0.109 0.654c-0.027 0.191-0.055 0.409-0.055 0.573 0 0.954 0.491 1.445 1.364 1.445 0.382 0 0.764-0.055 1.227-0.218l0.218-1.445c-0.109 0.054-0.273 0.054-0.464 0.054zM25.732 18.851c-0.982 0-1.5-0.381-1.5-1.145 0-0.055 0-0.109 0.027-0.191h3.382c0.163-0.682 0.218-1.145 0.218-1.636 0-1.446-0.9-2.373-2.318-2.373-1.718 0-2.973 1.663-2.973 3.899 0 1.936 0.982 2.945 2.89 2.945 0.628 0 1.173-0.082 1.773-0.273l0.273-1.636c-0.6 0.3-1.145 0.409-1.773 0.409zM31.158 15.524h0.109c0.164-0.79 0.382-1.363 0.655-1.881l-0.055-0.027h-0.164c-0.573 0-0.9 0.273-1.418 1.064l0.164-1.009h-1.554l-1.064 6.544h1.718c0.627-4.008 0.791-4.69 1.609-4.69zM36.122 20.133l0.3-1.827c-0.545 0.273-1.036 0.409-1.445 0.409-1.009 0-1.609-0.737-1.609-1.963 0-1.773 0.9-3.027 2.182-3.027 0.491 0 0.928 0.136 1.528 0.436l0.3-1.745c-0.163-0.054-0.218-0.082-0.436-0.163l-0.682-0.164c-0.218-0.054-0.491-0.082-0.791-0.082-2.263 0-3.845 2.018-3.845 4.88 0 2.155 1.146 3.491 3 3.491 0.463 0 0.872-0.082 1.5-0.246zM41.521 19.069l0.355-2.318c0.136-0.736 0.136-0.982 0.136-1.309 0-1.254-0.763-1.909-2.236-1.909-0.627 0-1.2 0.082-2.045 0.327l-0.246 1.473 0.164-0.028 0.218-0.081c0.382-0.109 0.955-0.164 1.446-0.164 0.791 0 1.091 0.164 1.091 0.6 0 0.109-0.027 0.191-0.082 0.409-0.246-0.027-0.491-0.054-0.682-0.054-1.909 0-3 0.927-3 2.536 0 1.064 0.627 1.773 1.555 1.773 0.791 0 1.363-0.246 1.8-0.791l-0.028 0.682h1.418v-0.164l0.027-0.246 0.054-0.327zM43.648 20.214c0.627-4.008 0.791-4.69 1.608-4.69h0.109c0.164-0.79 0.382-1.363 0.655-1.881l-0.055-0.027h-0.164c-0.572 0-0.9 0.273-1.418 1.064l0.164-1.009h-1.554l-1.037 6.544h1.691zM48.829 20.214l1.608 0 1.309-8.044h-1.691l-0.382 2.291c-0.464-0.6-0.955-0.9-1.637-0.9-1.5 0-2.782 1.854-2.782 4.035 0 1.636 0.818 2.7 2.073 2.7 0.627 0 1.118-0.218 1.582-0.709zM11.306 18.279c0-0.655 0.492-1.009 1.447-1.009 0.136 0 0.218 0.027 0.382 0.027-0.027 0.982-0.518 1.636-1.228 1.636-0.382 0-0.6-0.245-0.6-0.655z"/> </symbol><symbol viewBox="0 0 57 32" id="icon-logo-paypal"> <path d="M47.11 10.477c2.211-0.037 4.633 0.618 4.072 3.276l-1.369 6.263h-3.159l0.211-0.947c-1.72 1.712-6.038 1.821-5.335-2.111 0.491-2.294 2.878-3.023 6.423-3.023 0.246-1.020-0.457-1.274-1.65-1.238s-2.633 0.437-3.089 0.655l0.281-2.293c0.913-0.182 2.106-0.583 3.615-0.583zM47.32 16.885c0.069-0.291 0.106-0.547 0.176-0.838h-0.773c-0.596 0-1.579 0.146-1.931 0.765-0.456 0.728 0.177 1.348 0.878 1.311 0.807-0.037 1.474-0.401 1.65-1.238zM53.883 8h3.242l-2.646 12.016h-3.209zM39.142 8.037c1.689 0 3.729 1.274 3.131 4.077-0.528 2.476-2.498 3.933-4.89 3.933h-2.428l-0.879 3.969h-3.412l2.603-11.979h5.874zM39.037 12.114c0.211-0.911-0.317-1.638-1.197-1.638h-1.689l-0.704 3.277h1.583c0.88 0 1.795-0.728 2.006-1.638zM16.346 10.476c2.184-0.037 4.611 0.618 4.056 3.276l-1.352 6.262h-3.155l0.208-0.947c-1.664 1.712-5.929 1.821-5.235-2.111 0.486-2.294 2.844-3.023 6.345-3.023 0.208-1.020-0.485-1.274-1.664-1.238s-2.601 0.437-3.017 0.655l0.277-2.293c0.867-0.182 2.046-0.583 3.537-0.583zM16.589 16.885c0.035-0.291 0.104-0.547 0.173-0.838h-0.797c-0.555 0-1.525 0.146-1.872 0.765-0.451 0.728 0.138 1.348 0.832 1.311 0.797-0.037 1.491-0.401 1.664-1.238zM28.528 10.648l3.255-0-7.496 13.351h-3.528l2.306-3.925-1.289-9.426h3.156l0.508 5.579zM8.499 8.036c1.728 0 3.738 1.274 3.139 4.077-0.529 2.476-2.504 3.933-4.867 3.933h-2.468l-0.847 3.969h-3.456l2.609-11.979h5.89zM8.393 12.114c0.247-0.911-0.317-1.638-1.164-1.638h-1.693l-0.741 3.277h1.623c0.882 0 1.763-0.728 1.975-1.638z"/> </symbol><symbol viewBox="0 0 26 26" id="icon-logo-small"><path d="M17.647 12.125h-3.323c-.11 0-.197.087-.197.194v2.327c0 .107.087.193.197.193h3.323c.95 0 1.542-.524 1.542-1.357 0-.795-.594-1.358-1.543-1.358zm-2.62-2.423h3.233c2.51 0 3.988 1.57 3.988 3.296 0 1.35-.915 2.345-1.885 2.78-.155.07-.15.283.01.346 1.128.443 1.94 1.623 1.94 3 0 1.96-1.305 3.512-3.837 3.512h-6.96c-.11 0-.197-.087-.197-.194v-9.03L.237 24.49c-.51.508-.148 1.378.57 1.378h24.254c.446 0 .808-.362.808-.808V.81c0-.72-.87-1.08-1.38-.572L15.03 9.702zm-.703 7.562c-.11 0-.197.087-.197.194v2.56c0 .106.087.193.197.193h3.44c1.05 0 1.682-.542 1.682-1.472 0-.815-.593-1.474-1.68-1.474h-3.442z" fill="#FFF" fill-rule="evenodd"/></symbol><symbol viewBox="0 0 49 32" id="icon-logo-visa"> <path d="M14.059 10.283l4.24-0-6.302 15.472-4.236 0.003-3.259-12.329c2.318 0.952 4.379 3.022 5.219 5.275l0.42 2.148zM17.416 25.771l2.503-15.501h4.001l-2.503 15.501h-4.002zM31.992 16.494c2.31 1.106 3.375 2.444 3.362 4.211-0.032 3.217-2.765 5.295-6.97 5.295-1.796-0.020-3.526-0.394-4.459-0.826l0.56-3.469 0.515 0.246c1.316 0.579 2.167 0.814 3.769 0.814 1.151 0 2.385-0.476 2.396-1.514 0.007-0.679-0.517-1.165-2.077-1.924-1.518-0.74-3.53-1.983-3.505-4.211 0.024-3.012 2.809-5.116 6.765-5.116 1.55 0 2.795 0.339 3.586 0.651l-0.542 3.36-0.359-0.178c-0.74-0.314-1.687-0.617-2.995-0.595-1.568 0-2.293 0.689-2.293 1.333-0.010 0.728 0.848 1.204 2.246 1.923zM46.199 10.285l3.239 15.49h-3.714s-0.368-1.782-0.488-2.322c-0.583 0-4.667-0.008-5.125-0.008-0.156 0.42-0.841 2.331-0.841 2.331h-4.205l5.944-14.205c0.419-1.011 1.138-1.285 2.097-1.285h3.093zM41.263 20.274c0.781 0 2.698 0 3.322 0-0.159-0.775-0.927-4.474-0.927-4.474l-0.27-1.337c-0.202 0.581-0.554 1.52-0.531 1.479 0 0-1.262 3.441-1.594 4.332zM9.723 18.702c-1.648-4.573-5.284-6.991-9.723-8.109l0.053-0.322h6.453c0.87 0.034 1.573 0.326 1.815 1.308z"/> </symbol><symbol viewBox="0 0 780 5772" id="icon-payment-sprite"><svg width="752" height="471" viewBox="0 0 752 471" id="payment-sprite-amex"><path fill="#2557D6" d="M555 131l-15 35h29l-14-35zm-168 21c3-1 4-4 4-8s-1-7-4-8-6-1-10-1h-26v19h26c4 0 7 0 10-2zM54 131l-14 35h29l-15-35zm669 224h-41v-19h40c4 0 7 0 9-2 1-1 2-3 2-6 0-2-1-4-2-5-2-2-4-2-8-2-19-1-44 0-44-28 0-12 8-26 30-26h42v-17h-39c-12 0-20 2-26 7v-7h-58c-9 0-20 2-25 7v-7H500v7c-9-6-22-7-29-7h-68v7c-6-6-21-7-30-7h-76l-17 18-16-18H150v122h111l18-19 17 19h69v-28h7c9 0 20-1 29-5v33h57v-32h3c3 0 4 1 4 4v28h172c11 0 22-2 29-8v8h54c12 0 23-1 31-5v-23c-5 7-15 11-28 11zm-350-29h-27v30h-41l-26-29-27 29h-83v-88h85l26 29 27-29h67c17 0 35 4 35 29 0 24-18 29-36 29zm126-4c3 4 4 8 4 16v18h-21v-11c0-6 0-14-4-18-3-3-8-4-15-4h-23v33h-21v-88h49c10 0 18 0 25 4s11 9 11 19c0 14-9 22-15 24 5 1 9 5 10 7zm87-36h-49v16h48v18h-48v17h49v19h-70v-88h70v18zm55 70h-41v-19h41c4 0 6-1 8-2 2-2 3-4 3-6 0-3-1-5-3-6s-4-2-7-2c-20-1-45 1-45-27 0-13 8-26 30-26h43v18h-39c-4 0-6 1-9 2-2 1-3 4-3 6 0 4 2 6 5 7 2 1 4 1 8 1h11c12 0 20 2 25 7 4 4 6 10 6 19 0 19-12 28-33 28zm110-12zm-274-57c-2-1-6-1-10-1h-26v19h26c4 0 7 0 10-1 3-2 4-5 4-9s-1-6-4-8zm236-1c-4 0-7 0-9 1-2 2-3 4-3 7s2 5 5 6c2 1 4 1 8 1h11c12 1 20 3 24 8 1 0 2 1 2 2v-25h-38zm-340 0h-27v22h27c8 0 13-4 13-12 0-7-5-10-13-10zm-183 0v16h46v18h-46v17h52l24-26-23-25h-53zm135 61v-70l-32 34 32 36zM192 206v15h176v-32h3c3 0 3 0 3 4v28h91v-7c8 4 19 7 34 7h39l8-19h18l8 19h74v-18l11 18h59V99h-58v14l-8-14h-61v14l-7-14h-81c-14 0-26 1-36 7v-7h-56v7c-6-6-14-7-23-7H181l-14 31-14-31H88v14l-7-14H26L1 157v46l38-87h31l36 83v-83h34l28 59 25-59h35v87h-21v-68l-31 68h-19l-30-68v68H84l-8-19H32l-8 19H1v18h36l8-19h18l8 19h71v-15l6 15h37l7-15zm277-80c7-7 18-10 32-10h21v18h-20c-8 0-12 2-16 6-4 3-6 10-6 20 0 9 1 16 5 20s10 5 15 5h10l29-69h32l36 83v-83h32l37 61v-61h21v87h-29l-40-65v65h-43l-9-19h-43l-8 19h-25c-10 0-23-2-31-9-7-8-11-18-11-34 0-13 2-25 11-34zm-43-10h22v87h-22v-87zm-97 0h48c11 0 19 0 26 4s11 9 11 19c0 14-10 22-15 24 4 1 8 5 10 7 3 4 4 8 4 16v17h-22v-11c0-5 1-12-3-17-3-3-8-3-15-3h-23v31h-21v-87zm-85 0h70v18h-49v16h48v18h-48v17h49v18h-70v-87z"/></svg><svg width="750" height="471" viewBox="0 0 750 471" id="payment-sprite-diners" y="471"><path fill="#0079BE" d="M585 237c0-99-83-168-174-168h-78c-92 0-168 69-168 168 0 91 76 166 168 165h78c91 1 174-74 174-165z"/><path fill="#FFF" d="M333 83c-84 0-152 68-152 153 0 84 68 152 152 152s153-68 153-152c0-85-69-153-153-153z"/><path fill="#0079BE" d="M237 235c0-41 26-76 62-90v180c-36-14-62-49-62-90zm131 90V145c36 14 62 49 62 90s-26 76-62 90z"/></svg><svg width="780" height="501" viewBox="0 0 780 501" id="payment-sprite-discover" y="942"><path fill="#F47216" d="M409 198c31 0 56 23 56 52v1c0 29-25 52-56 52s-56-23-56-52v-1c0-29 25-52 56-52z"/><path d="M321 198c9 0 17 2 26 7v22c-9-8-16-11-26-11-19 0-34 15-34 34 0 20 14 34 35 34 9 0 16-3 25-10v22c-10 4-17 6-26 6-31 0-56-23-56-52s25-52 56-52zm-97 1c12 0 22 4 31 11l-10 13c-6-5-11-8-17-8-9 0-15 5-15 11s3 8 16 13c23 8 30 15 30 31 0 19-15 32-36 32-16 0-27-6-37-19l13-12c5 9 13 14 23 14 9 0 16-6 16-14 0-5-2-8-6-11-2-1-7-3-15-5-19-7-26-14-26-28 0-16 15-28 33-28zm235 2h22l29 66 28-66h22l-45 101h-11M158 201h20v99h-20m412-99h58v17h-38v22h36v17h-36v26h38v17h-58m115-42c16-3 24-13 24-28 0-18-13-29-37-29h-31v99h21v-40h3l28 40h25l-33-42zm-17-11h-6v-30h6c13 0 20 5 20 14 0 10-7 16-20 16zM92 201H62v99h30c16 0 27-3 37-11 12-10 19-24 19-38 0-30-23-50-56-50zm24 74c-7 6-15 8-28 8h-6v-65h6c13 0 21 2 28 8s11 15 11 24c0 10-4 19-11 25z"/></svg><svg width="780" height="501" viewBox="0 0 780 501" id="payment-sprite-elo" y="1443"><path fill="#231F20" d="M374 33h32c0 1 1 0 1 1 27 1 52 8 76 20 65 34 104 87 116 160 1 5 0 9 2 13v34c-1 0-1 1-1 2-2 28-10 55-23 79-35 62-87 99-157 111-5 1-10 0-14 2h-33c-1-1-2-1-2-1-28-3-55-10-80-24-62-34-99-86-110-157-1-4 0-8-2-12v-35c1 0 1-1 1-2 1-9 2-19 4-28 20-85 90-149 176-161 5-1 9-1 14-2zM238 246c0 14 3 24 8 34 1 2 2 3 5 1 35-15 70-30 106-45 2-1 3-2 2-5-9-29-38-48-68-43-31 4-53 30-53 57zm133-25v56c0 12 4 21 15 25 6 3 12 5 17 8 2 0 3 0 3-2 3-6 6-13 8-19 1-2 1-2-1-3-5-2-10-5-16-7-2 0-2-2-2-4v-31-81c0-3-1-4-4-4-5 1-11 1-17 0-3 0-3 1-3 4v58zm109 89h10c24-4 45-24 50-47 1-2 1-3-1-3-7-2-14-3-21-4-2-1-2 0-3 2-1 3-2 6-3 8-8 15-24 21-40 17-3 0-4 0-5 3l-6 18c-1 3 0 4 2 4 6 1 11 3 17 2zm-40-107c-1 0-2 1-3 1-25 24-25 66 1 90 2 1 2 1 4 0 4-5 8-10 13-15 1-2 1-4-1-5-13-16-13-35 1-51 1-1 1-2 0-3-5-5-9-11-14-16l-1-1zm40-16c-6 0-12 1-18 3-2 0-2 1-2 3 3 7 5 13 7 20 1 1 2 2 3 1 19-6 39 5 45 25 1 2 2 2 4 2 6-1 12-3 18-4 3 0 4-2 3-4-7-27-32-46-60-46zM304 310c11 0 24-5 36-14 2-2 3-4 0-6-4-4-9-9-13-14-1-1-2-1-4 0-12 10-26 12-41 4-1-1-2 0-3 1-4 6-7 12-11 17-1 2-1 3 1 4 10 6 20 8 35 8z"/><path fill="#FCFCFC" d="M238 246c0-28 22-54 53-58 30-5 59 14 68 43 1 3 0 4-2 5-36 15-71 30-106 45-3 2-4 1-5-1-5-10-8-20-8-35zm89-21c-9-11-25-15-39-10s-24 18-24 33c0 4 0 4 3 3l42-18c6-3 12-5 18-8zm44-4v-58c0-3 0-4 3-4 6 1 12 1 17 0 3 0 4 1 4 4v112c0 2 0 4 2 4 6 2 11 5 16 7 2 1 2 1 1 3-2 6-5 13-8 19 0 2-1 2-3 2-5-3-11-5-17-8-11-4-15-13-15-25v-56z"/><path fill="#EC4324" d="M480 310c-6 1-11-1-17-2-2 0-3-1-2-4l6-18c1-3 2-3 5-3 16 4 32-2 40-17 1-2 2-5 3-8 1-2 1-3 3-2 7 1 14 2 21 4 2 0 2 1 1 3-5 23-26 43-50 47h-10z"/><path fill="#02A3DD" d="M440 203l1 1c5 5 9 11 14 16 1 1 1 2 0 3-14 16-14 35-1 51 2 1 2 3 1 5-5 5-9 10-13 15-2 1-2 1-4 0-26-24-26-66-1-90 1 0 2-1 3-1z"/><path fill="#FCEF03" d="M480 187c28 0 53 19 60 46 1 2 0 4-3 4-6 1-12 3-18 4-2 0-3 0-4-2-6-20-26-31-45-25-1 1-2 0-3-1-2-7-4-13-7-20 0-2 0-3 2-3 6-2 12-3 18-3z"/><path fill="#FCFCFC" d="M304 310c-15 0-25-2-35-8-2-1-2-2-1-4 4-5 7-11 11-17 1-1 2-2 3-1 15 8 29 6 41-4 2-1 3-1 4 0 4 5 9 10 13 14 3 2 2 4 0 6-12 9-25 14-36 14z"/><path fill="#231F20" d="M327 225c-6 3-12 5-18 8l-42 18c-3 1-3 1-3-3 0-15 10-28 24-33s30-1 39 10z"/></svg><svg width="752" height="471" viewBox="0 0 752 471" id="payment-sprite-hipercard" y="1944"><g fill="#B2131B"><path d="M436 70h309c3 0 3 0 2 3-1 9-3 18-5 27l-18 87c-6 29-12 57-18 86-5 24-10 48-14 72-3 13-9 24-19 32-6 6-13 9-21 12-11 3-22 5-34 5H6c-3 0-3 0-3-3 3-13 6-26 8-39l18-87c7-32 13-65 20-97 3-16 7-33 10-49 5-23 19-36 41-44 10-3 21-5 33-5h303zm-50 142c1-3 1-7 2-10 0-2 0-2-1-2h-12c-1 0-1 1-1 2-2 14-5 29-7 43-2 10-4 21-6 31-1 2-1 3 1 2h13c1 1 1 0 2-1 1-13 3-25 5-38 2-7 3-14 8-20 4-5 9-9 16-8 2 0 5 0 7 1 1 0 1 0 2-1 0-3 1-6 1-9v-2c-3-1-6-2-9-2-7 1-13 4-17 10-1 1-2 3-4 4zm191 0c0-4 1-7 2-10 0-2-1-2-2-2h-10c-2 0-2 0-2 2-2 13-5 27-7 40-2 12-4 23-7 35 0 1 0 1 1 1h14c1 0 2 0 1-1 0-4 1-8 2-12 2-12 3-24 7-36 2-8 7-15 15-18h1c4 0 8-1 12 1 1 0 1 0 1-1 1-3 1-6 2-9 0-1 0-2-1-2-3-1-6-2-9-1-5 0-9 2-13 5-3 2-5 5-7 8zm-454 1H99c-1 0-1-1-1-2 3-14 5-27 8-41 0-1 0-2-1-2-6 1-11 1-16 0-1 0-1 1-2 2-1 10-3 20-4 30-3 18-6 35-10 53-1 7-3 15-4 23-1 2-1 2 2 2h14c1 0 2 0 2-1 1-6 2-11 3-17 2-11 4-23 6-35 0-1 0-1 2-1h46c2 0 2 0 2 2l-6 33c-1 6-2 12-4 18 0 1 0 2 2 1h15c1 0 2 0 2-1 2-13 4-26 6-38 4-23 8-46 13-69 0-2 0-2-2-2-4 1-9 0-14 0-2 0-2 0-3 3v3c-2 12-5 25-6 37-1 1-1 2-2 2h-24zm529 53c0 4 0 8-1 11 0 1 0 1 1 1h12c2 0 2 0 2-1v-4c2-23 6-45 10-67 3-13 5-25 8-38 0-1 0-2-2-2h-13c-1 0-1 0-2 2-1 10-3 21-4 32-1 1-1 1-2 1-6-2-11-3-17-3-7 0-14 2-21 5-7 4-12 10-16 17-5 9-8 18-8 29-1 6-1 13 2 19 2 4 4 7 8 9 8 4 16 4 24 3 5-1 10-3 14-7 2-2 3-4 5-7zm-424-58c0-3 1-4 1-6 0-1 0-2-1-2h-11c-1 0-2 1-2 2-1 8-3 17-4 25-3 20-7 40-10 59-2 9-4 17-5 26-1 1-1 2 1 1h13c1 1 2 0 2-1v-4c2-10 3-19 5-28 0-3 0-7 1-10 1 1 1 2 2 3 2 2 4 5 7 6 4 2 8 2 13 2 11-1 20-5 27-14 7-8 10-17 12-27 2-8 3-16 0-25-2-8-7-13-15-15-10-3-20-2-29 3-2 1-4 3-7 5zm297 59s0 1-1 1v9c0 1 0 2 1 1h11c1 1 2 0 2-1v-9c1-11 3-21 5-31 1-8 3-16 3-24 0-5-2-8-6-11-7-3-14-4-22-4s-17 2-25 2c-1 0-1 0-1 1-1 4-2 7-3 11 0 1 0 1 1 1 4-1 7-2 10-3 8-1 16-2 23 0 5 1 8 3 8 9 0 2-1 5-1 7 0 1-1 2-2 2h-15c-7 0-13 0-19 2-8 3-15 8-18 16-3 6-3 12-2 18 0 8 5 13 13 15 5 1 9 1 13 1 5 0 10-1 14-4 4-2 7-6 11-9zm-196-31h25c1 0 2 0 2-1 1-6 2-12 2-19 0-5-3-10-8-13-4-3-9-4-13-4-8-1-15-1-22 2-10 3-18 9-22 18-6 12-9 25-8 38 1 6 3 11 7 16 5 4 11 6 18 7 12 1 24-1 35-3 1 0 1-1 1-1 1-4 2-8 2-11 1-1 0-1-1-1-8 4-17 6-27 5-4 0-8-1-11-3-2-1-4-2-5-4-2-3-3-7-3-11 0-5 1-9 1-13 0-1 1-2 2-2h25zm135 28h-1c-8 4-16 6-25 5-3 0-5-1-7-2-5-4-7-9-7-15 0-7 1-15 3-23l6-12c5-6 12-8 19-8 6 0 13 1 20 3 1 1 1 0 1-1 1-3 1-6 2-10 0-1 0-1-1-1-8-1-16-2-24-1-5 0-10 0-14 2-12 4-19 13-23 24-4 9-6 19-5 29 0 5 0 9 3 13 2 6 7 10 13 12 12 3 25 1 37-2 0-1 1-1 1-2 1-3 2-7 2-11zm-271-64h-6c-2 0-2 1-3 3-1 13-4 26-6 39-2 12-4 23-7 35 0 1 0 1 1 1h14c1 0 1 0 1-1s1-3 1-4c3-24 8-48 13-72 0-1 0-1-1-1h-7zm13-26c0-3-1-5-4-6-1-1-3-1-5-1s-4 1-5 2c-4 4-4 8-4 13 0 1 1 2 2 3 2 2 9 2 11 0 3-3 5-6 5-11z"/><path d="M645 209c5-1 10 1 14 2 1 1 1 1 1 2-2 13-4 26-7 38-2 7-5 13-11 16-7 3-16 4-23-1-2-2-3-4-3-7-2-5-1-10-1-15 1-9 4-17 9-24 3-6 8-9 14-11h7zm-381 20c0 12-3 22-9 31-5 9-15 12-24 9-6-1-10-7-10-14 1-10 4-20 5-30 1-2 1-4 2-7 0-1 0-2 1-2 4-3 7-6 12-7 6-1 11 0 16 3 2 1 4 2 5 4 2 5 2 9 2 13zm253 8h8c2 0 3 0 2 3-1 7-3 14-7 20-2 4-5 6-9 8-3 1-6 2-9 2-2 0-4-1-6-1-3-1-6-3-7-7-1-2-1-5 0-8 1-5 3-9 6-12 3-2 5-3 8-4 4-2 9-1 14-1zm-193-10h-18c-1 0-1 0-1-1 2-5 3-9 6-12 4-3 7-4 11-5s8-1 12 0c6 1 10 5 9 12v5c0 1-1 1-2 1h-17zm253-15zm-191 0v0z"/></g></svg><svg width="750" height="471" viewBox="0 0 750 471" id="payment-sprite-jcb" y="2415"><path fill="#FFF" d="M617 347c0 41-33 75-75 75H133V124c0-41 33-75 75-75h409v298z"/><path fill="url(#payment-sprite-afa)" d="M484 242h35c12 3 15 20 4 26-7 4-16 2-23 2h-16v-28zm42-32c2 9-7 17-15 16h-27c0-9-1-18 0-26 11 0 22-1 32 0 5 1 9 5 10 10zm64-136c1 17 0 36 0 54v218c0 27-24 50-51 51h-81V287c29 0 58 1 88 0 14-1 29-10 29-25 2-15-12-25-26-27-5 0-5-2 0-2 13-3 23-16 19-30-3-14-18-19-31-19h-79c0-21-1-41 0-62 2-26 27-48 53-48h79z"/><path fill="url(#payment-sprite-afb)" d="M160 125c0-27 25-51 52-51h80c0 91 1 182 0 273-1 26-25 49-51 50h-81V284c26 6 53 8 80 4 16-2 34-10 39-27 4-14 2-29 2-43v-34h-46c0 22 1 45 0 67-2 14-15 22-28 22-16 0-48-12-48-12 0-42 1-94 1-136z"/><path fill="url(#payment-sprite-afc)" d="M310 197c-3 1-1-8-1-11 0-21-1-43 0-64 2-27 27-49 54-48h78c0 91 1 182 0 273-1 26-25 49-51 50h-81V273c18 15 43 17 66 17 17 0 35-2 51-6v-23c-19 9-41 15-62 10-14-4-25-18-25-33-2-16 8-32 23-37 19-6 40-2 58 6 4 2 8 5 6-2v-18c-30-7-62-9-92-2-9 3-17 7-24 12z"/></svg><svg width="750" height="471" viewBox="0 0 750 471" id="payment-sprite-maestro" y="2886"><path fill="#D9222A" d="M675 236c0 99-80 179-179 179-100 0-180-80-180-179 0-100 80-180 180-180 99 0 179 80 179 180"/><path fill="#0097D0" d="M357 349c-5-6-10-12-14-19h64c4-6 7-12 10-19h-84c-3-6-6-12-8-19h100c6-17 9-37 9-56 0-14-1-26-4-39H320c1-6 3-12 5-19h100c-2-6-5-12-8-19h-84c3-6 6-12 10-19h64c-4-6-9-13-14-19h-36c5-6 12-13 18-19-32-28-74-46-121-46-99 0-179 80-179 180 0 99 80 179 179 179 47 0 89-18 121-46 7-6 13-13 18-20h-36"/><path d="M651 336c0-4 3-6 6-6s6 2 6 6c0 3-3 5-6 5s-6-2-6-5zm6 4c2 0 4-2 4-4 0-3-2-5-4-5-3 0-5 2-5 5 0 2 2 4 5 4zm-1-2h-1v-5h3c1 1 1 1 1 2 0 0 0 1-1 1l1 2h-1l-1-2h-1v2zm0-3h2c0-1 0-1-1-1h-1v1zm-284-51c-7 2-15 3-22 3-25 0-39-11-39-33 0-26 17-44 40-44 18 0 30 10 30 27 0 5-1 10-3 18h-44c-2 11 6 15 19 15 8 0 15-1 23-4l-4 18zm-12-44c0-2 3-13-10-13-7 0-12 4-14 13h24zm28-5c0 9 5 16 17 21 9 3 10 4 10 8s-4 7-13 7c-6 0-13-1-20-3l-3 17c6 1 16 2 24 2 24 0 35-8 35-25 0-10-5-16-16-21-10-3-11-4-11-8s4-6 11-6c5 0 11 1 17 1l3-17c-6-1-15-1-20-1-26 0-35 11-34 25m-89 51h-18v-8c-6 6-13 9-24 9-12 0-20-8-20-20 0-18 14-29 39-29 3 0 6 0 10 1v-5c0-5-3-7-14-7-10 0-17 2-24 3l3-16c12-3 19-4 27-4 20 0 30 7 30 21 0 4-1 12-2 15-1 5-6 33-7 40zm-16-33c-2-1-4-1-5-1-13 0-19 4-19 12 0 4 3 7 8 7 9 0 16-7 16-18zm194 32c-6 1-11 2-16 2-11 0-18-6-18-16 0-3 3-16 3-20 1-4 11-57 11-57h22l-3 17h11l-3 19h-11s-7 31-7 33c0 4 3 6 8 6 2 0 4 0 6-1l-3 17m99-75c-16 0-29 6-36 18l6-17c-12-4-19 2-26 11l-2 2v-13h-21c-3 23-8 47-12 70l-1 5h23c2-12 3-21 5-29 5-21 13-27 25-24-3 6-4 13-4 20 0 19 10 34 35 34s43-13 43-44c0-19-12-33-35-33zm-6 59c-8 0-13-7-13-17 0-11 7-25 18-25 9 0 12 8 12 15 0 17-6 27-17 27zm-343 17h-23l13-70-30 70h-20l-4-70-14 70h-20l17-91h35l3 51 22-51h38l-17 91"/><path fill="#FFF" d="M613 274c0-3 3-5 6-5s6 2 6 5c0 4-3 6-6 6s-6-2-6-6zm6 5c2 0 4-2 4-5 0-2-2-4-4-4s-4 2-4 4 2 5 4 5zm-1-2h-1v-5h3c1 0 1 1 1 1 0 1 0 1-1 2l1 2h-1l-1-2h-1v2zm0-3h2v-1h-2v1zm-240 4c-8 2-15 3-23 3-25 0-38-11-38-33 0-25 17-44 39-44 19 0 30 11 30 27 0 5 0 11-2 18h-45c-1 11 6 16 20 16 7 0 15-2 23-5l-4 18zm-12-44c0-1 3-13-10-13-7 0-13 5-15 13h25zm27-5c0 10 5 16 17 21 10 4 11 5 11 8 0 5-4 7-13 7-7 0-13-1-20-3l-3 17c6 2 15 2 23 2 24 0 35-7 35-24 0-11-4-17-16-21-9-4-10-5-10-8 0-4 3-6 11-6 4 0 10 0 16 1l3-17c-6-1-15-2-20-2-25 0-34 11-34 25m-88 51h-19l1-8c-6 7-14 9-24 9-12 0-20-8-20-20 0-18 14-29 39-29 3 0 6 1 9 1 1-2 1-3 1-5 0-5-4-7-14-7-11 0-18 2-24 4l3-17c11-3 19-4 27-4 19 0 29 8 29 22 1 4-1 11-1 15-1 4-7 33-7 39zm-17-33h-5c-12 0-19 3-19 11 0 5 3 8 8 8 10 0 16-8 17-19zm195 32c-7 2-11 2-16 2-12 0-18-5-18-16 0-3 2-16 3-20 1-3 10-57 10-57h23l-4 18h12l-3 18h-12s-6 31-6 34c0 4 2 5 8 5h6l-3 16m110-42c0 16-7 26-18 26-8 0-12-6-12-16 0-12 7-25 18-25 9 0 12 7 12 15zm24 0c0-18-12-33-35-33-27 0-44 18-44 44 0 18 10 33 35 33 26 0 44-13 44-44zm-115-31c-2 23-7 46-11 69l-1 5h22c8-44 11-57 28-53l8-21c-12-4-19 2-26 11 0-4 2-8 1-11h-21m-270 74h-22l13-70-30 70h-21l-4-69-13 69h-20l17-91h35l2 57 24-57h37l-18 91"/></svg><svg width="750" height="471" viewBox="0 0 750 471" id="payment-sprite-mastercard" y="3357"><path fill="#D9222A" d="M434 236c0 99-80 179-180 179-99 0-179-80-179-179 0-100 80-180 179-180 100 0 180 80 180 180"/><path fill="#EE9F2D" d="M495 56c-46 0-88 18-120 46-6 6-13 13-18 19h36c5 6 10 13 14 19h-64c-4 7-7 13-10 19h84c3 7 6 13 8 19H325c-2 7-4 13-5 19h110c3 13 4 25 4 38 0 20-3 40-9 58H325c2 6 5 12 8 19h84c-3 6-6 12-10 19h-64c4 6 9 13 14 19h36c-5 6-12 13-18 19 32 28 74 46 120 46 100 0 180-80 180-180 0-99-80-179-180-179"/><path d="M651 336c0-4 3-6 6-6s6 2 6 6c0 3-3 5-6 5s-6-2-6-5zm6 4c2 0 4-2 4-4 0-3-2-5-4-5-3 0-5 2-5 5 0 2 2 4 5 4zm-1-2h-1v-5h3c1 1 1 1 1 2 0 0 0 1-1 1l1 2h-1l-1-2h-1v2zm0-3h2c0-1 0-1-1-1h-1v1zm-443-80h-5c-11 0-16 4-16 11 0 5 2 8 7 8 8 0 13-8 14-19zm14 33h-16v-8c-5 7-12 9-20 9-11 0-18-8-18-20 0-18 12-28 34-28h8c1-2 1-3 1-5 0-4-4-6-13-6s-17 2-20 3c0-1 2-17 2-17 10-2 16-4 24-4 16 0 25 8 25 22 0 4 0 9-1 15-2 11-6 34-6 39zm-62 0h-20l11-70-25 70h-13l-2-69-11 69H86l16-91h28l1 51 18-51h31l-15 91m355-33h-5c-11 0-16 4-16 11 0 5 2 8 7 8 8 0 13-8 14-19zm14 33h-16v-8c-5 7-12 9-20 9-11 0-18-8-18-20 0-18 12-28 34-28h8c1-2 1-3 1-5 0-4-4-6-13-6s-17 2-20 3c0-1 2-17 2-17 10-2 16-4 24-4 16 0 25 8 25 22 0 4 0 9-1 15-2 11-6 34-6 39zm-221-1c-5 2-9 2-14 2-10 0-15-5-15-16 0-3 1-12 3-20 1-6 8-50 8-50h19l-2 11h12l-3 18h-11c-3 14-6 32-6 34 0 4 2 5 7 5h5l-3 16m60-1c-7 2-13 3-20 3-22 0-33-11-33-33 0-25 14-44 34-44 16 0 26 11 26 27 0 6-1 11-2 18h-39c-1 11 6 16 17 16 7 0 13-2 20-5l-3 18zm-11-43c0-2 2-14-9-14-6 0-11 5-13 14h22zm-124-5c0 9 5 15 15 20 8 4 9 5 9 8 0 5-3 7-11 7-6 0-11-1-17-3 0 0-3 16-3 17 5 1 8 2 20 2 21 0 30-7 30-24 0-10-4-16-13-21-8-4-9-5-9-8 0-4 3-6 9-6 4 0 9 0 14 1l3-17c-5-1-13-2-17-2-22 0-30 12-30 26m230-24c5 0 10 2 17 5l3-19c-3-2-13-8-21-8-13 0-24 6-32 17-11-4-16 4-22 11l-5 2c1-3 1-5 1-8h-18c-3 23-7 46-10 69l-1 5h19c4-21 5-35 6-44l8-4c1-4 4-5 11-5-1 5-1 10-1 15 0 24 13 39 34 39 5 0 10 0 17-2l4-21c-7 3-12 5-17 5-11 0-18-9-18-22 0-21 10-35 25-35"/><path fill="#FFF" d="M170 283h-19l11-70-25 70h-13l-2-70-12 70H92l15-91h28l1 56 19-56h30l-15 91"/><path d="M633 197l-5 26c-5-7-11-12-18-12-10 0-19 8-25 19-8-2-17-5-17-5 1-6 1-10 1-11h-18c-2 23-6 46-10 69l-1 5h20c2-17 4-31 6-42 7-6 10-12 17-11-3 7-5 15-5 24 0 18 9 30 23 30 8 0 13-2 18-8l-1 7h19l15-91h-19zm-25 74c-6 0-10-5-10-15 0-14 6-24 15-24 7 0 11 5 11 14 0 15-7 25-16 25z"/><path fill="#FFF" d="M218 250c-2 0-3-1-4-1-11 0-17 4-17 12 0 4 3 7 7 7 8 0 14-7 14-18zm14 33h-16l1-8c-5 6-12 9-21 9-10 0-18-8-18-20 0-18 13-29 35-29 2 0 5 0 8 1v-5c0-5-3-7-12-7-10 0-18 3-21 4 0-2 3-17 3-17 10-3 16-4 23-4 17 0 26 8 26 22 0 4-1 8-2 14-2 11-5 34-6 40zm262-89l-3 20c-7-4-12-5-18-5-14 0-25 14-25 34 0 14 7 22 19 22 4 0 10-1 16-4l-3 20c-7 2-12 3-18 3-20 0-34-15-34-39 0-33 18-56 44-56 9 0 19 4 22 5m31 56c-2 0-3-1-4-1-11 0-17 4-17 12 0 4 3 7 7 7 8 0 14-7 14-18zm14 33h-16l1-8c-5 6-12 9-21 9-10 0-18-8-18-20 0-18 13-29 35-29 2 0 5 0 8 1v-5c0-5-3-7-12-7-10 0-18 3-21 4 0-2 3-17 3-17 10-3 16-4 23-4 17 0 26 8 26 22 0 4-1 8-2 14-2 11-5 34-6 40zm-220-1c-5 1-10 2-14 2-10 0-15-6-15-16-1-4 1-12 2-20 1-7 9-51 9-51h19l-2 12h10l-3 17h-10c-2 15-5 32-5 34 0 4 2 6 6 6 3 0 4 0 6-1l-3 17m59-1c-6 2-13 3-20 3-21 0-33-11-33-33 1-25 15-44 34-44 16 0 27 10 27 27 0 5-1 11-3 18h-38c-2 11 5 15 16 15 7 0 14-1 21-4l-4 18zm-11-44c1-1 3-13-9-13-6 0-10 5-12 13h21zm-123-5c0 9 5 16 15 21 8 3 9 5 9 8 0 5-3 7-11 7-6 0-11-1-18-3 0 0-2 16-2 17 4 1 8 2 20 2 21 0 30-8 30-25 0-10-4-16-14-20-8-4-9-5-9-8 0-4 3-6 10-6 4 0 9 0 14 1l2-18c-5 0-12-1-17-1-21 0-29 11-29 25m399 51h-19l1-7c-5 6-11 8-18 8-14 0-24-12-24-31 0-24 15-45 32-45 8 0 13 3 19 10l4-26h19l-14 91zm-29-17c9 0 15-11 15-25 0-10-3-15-10-15-9 0-15 10-15 25 0 10 3 15 10 15zm-57-57c-3 23-7 46-10 69l-1 5h19c7-46 9-54 20-53 2-10 5-18 7-22-8-1-12 3-18 12 0-4 1-8 1-11h-18m-161 0c-2 23-6 46-10 69l-1 5h20c7-46 9-54 20-53 1-10 5-18 7-22-8-1-13 3-19 12 1-4 2-8 1-11h-18m255 68c0-3 3-6 6-6s6 3 6 6-3 6-6 6-6-3-6-6zm6 4c2 0 4-2 4-4s-2-4-4-4c-3 0-5 2-5 4s2 4 5 4zm-1-2h-1v-5h2s1 0 1 1c1 0 1 0 1 1s0 1-1 1l1 2h-1l-1-2h-1v2zm0-2h1v-1h1s0-1-1-1h-1v2z"/></svg><svg width="752" height="471" viewBox="0 0 752 471" id="payment-sprite-meli" y="3828"><path fill="#FDE600" d="M113 213c36 8 72 16 105 32 4 2 8 5 11 7 1 1 2 1 1 3-6 19 9 38 29 36 2 0 2 0 3 2 4 13 15 22 28 23h1c5-1 8 2 11 6 8 9 18 14 30 11 2-1 3 0 3 1 11 20 34 24 51 10 1-1 2-1 4-1 6 4 14 7 22 7 10 1 20 0 26-10 1-1 2 0 3 0 13 3 28-4 33-16 2-4 4-4 8-4 12 0 21-6 28-16 2-3 3-7 3-11 0-2 1-2 3-2 10 1 18-2 25-9 8-7 9-19 5-28-2-3-1-3 1-4 35-14 71-25 108-34 2 0 3 0 3 2 1 27-7 52-21 74-16 24-37 42-61 57-32 20-67 33-103 40-27 6-53 9-80 9-53 1-104-7-154-26-28-12-55-27-78-48-18-17-34-37-42-62-6-15-8-31-6-48v-1z"/><path fill="#FEFEFE" d="M316 134c-8 8-15 15-22 23-2 2-4 5-7 7-5 6-5 13 1 18s12 7 19 8c14 2 27-1 38-9 9-7 18-15 27-21 7-4 13-8 21-9 8-2 15 0 21 4 10 5 18 12 26 19 31 26 61 52 91 78 3 3 5 6 6 10 2 9-5 17-15 18-6 1-11-1-15-5-13-11-25-22-38-33-1-1-3-3-5-3-1-1-2-1-3 0-2 1-1 3-1 4l3 3c11 12 22 23 34 34 4 5 7 10 5 16-4 13-23 17-32 8s-18-18-28-27c-2-1-3-2-5-2-1 0-2 0-3 1s-1 2 0 3c0 1 1 2 2 3 8 9 17 19 25 28 5 6 5 11-1 15-5 6-12 7-19 5-2-1-3-2-4-3-7-8-15-15-23-22-2-1-3-2-4-3-2 0-3 0-4 1s-1 3 0 4c0 1 1 1 1 2 7 8 14 15 20 22 3 3 3 5-1 6-5 3-11 4-17 2-5-1-9-2-13-4-2-1-2-2-1-3 7-20-4-40-25-44-2 0-5 1-6-1s-1-4-1-6c-1-14-11-24-25-26-4-1-9-1-13 1-1 0-2 0-3-2-7-13-28-18-42-9-2 1-3 1-4-1-11-10-26-11-38-1-1 0-1 1-3 0-16-11-35-18-54-24s-40-11-60-16c-6-2-6-2-4-8 6-23 18-42 34-59 6-7 13-13 19-18 2-2 4-2 6-1 24 9 48 17 74 23 17 3 34 3 51-3l15-3z"/><path fill="#FEFEFE" d="M406 109c11 0 28 4 45 12 23 11 46 17 71 17 24 1 46-5 68-13 4-2 7-3 11-5 1 0 2 0 3 1 21 18 38 40 48 67 1 4 2 9 3 13 1 3 0 3-2 4-18 4-35 9-53 14-20 7-41 14-60 23-2 0-4 0-5-1-32-28-64-56-97-83-5-4-10-8-16-11-15-11-31-11-47-2-11 6-21 15-30 22-4 2-7 5-10 7-10 7-20 7-31 5-1-1-2-1-3-1-7-3-7-4-2-10 11-12 21-24 34-35 19-17 38-24 73-24z"/><path fill="#FDE600" d="M593 112c-14 6-28 10-42 13-33 6-65 1-95-13-21-10-44-16-67-14-21 2-40 8-57 22-1 0-2 1-3 1-11 1-22 3-33 7-17 5-33 4-50 0-22-6-43-12-63-19 0-2 2-2 3-3 30-21 63-34 98-43 40-10 80-14 120-12 37 2 73 8 109 20 27 9 54 22 77 39 1 0 2 1 3 2z"/><path fill="#FEFEFE" d="M274 266c1-1 2-3 2-4 7-9 17-13 27-10 7 2 11 7 13 14v2c1 3 2 4 4 2 7-6 14-7 22-4 8 4 12 11 11 21 0 3-1 6-2 8 0 2-2 4 0 5 2 2 3 0 5 0 4-2 9-3 14-1 11 3 18 13 16 25-1 11-11 18-23 18-11 0-20-9-21-20 0-2 0-4-2-5-1 0-3 1-4 2-6 6-12 6-19 2-7-3-11-8-10-16 0-1 0-3-1-3-2-1-3 0-4 0-15 9-31-1-31-18v-5c0-2 0-3-1-3-1-1-2 0-3 1-9 8-24 4-27-8-3-10 2-19 12-22 9-2 19 4 21 13 0 2 0 3 1 6z"/><path fill="#313162" stroke="#313162" stroke-width="5" stroke-miterlimit="10" d="M113 213v1c-2 17 0 33 6 48 8 25 24 45 42 62 23 21 50 36 78 48 50 19 101 27 154 26 27 0 53-3 80-9 36-7 71-20 103-40 24-15 45-33 61-57 14-22 22-47 21-74 0-2-1-2-3-2-37 9-73 20-108 34-2 1-3 1-1 4 4 9 3 21-5 28-7 7-15 10-25 9-2 0-3 0-3 2 0 4-1 8-3 11-7 10-16 16-28 16-4 0-6 0-8 4-5 12-20 19-33 16-1 0-2-1-3 0-6 10-16 11-26 10-8 0-16-3-22-7-2 0-3 0-4 1-17 14-40 10-51-10 0-1-1-2-3-1-12 3-22-2-30-11-3-4-6-7-11-6h-1c-13-1-24-10-28-23-1-2-1-2-3-2-20 2-35-17-29-36 1-1 0-2-1-3-3-2-7-5-11-7-33-16-69-24-105-32zm203-79l-15 3c-17 6-34 6-51 3-26-6-50-14-74-23-2-1-4-1-6 1-6 5-13 11-19 18-16 17-28 36-34 59-2 6-2 6 4 8 20 5 41 10 60 16s38 13 54 24c2 1 2 0 3 0 12-10 27-9 38 1 1 2 2 2 4 1 14-8 35-4 42 9 1 2 2 2 3 2 4-2 9-2 13-1 14 2 24 12 25 26v6c2 2 5 1 7 1 20 4 32 24 25 44-1 1-1 2 1 3 4 2 8 3 13 4 6 2 12 1 17-2 4-1 4-3 1-6-6-7-13-14-20-22 0-1-1-1-1-2-1-1-1-3 0-4s2-1 4-1c1 1 2 2 4 3 8 7 16 14 23 22 1 1 2 2 4 3 7 2 14 1 19-5 6-4 6-9 1-15-8-9-17-19-25-28-1-1-2-2-2-3-1-1-1-2 0-3s2-1 3-1c2 0 3 1 5 2 10 9 19 18 28 27s28 5 32-8c2-6-1-11-5-16-12-11-23-22-34-34l-3-3c0-1-1-3 1-4 1-1 2-1 3 0 2 0 4 2 5 3 13 11 25 22 38 33 4 4 9 6 15 5 10-1 17-9 15-18-1-4-3-7-6-10-30-26-60-52-91-78-8-7-16-14-26-19-6-4-13-6-21-4-8 1-14 5-21 9-9 6-18 14-27 21-11 8-24 11-38 9-7-1-13-3-19-8s-6-12-1-18c3-2 5-5 7-7 7-8 14-15 22-23zm90-25c-35 0-54 7-73 24-13 11-23 23-34 35-5 6-5 7 2 10 1 0 2 0 3 1 11 2 21 2 31-5 3-2 6-5 10-7 9-7 19-16 30-22 16-9 32-9 47 2 6 3 11 7 16 11 33 27 65 55 97 83 1 1 3 1 5 1 19-9 40-16 60-23 18-5 35-10 53-14 2-1 3-1 2-4-1-4-2-9-3-13-10-27-27-49-48-67-1-1-2-1-3-1-4 2-7 3-11 5-22 8-44 14-68 13-25 0-48-6-71-17-17-8-34-12-45-12zm187 3c-1-1-2-2-3-2-23-17-50-30-77-39-36-12-72-18-109-20-40-2-80 2-120 12-35 9-68 22-98 43-1 1-3 1-3 3 20 7 41 13 63 19 17 4 33 5 50 0 11-4 22-6 33-7 1 0 2-1 3-1 17-14 36-20 57-22 23-2 46 4 67 14 30 14 62 19 95 13 14-3 28-7 42-13zM274 266c-1-3-1-4-1-6-2-9-12-15-21-13-10 3-15 12-12 22 3 12 18 16 27 8 1-1 2-2 3-1 1 0 1 1 1 3v5c0 17 16 27 31 18 1 0 2-1 4 0 1 0 1 2 1 3-1 8 3 13 10 16 7 4 13 4 19-2 1-1 3-2 4-2 2 1 2 3 2 5 1 11 10 20 21 20 12 0 22-7 23-18 2-12-5-22-16-25-5-2-10-1-14 1-2 0-3 2-5 0-2-1 0-3 0-5 1-2 2-5 2-8 1-10-3-17-11-21-8-3-15-2-22 4-2 2-3 1-4-2v-2c-2-7-6-12-13-14-10-3-20 1-27 10 0 1-1 3-2 4zm113 165c-47 0-92-6-135-20-35-12-68-29-95-55-26-24-44-52-52-87-6-33-6-65 8-96 11-25 28-44 48-61 30-26 66-43 104-55 34-10 69-16 105-17 55-2 109 6 160 26 33 12 63 29 88 53 23 21 40 46 48 77 3 14 3 28 3 43-1 43-18 79-48 110-27 29-61 47-98 61-28 9-56 15-85 18-18 2-35 3-51 3z"/></svg><svg width="780" height="501" viewBox="0 0 780 501" id="payment-sprite-paypal" y="4299"><path fill="#003087" d="M168 170c-8-6-19-9-33-9H84c-4 0-6 2-7 6L55 301c0 1 0 2 1 3 1 2 2 2 3 2h25c4 0 7-2 7-6l6-36c0-2 1-3 3-4 1-1 2-2 4-2 2-1 4-1 6-1h6c3 1 4 1 5 1 19 0 33-6 44-16 11-11 16-25 16-44 0-13-4-22-13-28zm-27 40c-1 8-4 13-8 15-5 2-11 4-20 4h-11l6-35c0-2 2-4 4-4h6c9 0 16 2 19 4 4 3 6 8 4 16z"/><path fill="#009CDE" d="M721 161h-24c-3 0-4 1-5 4l-21 136v1c0 1 0 2 1 3s2 1 3 1h22c4 0 6-2 7-6l21-134c0-3-1-5-4-5z"/><path fill="#003087" d="M428 214c0-1 0-2-1-3s-2-2-3-2h-25c-3 0-4 1-6 4l-35 51-14-49c-1-4-4-6-7-6h-25c-1 0-2 1-3 2s-1 2-1 3c0 0 2 7 6 19 5 13 9 26 14 40 5 15 8 22 8 23-18 25-27 38-27 40s1 4 4 4h25c3 0 5-1 6-3l84-121v-2z"/><path fill="#009CDE" d="M663 209h-25c-3 0-5 4-6 11-5-9-16-13-31-13s-29 6-40 18c-11 11-16 25-16 41 0 13 4 23 11 31 8 8 18 11 30 11 7 0 13-1 20-4 6-2 11-6 15-10 0 0 0 1-1 3v4c0 3 1 5 4 5h23c4 0 6-2 7-6l13-85c0-2 0-3-1-4s-2-2-3-2zm-43 65c-5 5-12 8-20 8-6 0-11-2-15-5-4-4-6-9-6-15 0-8 3-15 8-20 5-6 12-9 20-9 6 0 11 2 15 6 5 3 7 8 7 15 0 8-3 14-9 20z"/><path fill="#003087" d="M291 209h-25c-3 0-5 4-5 11-6-9-16-13-31-13-16 0-29 6-40 18-11 11-17 25-17 41 0 13 4 23 11 31 8 8 18 11 31 11 6 0 12-1 19-4 6-2 11-6 15-10-1 3-1 5-1 7 0 3 1 5 4 5h23c4 0 6-2 7-6l13-85c1-2 0-3 0-4-1-1-2-2-4-2zm-42 65c-6 5-13 8-21 8-6 0-11-2-15-5-4-4-6-9-6-15 0-8 3-15 8-20 6-6 13-9 21-9 6 0 11 2 15 6 4 3 6 8 6 15 0 8-3 15-8 20z"/><path fill="#009CDE" d="M540 170c-8-6-19-9-33-9h-52c-4 0-7 2-7 6l-21 134c-1 1 0 2 1 3 1 2 2 2 3 2h27c2 0 4-1 5-4l6-38c0-2 1-3 2-4s3-2 5-2c2-1 4-1 6-1h6c2 1 4 1 4 1 19 0 34-6 45-16 10-11 16-25 16-44 0-13-5-22-13-28zm-33 54c-5 3-12 5-22 5h-11l6-35c0-3 2-4 4-4h6c5 0 9 1 12 1 2 0 5 2 8 4 2 2 4 6 4 10 0 9-3 15-7 19z"/></svg><svg id="payment-sprite-real" viewBox="84 146 780 501" width="780" height="501" y="4800"><style>.st0{fill:#00958f}.st1{fill:#fec325}</style><path class="st0" d="M319 184c0-4 1-4 4-4h309c3 0 3 0 3 3v259c-51-49-102-98-153-148v307h-1l-11-11-148-141c-3-2-4-5-4-8"/><path class="st1" d="M482 601V294c51 50 102 99 153 148-1 3-4 4-6 7L485 598l-3 3z"/></svg><svg width="750" height="471" viewBox="0 0 750 471" id="payment-sprite-visa" y="5301"><path fill="#0E4595" d="M278 334l34-196h53l-33 196h-54zm246-191c-10-4-27-9-48-9-52 0-89 27-90 65 0 28 27 44 47 53 21 10 28 16 28 25 0 13-17 19-32 19-22 0-33-3-50-11l-7-3-8 44c13 6 36 10 60 11 56 0 92-27 93-67 0-23-14-40-45-54-19-9-30-15-30-24 0-8 9-17 30-17 18 0 30 4 40 8l5 2 7-42m138-5h-42c-12 0-22 4-28 17l-79 179h56s9-24 11-29h69c1 7 6 29 6 29h50l-43-196zm-66 127c5-11 21-55 21-55 0 1 5-11 8-19l3 17s10 47 12 57h-44zM233 138l-52 134-6-27c-10-31-40-65-74-82l48 171h56l84-196h-56"/><path fill="#F2AE14" d="M132 138H46l-1 5c67 16 111 55 130 102l-19-90c-3-12-12-16-24-17"/></svg></symbol><symbol viewBox="0 0 335 156.8" id="icon-philips-avent-logo"> <g> <g> <path fill="#e0e0e0" d="M137.6,123.7V143h18.9v-19.3H137.6z"/> </g> <g> <path fill="#e0e0e0" d="M71.7,79l29.4,60.5L131,79L71.7,79z"/> </g> <path fill="#e0e0e0" d="M22.7,143.3h30.9l-15.4-31.2L22.7,143.3z"/> <path fill="#e0e0e0" d="M137.6,91.5l0,19.6h18.9V91.5H137.6z"/> <g> <path fill="#e0e0e0" d="M313.4,91.5H296v63.9h18V91.5H313.4z"/> </g> <g> <path fill="#e0e0e0" d="M212,155.5h36.7L212,79.1L212,155.5z"/> </g> <g> <path d="M182.9,4.8c-2.5-2.5-6.1-4.1-11.9-4.3c-3.8-0.1-4.3,0.1-15.8,0.2v8.6v30.3l10.4,0l0-8.3
			c2.4-0.1,3.8,0.1,5.5-0.1c14.1-0.7,16.1-12,16.2-15.1C187.3,10.8,185.4,7.2,182.9,4.8z M165.6,22.5l0-13.1
			c5.3-0.9,10.5,0.9,10.3,6.7C175.6,21.2,171.2,22.9,165.6,22.5z"/> <path d="M203,14.4l8.6,3c5.7,2.2,6.9,6.6,6.8,10.4c-0.1,8.8-7.4,12.2-13.2,12.6c-6.6,0.5-11.7-0.5-13.4-0.8l0-9.6
			c5.2,1.5,11.3,1.5,13.3,0.7c1.5-0.6,2.7-1.5,2.6-2.7c-0.1-0.6-0.1-1.5-2.1-2.3l-7.9-2.8c-5.1-1.8-7-6.4-6.8-10.6
			C191.4,4,198.4-0.2,205.3,0c2.1,0.1,4.9,0,9.1,0.6l0.2,9.5c-4.7-1.1-6.9-1-9.4-0.7c-2.7,0.3-3.9,1.7-3.8,3.1
			C201.3,13.2,202.1,14,203,14.4"/> <polygon points="56.8,15.2 68,15.2 68,0.7 78.4,0.7 78.4,39.6 68,39.6 68,24 56.8,24 56.8,39.6 46.3,39.6 
			46.3,0.7 56.8,0.7 		"/> <rect x="88.2" y="0.7" width="10.4" height="38.9"/> <rect x="134.8" y="0.7" width="10.4" height="38.9"/> <polygon points="118.9,30.8 129.6,30.8 129.6,39.6 108.5,39.6 108.5,0.7 118.9,0.7 		"/> <path d="M37,4.8C34.4,2.3,30.9,0.6,25,0.5c-3.8-0.1-4.3,0.1-15.8,0.2v8.6v30.3l10.4,0l0-8.3
			c2.4-0.1,3.8,0.1,5.5-0.1c14.1-0.7,16.1-12,16.2-15.1C41.4,10.8,39.4,7.2,37,4.8z M19.6,22.5l0-13.1c5.3-0.9,10.5,0.9,10.3,6.7
			C29.7,21.2,25.2,22.9,19.6,22.5z"/> </g> <g> <path d="M212.5,78.7L212.5,78.7l0-0.2h-14.9v77.6h51.9L212.5,78.7z M212.5,81.2c1.8,3.8,34.6,72.4,35.3,73.8h-35.4
			L212.5,81.2z"/> <path d="M183.4,92V78.4h-46.3v77.7h46.3v-13.6h-26.3v-18.3h26.3v-13.6h-26.3V92H183.4z M156.1,142.5h-17.9v-18.3
			h17.9V142.5z M156.1,110.6h-17.9l0-18.6h17.9V110.6z"/> </g> <g> <path d="M335,78.4h-59.9V92h20.3v64h19V92H335V78.4z M313.4,155h-17V92h17V155z"/> <rect x="249.5" y="78.5" width="14.9" height="77.6"/> <path d="M131.9,78.5l-76.8,0l38.1,78.3L131.9,78.5z M101.1,138.4L72.5,79.5c6,0,56.2,0,57.7,0
			C129.5,80.9,104.2,132.2,101.1,138.4"/> <path d="M59.4,156.2h16.9L38.1,77.9L0,156.2h16.9l6.1-12.4h30.3L59.4,156.2z M23.5,142.8l14.6-29.5l14.6,29.5H23.5
			z"/> </g> </g> </symbol><symbol viewBox="0 0 34 32" id="icon-pinterest"> <path d="M1.356 15.647c0 6.24 3.781 11.6 9.192 13.957-0.043-1.064-0.008-2.341 0.267-3.499 0.295-1.237 1.976-8.303 1.976-8.303s-0.491-0.973-0.491-2.411c0-2.258 1.319-3.945 2.962-3.945 1.397 0 2.071 1.041 2.071 2.288 0 1.393-0.895 3.477-1.356 5.408-0.385 1.616 0.817 2.935 2.424 2.935 2.909 0 4.869-3.708 4.869-8.101 0-3.34-2.267-5.839-6.39-5.839-4.658 0-7.56 3.447-7.56 7.297 0 1.328 0.394 2.264 1.012 2.989 0.284 0.333 0.324 0.467 0.221 0.849-0.074 0.28-0.243 0.955-0.313 1.223-0.102 0.386-0.417 0.524-0.769 0.381-2.145-0.869-3.145-3.201-3.145-5.822 0-4.329 3.679-9.519 10.975-9.519 5.863 0 9.721 4.21 9.721 8.729 0 5.978-3.349 10.443-8.285 10.443-1.658 0-3.217-0.889-3.751-1.899 0 0-0.892 3.511-1.080 4.189-0.325 1.175-0.963 2.349-1.546 3.264 1.381 0.405 2.84 0.625 4.352 0.625 8.48 0 15.355-6.822 15.355-15.238s-6.876-15.238-15.355-15.238c-8.48 0-15.356 6.822-15.356 15.238z"/> </symbol><symbol viewBox="0 0 26 28" id="icon-print"> <path d="M0 21.5v-6.5q0-1.234 0.883-2.117t2.117-0.883h1v-8.5q0-0.625 0.438-1.062t1.062-0.438h10.5q0.625 0 1.375 0.313t1.188 0.75l2.375 2.375q0.438 0.438 0.75 1.188t0.313 1.375v4h1q1.234 0 2.117 0.883t0.883 2.117v6.5q0 0.203-0.148 0.352t-0.352 0.148h-3.5v2.5q0 0.625-0.438 1.062t-1.062 0.438h-15q-0.625 0-1.062-0.438t-0.438-1.062v-2.5h-3.5q-0.203 0-0.352-0.148t-0.148-0.352zM6 24h14v-4h-14v4zM6 14h14v-6h-2.5q-0.625 0-1.062-0.438t-0.438-1.062v-2.5h-10v10zM22 15q0 0.406 0.297 0.703t0.703 0.297 0.703-0.297 0.297-0.703-0.297-0.703-0.703-0.297-0.703 0.297-0.297 0.703z"/> </symbol><symbol viewBox="0 0 24 24" id="icon-remove"><path d="M19 13H5v-2h14v2z"/></symbol><symbol viewBox="0 0 32 32" id="icon-rss"> <path d="M-0.465347858,2.01048219 C-0.465347858,2.01048219 28.7009958,0.574406533 31,31.3201126 L25.1092027,31.3201126 C25.1092027,31.3201126 26.2597741,8.90749482 -0.465347858,6.89506416 L-0.465347858,2.01048219 L-0.465347858,2.01048219 Z M-0.465347858,12.2127144 C-0.465347858,12.2127144 16.6328276,11.6363594 19.9369779,31.3201126 L14.0472499,31.3201126 C14.0472499,31.3201126 13.3297467,19.6839434 -0.465347858,17.0940884 L-0.465347858,12.2127144 L-0.465347858,12.2127144 Z M2.73614917,25.0304648 C4.79776783,25.0304648 6.47229834,26.7007181 6.47229834,28.766614 C6.47229834,30.8282326 4.79776783,32.5016938 2.73614917,32.5016938 C0.6723919,32.5016938 -1,30.8293019 -1,28.766614 C-1,26.7017874 0.6723919,25.0304648 2.73614917,25.0304648 Z" id="rss-Shape"/> </symbol><symbol viewBox="0 0 118.783 118.783" id="icon-search"> <path d="M115.97,101.597L88.661,74.286c4.64-7.387,7.333-16.118,7.333-25.488c0-26.509-21.49-47.996-47.998-47.996   S0,22.289,0,48.798c0,26.51,21.487,47.995,47.996,47.995c10.197,0,19.642-3.188,27.414-8.605l26.984,26.986   c1.875,1.873,4.333,2.806,6.788,2.806c2.458,0,4.913-0.933,6.791-2.806C119.72,111.423,119.72,105.347,115.97,101.597z    M47.996,81.243c-17.917,0-32.443-14.525-32.443-32.443s14.526-32.444,32.443-32.444c17.918,0,32.443,14.526,32.443,32.444   S65.914,81.243,47.996,81.243z"/> </symbol><symbol viewBox="0 0 473.8 473.8" id="icon-shipping"> <g> <path d="M454.8,111.7c0-1.8-0.4-3.6-1.2-5.3c-1.6-3.4-4.7-5.7-8.1-6.4L241.8,1.2c-3.3-1.6-7.2-1.6-10.5,0L25.6,100.9
		c-4,1.9-6.6,5.9-6.8,10.4v0.1c0,0.1,0,0.2,0,0.4V362c0,4.6,2.6,8.8,6.8,10.8l205.7,99.7c0.1,0,0.1,0,0.2,0.1
		c0.3,0.1,0.6,0.2,0.9,0.4c0.1,0,0.2,0.1,0.4,0.1c0.3,0.1,0.6,0.2,0.9,0.3c0.1,0,0.2,0.1,0.3,0.1c0.3,0.1,0.7,0.1,1,0.2
		c0.1,0,0.2,0,0.3,0c0.4,0,0.9,0.1,1.3,0.1c0.4,0,0.9,0,1.3-0.1c0.1,0,0.2,0,0.3,0c0.3,0,0.7-0.1,1-0.2c0.1,0,0.2-0.1,0.3-0.1
		c0.3-0.1,0.6-0.2,0.9-0.3c0.1,0,0.2-0.1,0.4-0.1c0.3-0.1,0.6-0.2,0.9-0.4c0.1,0,0.1,0,0.2-0.1l206.3-100c4.1-2,6.8-6.2,6.8-10.8
		V112C454.8,111.9,454.8,111.8,454.8,111.7z M236.5,25.3l178.4,86.5l-65.7,31.9L170.8,57.2L236.5,25.3z M236.5,198.3L58.1,111.8
		l85.2-41.3L321.7,157L236.5,198.3z M42.8,131.1l181.7,88.1v223.3L42.8,354.4V131.1z M248.5,442.5V219.2l85.3-41.4v58.4
		c0,6.6,5.4,12,12,12s12-5.4,12-12v-70.1l73-35.4V354L248.5,442.5z"/> </g>                </symbol><symbol viewBox="0 0 26 28" id="icon-star"> <path d="M0 10.109q0-0.578 0.875-0.719l7.844-1.141 3.516-7.109q0.297-0.641 0.766-0.641t0.766 0.641l3.516 7.109 7.844 1.141q0.875 0.141 0.875 0.719 0 0.344-0.406 0.75l-5.672 5.531 1.344 7.812q0.016 0.109 0.016 0.313 0 0.328-0.164 0.555t-0.477 0.227q-0.297 0-0.625-0.187l-7.016-3.687-7.016 3.687q-0.344 0.187-0.625 0.187-0.328 0-0.492-0.227t-0.164-0.555q0-0.094 0.031-0.313l1.344-7.812-5.688-5.531q-0.391-0.422-0.391-0.75z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-stumbleupon">  <mask id="stumbleupon-mask-2" sketch:name="Clip 2"> <use xlink:href="#stumbleupon-path-1"/> </mask> <path d="M31.9250667,16.0373333 C31.9250667,24.8533333 24.7784,32 15.9624,32 C7.14666667,32 0,24.8533333 0,16.0373333 C0,7.2216 7.14666667,0.0749333333 15.9624,0.0749333333 C24.7784,0.0749333333 31.9250667,7.2216 31.9250667,16.0373333 Z M21.9205547,16.3600826 L21.9205547,18.9857015 C21.9205547,19.5214765 21.494073,19.9558236 20.968,19.9558236 C20.441927,19.9558236 20.0154453,19.5214765 20.0154453,18.9857015 L20.0154453,16.4101275 L18.1823358,16.9675798 L16.9525547,16.3839008 L16.9525547,18.9383327 C16.9717372,21.1844666 18.7659562,23 20.976146,23 C23.1984234,23 25,21.1651979 25,18.9019364 L25,16.3600826 L21.9205547,16.3600826 Z M16.9525547,14.2429415 L18.1823358,14.8266205 L20.0154453,14.2691683 L20.0154453,12.9736203 C19.9505401,10.7684323 18.1810219,9 16,9 C13.8268613,9 12.0618102,10.7555866 11.9845547,12.9492669 L11.9845547,18.8684839 C11.9845547,19.404259 11.558073,19.8386061 11.032,19.8386061 C10.505927,19.8386061 10.0794453,19.404259 10.0794453,18.8684839 L10.0794453,16.3600826 L7,16.3600826 L7,18.9019364 C7,21.1651979 8.80131387,23 11.0235912,23 C13.2264234,23 15.0119708,21.1965095 15.0429781,18.9608128 L15.0474453,13.114656 C15.0474453,12.578881 15.473927,12.1445339 16,12.1445339 C16.526073,12.1445339 16.9525547,12.578881 16.9525547,13.114656 L16.9525547,14.2429415 Z" id="stumbleupon-Fill-1" sketch:type="MSShapeGroup" mask="url(#stumbleupon-mask-2)"/> </symbol><symbol viewBox="0 0 400 400" id="icon-tick"> <g> <g> <path d="M199.996,0C89.713,0,0,89.72,0,200s89.713,200,199.996,200S400,310.28,400,200S310.279,0,199.996,0z M199.996,373.77
			C104.18,373.77,26.23,295.816,26.23,200c0-95.817,77.949-173.769,173.766-173.769c95.817,0,173.771,77.953,173.771,173.769
			C373.768,295.816,295.812,373.77,199.996,373.77z"/> <path d="M272.406,134.526L169.275,237.652l-41.689-41.68c-5.123-5.117-13.422-5.12-18.545,0.003
			c-5.125,5.125-5.125,13.425,0,18.548l50.963,50.955c2.561,2.558,5.916,3.838,9.271,3.838s6.719-1.28,9.279-3.842
			c0.008-0.011,0.014-0.022,0.027-0.035L290.95,153.071c5.125-5.12,5.125-13.426,0-18.546
			C285.828,129.402,277.523,129.402,272.406,134.526z"/> </g> </g>                </symbol><symbol viewBox="0 0 302 302" id="icon-trigger-bars"> <rect y="36" width="302" height="30"/> <rect y="236" width="302" height="30"/> <rect y="136" width="302" height="30"/> </symbol><symbol viewBox="0 0 32 32" id="icon-tumblr"> <path d="M23.852762,25.5589268 C23.2579209,25.8427189 22.1195458,26.089634 21.2697728,26.1120809 C18.7092304,26.1810247 18.2121934,24.3131275 18.1897466,22.9566974 L18.1897466,12.9951133 L24.6159544,12.9951133 L24.6159544,8.15140729 L18.2137967,8.15140729 L18.2137967,0 L13.5256152,0 C13.4486546,0 13.3139736,0.0673405008 13.2963368,0.238898443 C13.0221648,2.73370367 11.8533261,7.11243957 7,8.86168924 L7,12.9951133 L10.2387574,12.9951133 L10.2387574,23.4521311 C10.2387574,27.0307977 12.8794671,32.1166089 19.8508122,31.9979613 C22.2013164,31.9578777 24.8131658,30.9718204 25.3919735,30.1236507 L23.852762,25.5589268"/> </symbol><symbol viewBox="0 0 43 32" id="icon-twitter"> <path d="M36.575 5.229c1.756-0.952 3.105-2.46 3.74-4.257-1.644 0.882-3.464 1.522-5.402 1.867-1.551-1.495-3.762-2.429-6.209-2.429-4.697 0-8.506 3.445-8.506 7.694 0 0.603 0.075 1.19 0.22 1.753-7.069-0.321-13.337-3.384-17.532-8.039-0.732 1.136-1.152 2.458-1.152 3.868 0 2.669 1.502 5.024 3.784 6.404-1.394-0.040-2.706-0.386-3.853-0.962-0.001 0.032-0.001 0.064-0.001 0.097 0 3.728 2.932 6.837 6.823 7.544-0.714 0.176-1.465 0.27-2.241 0.27-0.548 0-1.081-0.048-1.6-0.138 1.083 3.057 4.224 5.281 7.946 5.343-2.911 2.064-6.579 3.294-10.564 3.294-0.687 0-1.364-0.036-2.029-0.108 3.764 2.183 8.235 3.457 13.039 3.457 15.646 0 24.202-11.724 24.202-21.891 0-0.334-0.008-0.665-0.025-0.995 1.662-1.085 3.104-2.439 4.244-3.982-1.525 0.612-3.165 1.025-4.885 1.211z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-youtube"> <path d="M31.6634051,8.8527593 C31.6634051,8.8527593 31.3509198,6.64879843 30.3919217,5.67824658 C29.1757339,4.40441487 27.8125088,4.39809002 27.1873503,4.32353816 C22.7118278,4 15.9983092,4 15.9983092,4 L15.984407,4 C15.984407,4 9.27104501,4 4.79536595,4.32353816 C4.17017613,4.39809002 2.80745205,4.40441487 1.59082583,5.67824658 C0.631890411,6.64879843 0.319843444,8.8527593 0.319843444,8.8527593 C0.319843444,8.8527593 0,11.4409393 0,14.0290881 L0,16.4554834 C0,19.0436008 0.319843444,21.6317495 0.319843444,21.6317495 C0.319843444,21.6317495 0.631890411,23.8357417 1.59082583,24.8062935 C2.80745205,26.0801566 4.40557339,26.0398591 5.11736986,26.1733699 C7.67602348,26.4187241 15.9913894,26.4946536 15.9913894,26.4946536 C15.9913894,26.4946536 22.7118278,26.4845401 27.1873503,26.1610333 C27.8125088,26.0864501 29.1757339,26.0801566 30.3919217,24.8062935 C31.3509198,23.8357417 31.6634051,21.6317495 31.6634051,21.6317495 C31.6634051,21.6317495 31.9827789,19.0436008 31.9827789,16.4554834 L31.9827789,14.0290881 C31.9827789,11.4409393 31.6634051,8.8527593 31.6634051,8.8527593 Z M12.6895342,19.39582 L12.6880626,10.4095186 L21.3299413,14.9183249 L12.6895342,19.39582 Z" id="youtube-Imported-Layers"/> </symbol></svg>
