// =============================================================================
// TOGGLE LINK (CSS)
// =============================================================================

// Toggle link
// -----------------------------------------------------------------------------

$toggle-spacing: spacing("single") + spacing("half");

.toggle {
  border-top: container("border");
  margin-bottom: $toggle-spacing;

  &:last-of-type {
    margin-bottom: $toggle-spacing * 2;
  }
}

.toggle-title {
  margin-bottom: $toggle-spacing;
}

.toggleLink {
  color: #8c8c8c;
  font-size: 12px;
  .toggle-title & {
    float: right;
    line-height: 24px;
  }
  &:hover {
    color: #213875;
  }
}

.toggleLink-text {
  font-size: fontSize("base");
  font-weight: fontWeight("normal");
}

.toggleLink-text--off {
  display: inline-block;

  .toggleLink.is-open & {
    display: none;
  }
}

.toggleLink-text--on {
  display: none;

  .toggleLink.is-open & {
    display: inline-block;
  }
}

.toggle-content {
  display: block;
  &.is-open {
    display: none;
  }
}
