{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
    <div class="row">
        <div class="account account--fixedSmall">
            <h2 class="page-heading">{{lang 'reset_password.heading' }}</h2>
            <p>{{lang 'reset_password.intro' }}</p>
            {{#if forms.forgot_password.error}}
                {{> components/common/alert-error forms.forgot_password.error}}
            {{/if}}
            <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">
                <label class="form-label" for="email">{{lang 'common.email_address'}}</label>
                <div class="form-prefixPostfix wrap">
                    <input class="form-input" name="email" id="email" type="email" formnovalidate>
                    <input type="submit" class="btn btn-primary form-prefixPostfix-button--postfix" value="{{lang 'reset_password.heading' }}">
                </div>
            </form>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
