{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<div class="container">
    <div class="row">
        <div class="account account--fixedSmall">
            <h2 class="page-heading">{{lang 'forms.new_password.heading' }}</h2>
            <p>{{forms.new_password.requirements}}</p>
            {{#if forms.new_password.error}}
                {{> components/common/alert-error forms.new_password.error}}
            {{/if}}
            <form action="{{forms.new_password.submit_url}}" class="form new-password-form" method="post">
                <div class="form-row">
                    <div class="form-field">
                        <label class="form-label" for="password">
                            {{lang 'forms.new_password.password' }}
                            <small>{{lang 'common.required' }}</small>
                        </label>
                        <input type="password" class="form-input" name="password" id="password">
                    </div>
                    <div class="form-field">
                        <label class="form-label" for="password_confirm">
                            {{lang 'forms.new_password.password2' }}
                            <small>{{lang 'common.required' }}</small>
                        </label>
                        <input type="password" class="form-input" name="password_confirm" id="password_confirm">
                    </div>
                </div>
                <div class="form-actions">
                    <input
                        class="btn btn-primary"
                        type="submit"
                        value="{{lang 'forms.new_password.submit_value' }}">
                </div>
            </form>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
