<a href="javascript:void(0);" data-reveal-id="modal-size-chart-form"><span>Size Chart</span></a>
<div id="modal-size-chart-form" class="modal" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-body" style="padding: 0;">
        <div class="text-center">
            <img src="{{value}}" alt="">
        </div>
    </div>
</div>
