<div id="modal-review-form" class="modal" data-reveal>
    <div class="modal-header">
        <h2 class="modal-header-title">{{lang 'products.reviews.write_a_review'}}</h2>
        <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
    </div>
    <div class="modal-body">
        <div class="writeReview-productDetails">
            <img src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}">
            <h6 class="product-brand">{{ product.brand.name }}</h6>
            <h5 class="product-title">{{ product.title }}</h5>
        </div>
        <form class="form writeReview-form" action="{{ urls.product.post_review }}" method="post">
            <fieldset class="form-fieldset">
                <div class="form-field">
                    <label class="form-label" for="rating-rate">{{lang 'products.reviews.rating_label'}}
                        <small>{{lang 'common.required' }}</small>
                    </label>
                    <!-- Stars -->
                    <!-- TODO: Review Stars need to be componentised, both for display and input -->
                    <select id="rating-rate" class="form-select" name="revrating">
                        <option value="">{{lang 'products.reviews.select_rating'}}</option>
                        {{#for 1 5}}
                            {{#if ../product.reviews.selected_rating '===' $index}}
                                <option selected value="{{$index}}">{{lang (concat 'products.reviews.rating.' $index) }}</option>
                            {{else}}
                                <option value="{{$index}}">{{lang (concat 'products.reviews.rating.' $index) }}</option>
                            {{/if}}
                        {{/for}}
                    </select>
                </div>

                <!-- Name -->
                {{#if product.reviews.author}}
                    {{> components/common/forms/text name="revfromname" label=(lang 'products.reviews.form_write.name') value=product.reviews.author}}
                {{else}}
                    {{> components/common/forms/text name="revfromname" label=(lang 'products.reviews.form_write.name') value=customer.name}}
                {{/if}}

                {{#if product.reviews.show_review_email}}
                    <!-- Email -->
                    {{#if product.reviews.email}}
                        {{> components/common/forms/text name="email" required="false" label=(lang 'products.reviews.form_write.email') value=product.reviews.email}}
                    {{else}}
                        {{> components/common/forms/text name="email" required="false" label=(lang 'products.reviews.form_write.email') value=customer.email}}
                    {{/if}}
                {{/if}}

                <!-- Review Subject -->
                {{> components/common/forms/text name="revtitle" required="true" label=(lang 'products.reviews.form_write.subject') value=product.reviews.title}}

                <!-- Comments -->
                {{> components/common/forms/multiline name="revtext" required="true" label=(lang 'products.reviews.form_write.comments') value=product.reviews.text}}

                {{{product.reviews.recaptcha.markup}}}

                <div class="form-field">
                    <input type="submit" class="btn black-btn"
                           value="{{lang 'products.reviews.form_write.submit_value' }}">
                </div>
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="hidden" name="action" value="post_review">
                {{#if product.reviews.throttleToken}}<input type="hidden" name="throttleToken" value="{{product.reviews.throttleToken}}">{{/if}}
            </fieldset>
        </form>
    </div>
</div>
