<div class="heroCarousel-content{{#unless show_background}} heroCarousel-content--empty{{/unless}}">
    <h1 class="heroCarousel-title">{{{heading}}}</h1>
    <p class="heroCarousel-description">{{{text}}}</p>
    {{#if button_text}}
        <a class="heroCarousel-action btn btn-alt" href="{{url}}">{{{button_text}}}</a>
    {{/if}}
</div>
