// =============================================================================
// LOGIN (CSS)
// =============================================================================


.login-row {
    .btn{
        min-height: 42px;
    }
}

.login-form {
    padding: 0;
    @media (max-width: 767px){
        padding:0 15px;
    }
    .form-field{
        max-width: 480px;
        margin-bottom: 20px;
    }
    .form-actions {
        text-align: left;
        input.btn, a.forgot-password {
            display: inline-block;
            margin-left: 0;
            vertical-align: middle;
        }
        a.forgot-password{
            border-bottom: 1px dotted #505050;
            color: #505050;
            width: auto;
        }
    }

    .black-btn{
        margin-top: 5px;
        margin-right: 50px;
        min-width: 135px;
        letter-spacing: 0.05em;
    }

}

.new-customer {
    padding-right: 0;
    padding-left: 11px;
    margin-top: -3px;
    @media (max-width: 1199px){
        padding-left: 30px;
    }
    @media (max-width: 767px){
        padding: 0 15px;
    }
    & .panel {
        background: #fff;
    }
    & .panel-header {
        background: transparent;
        padding-left: 0;
        padding-top: 0;
        .panel-title{
            font-weight: 600;
        }
    }
    & .panel-body {
        background: transparent;
        padding: 23px 30px 30px 0;
    }
    .btn.btn-primary{
        margin-top: 20px;
        min-width: 205px;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 0 48px;
    }
}

.new-customer-intro {
    margin-bottom: 14px;
}

.new-customer-fact-list {
    margin-left: spacing("base");
}

.new-customer-fact {
    padding-left: spacing("half");
    margin-bottom: 14px;
}
