<div class="accordion-block">
    <div
        class="accordion-navigation toggleLink {{#unless ../start_collapsed }} is-open {{/unless}}"
        role="button"
        data-collapsible="#facetedSearch-content--{{ facet }}">
        <h5 class="accordion-title side-module-heading">
            <span>{{ title }}</span>
        </h5>

        <div class="accordion-navigation-actions">
            {{#if selected}}
                <a href="{{ remove_url }}" class="facetedSearch-clearLink" data-faceted-search-facet>{{lang 'search.faceted.clear'}}</a>
            {{/if}}
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-add" />
            </svg>
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
                <use xlink:href="#icon-remove" />
            </svg>
        </div>
    </div>

    <div id="facetedSearch-content--{{ facet }}" class="accordion-content {{#unless ../start_collapsed }} is-open {{/unless}}">
        <form id="facet-range-form" class="form" method="get" data-faceted-search-range novalidate>
            {{#each current_selected_items}}
                <input type="hidden" name="{{ param_name }}[]" value="{{ param_value }}"/>
            {{/each}}
            <input type="hidden" name="search_query" value="{{search_query}}">
            {{#if sort}}
                <input type="hidden" name="sort" value="{{sort}}">
            {{/if}}
            <fieldset class="form-fieldset">
                <div class="form-minMaxRow">
                    <div class="form-field">
                        <input
                            name="min_price"
                            placeholder="{{lang 'search.faceted.range.min-placeholder'}}"
                            min="0"
                            class="form-input form-input--small"
                            required
                            type="number"
                            value="{{ min_price }}"
                        />
                    </div>

                    <div class="form-field">
                        <input
                            name="max_price"
                            placeholder="{{lang 'search.faceted.range.max-placeholder'}}"
                            min="0"
                            class="form-input form-input--small"
                            required
                            type="number"
                            value="{{ max_price }}"
                        />
                    </div>
                </div>

                <div class="form-inlineMessage"></div>

                <button class="btn black-btn btn-block" type="submit">
                    {{lang 'search.faceted.range.update'}}
                </button>

            </fieldset>
        </form>
    </div>
</div>
