<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        {{{stylesheet '/assets/css/theme.css'}}}
        <style type="text/css" media="screen, print">
            @font-face {
                font-family: "futura-pt";
                font-style: normal;
                font-weight: 200;
                src: url("{{cdn 'fonts/futura-pt-book.otf'}}");
            }
            @font-face {
                font-family: "futura-pt";
                font-style: normal;
                font-weight: 500;
                src: url("{{cdn 'fonts/futura-pt-medium.otf'}}");
            }
            @font-face {
                font-family: "futura-pt";
                font-style: normal;
                font-weight: 600;
                src: url("{{cdn 'fonts/futura-pt-demi.otf'}}");
            }
            @font-face {
                font-family: "futura-pt";
                font-style: normal;
                font-weight: 700;
                src: url("{{cdn 'fonts/futura-pt-heavy.otf'}}");
            }
            @font-face {
                font-family: "futura-pt";
                font-style: normal;
                font-weight: 800;
                src: url("{{cdn 'fonts/futura-pt-bold.otf'}}");
            }
        </style>
        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body class="page-type-{{page_type}}">
        <div id="st-container" class="st-container">
            <!-- content push wrapper -->
            <div class="st-pusher">
                <nav class="st-menu st-effect st-effect-1" id="mobile-categories">
                    <ul></ul>
                </nav>
                <nav class="st-menu st-effect st-effect-2" id="mobile-customer">
                    <ul>
                        {{#if settings.account_creation_enabled}}
                        <li class="login-register">
                            {{#if customer}}
                                <div class="logged-in">{{lang 'Welcome back,'}} <strong>{{customer.name}}. </strong></div>
                            {{else}}
                                <div class="not-logged">
                                    <a href="{{urls.auth.login}}">{{lang 'common.login'}}</a><a href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                                </div>
                            {{/if}}
                        </li>
                        {{/if}}

                        {{#if customer.store_credit.value '>' 0}}
                        <li class="hasSub">
                            <a class="navUser-action--storeCredit">
                                {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                            </a>
                            <span class="toggle-expand"></span>
                            <div id="storeCredit-dropdown">
                                <div class="alert alert-info">
                                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                                </div>
                            </div>
                        </li>
                        {{/if}}

                        {{#if settings.gift_certificates_enabled}}
                        <li>
                            <a href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
                        </li>
                        {{/if}}

                        {{#if customer}}
                        <li><a href="{{urls.account.index}}">{{lang 'common.account'}}</a></li>
                        <li><a href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a></li>
                        {{#if settings.returns_enabled}}
                        <li><a href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a></li>
                        {{/if}}
                        <li><a href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a></li>
                        <li><a href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a></li>
                        {{#if settings.show_wishlist}}
                        <li><a href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a></li>
                        {{/if}}
                        <li><a href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a></li>
                        <li><a href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a></li>
                        {{else}}
                        <li><a href="{{urls.account.index}}">{{lang 'common.account'}}</a></li>
                        {{/if}}

                        {{#if customer}}
                        <li><a href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a></li>
                        {{/if}}

                        <li class="mobile-call-us">{{> components/halothemes/header-phone-number}}</li>
                    </ul>
                </nav>
                {{{snippet 'header'}}}
                <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

                {{#if settings.privacy_cookie}}
                    {{> components/common/cookie}}
                {{/if}}

                {{> components/common/header }}
                {{> components/common/body }}
                {{> components/common/footer }}

                <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
                <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

                <script>
                    // Exported in app.js
                    window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
                </script>

                <script>

                {{#if theme_settings.halothemes_sticky_navigation}}
                    //Sticky Navigation
                    window.stickyNavigation();
                {{/if}}

                {{#if theme_settings.halothemes_lazy_loading_effect}}
                    //Lazy Loading Effect
                    window.lazyLoadingEffect();
                {{/if}}
                {{#if theme_settings.halothemes_showmore_products}}
                    window.showMoreProducts();
                {{/if}}

                </script>


                {{#if theme_settings.halothemes_newsletter_popup}}
                    {{> components/halothemes/newsletter-popup}}
                {{/if}}

                {{#if theme_settings.halothemes_newsletter_popup}}
                    <!-- BEGIN Halo Newsletter Popup -->
                    <script>
                        window.haloNewsletterPopup(1, true);
                    </script>
                {{else}}
                    <script>
                        window.haloNewsletterPopup(1, false);
                    </script>
                    <!-- END Halo Newsletter Popup -->
                {{/if}}

                <script src="{{cdn '/assets/js/theme/halothemes/jquery.min.js'}}"></script>
                <script src="{{cdn '/assets/modernizr-custom.js'}}"></script>

                {{#if theme_settings.halothemes_megamenu}}
                    <!-- Begin HaloThemes MegaMenu -->
                    {{> components/halothemes/halo-megamenu }}
                    <!-- End HaloThemes MegaMenu -->
                {{/if}}

                <script>
                jQuery(document).ready(function($) {
                    $('#mobile-categories ul').prepend($('#menu.navPages-container > nav > ul').html());
                    $('#mobile-categories ul').css('max-height', screen.height);
                    $('#mobile-categories > ul > li').has('ul li').addClass('hasSub').prepend('<span class="toggle-expand"></span>');

                    $('#mobile-categories ul li.hasSub > span').click(function() {
                       if ($(this).hasClass('toggle-expand')) {
                            //close other menu
                            //$(this).parents('ul').children('li.hasSub').children('span.toggle-close').siblings('.subMegaMenu').removeClass('sub-expand');
                           $(this).parents('ul').children('li.hasSub').children('span.toggle-close').siblings('.navPage-subMenu').slideUp('slow');
                           $(this).parents('ul').children('li.hasSub').children('span.toggle-close').attr('class', 'toggle-expand');
                           $(this).parents('ul').animate({ scrollTop: 0}, 'slow');
                            //expnad this menu
                           //$(this).siblings('.subMegaMenu').addClass('sub-expand');
                           $(this).attr('class', 'toggle-close');
                           $(this).siblings('.navPage-subMenu').slideDown();                           
                       } else if ($(this).hasClass('toggle-close')) {
                           //$(this).siblings('.subMegaMenu').removeClass('sub-expand');
                           $(this).siblings('.navPage-subMenu').slideUp('slow');
                           $(this).attr('class', 'toggle-expand');
                       }
                    });
                });
                </script>

                {{#if settings.show_newsletter_box}}
                <!-- BEGIN Footer SubscribeForm Validate -->
                <script>
                jQuery(document).ready(function($){
                    $('#footerSubcribeFormSubmit').submit(function(event){
                        if ($('#footerSubcribeFormSubmit').find('#nl_first_name').val()  == "") {
                          alert("Please enter your Name!");
                          $('#footerSubcribeFormSubmit').find('#nl_first_name').focus();
                          return false;
                       } else if ($('#footerSubcribeFormSubmit').find('#nl_email').val()  == "") {
                          alert("Please enter a valid email address, such as john@example.com.");
                          $('#footerSubcribeFormSubmit').find('#nl_email').focus();
                          return false;
                       }

                    });
                });
                </script>
                <!-- END Footer SubscribeForm Validate -->
                {{/if}}

                {{{footer.scripts}}}
                {{{snippet 'footer'}}}
            </div>
        </div>
    </body>
</html>
