// =============================================================================
// CTA Banner (CSS)
// =============================================================================
//
// 1.
// 2.
//
// -----------------------------------------------------------------------------

.ctaBanner-wrapper {
  padding: spacing(base) * 1.5;

  @media (max-width: $screen-md-min) {
    display: none;
  }
}

.ctaBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $screen-md-min) {
    display: block;
  }
}

.ctaBanner-cta {
  color: $color-brandPink;
  border: 1px solid $color-brandPink;
  padding: spacing(sixth) 0;
  font-size: fonSize(larger);
  width: 25%;
  text-align: center;
  margin-right: spacing(single) * 2;

  @media (max-width: $screen-md-min) {
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }

  .icon {
    width: 22px;
    height: 22px;
    margin-right: spacing(half);
    fill: $color-brandPink;
  }
}
