// =============================================================================
// PREVIEW CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------
#previewModal {
  @media (min-width: 768px) and (max-width: 991px) {
    max-width: 768px;
  }
}

#mayAlsoLike {
  clear: both;
  margin-top: 32px;
  width: 100%;
  float: left;
  border-top: 1px dotted #000;
  & .productCarousel {
    margin-bottom: 10px;
    &:hover .owl-nav {
      display: block;
    }
    & .owl-stage-outer {
      margin: 0 -45px 0 -45px;
      padding: 30px 45px;
      @media (max-width: 991px) {
        margin-top: 0;
      }
    }

    & .prod-item {
      display: inline-block;
      padding: 0;
      @media (max-width: 991px) {
        margin-top: 0;
      }
      article.card {
        z-index: 2;
        @include box-shadow(none);
        overflow: visible;
        &::before {
          margin-bottom: -1px;
        }
        .card-figure {
          height: auto;
          z-index: 22;
        }
        @media (max-width: 991px) {
          a.btnATC {
            font-size: 12px;
          }
        }
      }
    }
    .owl-item {
      @include opacity(0);
      visibility: hidden;
    }
    .owl-item.active {
      @include opacity(1);
      visibility: visible;
    }
  }
  .owl-nav {
    display: block;
    & > div {
      position: absolute;
      top: -20px;
      width: 36px;
      height: 36px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border-radius: 50%;
      transition: all 0.3s ease 0s;
      font-family: "FontAwesome";
      font-size: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #000;
      background: #ffffff;
      border: 1px solid #b4b4b4;
    }
    .owl-prev {
      right: 45px;
      left: auto;
    }
  }
  .owl-next {
    right: 0;
  }
  & > h3 {
    position: relative;
    margin-top: 0;
    padding-top: 28px;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: $fontFamily-headings;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1e1e1e;
  }
}

.previewCart {
  float: left;
  width: 100%;
  .productView {
    @include grid-column(8);
    display: flex;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    @media (max-width: 991px) {
      width: 60%;
      display: block;
    }

    @media (max-width: 767px) {
      width: 100%;
      display: block;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .productView-image {
    @include grid-column(5);
    @media (max-width: 991px) {
      float: none;
      margin: 0 auto;
      max-width: 210px;
      padding-bottom: 15px;
    }
  }

  .productView-image--cart {
    align-self: flex-start;
    margin: 0 auto;
    width: auto;
  }

  .productView-details {
    @include grid-column(7);
    @media (max-width: 991px) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      float: none;
      margin: 0;
    }
  }

  .productView-brand {
    font-size: 12px;
    font-family: $fontFamily-headings;
    color: #7e7e7e;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 0.05em;
  }

  .productView-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .productView-info {
    padding-bottom: 10px;
    & .productView-info-name {
      margin-bottom: 0;
    }

    & .productView-info-value {
      margin-bottom: 0;
      color: #505050;
    }
  }

  .productView-price {
    font-family: $fontFamily-main;
    font-size: 14px;
    & span {
      font-weight: 400;
      color: 77ee7e;
    }

    + .productView-info {
      margin-top: 25px;
      padding-top: 25px;
      border-top: 1px dotted #d0d0d0;
    }
  }
}

.previewCartCheckout {
  background: #fff;
  padding: spacing("base");
  text-align: center;
  @media (min-width: 768px) {
    @include grid-column(4, $float: right);
    padding: 12px 15px;
  }

  p[data-cart-quantity] {
    font-style: italic;
    margin-bottom: 24px;
    padding-top: 15px;
    border-top: 1px solid #dbdbdb;
  }

  .btn {
    margin: 0;
    width: 100%;
    max-width: 98%;
    font-size: 14px; // scss-lint:disable NestingDepth
    + .btn,
    + p {
      margin-top: 15px;
    }

    &.btn-lg {
      height: 42px;
      letter-spacing: 0.05em;
    }

    @media (max-width: 360px) {
      font-size: 11px;
    }
  }

  .btn.btn-alt {
    clear: both;
    float: none;
    border: 0;
    border-bottom: 1px dotted transparent;
    background: transparent;
    width: auto;
    height: 23px;
    padding: 0;
    padding-bottom: 3px;
    letter-spacing: 0.05em;
    &:hover {
      border-bottom: 1px dotted #213875;
      color: #000;
    }
  }

  .btn.btn-alt ~ .btn.btn-alt {
    margin-top: 15px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 40%;
  }

  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.previewCartCheckout-price {
  display: block;
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.previewCartCheckout-subtotal {
  display: block;
  margin-bottom: spacing("single");
  padding-top: 20px;
  margin-top: 18px;
  font-weight: 700;
  border-top: 1px solid #dbdbdb;
}

.previewCartCheckout-additionalCheckoutButtons {
  p {
    // scss-lint:disable ImportantRule
    float: none !important; // 1
    margin: spacing("third") 0;
  }
}

.suggestiveCart {
  display: none;
  text-align: center;
  @include breakpoint("medium") {
    display: block;
  }
}
