// =============================================================================
// MODAL (CSS)
// =============================================================================

.modal {
  // scss-lint:disable ImportantRule
  left: 50%;
  margin: 0 auto;
  max-height: 90%;
  max-width: 95%;
  min-height: 240px;
  outline: none;
  overflow: hidden;
  padding: 0;
  right: 0;
  top: 50% !important;
  transform: translate(-50%, calc(-50% - 0.5px));
}

.modal--large {
  @include breakpoint("large") {
    width: $modal-width--large;
  }
}

.modal-header {
  background: #f5f5f5;
  border: 0;
  padding: 17px 0;
  padding-left: $reveal-modal-paddingHorizontal;
  padding-right: remCalc($reveal-close-height) + $reveal-close-side;
}

.modal-header-title {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #505050;
  line-height: 1.4;
  a {
    color: #505050;
    border-bottom: 1px dotted #213875;
  }
}

.modal-close {
  @include square($reveal-close-height);
  color: stencilColor("button--modal-close-color");
  font-size: 23px;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 25px;
  text-align: center;
  text-decoration: none !important;
  z-index: zIndex("high");
  background: stencilColor("button--modal-close-bgColor");
  &:hover {
    color: stencilColor("button--modal-close-colorHover");
    text-decoration: none;
    background: stencilColor("button--modal-close-bgColorHover");
  }
}
#modal .modal-close,
#modal-review-form .modal-close,
#previewModal .modal-close {
  background: transparent;
  color: stencilColor("color-background-main");
  &:hover {
    color: #213875;
    text-decoration: none;
    background: transparent;
  }
  @media (max-width: 767px) {
    right: 10px;
  }
}
.modal-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: $reveal-modal-padding;
}
#modal-size-chart-form .modal-close {
  position: absolute;
  right: -18px;
  top: -18px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 0 0 1px;
  background: stencilColor("button--modal-close-bgColor");
  color: stencilColor("button--modal-close-color");
  font-size: 25px;
  text-align: center;
  &:hover {
    background: stencilColor("button--modal-close-bgColorHover");
    color: stencilColor("button--modal-close-colorHover");
  }
  @media (max-width: 991px) {
    right: -10px;
    top: -10px;
  }
}
#modal-size-chart-form {
  overflow: visible;
  max-width: 878px;
  @media (max-width: 991px) {
    max-width: 95%;
  }
  .modal-close span {
    position: relative;
    top: 4px;
  }
}
#modal-review-form {
  .modal-header-title {
    color: #000;
  }
  .btn.black-btn {
    min-width: 230px;
    min-height: 42px;
    line-height: 40px;
    letter-spacing: 0.05em;
  }
}
.modal-background {
  z-index: 9999;
}
.modal {
  z-index: 99999;
}
