<div id="homeFeaturedProducts" class="module-wrapper">
  <div class="container">
	  	<div class="row">
	  		<div class="home-heading-wrap">
		      	<h2 class="module-heading"><span>{{lang 'products.featured' }}</span></h2>
	            <p class="sub-module-heading">Phasellus lorem malesuada ligula pulvinar commodo maecenas suscipit auctom.</p>
	        </div>
			<div class="productBlockContainer columns-{{ columns }}">
			   {{#each products}}
			   <div class="prod-item">
			        {{> components/products/card theme_settings=../theme_settings customer=../customer}}
			   </div>
			   {{/each}}
			</div>
      	</div>
   </div>
</div>
