<div class="module-wrapper productList">
   <div class="productBlockContainer columns-{{columns}}">
       {{#each products}}
       <div class="prod-item wow fadeInUp" data-wow-delay="{{@index}}00ms">
           {{>components/products/card show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer}}
       </div>
       {{/each}}
   </div>
</div>
