<div class="productView">
    {{#each product.reviews.messages}}
        {{#if error}}
            {{>components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{>components/common/alert-success success}}
        {{/if}}
    {{/each}}
    <div class="productViewTop">
        <div class="row">
            <section class="productView-images col-sm-7" data-image-gallery>

                {{#or product.price.non_sale_price_with_tax product.price.non_sale_price_without_tax}}
                <div class="sale-badge">{{lang 'halothemes.sale_badge'}}</div>
                {{/or}}
                <figure class="productView-image"
                        data-image-gallery-main
                        data-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"
                        data-mfp-src="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"
                        >
                    <a href="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}">
                        <img class="productView-image--default"
                             src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}"
                             alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
                    </a>

                </figure>

                <div class="zoom-help">{{lang 'halothemes.zoom_helper'}} <i class="fa fa-search-plus fa-flip-horizontal"></i></div>

                <div class="productView-thumbnails owl-carousel" data-owl='{
                    "items": 4,
                    "nav": true,
                    "margin": 20,
                    "dots": false,
                    "slideBy": 4,
                    "responsive": {
                       "0": {
                          "items": 3,
                          "slideBy": 3
                       },
                       "321": {
                          "items": 4,
                          "slideBy": 4
                       },
                       "480": {
                          "items": 5,
                          "slideBy": 5
                       },
                       "768": {
                          "items": 3,
                          "slideBy": 3
                       },
                       "992": {
                          "items": 4,
                          "slideBy": 4
                       },
                       "1200": {
                          "items": 4,
                          "slideBy": 4
                       }
                    },
                    "responsiveRefreshRate": 0
                 }'>
                    {{#each product.images}}
                        <div class="productView-thumbnail">
                            <a
                                class="productView-thumbnail-link"
                                href="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                                data-image-gallery-item
                                data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                                data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                                <img src="{{getImage this 'productthumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                            </a>
                        </div>
                    {{/each}}
                    {{#if product.videos.list.length}}
                        {{#each product.videos.list}}
                            <div class="productView-thumbnail">
                                <a href="//www.youtube.com/watch?v={{id}}" target="_blank" class="video-thumbnail {{#if @first}}is-active{{/if}}" data-video-item data-video-id="{{id}}" title="{{title_long}}">
                                    <img src="//i.ytimg.com/vi/{{id}}/default.jpg"/>
                                </a>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </section>

            <section class="productView-details col-sm-5">
                <div class="productView-product">
                    {{#if product.brand}}
                    <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                        <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
                    </h2>
                    {{/if}}
                    <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}} data-product-view-url="{{product.url}}">{{product.title}}</h1>
                    <div class="productView-rating"{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}>
                        {{#if settings.show_product_rating}}
                            {{#if product.num_reviews '>' 0}}
                                {{#if schema}}
                                    <meta itemprop="ratingValue" content="{{product.rating}}">
                                    <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                                    <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                                {{/if}}
                            {{/if}}
                            {{> components/products/ratings rating=product.rating}}
                            <span class="productView-reviewLink reviewLinkCount">
                                {{#if product.num_reviews '>' 0}}
                                    <a href="{{product.url}}#product-reviews">
                                        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                    </a>
                                {{else}}
                                    {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                {{/if}}
                            </span>
                        {{/if}}
                        {{#if settings.show_product_reviews}}
                            <span class="productView-reviewLink">
                                <a href="{{product.url}}{{#if is_ajax}}#writeReview{{/if}}"
                                   {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                                   {{lang 'products.reviews.new'}}
                                </a>
                            </span>
                            {{> components/products/modals/writeReview}}
                        {{/if}}
                    </div>
                    {{#if product.call_for_price}}
                        <p class="productView-price">
                            <span>{{product.call_for_price}}</span>
                        </p>
                    {{/if}}
                    {{#if product.price}}
                        <div class="productView-price">
                            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                                {{> components/products/price price=product.price schema_org=schema}}
                            {{else}}
                                {{> components/common/login-for-pricing}}
                            {{/or}}
                        </div>
                    {{/if}}
                    {{product.detail_messages}}
                    <dl class="productView-info">
                        {{#if product.sku}}
                            <dt class="productView-info-name">{{lang 'products.sku'}}</dt>
                            <dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
                        {{/if}}
                        {{#if product.upc}}
                            <dt class="productView-info-name">{{lang 'products.upc'}}</dt>
                            <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                        {{/if}}
                        {{#if product.condition}}
                            <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                            <dd class="productView-info-value">{{product.condition}}</dd>
                        {{/if}}
                        {{#if product.availability}}
                            <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                            <dd class="productView-info-value">{{product.availability}}</dd>
                        {{/if}}
                        {{#if product.weight}}
                            <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                            <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                        {{/if}}
                        {{#if product.min_purchase_quantity}}
                            <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                        {{/if}}
                        {{#if product.max_purchase_quantity}}
                            <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                        {{/if}}
                        {{#if product.gift_wrapping_available}}
                            <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                        {{/if}}
                        {{#if product.shipping}}
                            {{#if product.shipping.calculated}}
                                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                            {{else}}
                                {{#if product.shipping.price.value '===' 0}}
                                    <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                    <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                                {{else}}
                                    <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                    <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                        {{#if product.bulk_discount_rates.length}}
                            <dt class="productView-info-name">{{lang 'products.bulk_pricing.title'}}</dt>
                            <dd class="productView-info-value">
                                <a href="{{product.url}}"
                                    {{#unless is_ajax }}data-reveal-id="bulkPricingModal" {{/unless}}>
                                    {{lang 'products.bulk_pricing.view'}}
                                </a>
                            </dd>

                            <div id="bulkPricingModal" class="modal modal--small" data-reveal>
                                <div class="modal-header">
                                    <h2 class="modal-header-title">{{lang 'products.bulk_pricing.modal_title'}}</h2>
                                    <a href="#" class="modal-close" aria-label="Close"><span aria-hidden="true">&#215;</span></a>
                                </div>
                                <div class="modal-body">
                                    <p>{{lang 'products.bulk_pricing.instructions'}}</p>
                                    <ul>
                                    {{#each product.bulk_discount_rates}}
                                        <li>
                                            {{lang 'products.bulk_pricing.range' min=min max=max}}
                                            {{#if type '===' 'percent'}}
                                                {{lang 'products.bulk_pricing.percent' discount=discount.formatted}}
                                            {{/if}}
                                            {{#if type '===' 'fixed'}}
                                                {{lang 'products.bulk_pricing.fixed' discount=discount.formatted}}
                                            {{/if}}
                                            {{#if type '===' 'price'}}
                                                {{lang 'products.bulk_pricing.price' discount=discount.formatted}}
                                            {{/if}}
                                        </li>
                                    {{/each}}
                                    </ul>
                                </div>
                            </div>
                        {{/if}}

                        {{#each product.custom_fields}}
                            {{#if name '!=' 'has-size-chart'}}
                            <dt class="productView-info-name" data-custom-field-name="{{name}}">{{name}}:</dt>
                            <dd class="productView-info-value" data-custom-field-name="{{name}}">{{{value}}}</dd>
                            {{/if}}
                        {{/each}}
                    </dl>
                    <div class="productView-summary">
                        {{summary}}
                    </div>
                </div>

                <div class="productView-options">
                    {{#if product.release_date }}
                        <p>{{product.release_date}}</p>
                    {{/if}}

                    <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                          data-cart-item-add>
                        <input type="hidden" name="action" value="add">
                        <input type="hidden" name="product_id" value="{{product.id}}"/>


                            {{#each product.customizations}}
                                {{{dynamicComponent 'components/products/customizations'}}}
                            {{/each}}
                        <div data-product-option-change style="display:none;">

                            {{#each product.custom_fields}}
                                {{#if name '===' 'has-size-chart'}}
                                    {{>components/products/modals/sizeChart}}
                                {{/if}}
                            {{/each}}

                            {{#each product.options}}
                                {{{dynamicComponent 'components/products/options'}}}
                            {{/each}}

                        </div>

                        {{#if product.event_date}}
                            {{> components/products/event-date}}
                        {{/if}}

                        <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                            <label class="form-label form-label--alternate">
                                {{lang 'products.current_stock'}}
                                <span data-product-stock>{{product.stock_level}}</span>
                            </label>

                        </div>

                        {{#if product.can_purchase}}
                            {{> components/products/add-to-cart}}
                        {{/if}}
                        {{#if product.out_of_stock}}
                            {{#if product.out_of_stock_message}}
                                {{>components/common/alert-error product.out_of_stock_message}}
                            {{else}}
                                {{>components/common/alert-error (lang 'products.sold_out')}}
                            {{/if}}
                        {{/if}}

                    </form>

                    {{#if settings.show_wishlist}}
                        <form class="form" method="post" action="{{product.add_to_wishlist_url}}" data-wishlist-add>
                            <input type="hidden" name="variation_id" value="">
                            <button class="button" type="submit">
                                <i class="fa fa-heart-o"></i>
                                <span>{{lang 'account.wishlists.add_item'}}</span>
                            </button>
                        </form>
                    {{/if}}
                </div>
                {{{snippet 'product_details'}}}
            </section>
        </div>
    <article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>
        <ul class="tabs" data-tab>

            {{#if product.description }}
            <li class="tab is-active">
                <a  href="#tab-description" class="tab-title">{{lang 'products.description'}}</a>
            </li>
            {{/if}}
            {{#if settings.show_product_reviews}}
            <!-- BEGIN product review Tabtitle -->
            <li class="tab tab-reviews">
                <a href="#product-reviews" class="tab-title">Product Reviews</a>
            </li>
            <!-- END product review Tab title -->
            {{/if}}
            {{#if product.warranty}}
                <li class="tab">
                    <a  href="#tab-warranty" class="tab-title">{{lang 'products.warranty'}}</a>
                </li>
            {{/if}}

            <!-- BEGIN Custom Product Tab title -->
            <li class="tab">
                <a href="#tab-custom" class="tab-title">
                    Custom Product Tab
                </a>
            </li>
            <!-- END Custom Product Tab title -->

             {{#if product.videos.list.length}}
                <li class="tab">
                    <a class="tab-title" href="#tab-videos">{{lang 'products.videos.header'}}</a>
                </li>
            {{/if}}

        </ul>
        <div class="tabs-contents">
            <div class="tab-content is-active" id="tab-description">
                {{{product.description}}}
                {{{snippet 'product_description'}}}
            </div>
            <div class="tab-content" id="product-reviews">
                {{#if settings.show_product_reviews}}
                    {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
                {{/if}}
            </div>

            {{#if product.warranty}}
               <div class="tab-content" id="tab-warranty">
                   {{{product.warranty}}}
               </div>
            {{/if}}

           <!-- BEGIN Custom Product Tab content -->
           <div class="tab-content" id="tab-custom">
               {{>components/halothemes/custom-product-tab}}
           </div>
           <!-- END Custom Product Tab content -->

            {{#if product.videos.list.length}}
            <div class="tab-content" id="tab-videos">
                {{> components/products/videos product.videos}}
            </div>
            {{/if}}

        </div>
    </article>
</div>

<div id="previewModal" class="modal modal--medium" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>


