<section class="toggle videoGallery" data-video-gallery>
    <p>
Integer et est tellus non bibendum est. Namcos tempus turpis at metus scelerisque placerat nulla eu sollicitudin felis. Pellentesque diam dolor elementum et lobortis at mollis ut risus. Sed faucibus ullamcorper mattis. Fusce molestie elit a loremos tempus scelerisque blandit tortor cursus. Quisque dolutpat orci ut metus malesuada lorem in interdum lectus scelerisque. Praesent eu odio ut nisi ullamcorper ultricies.

</p>
    <div class="toggle-content" id="videoGallery-content">
        <div class="videoGallery-main">
            <iframe
                id="player"
                type="text/html"
                width="640"
                height="390"
                frameborder="0"
                webkitAllowFullScreen
                mozallowfullscreen
                allowFullScreen
                src="//www.youtube.com/embed/{{this.featured.id}}"
                data-video-player>
            </iframe>
        </div>
        <div><a href="//www.youtube.com/embed/{{this.featured.id}}" class="btn black-btn">Subscribe us</a></div>
        <ul class="videoGallery-list">
        {{#each this.list}}
            <li class="videoGallery-item">
                <a href="#" class="video {{#if @first}}is-active{{/if}}" data-video-item data-video-id="{{id}}">
                    <div class="video-figure">
                        <img src="//i.ytimg.com/vi/{{id}}/default.jpg"/>
                    </div>
                    <div class="video-body">
                        <h5 class="video-title">{{title_long}}</h5>
                        <p class="video-description">{{description_short}}</p>
                    </div>
                </a>
            </li>
        {{/each}}
        </ul>
    </div>

</section>
